<h3 id="font-sizes">Font sizes</h3>
<p>These are the variables available to style your components:</p>

<div class="component-wrapper" >
  <ul class="govuk-list">
    <li class="xl2-text-size">$typography-2xl-text-size</li>
    <li class="xl-text-size">$typography-xl-text-size</li>
    <li class="lg-text-size">$typography-lg-text-size</li>
    <li class="md-text-size">$typography-md-text-size</li>
    <li class="sm-text-size">$typography-sm-text-size</li>
    <li class="xs-text-size">$typography-xs-text-size</li>
  </ul>
</div>
