<h3 id="line-heights">Line heights</h3>
<p>These are the variables available to style your components:</p>

<div class="component-wrapper" >
    <div class="component-wrapper xl3-line-height">$typography-3xl-line-height</div>
    <div class="component-wrapper xl2-line-height">$typography-2xl-line-height</div>
    <div class="component-wrapper xl-line-height">$typography-xl-line-height</div>
    <div class="component-wrapper lg-line-height">$typography-lg-line-height</div>
    <div class="component-wrapper md-line-height">$typography-md-line-height</div>
    <div class="component-wrapper sm-line-height">$typography-sm-line-height</div>
    <div class="component-wrapper xs-line-height">$typography-xs-line-height</div>
</div>
