{% extends "layouts/base.html" %}
{% block title %}
  Forbidden - Find Case Law
{% endblock title %}
{% block breadcrumbs %}
  <li>Forbidden</li>
{% endblock breadcrumbs %}
{% block content %}
  <div class="standard-text-template container py-3">
    <h1>Forbidden</h1>
    <p>
      {% if exception %}
        {{ exception }}
      {% else %}
        Access to this page is forbidden.
      {% endif %}
    </p>
    <p>
      <a href="{% url 'home' %}">Return to Find case law</a>
    </p>
  </div>
{% endblock content %}
