{% extends "base.html" %}

{% block title %}Page not found - Find case law{% endblock %}

{% block content %}
  <header class="page-header">
      <div class="page-header__breadcrumb">
      <nav class="page-header__breadcrumb-container" aria-label="Breadcrumb">
      <span class="page-header__breadcrumb-you-are-in">You are in: </span>
        <ol>
          <li><a href="{% url 'home' %}">Find case law</a></li>
          <li>Page not found</li>
        </ol>
      </nav>
    </div>
  </header>

  <div class="standard-text-template">
    <h1>Page not found</h1>

    <p>If you typed the web address, check it is correct.</p>
    <p>If you pasted the web address, check you copied the entire address.</p>
    <p><a href="{% url 'home' %}">Return to Find case law</a></p>
  </div>
{% endblock content %}
