{% extends "layouts/standard_content.jinja" %}
{% block title %}
  Server Error - Find Case Law
{% endblock title %}
{% block article_content %}
  <h1>Server Error</h1>
  <p>Sorry, there seems to be an error. Please try again soon.</p>
  <p>
    <a href="{{ url('home') }}">Return to Find Case Law</a>
  </p>
{% endblock article_content %}
{% block end_of_document_marker %}
{% endblock end_of_document_marker %}
