{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} - {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}">

    {% block css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    {% block javascript %}
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}

  </head>

  <body>
      {% block content %}

      {% endblock content %}
  </body>
</html>
