{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.png' %}">
    <title>{% if context.page_title %}{{ context.page_title }} - {% endif %}{% translate "common.findcaselaw" %}</title>

    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}">

    {% block css %}
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;family=Roboto:wght@400;600;700&amp;display=swap" rel="stylesheet">
      <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% endblock %}

    {% block javascript %}
      <script defer src="{% static 'js/dist/app.js' %}"></script>
    {% endblock javascript %}

    {% include 'includes/gtm/gtm_head.html' %}
</head>
<body>
{% include 'includes/cookie_consent/cookie_banner.html' %}
<a id="skip-to-main-content" href="#main-content">{% translate "skiplink" %}</a>
{% include 'includes/gtm/gtm_body.html' %}
{% include 'includes/phase_banner.html' %}
<header class="page-header">
  {% include 'includes/breadcrumbs.html' with current=context.page_title title=context.page_title link=request.path %}
  {% include 'includes/logo.html' %}
</header>
{% include 'includes/judgment_text_toolbar.html' %}
<main id="main-content">
    {% block content %}
    {% endblock %}
    <a id="js-back-to-top-link" class="back-to-top-link" href="#js-phase-banner">Back to top</a>
</main>
{% include 'includes/judgment_text_source.html' %}
{% include 'includes/footer.html' %}
</body>
</html>
