.advice-message {
  margin-bottom: 3rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #fff5e6;
  border-left: 0.5rem $color-yellow solid;

  &__heading {
    font-size: 0;
  }

  &__heading-icon {
    width: 2rem;
    height: 2rem;
    display: block;
    color: $color-black;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: lowercase;
    text-align: center;
    line-height: 2rem;
    border: 0.1875rem $color-black solid;
    border-radius: 100%;
  }
}
