@keyframes emphasis {
  from {
    background-color: $color-emphasis-background;
  }

  to {
    background-color: transparent;
  }
}

@keyframes emphasis-border {
  from {
    background-color: ($color-light-grey, 30);
  }

  to {
    background-color: transparent;
  }
}
