@keyframes emphasis {
  from {
    background-color: $color-emphasis-background;
  }

  to {
    background-color: transparent;
  }
}

@keyframes emphasis-border {
  from {
    background-color: colour-var("accent-background-light");
  }

  to {
    background-color: transparent;
  }
}
