.announcement-banner {
  background-color: $color__black;
  color: $color__white;
  padding: calc($spacer__unit);

  &__container {
  }

  &__notice {
    padding: 0.3em 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    text-align: center;

    @media (min-width: $grid__breakpoint-large) {
       text-align: center;
       font-size: 1.2rem;
    }

    a {
      background-color: $color__white;
      padding: 0.5rem 1rem;
      color: $color__black;
      display: inline-block;
      font-weight: bold;
      text-decoration: none;
      font-family: "Roboto", sans-serif;

      &:focus {
        outline: 0.3rem solid $color__yellow;
        background-color: $color__dark-blue;
        color: $color__white;
      }

      &:hover {
        background-color: $color__dark-blue;
        color: $color__white;
      }
    }
  }

  &__phase {
    background-color: $color__white;
    color: $color__black;
    text-transform: uppercase;
    padding: 0 calc($spacer__unit / 4);
    margin-right: $spacer__unit;
    font-weight: 700;
  }

  &__message {
    margin: 0;
    display: block;
    line-height: 1.8rem;
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: bold;
  }
  &__sub-message {
    display: block;
    font-size: 1.1rem;
    font-weight: normal;
  }
}
