.search-component {
  background-color: colour-var("accent-background-light");

  &__container-beta {
    @include container;

    padding: $space-8 0;
    text-align: center;
  }

  &__header {
    &--sr-only {
      @include sr-only;
    }
  }

  &__more-options-beta {
    line-height: $typography-sm-line-height;

    input[type="submit"] {
      @include link;

      position: relative;

      display: inline-block;

      margin-bottom: $space-3;
      border: 0;

      font-family: $font-roboto;
      font-size: $typography-md-text-size;
      font-weight: bold;

      background: transparent;

      &:visited {
        color: colour-var("link");
      }
    }

    @media (max-width: $grid-breakpoint-medium) {
      margin-top: 0.125rem;
      text-align: center;
    }
  }

  input[type="checkbox"] {
    &:focus {
      @include focus-default;
    }
  }
}
