.search-component {
  background-color: colour-var("accent-background-light");

  &__container {
    @include container;

    padding: $space-8;
    text-align: center;
  }

  &__container-beta {
    @include container;

    padding: $space-8 0;
    text-align: center;

    @media (max-width: $grid-breakpoint-medium) {
      padding: $space-3;
    }

    @media (max-width: $grid-breakpoint-large) {
      padding: $space-3;
    }

    @media (max-width: $grid-breakpoint-extra-large) {
      padding: $space-3;
    }
  }

  &__header {
    display: inline-block;

    margin: 0 $space-6;

    font-family: $font-roboto;
    font-size: $typography-md-text-size;
    font-weight: $typography-normal-font-weight;
    line-height: 2.8rem;
    color: colour-var("font-dark");

    &--sr-only {
      @include sr-only;
    }
  }

  &__more-options {
    margin-top: $space-2;

    a {
      position: relative;

      display: inline-block;

      padding: 0 0 $space-2;

      font-family: $font-roboto;
      font-size: $typography-md-text-size;
      font-weight: $typography-bold-font-weight;
      color: colour-var("accent-link");
      text-decoration: none;

      background: transparent;
      border: 0;
      border-bottom: 0.125rem solid colour-var("accent-link");

      &:visited {
        color: colour-var("accent-link");
      }

      &:hover {
        color: colour-var("accent-link");
        text-decoration: underline;
      }
    }
  }

  &__more-options-beta {
    line-height: $typography-sm-line-height;

    a {
      position: relative;

      display: inline-block;

      margin-bottom: $space-3;

      font-family: $font-roboto;
      font-size: $typography-md-text-size;
      font-weight: bold;
      color: $color-dark-blue;
      text-decoration: none;

      background: transparent;
      border: 0;
      border-bottom: 1px solid $color-dark-blue;

      &:visited {
        color: $color-dark-blue;
      }

      &:hover {
        color: colour-var("accent-link");
        text-decoration: underline;
      }
    }

    @media (max-width: $grid-breakpoint-medium) {
      margin-top: 0.125rem;
      text-align: center;
    }
  }

  input[type="checkbox"] {
    &:focus {
      @include focus-default;
    }
  }

  form {
    max-width: 47rem;
  }
}

.search-term-component {
  display: flex;
  gap: $space-4;
  width: 100%;
  margin: 0 auto;

  input[type="submit"] {
    @include call-to-action-button;

    margin-top: $space-2;
    margin-bottom: $space-8;

    // The 1px is the border offset of the input this is next to
    padding: calc($space-3 + 1px) $space-12;
    border: 2px solid transparent;

    .structured-search__container & {
      margin-bottom: 0;
    }

    @media (max-width: $grid-breakpoint-medium) {
      margin-bottom: $space-2;
    }
  }

  &__search-term-container {
    width: 100%;
  }

  &__search-term-label {
    @include sr-only;
  }

  &__search-term-input {
    @include text_field;

    box-sizing: border-box;
    width: 100% !important;
    min-height: $space-12;
    margin-bottom: 0;

    font-size: $typography-md-text-size;
  }

  &__help-text {
    margin: $space-2 $space-4 0 $space-4;
    font-size: $typography-sm-text-size;
    text-align: left;

    @media (min-width: $grid-breakpoint-medium) {
      margin: $space-1 0 $space-2 0;
    }
  }

  &__header-beta {
    display: flex;
    flex-direction: column;

    margin-left: 12.5rem;

    text-align: left;
    text-wrap: balance;

    @media (max-width: $grid-breakpoint-medium) {
      display: block;
      margin: 0;
      text-align: center;
    }

    @media (max-width: $grid-breakpoint-large) {
      display: block;
      margin: 0;
      text-align: center;
    }

    @media (max-width: $grid-breakpoint-extra-large) {
      display: block;
      margin: 0;
      text-align: center;
    }
  }

  &__main-label {
    margin: $space-1 0 $space-2 0;
    text-align: left;
  }

  @media (max-width: $grid-breakpoint-medium) {
    flex-direction: column;
    width: 100%;
  }
}
