.breadcrumbs {
  display: flex;
  align-items: end;
  padding-top: $space-4;

  &__flex-container {
    @media only screen and (max-width: $grid-breakpoint-medium) {
      flex-grow: 1;
    }
  }

  ol {
    display: inline-block;

    margin: 0;
    padding: 0;

    font-family: $font-roboto;
    font-size: $typography-sm-text-size;
    list-style-type: none;

    li {
      position: relative;

      display: inline-block;
      break-inside: avoid;

      margin-right: $space-2;
      padding: 0;

      line-height: 1.3rem;
      color: $color-white;
      letter-spacing: 0.3px;

      &:not(:nth-child(1)) {
        padding-left: $space-4;

        &::before {
          content: "";

          position: absolute;
          top: 0;
          bottom: 0;
          left: -3.31px;
          transform: rotate(45deg);

          display: inline-block;

          width: 7px;
          height: 7px;
          margin: auto 0;

          border: solid;
          border-color: $color-white;
          border-width: 0.125rem 0.125rem 0 0;
        }
      }
    }

    a {
      @include link-on-dark-bg;
    }
  }

  &__prefix {
    margin-right: $space-2;
    color: $color-white;
  }

  @media only screen and (max-width: $grid-breakpoint-medium) {
    ol,
    li {
      display: block;
    }

    li {
      &:not(:nth-child(1)) {
        &::before {
          display: none;
        }
      }
    }
  }
}
