.judgment-browse-by-court {
  &__container {
    @include container;
    padding: 0 0 calc($spacer-unit * 4);
  }

  &__header {
    font-family: $font-roboto;
    font-weight: normal;
    font-size: 1.8rem;
    margin: 0 0 calc($spacer-unit * 3);
  }

  &__list {
    padding: 0;
    list-style-type: none;
    margin: 0 0 calc($spacer-unit * 3);

    @media (min-width: $grid-breakpoint-medium) {
      column-count: 2;
      column-gap: $spacer-unit;
    }
  }

  &__list-item {
    break-inside: avoid;
  }

  &__court {
    padding: calc($spacer-unit * 2) $spacer-unit;
    text-align: center;
    background-color: $color-yellow;
    font-family: $font-roboto;

    @media (max-width: $grid-breakpoint-medium) {
      margin-bottom: $spacer-unit;
    }
  }

  &__court-name {
    display: block;
    font-size: 1.25rem;
    margin-bottom: calc($spacer-unit / 3);
  }

  &__court-link {
    color: $color-black;
    text-decoration: none;

    &:hover {
      color: $color-black;
      text-decoration: underline;
    }
  }
}
