.button-cta {
  @include call-to-action-button;

  border: 2px solid $color-cta-background;

  &:disabled,
  &[aria-disabled="true"] {
    background-color: $color-dark-grey;

    &:focus,
    &:hover {
      cursor: not-allowed;

      color: $color-white;
      text-decoration: none;

      background-color: $color-dark-grey;
      outline: none;
    }
  }
}

.button-secondary {
  @include call-to-action-button;

  color: $color-cta-background;
  background-color: $color-white;
  border: 2px solid $color-cta-background;

  &:visited {
    color: $color-cta-background;
  }

  &:focus,
  &:hover {
    color: white;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: $color-dark-grey;
    background-color: transparent;
    border-color: $color-grey;

    &:focus,
    &:hover {
      cursor: not-allowed;

      color: $color-dark-grey;
      text-decoration: none;

      background-color: transparent;
      outline: none;
    }
  }
}

.button-link {
  cursor: pointer;

  padding: 0 !important;

  font-size: $typography-md-text-size;
  text-decoration: underline;

  background: none !important;
  border: none;

  @include link;
}

.button-inline {
  margin-right: $space-2;
}
