@mixin button-primary {
  cursor: pointer;

  display: inline-block;

  margin-top: $space-4;
  padding: $space-4 $space-5;
  border: 0;
  border-radius: 0;

  font-size: $typography-md-text-size;
  font-weight: $typography-bold-font-weight;
  color: colour-var("accent-button-text");
  text-align: center;
  text-decoration: none;

  appearance: none;
  background-color: brand-colour("navy");

  &:focus,
  &:hover {
    @include focus-default;

    border-color: brand-colour("navy");

    color: colour-var("accent-button-text");
    text-decoration: underline;

    background-color: brand-colour("navy");
    outline-color: brand-colour("navy");
    outline-offset: 0.2rem;
  }

  &:visited {
    color: colour-var("accent-button-text");
  }
}

@mixin button-secondary {
  @include button-primary;

  border: 2px solid brand-colour("navy");
  color: brand-colour("navy");
  background-color: colour-var("background");

  &:hover,
  &:focus,
  &:visited {
    color: brand-colour("navy");
    background-color: colour-var("background");
  }
}

@mixin button-small {
  @include button-primary;

  max-height: 32px;
  margin: 0;
  padding: $space-2 $space-3;

  font-size: $typography-xs-text-size;
  font-weight: $typography-normal-font-weight;
}

.button-primary {
  @include button-primary;

  border: 2px solid brand-colour("navy");

  &:disabled,
  &[aria-disabled="true"] {
    background-color: colour-var("button-background");

    &:focus,
    &:hover {
      cursor: not-allowed;

      color: colour-var("button-text");
      text-decoration: none;

      background-color: colour-var("button-background");
      outline: none;
    }
  }
}

.button-secondary {
  @include button-secondary;
}

.button-small {
  @include button-small;
}

.button-link {
  cursor: pointer;

  padding: 0 !important;
  border: none;

  font-size: $typography-md-text-size;
  text-decoration: underline;

  background: none !important;

  @include link;
}

// TODO: remove the deprecated classes after migrating to jinja components
.button {
  @include button-primary;

  display: inline-flex;
  gap: $space-2;
  align-items: center;

  margin: 0;
  border: 2px solid brand-colour("navy");

  &:disabled,
  &[aria-disabled="true"] {
    background-color: colour-var("button-background");

    &:focus,
    &:hover {
      cursor: not-allowed;

      color: colour-var("button-text");
      text-decoration: none;

      background-color: colour-var("button-background");
      outline: none;
    }
  }

  &--secondary {
    @include button-secondary;

    margin: 0;
  }

  &--underline {
    padding: $space-2 0 $space-2;
    border: 0;
    border-bottom: 3px solid colour-var("accent-brand");

    font-size: $typography-md-text-size;
    font-weight: $typography-bold-font-weight;
    color: colour-var("accent-font-base");

    background: transparent;

    &:focus,
    &:hover {
      border-bottom: 3px solid colour-var("accent-brand");

      color: colour-var("accent-font-base");
      text-decoration: underline;

      background: transparent;
      outline: none;
    }
  }

  &--link {
    cursor: pointer;

    padding: 0 !important;
    border: none;

    font-size: $typography-md-text-size;
    text-decoration: underline;

    background: none !important;

    @include link;
  }

  &--contrast {
    border-color: colour-var("contrast-button-background");
    color: colour-var("contrast-button-text");
    background: colour-var("contrast-button-background");

    &:focus,
    &:hover {
      border-color: colour-var("contrast-button-background");
      color: colour-var("contrast-button-text");
      background: colour-var("contrast-button-background");
      outline-color: colour-var("contrast-button-background");
    }
  }

  &--secondary-contrast {
    @include button-secondary;

    margin: 0;
    border-color: colour-var("contrast-button-background");
    color: colour-var("contrast-button-background");
    background: colour-var("contrast-button-text");

    &:focus,
    &:hover {
      border-color: colour-var("contrast-button-background");
      color: colour-var("contrast-button-background");
      background: colour-var("contrast-button-text");
      outline-color: colour-var("contrast-button-background");
    }
  }

  &--underline-contrast {
    padding: $space-2 0 $space-2;
    border: 0;
    border-bottom: 3px solid colour-var("accent-brand");

    font-size: $typography-md-text-size;
    font-weight: $typography-bold-font-weight;
    color: colour-var("contrast-button-background");

    background: transparent;

    &:focus,
    &:hover {
      border-bottom: 3px solid colour-var("accent-brand");

      color: colour-var("contrast-button-background");
      text-decoration: underline;

      background: transparent;
      outline: none;
    }
  }

  &--small {
    max-height: 35px;
    margin: 0;
    padding: $space-2 $space-3;

    font-size: $typography-xs-text-size;
    font-weight: $typography-normal-font-weight;
  }
}
