.button-cta {
  @include call-to-action-button;
  border: 2px solid $color-cta-background;

  &:disabled,
  &[aria-disabled="true"] {
    background-color: $color-dark-grey;
    &:focus,
    &:hover {
      outline: none;
      background-color: $color-dark-grey;
      color: $color-white;
      text-decoration: none;
      cursor: not-allowed;
    }
  }
}

.button-secondary {
  @include call-to-action-button;
  background-color: $color-white;
  color: $color-cta-background;
  border: 2px solid $color-cta-background;

  &:visited {
    color: $color-cta-background;
  }

  &:focus,
  &:hover {
    color: white;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: $color-dark-grey;
    background-color: transparent;
    border-color: $color-grey;
    &:focus,
    &:hover {
      outline: none;
      background-color: transparent;
      color: $color-dark-grey;
      text-decoration: none;
      cursor: not-allowed;
    }
  }
}

.button-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  text-decoration: underline;
  cursor: pointer;
  @include link;
  font-size: 1rem;
}

.button-inline {
  margin-right: $space-2;
}
