@mixin button-primary {
  display: inline-block;

  margin-top: $space-4;
  padding: $space-4 $space-5;

  font-size: $typography-md-text-size;
  font-weight: $typography-bold-font-weight;
  color: colour-var("accent-button-text");
  text-decoration: none;

  background-color: brand-colour("navy");
  border: 0;

  &:focus,
  &:hover {
    @include focus-default;

    color: colour-var("accent-button-text");
    text-decoration: underline;

    background-color: brand-colour("navy");
    border-color: brand-colour("navy");
    outline-color: brand-colour("navy");
    outline-offset: 0.2rem;
  }

  &:visited {
    color: colour-var("accent-button-text");
  }
}

@mixin button-secondary {
  @include button-primary;

  color: brand-colour("navy");
  background-color: transparent;
  border: 2px solid brand-colour("navy");

  &:hover,
  &:focus,
  &:visited {
    color: brand-colour("navy");
    background-color: transparent;
  }
}

@mixin button-small {
  @include button-primary;

  max-height: 32px;
  margin: 0;
  padding: $space-2 $space-3;

  font-size: $typography-sm-text-size;
  font-weight: $typography-normal-font-weight;
}

.button-primary {
  @include button-primary;

  border: 2px solid brand-colour("navy");

  &:disabled,
  &[aria-disabled="true"] {
    background-color: colour-var("button-background");

    &:focus,
    &:hover {
      cursor: not-allowed;

      color: colour-var("button-text");
      text-decoration: none;

      background-color: colour-var("button-background");
      outline: none;
    }
  }
}

.button-secondary {
  @include button-secondary;
}

.button-small {
  @include button-small;
}

.button-link {
  cursor: pointer;

  padding: 0 !important;

  font-size: $typography-md-text-size;
  text-decoration: underline;

  background: none !important;
  border: none;

  @include link;
}
