.cards-homepage {
  display: flex;
  flex-direction: column;
  gap: 0;

  margin: $space-4 auto;
  padding: 0;

  list-style-type: none;

  li {
    @media (max-width: $grid-breakpoint-medium) {
      height: 115px;
      margin: 0 auto;
    }
  }

  @media (min-width: $grid-breakpoint-small) {
    gap: 0;
  }

  @include container;
}

.card-homepage {
  display: flex;
  gap: $space-4;
  margin: $space-4 $space-8;

  h3 {
    margin-top: auto;
    margin-bottom: 0;
    font-weight: $typography-bold-font-weight;

    a {
      color: colour-var("link");
    }

    @media only screen and (max-width: $grid-breakpoint-medium) {
      margin-top: $space-2;

      font-size: $typography-md-text-size;
      line-height: $typography-sm-line-height;
      text-align: left;
      text-wrap: balance;
    }
  }

  &__legend-text {
    margin-top: $space-2;
    margin-bottom: $space-8;
    text-wrap: balance;

    @media (max-width: $grid-breakpoint-medium) {
      visibility: hidden;
    }
  }

  img {
    display: flex;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  &__legend {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $grid-breakpoint-medium) {
      justify-content: flex-start;

      margin-top: $space-8;
      padding: 0;

      text-wrap: balance;

      background-color: colour-var("accent-background-light");
    }
  }

  @media (max-width: $grid-breakpoint-medium) {
    gap: $space-4;
    margin: 0;
    background-color: colour-var("accent-background-light");
  }

  @media (min-width: $grid-breakpoint-small) {
    width: 100%;
    margin: 0;
  }

  @media only screen and (width <= 530px) {
    width: 100%;
  }
}
