.cards-homepage {
  @include container;
  list-style-type: none;
  margin: $space-6 auto;
  @media (min-width: $grid-breakpoint-small) {
    margin: $space-12 auto;
  }
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: $space-12;
  @media (min-width: $grid-breakpoint-medium) {
    flex-direction: row;
    li {
      width: 33%;
    }
  }
}

.card-homepage {
  margin: $space-4 $space-8;
  @media (min-width: $grid-breakpoint-small) {
    margin: 0;
  }

  h3 {
    margin-top: $space-2;
    margin-bottom: 0;
    font-weight: 600;
    font-size: $typography-xl-text-size;
    @media only screen and (max-width: $grid-breakpoint-medium) {
      font-size: $typography-xl-text-size;
      line-height: $typography-sm-line-height;
    }

    a {
      color: $color-black;
    }
  }

  p {
    margin-top: $space-2;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
