h1.confirmation-steps {
  margin-bottom: -1.5rem;
}

.govuk-warning-text {
  background-color: #ffe5e4;
  border-left: 0.5rem #d4351c solid;
}

.govuk-warning-text__icon {
  background-color: #ffe5e4;
}

.confirmation-btn-group {
  display: flex;
  gap: 1rem;
}
