.govuk-warning-text__confirmation {
  background-color: #ffe5e4;
  border-left: 0.5rem #d4351c solid;
}

.govuk-warning-text__icon-confirmation {
  background-color: #ffe5e4;
}

.confirmation-btn-group {
  display: flex;
  gap: $space-4;
}
