#ds-cookie-consent-banner a {
  color: $color__white;
}

#ds-cookie-consent-banner .container #btn_preferences:hover,
#ds-cookie-consent-banner .container #btn_preferences:focus {
  background: none;
  border: 2px solid transparent;
}
