.copy-to-clipboard-link {
  position: relative;

  &:hover {
    .copy-to-clipboard-link__tooltip {
      opacity: 1;
    }
  }

  &__tooltip {
    position: absolute;
    top: 40px;
    left: -30px;

    width: 165px;
    padding: $space-1 $space-2;
    border: 1px solid colour-var("accent-background");
    border-radius: 5px;

    font-size: $typography-xs-text-size;
    text-align: center;
    text-decoration: underline;

    opacity: 0;
    background: colour-var("background");

    transition: opacity 0.3s ease;

    &::after {
      content: "";

      position: absolute;
      top: -5px;
      right: 50%;
      transform: rotate(-45deg);

      width: 8px;
      height: 8px;
      margin-right: -5px;
      border-top: 1px solid colour-var("accent-background");
      border-right: 1px solid colour-var("accent-background");

      background: colour-var("background");
    }

    &--copied {
      left: 27px;
      width: auto;
      color: colour-var("font-base");
      text-decoration: none;
    }
  }
}
