.court-or-tribunal {
  &__crest {
    margin-top: $space-8;

    @media (min-width: $grid-breakpoint-medium) {
      width: 66%;
    }

    img {
      aspect-ratio: 1;
      width: 100%;
      max-width: 150px;
    }
  }
  &__intro {
    h1 {
      margin-top: $space-4;
    }

    @media (min-width: $grid-breakpoint-medium) {
      width: 66%;
    }
    text-wrap: balance;
    margin-bottom: $space-16;
  }

  h2 {
    font-size: $typography-lg-text-size;
    line-height: $typography-sm-line-height;
    font-weight: normal;
    margin-bottom: $space-2;
    margin-top: 0;
  }

  &__judgment {
    @media (min-width: $grid-breakpoint-medium) {
      width: 66%;
    }
    margin-bottom: $space-8;
  }

  &__judgment-meta {
    color: $color-dark-grey;
    margin-top: 0;
  }

  &__pagination-links {
    margin-top: $space-8;
    display: inline-block;
    margin-bottom: $space-16;
  }

  &__pagination-link {
    a {
      background: url($arrow-left) left no-repeat;
      padding-left: $space-6;
      font-weight: bold;
    }

    &.next {
      a {
        background-image: url($arrow-right);
      }
    }

    span {
      padding-left: $space-6;
    }

    &.prev {
      padding-bottom: $space-4;
      margin-bottom: $space-4;
      border-bottom: 1px solid $color-grey;
    }
  }
}
