.courts-and-tribunals {
  &__intro {
    text-wrap: balance;

    @media (min-width: $grid-breakpoint-medium) {
      width: 66%;
    }
  }

  &__header {
    @include heading_text;

    margin-bottom: $space-8;
    padding-bottom: $space-4;
    border-bottom: 1px solid $color-yellow;
  }

  h2 {
    margin-top: $space-4;
    font-size: $typography-xl-text-size;
    line-height: 2.6rem;
  }

  h3 {
    margin-top: $space-4;
    font-size: $typography-lg-text-size;
    line-height: 1.95rem;
  }

  p {
    margin-top: $space-4;
    margin-bottom: $space-8;
  }
}
