.courts-and-tribunals {
  &__intro {
    text-wrap: balance;

    @media (min-width: $grid-breakpoint-medium) {
      width: 66%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: $space-4;
    margin-bottom: $space-8;

    h2,
    h3 {
      margin: 0;
    }

    &:first-of-type {
      .courts-and-tribunals__header {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
      }
    }
  }

  &__sub-item {
    display: flex;
    flex-direction: column;
    gap: $space-2;

    > p {
      margin: 0;
    }
  }

  &__header {
    padding-top: $space-6;
    border-top: 4px solid $color-yellow;
    font-size: $typography-xl-text-size;
  }

  &__subheader {
    font-size: $typography-lg-text-size;
    font-weight: $typography-bold-font-weight;
  }

  &__description {
    margin: 0 0 $space-4;
  }
}
