.court-or-tribunal {
  &__crest {
    margin-top: $space-8;

    img {
      aspect-ratio: 1;
      width: 100%;
      max-width: 150px;
    }

    @media (min-width: $grid-breakpoint-medium) {
      width: 66%;
    }
  }

  &__intro {
    margin-bottom: $space-16;
    text-wrap: balance;

    h1 {
      margin-top: $space-4;
    }

    @media (min-width: $grid-breakpoint-medium) {
      width: 66%;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: $space-2;

    font-size: $typography-lg-text-size;
    font-weight: $typography-normal-font-weight;
    line-height: $typography-sm-line-height;
  }

  &__judgment {
    margin-bottom: $space-8;

    @media (min-width: $grid-breakpoint-medium) {
      width: 66%;
    }
  }

  &__judgment-meta {
    margin-top: 0;
    color: colour-var("font-base");
  }

  &__pagination-links {
    display: inline-block;
    margin-top: $space-8;
    margin-bottom: $space-16;
  }

  &__pagination-link {
    a {
      padding-left: $space-6;
      font-weight: $typography-bold-font-weight;
      background: url($arrow-left) left no-repeat;
    }

    &.next {
      a {
        background-image: url($arrow-right);
      }
    }

    span {
      padding-left: $space-6;
    }

    &.prev {
      margin-bottom: $space-4;
      padding-bottom: $space-4;
      border-bottom: 1px solid colour-var("accent-border");
    }
  }
}
