.document-download-options {
  max-width: 90%;
  margin: 0 auto calc($spacer__unit * 3) auto;

  @media (min-width: $grid__breakpoint-medium) {
    max-width: 46rem;
  }

  &__header {
    border-bottom: 4px solid $color__yellow;
    padding-bottom: calc($spacer__unit * 0.5);
    margin-bottom: calc($spacer__unit * 2);
    display: inline-block;
  }

  &__options-list {
    display: flex;
    flex-direction: column;
    gap: $spacer__unit;

    @media (min-width: $grid__breakpoint-medium) {
      flex-direction: row;
    }
  }

  &__download-option {
    border: 1px solid $color__yellow;
    padding: $spacer__unit;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}
