body {
  &.document-detail {
    background: brand-colour("white");

    .judgment {
      font-family: $font-pt-serif;
      font-size: $typography-sm-text-size;
      line-height: $typography-lg-line-height;

      @media (min-width: $grid-breakpoint-medium) {
        max-width: 50rem;
      }
    }
  }
}
