body {
  &.document-detail {
    background: brand-colour("white");
  }

  &.document-detail-v2 {
    .judgment {
      font-family: $font-pt-serif;
      font-size: $typography-md-text-size;
      line-height: $typography-xl-line-height;

      @media (min-width: $grid-breakpoint-medium) {
        max-width: 44rem;
        font-size: $typography-lg-text-size;
      }
    }
  }
}
