.document-toolbar {
  background-color: $color__light-grey;
  color: $color__black;
  padding: $spacer__unit;
  border-bottom: 0.125rem solid $color__grey;

  &__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

    @include container;

    > div {
      @media (max-width: $grid__breakpoint-small) {
        text-align: center;
        display: block;
        padding: 0.25rem $spacer__unit;
      }
    }
  }

  a {
    padding: calc($spacer__unit / 2) calc($spacer__unit * 3);
    display: inline-block;
    text-decoration: none;
    outline-offset: 3px;
    margin: 0;

    &.btn {
      @include call-to-action-button;
      margin-bottom: calc($spacer__unit / 3) !important;
    }

    &.btn-related-document {
      @include call-to-action-button-secondary;
      margin-bottom: calc($spacer__unit / 3) !important;
      margin-right: 1rem;
    }

    @media (min-width: $grid__breakpoint-small) {
      padding: calc($spacer__unit / 2) calc($spacer__unit * 1.5);
    }
  }

  &__press-summary-title {
    text-wrap: balance;
    margin-top: -1 * $spacer__unit;
    margin-bottom: 0;
    background-color: $color__yellow;
    color: $color__almost-black;
    padding: calc($spacer__unit / 3) calc($spacer__unit / 2);
    text-align: center;
  }

  &__title {
    text-wrap: balance;
    margin-top: $spacer__unit;
    margin-bottom: 0;
    color: $color__almost-black;
    text-align: center;
  }

  &__reference {
    text-wrap: balance;
    margin-top: 0.5 * $spacer__unit;
    margin-bottom: $spacer__unit;
    font-size: 2rem;
    color: $color__almost-black;
    text-align: center;
  }
}

.document-toolbar-buttons {
  margin: 0 auto;

  &__option--related-document {
    text-align: center;
  }

  &__option--pdf {
    text-align: center;
  }

  &__option--download-options {
    color: $color__dark-grey;
    font-size: 0.75rem;
    text-align: center;

    a {
      background-color: transparent;
      color: $color__aqua-blue;
      padding: 1px;
      display: inline;
      text-decoration: underline;
      font-size: 1rem;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
