.environment-banner {
  color: $color-black;
  background-color: $color-information;

  &__notice {
    padding: 0;

    a {
      font-weight: $typography-bold-font-weight;
      color: $color-black;

      &:focus {
        color: $color-black;
        background-color: $color-white;
        outline: 0.125rem solid $color-black;
      }
    }
  }

  &__environment {
    margin-right: $space-4;
    padding: 0 $space-1;

    font-weight: $typography-bold-font-weight;
    color: $color-black;
    text-transform: uppercase;

    background-color: $color-white;
  }

  &__message {
    display: inline;
    margin: 0;
  }
}
