.pre-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: colour-var("accent-background-light");

  h2 {
    margin-bottom: 0;
    padding-top: 0;
    font-size: $typography-lg-text-size;
    font-weight: $typography-normal-font-weight;
  }
}

.judgments-footer {
  font-size: $typography-sm-text-size;
  color: colour-var("contrast-font-base");
  background-color: colour-var("contrast-background");

  &__links-container {
    @media (min-width: $grid-breakpoint-medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__heading {
    @include sr-only;
  }

  h3 {
    @media (max-width: $grid-breakpoint-medium) {
      margin-bottom: $space-1;
      padding-top: $space-2;
    }
  }

  ul {
    padding: 0;
  }

  li {
    margin-bottom: $space-5;
    list-style: none;

    @media (min-width: $grid-breakpoint-medium) {
      margin-bottom: $space-6;
    }
  }

  a {
    @include link-on-dark-bg;

    &:focus {
      color: colour-var("accent-button-text");
    }
  }

  &__base-paragraph {
    margin-top: 0;
    margin-bottom: auto;

    font-size: $typography-sm-text-size;
    line-height: 1.2rem;
    text-align: left;

    @media (min-width: $grid-breakpoint-medium) {
      font-size: $typography-sm-text-size;
      line-height: 1.4rem;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      text-align: left;
    }
  }

  &__base-paragraph-container {
    display: flex;
    flex-direction: row;
    gap: $space-4;
    margin-top: $space-4;

    @media (max-width: $grid-breakpoint-medium) {
      flex-direction: column;
      gap: 0;
      margin-top: $space-12;
    }

    @media only screen and (width >= 769px) and (width <= 991px) {
      flex-direction: column;
      gap: 0;
      margin-top: $space-12;
    }
  }

  &__ojl-logo {
    width: 54px;
    height: 45px;
    margin-top: auto;
  }

  @media (min-width: $grid-breakpoint-medium) {
    font-size: $typography-md-text-size;
  }
}
