.pre-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: colour-var("accent-background-light");

  h2 {
    margin-bottom: 0;
    padding-top: 0;
    font-size: $typography-lg-text-size;
    font-weight: $typography-normal-font-weight;
  }

  &__container {
    @include container;

    margin-top: 0;
    padding: $space-1 0 $space-8 $space-8;
  }
}

.judgments-footer {
  font-size: $typography-md-text-size;
  color: colour-var("contrast-font-base");
  background-color: colour-var("contrast-background");

  &__container {
    @include container;
  }

  &__row {
    @media (min-width: $grid-breakpoint-medium) {
      display: flex;
      gap: $space-12;
      justify-content: space-between;
      text-wrap: balance;
    }
  }

  &__row > * {
    @media (min-width: $grid-breakpoint-medium) {
      flex: 1;
      padding-bottom: $space-4;
    }
  }

  &__heading {
    @include sr-only;
  }

  &__tna-logo {
    width: 100px;
    height: 100px;

    @media only screen and (min-width: $grid-breakpoint-large) {
      width: 100px;
      height: 100px;
    }
  }

  &__tna-logo-link {
    display: inline-block;
    width: 100px;
    height: 100px;

    &:focus {
      @include focus-default;

      outline-color: colour-var("contrast-link");
    }

    @media only screen and (min-width: $grid-breakpoint-large) {
      width: 100px;
      height: 100px;
    }
  }

  &__show-below-medium {
    display: none;

    @media (max-width: $grid-breakpoint-medium) {
      display: inherit;
    }
  }

  &__hide-below-medium {
    @media (max-width: $grid-breakpoint-medium) {
      display: none;
    }
  }

  h3 {
    font-weight: bold;

    @media (max-width: $grid-breakpoint-medium) {
      margin-bottom: $space-1;
      padding-top: $space-4;
      font-size: $space-6;
    }
  }

  ul {
    padding: 0;
  }

  li {
    margin-bottom: $space-5;
    list-style: none;

    @media (min-width: $grid-breakpoint-medium) {
      margin-bottom: $space-6;
    }
  }

  a {
    @include link-on-dark-bg;

    &:focus {
      color: colour-var("accent-button-text");
    }
  }

  &__horizontal-links {
    list-style: none;

    li {
      display: inline-block;
      margin-right: $space-4;
      margin-bottom: $space-5;

      @media (min-width: $grid-breakpoint-medium) {
        margin-bottom: $space-6;
      }

      @media (max-width: $grid-breakpoint-medium) {
        display: list-item;
      }
    }

    @media (max-width: $grid-breakpoint-medium) {
      width: 90%;
    }
  }

  &__ojl-logo {
    float: left;

    width: 62px;
    height: 54px;
    margin-top: auto;
    margin-right: $space-3;
    margin-bottom: $space-3;
  }

  @media (min-width: $grid-breakpoint-medium) {
    font-size: $typography-md-text-size;
  }
}
