.pre-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: brand-colour("pastel-blue");

  h2 {
    margin: 0;
    padding-top: 0;
    font-size: $typography-lg-text-size;
    font-weight: $typography-normal-font-weight;
  }

  &__container {
    @include container;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 0;
    padding: $space-8 0;
  }
}

.site-footer {
  padding: $space-8 0;
  font-size: $typography-md-text-size;
  color: colour-var("contrast-font-base");
  background-color: colour-var("contrast-background");

  &__container {
    @include container;

    display: flex;
    flex-direction: column;
    gap: $space-8;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: $space-8;
    text-wrap: balance;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
      gap: $space-12;
    }
  }

  &__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: $space-4;

    h3,
    p {
      margin: 0;
    }

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: $space-4;

      &.site-footer__horizontal-links {
        flex-direction: column;

        @media (min-width: $grid-breakpoint-medium) {
          flex-direction: row;
        }
      }

      @media (min-width: $grid-breakpoint-medium) {
        gap: $space-6;
      }
    }

    @media (min-width: $grid-breakpoint-medium) {
      gap: $space-6;
    }
  }

  &__heading {
    @include sr-only;
  }

  &__tna-logo {
    width: 100px;
    height: 100px;

    @media only screen and (min-width: $grid-breakpoint-large) {
      width: 100px;
      height: 100px;
    }
  }

  &__tna-logo-link {
    display: inline-block;
    width: 100px;
    height: 100px;

    &:focus {
      @include focus-default;

      outline-color: colour-var("contrast-link");
    }

    @media only screen and (min-width: $grid-breakpoint-large) {
      width: 100px;
      height: 100px;
    }
  }

  &__show-below-medium {
    display: none;

    @media (max-width: $grid-breakpoint-medium) {
      display: inherit;
    }
  }

  &__hide-below-medium {
    @media (max-width: $grid-breakpoint-medium) {
      display: none;
    }
  }

  h3 {
    font-size: $typography-lg-text-size;
    font-weight: $typography-bold-font-weight;
  }

  a {
    @include link-on-dark-bg;

    &:focus {
      color: colour-var("accent-button-text");
    }
  }

  &__ojl {
    display: flex;
    gap: $space-4;

    img {
      width: 62px;
      height: 54px;
    }

    a {
      white-space: nowrap;
    }
  }

  @media (min-width: $grid-breakpoint-medium) {
    font-size: $typography-md-text-size;
  }
}
