.judgments-footer {
  background-color: $color__almost-black;
  color: $color__white;
  padding: $spacer__unit;

  &__container {
    @include container;
  }

  &__links-container {
    @media (min-width: $grid__breakpoint-medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__heading {
    @include sr-only;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: calc($spacer__unit / 2);
  }

  a {
    @include link-on-dark-bg;
  }

  &__base-paragraph {
    text-align: left;
    margin: calc($spacer__unit * 2) 0 calc($spacer__unit * 3);
    font-size: 0.9rem;
    line-height: 1.75rem;

    @media (min-width: $grid__breakpoint-extra-large) {
      text-align: center;
    }
  }
}
