input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input::placeholder {
  color: $color-dark-grey;
  opacity: 1;
}
