.govuk-fieldset__legend {
  font-family: $font-roboto;
}

.component-wrapper {
  border: solid $color-grey;
  padding: 1rem;
}

.govuk-summary-card {
  font-family: $font-roboto;
  &__title-wrapper {
    background-color: $color-grey;
  }
}

.govuk-button {
  @include call-to-action-button;
  box-shadow: none;
  margin-bottom: 0;
  &:focus {
    background-color: $color-dark-blue !important;
    color: $color-white !important;
    box-shadow: none !important;
    @include focus-default;
    outline-offset: 0.2rem !important;
    outline-color: $color-dark-blue !important;
  }
}

.govuk-label {
  color: $color-black;
  font-family: $font-roboto;
}

.govuk-hint {
  color: $color-black;
}

.govuk-summary-list {
  color: $color-black;
  margin-bottom: 5.2rem;
  .button-link {
    font-size: 1.1875rem;
  }
}

.govuk-details {
  border: 3px solid $color-aqua-blue;
  background-color: $color-white;
  padding: 0.5rem;
  margin-top: calc(2 * $spacer-unit);
  margin-bottom: calc(2 * $spacer-unit);
}

.govuk-details__summary {
  padding-left: 1.5rem;
  color: $color-aqua-blue;
  &:focus {
    background-color: transparent;
    box-shadow: none;
    @include focus-default;
  }
  &::before {
    top: 2px;
  }
}

.govuk-details__summary-text {
  text-decoration: none;
}

.govuk-details__text {
  border-left: none;
  font-size: 1rem;
  padding: 1rem;
}

.info-box {
  border: transparent;
  padding: 2rem;
  background-color: $color-light-grey;
}

.info-box__heading {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.details-box {
  border: transparent;
  padding: 2rem;
}

.govuk-notification-banner_aquablue {
  border: 5px solid $color-aqua-blue;
  background-color: $color-aqua-blue;
}

.govuk-notification-banner__content > * {
  max-width: fit-content;
  font-size: 1.4rem;
}

.govuk-notification-banner_red {
  border: 5px solid #d4351c;
  background-color: #d4351c;
}

.govuk-notification-banner__link {
  color: #037091;
}
.govuk-notification-banner__link:visited {
  color: #4c2c92;
}

.govuk-warning-text {
  margin-bottom: 0;
}

.govuk-warning-text__icon {
  background-color: #fef8df;
  color: $color-black;
  border: $color-black solid 3px;
  margin-left: 1rem;
  transform: rotate(180deg);
}
.govuk-warning-text__text {
  position: relative;
  bottom: 7px;
}

.govuk-warning-text {
  border: transparent;
  border-left: 0.5rem $color-yellow solid;
  background-color: #fef8df;
  padding: calc($spacer-unit * 2) calc($spacer-unit * 2);
}

.govuk-checkboxes__input {
  &:focus {
    @include focus-default;
    outline-color: $color-focus-blue-outline;
  }
}

.govuk-input {
  &--inline {
    margin-top: 1px;
    width: auto !important;
  }
}

.govuk-date-input__label {
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.govuk-date-input__input {
  border: 2px solid #555;
}

.govuk-date-input__item {
  margin-right: 0.5rem;
}

.govuk-form-group {
  margin-bottom: 0;
}

.govuk-header__container {
  position: relative;
  margin-bottom: -10px;
  padding-top: 10px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
}

.govuk-header {
  border-bottom: 10px solid transparent;
  font-family: $font-roboto;
  font-size: 1.1875rem;
}

.govuk-header__logo {
  display: flex;
  width: 100%;
  @media only screen and (max-width: $grid-breakpoint-medium) {
    flex-direction: column;
    padding-right: 14rem;
    padding-top: 1.25rem;
  }
}

.govuk-frontend-supported .govuk-header__menu-button {
  display: block;
  right: -2rem;
  font-size: 1.2rem;
  padding-top: 1.25rem;
  &:focus {
    outline: none;
    background-color: $color-black;
    box-shadow: none;
    color: $color-white;
  }
}

.govuk-header__navigation-list {
  margin-left: 15rem;
  width: 100%;
  margin-top: 5rem;
  font-size: 1.2rem;
  @media only screen and (max-width: $grid-breakpoint-medium) {
    margin-left: -8rem;
    line-height: 1rem;
    margin-top: 3rem;
  }
}

.govuk-header__link {
  color: $color-white;
  text-decoration: underline;
  &:focus {
    background-color: transparent;
    box-shadow: none;
  }
}

.govuk-header__navigation-item--active,
.govuk-header__navigation-item--active a:hover,
.govuk-header__navigation-item--active a:visited {
  color: $color-yellow;
  border-bottom: 3px;
  font-weight: bold;
  &:focus {
    background-color: transparent;
    box-shadow: none;
  }
}

.govuk-header__link.active {
  color: $color-yellow;
  border-bottom: 3px;
  font-weight: bold;
  border-bottom: 3px solid $color-yellow;
}

.govuk-header__link:hover {
  color: $color-yellow;
  border-bottom: 1px;
  font-weight: bold;
  border-bottom: 3px solid $color-yellow;
}

.govuk-header__navigation-item a {
  font-size: 0.875rem;
  line-height: 1.142rem;
  font-weight: normal;
  white-space: nowrap;
  border-bottom: 1px solid $color-white;
  text-decoration: none;
}

.govuk-header__navigation {
  margin-left: 4rem;
}

.govuk-header__content {
  width: auto;
  @media (min-width: 48.0625em) {
    padding-left: 15px;
    float: left;
  }
}
