.govuk-fieldset__legend {
  font-family: $font-roboto;
}

.component-wrapper {
  border: solid $color-grey;
  padding: 1rem;
}

.govuk-summary-card {
  font-family: $font-roboto;
  &__title-wrapper {
    background-color: $color-grey;
  }
}

.govuk-button {
  @include call-to-action-button;
  box-shadow: none;
  margin-bottom: 0;
  &:focus {
    background-color: $color-dark-blue !important;
    color: $color-white !important;
    box-shadow: none !important;
    @include focus-default;
    outline-offset: 0.2rem !important;
    outline-color: $color-dark-blue !important;
  }
}

.govuk-label {
  color: $color-black;
  font-family: $font-roboto;
}

.govuk-hint {
  color: $color-black;
}

.govuk-summary-list {
  color: $color-black;
  margin-bottom: 5.2rem;
  .button-link {
    font-size: 1.1875rem;
  }
}

.govuk-details {
  border: 3px solid $color-aqua-blue;
  background-color: $color-white;
  padding: 0.5rem;
  margin-top: calc(2 * $spacer-unit);
  margin-bottom: calc(2 * $spacer-unit);
}

.govuk-details__summary {
  padding-left: 1.5rem;
  color: $color-aqua-blue;
  &:focus {
    background-color: transparent;
    box-shadow: none;
    @include focus-default;
  }
  &::before {
    top: 2px;
  }
}

.govuk-details__summary-text {
  text-decoration: none;
}

.govuk-details__text {
  border-left: none;
  font-size: 1rem;
  padding: 1rem;
}

.info-box {
  border: transparent;
  padding: 2rem;
  background-color: $color-light-grey;
}

.info-box__heading {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.details-box {
  border: transparent;
  padding: 2rem;
}

.govuk-notification-banner_aquablue {
  border: 5px solid $color-aqua-blue;
  background-color: $color-aqua-blue;
}

.govuk-notification-banner__content > * {
  max-width: fit-content;
  font-size: 1.4rem;
}

.govuk-notification-banner_red {
  border: 5px solid #d4351c;
  background-color: #d4351c;
}

.govuk-notification-banner__link {
  color: #037091;
}
.govuk-notification-banner__link:visited {
  color: #4c2c92;
}

.govuk-warning-text {
  margin-bottom: 0;
}

.govuk-warning-text__icon {
  background-color: #fef8df;
  color: $color-black;
  border: $color-black solid 3px;
  margin-left: 1rem;
  transform: rotate(180deg);
}
.govuk-warning-text__text {
  position: relative;
  bottom: 7px;
}

.govuk-warning-text {
  border: transparent;
  border-left: 0.5rem $color-yellow solid;
  background-color: #fef8df;
  padding: calc($spacer-unit * 2) calc($spacer-unit * 2);
}

.govuk-checkboxes__input {
  &:focus {
    @include focus-default;
    outline-color: $color-focus-blue-outline;
  }
}

.govuk-input {
  &--inline {
    margin-top: 1px;
    width: auto !important;
  }
}

.govuk-date-input__label {
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.govuk-date-input__input {
  border: 2px solid #555;
}

.govuk-date-input__item {
  margin-right: 0.5rem;
}

.govuk-form-group {
  margin-bottom: 0;
}
