.govuk-fieldset__legend {
  font-family: $font-roboto;
}

.component-wrapper {
  border: solid $color-grey;
  padding: $space-4;
}

.govuk-summary-card {
  font-family: $font-roboto;

  &__title-wrapper {
    background-color: $color-grey;
  }
}

.govuk-button {
  @include call-to-action-button;
  box-shadow: none;
  margin-bottom: 0;

  &:focus {
    background-color: $color-dark-blue !important;
    color: $color-white !important;
    box-shadow: none !important;
    @include focus-default;
    outline-offset: 0.2rem !important;
    outline-color: $color-dark-blue !important;
  }
}

.govuk-label {
  color: $color-black;
  font-family: $font-roboto;
}

.govuk-hint {
  color: $color-black;
}

.govuk-summary-list {
  color: $color-black;
  margin-bottom: 5.2rem;

  .button-link {
    font-size: $typography-md-text-size;
  }
}

.govuk-details {
  border: 3px solid $color-aqua-blue;
  background-color: $color-white;
  padding: $space-2;
  margin-top: $space-8;
  margin-bottom: $space-8;
}

.govuk-details__summary {
  padding-left: $space-6;
  color: $color-aqua-blue;

  &:focus {
    background-color: transparent;
    box-shadow: none;
    @include focus-default;
  }

  &::before {
    top: 2px;
  }
}

.govuk-details__summary-text {
  text-decoration: none;
}

.govuk-details__text {
  border-left: none;
  font-size: $typography-md-text-size;
  padding: $space-4;
}

.info-box {
  border: transparent;
  padding: $space-8;
  background-color: $color-light-grey;
}

.info-box__heading {
  margin-top: 0;
  font-size: $typography-lg-text-size;
  font-weight: $typography-bold-font-weight;
}

.details-box {
  border: transparent;
  padding: $space-8;
}

.govuk-notification-banner_aquablue {
  border: 5px solid $color-aqua-blue;
  background-color: $color-aqua-blue;
}

.govuk-notification-banner__content > * {
  max-width: fit-content;
  font-size: $typography-lg-text-size;
}

.govuk-notification-banner_red {
  border: 5px solid #d4351c;
  background-color: #d4351c;
}

.govuk-notification-banner__link {
  color: #037091;
}
.govuk-notification-banner__link:visited {
  color: #4c2c92;
}

.govuk-warning-text {
  margin-bottom: 0;
}

.govuk-warning-text--text-only {
  .govuk-warning-text__text {
    padding-left: 0;
  }
}

.govuk-warning-text__icon {
  background-color: #fef8df;
  color: $color-black;
  border: $color-black solid 3px;
  margin-left: $space-4;
  transform: rotate(180deg);
}
.govuk-warning-text__text {
  h2 {
    font-size: $typography-header-h3-size;
    font-weight: $typography-bold-font-weight;
    margin: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.govuk-warning-text {
  border: transparent;
  border-left: 0.5rem $color-yellow solid;
  background-color: #fef8df;
  padding: $space-8;
}

.govuk-checkboxes__input {
  &:focus {
    @include focus-default;
    outline-color: $color-focus-blue-outline;
  }
}

.govuk-input {
  &--inline {
    margin-top: 1px;
    width: auto !important;
  }
}

.govuk-date-input__label {
  font-size: $typography-sm-text-size;
  margin-top: $space-1;
}

.govuk-date-input__input {
  border: 2px solid #555;
}

.govuk-date-input__item {
  margin-right: $space-2;
}

.govuk-form-group {
  margin-bottom: 0;
}

.govuk-header {
  border-bottom: none;
}

.govuk-header__link--homepage:hover,
.govuk-header__link--homepage:active {
  border-bottom: 0.25rem solid $color-black;
}

.govuk-header__navigation-item--active .govuk-header__link,
.govuk-header__navigation-item--active .govuk-header__link:hover,
.govuk-header__navigation-item--active .govuk-header__link:visited {
  color: $color-yellow;
  font-weight: bold !important;
  border-bottom: 0.25rem solid $color-yellow;
  text-decoration: none;
  &:focus {
    background-color: transparent;
    box-shadow: none;
  }
  @media only screen and (max-width: $grid-breakpoint-medium) {
    border-bottom: none;
  }
}

.govuk-header__link {
  &:hover {
    color: $color-white;
    border-bottom: none;
    text-decoration: none !important;
  }
  &:focus {
    background-color: transparent;
    box-shadow: none;
  }
}

.govuk-header__navigation-item .govuk-header__link {
  font-size: $typography-sm-text-size;
  line-height: $typography-md-line-height;
  font-weight: normal;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  display: inline-block;

  &:after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  &:focus {
    background-color: transparent;
    box-shadow: none;
  }
  @media only screen and (max-width: $grid-breakpoint-medium) {
    text-decoration: none;
  }
}

.govuk-header__menu-button:focus {
  outline: $space-1 solid transparent;
}

.govuk-frontend-supported .govuk-header__menu-button {
  right: $space-12;
  font-size: $typography-md-text-size;
  padding-top: $space-1;

  &:focus {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    color: $color-white;
  }
}

.govuk-header__menu-button:hover {
  text-decoration: none;
}

.govuk-header__content {
  margin-top: 5rem;
  @media only screen and (max-width: $grid-breakpoint-medium) {
    margin-top: 0;
  }
}

.govuk-header__navigation-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
  @media only screen and (max-width: $grid-breakpoint-medium) {
    display: block;
  }
}
a.govuk-header__logo {
  width: 100px;
  height: 100px;
}
