.page-header {
  background-color: $color__almost-black;
  padding: 0 $spacer__unit calc($spacer__unit * 1.25);
  display:flex;
  justify-content: space-between;
  @media only screen and (max-width: $grid__breakpoint-medium) {
    flex-direction: column-reverse;
  }
  @media (min-width: $grid__breakpoint-extra-large) {
    padding-left: calc(7.25 * $spacer__unit);
    padding-right: calc(7.25 * $spacer__unit);
  }


  &__breadcrumb {

    display: block;
    position: relative;
    padding: calc($spacer__unit / 2) 0;

    ol {
      list-style-type: none;
      padding: 0;
      font-family: $font__roboto;
      display: inline-block;
      font-size: 0.9rem;

      a {
        @include link-on-dark-bg;
      }
    }

    li {
      display: inline-block;
      position: relative;
      margin-right: calc($spacer__unit / 2);
      color: $color__white;

      &:not(:nth-child(1)) {
        padding-left: $spacer__unit;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: -3.31px;
          width: 7px;
          height: 7px;
          margin: auto 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          border: solid;
          border-width: 0.125rem 0.125rem 0 0;
          border-color: $color__white;
        }
      }
    }

    @media only screen and (max-width: $grid__breakpoint-medium) {
      ol, li {
        display: inline;
      }
    }

    &-you-are-in {
      color: $color__white;
      font-size: 0.9rem;
      margin-right: calc($spacer__unit / 2);
      @media only screen and (max-width: $grid__breakpoint-medium) {
        display: inline;
      }
    }
  }

  &__container {
    //@include container;
    @media only screen and (min-width: $grid__breakpoint-medium) {
      margin-left: -4rem;
    }
  }

  &__logo {
    height: 4.5rem;
    margin-top: -2rem;
    margin-left: -2rem;
    //margin: calc($spacer__unit / 2) auto;
    width: 13rem;
    @media only screen and (max-width: $grid__breakpoint-medium) {
      margin-left: 13rem;
    }
  }



  &__logo-block-text {
    color: grey;
    text-align: right;
    @media only screen and (max-width: $grid__breakpoint-medium) {
      text-align: center;
   }
 }

  &__logo-link {
    @media only screen and (max-width: $grid__breakpoint-medium) {
      display: block;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
   }

    &:focus {
      outline: 0;

      img {
        outline: 0.19rem solid $color__white;
        outline-offset: 0.19rem;
      }
    }
  }
}
