.page-header {
  &__flex-container-beta {
    display: flex;
    gap: $space-18;
    align-items: flex-end;
    justify-content: space-between;

    padding: $space-6 0;

    @media only screen and (max-width: $grid-breakpoint-medium) {
      flex-direction: column;
      gap: 0;
      align-items: flex-start;

      padding-bottom: $space-3;

      text-align: left;
    }
  }

  &__tna-logo {
    width: 100px;
    height: 100px;

    @media only screen and (max-width: $grid-breakpoint-medium) {
      width: 70px;
      height: 70px;
    }
  }

  &__tna-logo-link {
    display: inline-block;
    width: 100px;
    height: 100px;

    &:focus {
      @include focus-default;

      outline-color: colour-var("contrast-link");
    }

    @media only screen and (max-width: $grid-breakpoint-medium) {
      width: 70px;
      height: 70px;
    }
  }
}
