.page-header {
  background-color: $color-almost-black;

  &__flex-container {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $grid-breakpoint-medium) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__flex-container-beta {
    display: flex;
    justify-content: space-between;
    gap: $space-16;

    @media only screen and (max-width: $grid-breakpoint-medium) {
      flex-direction: column;
      text-align: left;
      gap: 0;
      padding-bottom: 0;
    }
  }

  &__tna-logo {
    width: 100px;
    height: 100px;
    margin-top: $space-1;
    margin-bottom: $space-1;
    @media only screen and (max-width: $grid-breakpoint-medium) {
      margin-right: 11rem;
    }
  }

  &__site-logo a {
    color: $color-white;
    font-size: $typography-xl-text-size;
    text-decoration: none;
    &:visited {
      color: $color-white;
    }

    &:focus {
      outline: 5px solid $color-white;
      outline-offset: 5px;
      z-index: 999;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__logo {
    width: 250px;
    margin-top: $space-1;
    margin-bottom: $space-1;

    @media only screen and (max-width: $grid-breakpoint-medium) {
      max-width: 200px;
    }
  }

  &__logo-block {
    font-size: $typography-sm-text-size;
    color: $color-white;
    text-align: right;
    margin-top: $space-16;

    a:focus {
      outline-color: $color-white;
    }

    @media only screen and (max-width: $grid-breakpoint-medium) {
      text-align: center;
      padding-bottom: 0;
      margin-top: $space-2;
    }
  }

  &__logo-link {
    &:focus {
      outline: 0;

      img {
        outline: 0.19rem solid $color-white;
        outline-offset: 0.19rem;
      }
    }
  }
}
