.judgment-browse {
  @include container;
  padding-bottom: calc($spacer__unit * 2);

  @media only screen and (min-width: $grid__breakpoint-medium) {
  }

  &__header {
    @include heading_text;
    font-size: 1.8rem;
    margin-bottom: $spacer__unit;
    padding-bottom: calc($spacer__unit * 1.5);
    border-bottom: 5px solid $color__yellow;
  }

  &__sub-header {
    @include heading_text;
    font-size: 1.4rem;
    margin: 2.5rem 0 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;

    @media (min-width: $grid__breakpoint-medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $spacer__unit;
    }
  }

  &__list-item {
    padding: calc($spacer__unit / 2) 0;
    font-family: $font__roboto;
    font-size: 1.1rem;
  }

  &__year-range {
    margin-left: calc($spacer__unit / 2);
    font-size: 0.9rem;
    font-family: $font__open-sans;
  }

  &__alpha-label {
    background-color: $color__yellow;
    color: $color__black;
    text-transform: uppercase;
    padding: 0.2rem 0.5rem;
    margin-left: 0.5rem;
    vertical-align: 2px;
    font-weight: 700;
    font-size: 0.85rem;
  }

  &__information-box {
    padding: calc($spacer__unit / 1.5) $spacer__unit;
    background-color: $color__grey;
  }
}
