.judgment-browse {
  &__container {
    @include container;

    padding-bottom: $space-8;
  }

  &__header {
    @include heading_text;

    margin-bottom: $space-4;
    padding-bottom: $space-6;
    font-size: $typography-xl-text-size;
    border-bottom: 5px solid $color-yellow;
  }

  &__sub-header {
    @include heading_text;

    margin: $space-10 0 $space-4;
    font-size: $typography-lg-text-size;
  }

  &__list {
    padding: 0;
    list-style: none;

    @media (min-width: $grid-breakpoint-medium) {
      column-count: 2;
      column-gap: $space-4;
    }
  }

  &__list-item {
    break-inside: avoid;
    padding: $space-2 0;
    font-family: $font-roboto;
    font-size: $typography-md-text-size;
  }

  &__year-range {
    margin-left: $space-2;
    font-family: $font-open-sans;
    font-size: $typography-sm-text-size;
  }

  &__alpha-label {
    margin-left: $space-2;
    padding: $space-1 $space-2;

    font-size: $typography-sm-text-size;
    font-weight: $typography-bold-font-weight;
    color: colour-var("font-dark");
    text-transform: uppercase;
    vertical-align: 2px;

    background-color: $color-yellow;
  }
}
