.judgment-browse {
  &__container {
    @include container;
    padding-bottom: calc($spacer-unit * 2);
  }

  &__header {
    @include heading_text;
    font-size: 1.8rem;
    margin-bottom: $spacer-unit;
    padding-bottom: calc($spacer-unit * 1.5);
    border-bottom: 5px solid $color-yellow;
  }

  &__sub-header {
    @include heading_text;
    font-size: 1.4rem;
    margin: 2.5rem 0 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;

    @media (min-width: $grid-breakpoint-medium) {
      column-count: 2;
      column-gap: $spacer-unit;
    }
  }

  &__list-item {
    padding: calc($spacer-unit / 2) 0;
    font-family: $font-roboto;
    font-size: 1.1rem;
    break-inside: avoid;
  }

  &__year-range {
    margin-left: calc($spacer-unit / 2);
    font-size: 0.9rem;
    font-family: $font-open-sans;
  }

  &__alpha-label {
    background-color: $color-yellow;
    color: $color-black;
    text-transform: uppercase;
    padding: 0.2rem 0.5rem;
    margin-left: 0.5rem;
    vertical-align: 2px;
    font-weight: 700;
    font-size: 0.85rem;
  }

  &__information-box {
    padding: calc($spacer-unit / 1.5) $spacer-unit;
    background-color: $color-grey;
  }
}
