.homepage-cards {
  &__outer-container {
    padding-top: $space-8;
    padding-bottom: 0;

    h2 {
      display: none;

      @media (max-width: $grid-breakpoint-medium) {
        @include heading_text;
        @include header($typography-header-h2-size);

        display: contents;
        margin-left: 0;
        text-wrap: wrap;
      }
    }

    @include container;

    @media (max-width: $grid-breakpoint-medium) {
      padding: 0;
    }
  }

  &__inner-container {
    display: flex;
    flex-direction: row;
    gap: $space-4;

    margin-left: 0;
    padding-top: $space-8;

    @media (max-width: $grid-breakpoint-medium) {
      flex-direction: column;
      margin: $space-4;
      padding: $space-4;
      border: 3px solid $color-yellow;
    }
  }

  &__info-cards-home {
    display: flex;
    flex: 1;
    flex-direction: row;

    text-decoration: none;

    background-color: colour-var("accent-background-light");
    border-top: 4px solid $color-yellow;

    &:hover {
      background-color: colour-var("accent-background");
    }

    @media (max-width: $grid-breakpoint-medium) {
      height: 1.5rem;
      margin-left: 0;
      background-color: transparent;
      border-top: none;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &__image {
    @media (max-width: $grid-breakpoint-medium) {
      display: none;
    }

    @media (width <= 1199px) {
      display: none;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: $space-2;
    padding: $space-2 $space-4;

    @media (max-width: $grid-breakpoint-medium) {
      padding: 0;
    }
  }

  &__heading {
    margin: 0;
    color: colour-var("link");
    text-decoration: underline;
    text-decoration-color: colour-var("link");

    &:hover {
      color: $color-dark-blue;
      text-decoration: none;
    }

    @media (max-width: $grid-breakpoint-medium) {
      text-wrap: nowrap;
    }
  }

  &__heading:visited {
    color: colour-var("link-visited");
    text-decoration-color: colour-var("link-visited");
    text-decoration-line: underline;
  }

  &__heading:hover {
    color: colour-var("link");
    text-decoration: none;
  }

  &__body-text {
    margin: 0;

    font-size: $typography-sm-text-size;
    line-height: $space-5;
    color: colour-var("accent-font-base");
    text-decoration: none;

    @media (max-width: $grid-breakpoint-medium) {
      display: none;
    }
  }
}
