.sub-footer {
  background-color: $color__light-grey;
  margin: calc($spacer__unit * 2.5) 0 0;

  &__container {
    @include container;
    text-align: center;
    padding: calc($spacer__unit * 2);

    h2 {
      margin-top: 0;
      font-weight: normal;
      font-size: 1.3rem;
    }
  }

  &__cta-button {
    @include call-to-action-button-secondary;
    &:visited  {
      color: #ffffff;
    }
  }
}
