@mixin info-card {
  display: flex;
  flex: 33%;
  flex-direction: column;
  gap: $space-4;

  padding: $space-8 $space-4;
  border-top: 4px solid $color-yellow;

  text-decoration: none;

  background-color: colour-var("accent-background-light");

  &:focus {
    outline-offset: $space-2;
  }

  &:hover {
    background-color: colour-var("accent-background");

    h3 {
      text-decoration: none;
    }
  }

  h3 {
    margin: 0;
    color: colour-var("link");
    text-decoration: underline;
    text-decoration-color: colour-var("link");

    &:hover {
      color: colour-var("link-hover");
    }
  }

  p {
    margin: 0;
    color: colour-var("accent-font-base");
  }

  @media (min-width: $grid-breakpoint-medium) {
    max-width: 30%;
  }
}

@mixin info-cards {
  display: flex;
  flex-direction: column;
  gap: $space-4;

  @media (min-width: $grid-breakpoint-medium) {
    flex-direction: row;
  }
}

.info-cards {
  @include info-cards;
}

.info-cards--light {
  @include info-cards;

  gap: $space-12;
}

.info-card {
  @include info-card;
}

.info-card--light {
  @include info-card;

  padding: 0;
  border: 0;
  background: colour-var("background");

  &:hover {
    background: colour-var("background");
  }
}
