.info-box {
  padding: $space-8;
  background-color: colour-var("accent-background-light");
  border: transparent;
}

.info-box__heading {
  margin-top: 0;
  font-size: $typography-lg-text-size;
  font-weight: $typography-bold-font-weight;
}
