.catalogue-card {
  @include container;

  margin: 0 auto $space-12;

  h2 {
    margin: 0 0 $space-4;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      padding: $space-2;
      border: 2px solid $color-yellow;
    }

    td {
      word-break: break-word;
    }

    th {
      text-align: left;
    }
  }
}
