.judgment-toolbar {
  background-color: $color-light-grey;
  color: $color-black;
  padding: $space-4;
  border-bottom: 0.125rem solid $color-grey;

  &__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

    @include container;

    > div {
      @media (max-width: $grid-breakpoint-small) {
        text-align: center;
        display: block;
        padding: $space-1 $space-4;
      }
    }
  }

  a {
    padding: $space-2 $space-12;
    display: inline-block;
    text-decoration: none;
    outline-offset: 3px;
    margin: 0;

    &.btn {
      @include call-to-action-button;
      margin-bottom: $space-1 !important;
    }

    &.btn-related-document {
      @include call-to-action-button-secondary;
      margin-bottom: $space-1 !important;
      margin-right: $space-4;
    }

    @media (min-width: $grid-breakpoint-small) {
      padding: $space-2 $space-6;
    }
  }

  &__press-summary-title {
    text-wrap: balance;
    margin-top: -1 * $space-4;
    margin-bottom: 0;
    background-color: $color-yellow;
    color: $color-almost-black;
    padding: $space-1 $space-2;
    text-align: center;
  }

  &__title {
    text-wrap: balance;
    margin-top: $space-4;
    margin-bottom: 0;
    color: $color-almost-black;
    text-align: center;
  }

  &__reference {
    text-wrap: balance;
    margin-top: $space-2;
    margin-bottom: $space-4;
    font-size: $typography-xl-text-size;
    color: $color-almost-black;
    text-align: center;
  }
}

.judgment-toolbar-buttons {
  margin: 0 auto;

  &__option--related-document {
    text-align: center;
  }

  &__option--pdf {
    text-align: center;
  }

  &__option--download-options {
    color: $color-dark-grey;
    font-size: $typography-md-text-size;
    text-align: center;

    a {
      background-color: transparent;
      color: $color-aqua-blue;
      padding: 1px;
      display: inline;
      text-decoration: underline;
      font-size: $typography-md-text-size;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
