.judgment-listing {
  &__list {
    &--last-page {
      margin-bottom: 0;
    }

    padding: 0;
    list-style-type: none;

    li {
      padding: $space-4 $space-1;
      border-bottom: 1px dotted $color-yellow;

      display: flex;
      flex-direction: column;
      gap: $space-4;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__judgment {
    line-height: $typography-2xl-line-height;

    @media (min-width: $grid-breakpoint-medium) {
      display: flex;
      justify-content: space-between;
    }

    > span:first-child {
      @media (min-width: $grid-breakpoint-medium) {
        flex-basis: 75%;
      }
    }
  }

  &__matches {
    line-height: $typography-md-line-height;
    p {
      display: inline;
    }
  }

  &__matches {
    p:not(:last-child):after {
      content: " | ";
      color: #888888;
    }
  }

  &__title {
    display: block;
    font-weight: $typography-normal-font-weight;
    font-size: $typography-md-text-size;
    font-family: $font-roboto;
    margin-bottom: $space-2;
    line-height: $typography-lg-line-height;
  }

  &__court {
    font-size: $typography-sm-text-size;
  }

  &__neutralcitation {
    display: block;
    font-size: $typography-sm-text-size;
    color: $color-dark-grey;

    @media (min-width: $grid-breakpoint-medium) {
      text-align: right;
    }

    @media (max-width: $grid-breakpoint-medium) {
      margin-top: 0;
    }
  }

  &__date {
    display: block;
    font-size: $typography-sm-text-size;
    color: $color-dark-grey;

    @media (min-width: $grid-breakpoint-medium) {
      text-align: right;
    }
  }

  &__result-term-matching {
    display: block;
    margin-bottom: $space-2;
    color: $color-dark-grey;
    font-size: $typography-sm-text-size;

    @media (max-width: $grid-breakpoint-medium) {
      margin-top: $space-2;
    }
  }

  &__exact-match-label {
    background-color: $color-yellow;
    display: inline-block;
    padding: $space-1 $space-2;
    font-size: $typography-sm-text-size;
    margin-bottom: $space-2;
  }
}
