.judgment-text-source {
  background-color: $color-light-grey;
  padding: calc($spacer-unit / 2);
  border-bottom: 0.125rem solid $color-grey;

  &__container {
    margin: auto;
    text-align: center;

    @media (min-width: $grid-breakpoint-medium) {
      max-width: 40rem;
    }

    @media (min-width: $grid-breakpoint-medium) {
      max-width: 46rem;
    }

    p {
      font-size: 1.3rem;
      line-height: 2.4rem;
      font-family: $font-roboto;
    }
    a {
      color: $color-black;
    }
  }
}
