.judgment-listing {
  &__list {
    margin-top: $spacer-unit;

    &--last-page {
      margin-bottom: 0;
    }

    padding: 0;
    list-style-type: none;

    li {
      padding: $spacer-unit calc($spacer-unit / 4) $spacer-unit
        calc($spacer-unit / 4);
      border-bottom: 1px dotted $color-yellow;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__judgment {
    padding: 0 0 $spacer-unit 0;
    line-height: 2rem;

    @media (min-width: $grid-breakpoint-medium) {
      display: flex;
      justify-content: space-between;
    }

    > span:first-child {
      @media (min-width: $grid-breakpoint-medium) {
        flex-basis: 75%;
      }
    }
  }

  &__matches {
    line-height: 1.7em;
    p {
      display: inline;
    }
  }

  &__matches {
    p:not(:last-child):after {
      content: " | ";
      color: #888888;
    }
  }

  &__title {
    display: block;
    font-weight: normal;
    font-size: 1.1rem;
    font-family: $font-roboto;
    margin-bottom: 0.5rem;
    line-height: 1.6rem;
  }

  &__court {
    font-size: 0.9rem;
  }

  &__neutralcitation {
    display: block;
    font-size: 0.9rem;
    color: $color-dark-grey;

    @media (min-width: $grid-breakpoint-medium) {
      text-align: right;
    }

    @media (max-width: $grid-breakpoint-medium) {
      margin-top: 0;
    }
  }

  &__date {
    display: block;
    font-size: 0.9rem;
    color: $color-dark-grey;

    @media (min-width: $grid-breakpoint-medium) {
      text-align: right;
    }
  }

  &__result-term-matching {
    display: block;
    margin-bottom: calc($spacer-unit / 2);
    color: $color-dark-grey;
    font-size: 0.9rem;

    @media (max-width: $grid-breakpoint-medium) {
      margin-top: calc($spacer-unit / 2);
    }
  }

  &__exact-match-label {
    background-color: $color-yellow;
    display: inline-block;
    padding: calc(0.25 * $spacer-unit) calc(0.5 * $spacer-unit);
    font-size: 0.8rem;
    margin-bottom: calc(0.5 * $spacer-unit);
  }
}
