.judgment-download-options {
  max-width: 90%;
  margin: 0 auto $space-12;

  &__header {
    display: inline-block;
    margin: 0 0 $space-4;
  }

  &__options-list {
    display: flex;
    flex-direction: column;
    gap: $space-4;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
    }
  }

  &__download-option {
    display: flex;
    flex-direction: column;
    gap: $space-6;
    align-items: center;

    padding: $space-6;

    border: 2px solid $color-yellow;

    .btn {
      @include call-to-action-button;

      margin: 0;
    }

    .btn__label {
      font-size: $typography-sm-text-size;
      font-weight: $typography-normal-font-weight;
    }
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin: 0;
    text-align: center;
  }

  @media (min-width: $grid-breakpoint-medium) {
    max-width: 46rem;
  }
}
