.judgment-toolbar {
  padding: $space-4;
  border-bottom: 0.125rem solid colour-var("accent-border");

  color: colour-var("accent-font-base");
  text-align: center;

  background-color: colour-var("accent-background-light");

  &__related-document-button {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    outline-offset: 3px;
  }

  &__container {
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
    align-items: center;

    margin: auto;

    @include container;

    > div {
      @media (max-width: $grid-breakpoint-small) {
        display: block;
        padding: 0;
        padding-bottom: $space-6;
        text-align: center;
      }
    }
  }

  &__download-options-link {
    position: relative;

    display: inline-block;

    margin: 0;

    font-size: $typography-md-text-size;
    color: colour-var("link");
    text-decoration: none;
    text-decoration: underline;

    background: url($fa_chevron_down_link_blue) right no-repeat;
    background-color: transparent;
    background-size: $space-5;
    outline-offset: 3px;

    &:hover {
      text-decoration: none;
    }

    @media (max-width: $grid-breakpoint-medium) {
      margin-left: 0;
      padding-right: $space-6;
      background-position: right $space-2;
    }

    @media (min-width: $grid-breakpoint-small) {
      padding-right: $space-8;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: $space-12;
    align-items: center;

    padding: $space-4 0;
  }

  &__press-summary-title {
    margin-top: -1 * $space-4;
    margin-bottom: 0;
    padding: $space-1 $space-2;

    color: colour-var("accent-font-base");
    text-align: center;
    text-wrap: balance;

    background-color: $color-yellow;
  }

  &__title {
    margin-top: $space-4;
    margin-bottom: 0;

    color: colour-var("accent-font-base");
    text-align: center;
    text-wrap: balance;
  }

  &__reference {
    margin-top: $space-2;
    margin-bottom: $space-1;

    font-size: $typography-2lg-text-size;
    color: colour-var("accent-font-base");
    text-align: center;
    text-wrap: balance;

    @media (max-width: $grid-breakpoint-medium) {
      margin-top: $space-4;
      font-size: $typography-lg-text-size;
    }
  }

  @media (max-width: $grid-breakpoint-medium) {
    padding: 0;
  }
}
