.judgment-toolbar {
  padding: $space-4;
  color: $color-black;
  background-color: $color-light-grey;
  border-bottom: 0.125rem solid $color-grey;

  &__container {
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
    align-items: center;

    margin: auto;

    @include container;

    > div {
      @media (max-width: $grid-breakpoint-small) {
        display: block;
        padding: 0;
        text-align: center;
      }
    }
  }

  a {
    display: inline-block;

    margin: 0;
    padding: $space-2 $space-12;

    text-decoration: none;

    outline-offset: 3px;

    &.btn {
      @include call-to-action-button;

      margin-bottom: $space-1 !important;
    }

    &.btn-related-document {
      @include call-to-action-button-secondary;

      margin-right: $space-4;
      margin-bottom: $space-1 !important;
    }

    @media (min-width: $grid-breakpoint-small) {
      padding: $space-2 $space-6;
    }
  }

  &__press-summary-title {
    margin-top: -1 * $space-4;
    margin-bottom: 0;
    padding: $space-1 $space-2;

    color: $color-almost-black;
    text-align: center;
    text-wrap: balance;

    background-color: $color-yellow;
  }

  &__title {
    margin-top: $space-4;
    margin-bottom: 0;

    color: $color-almost-black;
    text-align: center;
    text-wrap: balance;
  }

  &__reference {
    margin-top: $space-2;
    margin-bottom: $space-4;

    font-size: 1.8rem;
    color: $color-almost-black;
    text-align: center;
    text-wrap: balance;

    @media (max-width: $grid-breakpoint-medium) {
      margin-top: $space-4;
      font-size: 1.6rem;
    }
  }
}

.judgment-toolbar-buttons {
  margin: 0 auto;

  &__pdf-size {
    font-size: $typography-sm-text-size;
    font-weight: $typography-normal-font-weight;
  }

  &__option--related-document {
    text-align: center;
  }

  &__option--pdf {
    text-align: center;
  }

  &__option--download-options {
    font-size: $typography-md-text-size;
    color: $color-dark-grey;
    text-align: center;

    a {
      position: relative;

      display: inline-block;

      margin: 0 0 0 $space-2;
      padding: $space-7;

      font-size: $typography-md-text-size;
      color: $color-aqua-blue;
      text-decoration: underline;

      background: url($fa_chevron_down_link_blue) right no-repeat;
      background-color: transparent;
      background-size: $space-5;

      &:hover {
        text-decoration: none;
      }

      @media (max-width: $grid-breakpoint-medium) {
        padding: $space-6;
      }
    }
  }
}
