.judgment-download-options {
  max-width: 90%;
  margin: 0 auto $space-12;

  &__header {
    display: inline-block;
    margin-bottom: $space-8;
    padding-bottom: $space-2;
  }

  &__options-list {
    display: flex;
    flex-direction: column;
    gap: $space-4;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
    }
  }

  &__download-option {
    padding: $space-4;
    border: 2px solid $color-yellow;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }

  @media (min-width: $grid-breakpoint-medium) {
    max-width: 46rem;
  }
}
