.judgment-end-document-marker {
  width: 100%;
  max-width: 90%;
  height: $space-4;
  margin: auto;
  margin-bottom: $space-17;
  border: 1px dashed colour-var("black");
  border-top: none;

  text-align: center;

  &__top-link {
    display: inline-block;
    padding: $space-2;
    padding-top: $space-1;
    background-color: brand-colour("white");

    a {
      display: none;
      margin-top: $space-6;

      &::before {
        content: " ";

        position: relative;
        top: 2px;

        display: inline-block;

        width: $space-4;
        height: $space-4;
        margin: 0 $space-2 0 0;

        background: url($fa_chevron_up_link_blue) left no-repeat;
        background-size: contain;
      }

      &:visited {
        color: colour-var("link-visited");
      }

      &:hover {
        color: colour-var("link");

        &::before {
          background-image: url($fa_chevron_up_link_hover_blue);
        }
      }

      &.with-js {
        display: inline-block;
      }
    }
  }

  @media (min-width: $grid-breakpoint-medium) {
    max-width: 40rem;
  }

  @media (min-width: $grid-breakpoint-medium) {
    max-width: 46rem;
  }
}
