.judgment-toolbar {

  background-color: $color__light-grey;
  color: $color__black;
  padding: $spacer__unit;
  border-bottom: 0.125rem solid $color__grey;

  &__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

    @include container;

    > div {
      @media (max-width: $grid__breakpoint-small) {
        text-align: center;
        display: block;
        padding: 0.25rem $spacer__unit;
      }
    }

  }

  a {
    padding: calc($spacer__unit / 2) calc($spacer__unit * 3);
    display: inline-block;
    text-decoration: none;
    outline-offset: 3px;
    margin: 0;

    &.btn {
      @include call-to-action-button;
      margin-bottom: calc($spacer__unit / 3) !important;
    }

    @media (min-width: $grid__breakpoint-small) {
      padding: calc($spacer__unit / 2) calc($spacer__unit * 1.5);
    }
  }

  &__return-link {

    @include container;

    a {
      background: transparent url($fa_chevron_left_aqua_blue) 1.5rem 0.65rem no-repeat;
      background-size: 0.75rem;
      color: $color__aqua-blue;
      padding: calc($spacer__unit / 2) calc($spacer__unit * 3);
      margin: 0;
      display: inline-block;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }


      @media (min-width: $grid__breakpoint-small) {
        background: transparent url($fa_chevron_left_aqua_blue) 0rem 0.65rem no-repeat;
        padding: calc($spacer__unit / 2) calc($spacer__unit * 1.2);
        background-size: 0.75rem;
      }
    }
  }

  &__title {
    margin: 1rem 0;
    color: $color__almost-black;
    text-align: center;
  }
}

.judgment-toolbar-download {

  margin: 0 auto;


  &__option--pdf {
    text-align: center;
  }

  &__download-options {
    color: $color__dark-grey;
    font-size: 0.75rem;


    a {
      background-color: transparent;
      color: $color__aqua-blue;
      padding: 1px;
      display: inline;
      text-decoration: underline;
      font-size: 1rem;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
