.judgment-listing {
  &__list {
    padding: 0;
    list-style-type: none;

    &--last-page {
      margin-bottom: 0;
    }

    li {
      display: flex;
      flex-direction: column;
      gap: $space-4;

      padding: $space-4 $space-1;

      border-bottom: 1px dotted $color-yellow;
    }
  }

  &__judgment {
    line-height: $typography-2xl-line-height;

    > span:first-child {
      @media (min-width: $grid-breakpoint-medium) {
        flex-basis: 75%;
      }
    }

    @media (min-width: $grid-breakpoint-medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__matches {
    line-height: $typography-md-line-height;

    p {
      display: inline;
    }
  }

  &__matches {
    p:not(:last-child)::after {
      content: " | ";
      color: colour-var("font-base");
    }
  }

  &__title {
    display: block;

    margin-bottom: $space-2;

    font-family: $font-roboto;
    font-size: $typography-md-text-size;
    font-weight: $typography-normal-font-weight;
    line-height: $typography-lg-line-height;
  }

  &__court {
    font-size: $typography-sm-text-size;
  }

  &__neutralcitation {
    display: block;
    font-size: $typography-sm-text-size;
    color: colour-var("font-base");

    @media (min-width: $grid-breakpoint-medium) {
      text-align: right;
    }

    @media (max-width: $grid-breakpoint-medium) {
      margin-top: 0;
    }
  }

  &__date {
    display: block;
    font-size: $typography-sm-text-size;
    color: colour-var("font-base");

    @media (min-width: $grid-breakpoint-medium) {
      text-align: right;
    }
  }

  &__result-term-matching {
    display: block;
    margin-bottom: $space-2;
    font-size: $typography-sm-text-size;
    color: colour-var("font-base");

    @media (max-width: $grid-breakpoint-medium) {
      margin-top: $space-2;
    }
  }

  &__exact-match-label {
    display: inline-block;

    margin-bottom: $space-2;
    padding: $space-1 $space-2;

    font-size: $typography-sm-text-size;

    background-color: $color-yellow;
  }
}
