.judgment-body {
  &__anchor-link {
    position: relative;

    &:hover {
      .judgment-body__copy-link-tooltip {
        opacity: 1;
      }
    }
  }

  &__copy-link {
    position: absolute;
    top: 0;
    left: -30px;

    width: 22px;
    height: 22px;
    padding-right: 8px;

    opacity: 0;

    transition: opacity ease 0.3s;
  }

  &__copy-link-tooltip {
    user-select: none;

    position: absolute;
    top: -8px;
    right: 30px;

    padding: 5px 10px;
    border: 1px solid colour-var("input-border");

    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: colour-var("link");
    text-decoration: underline;
    white-space: nowrap;

    opacity: 0;
    background: colour-var("background");

    transition: opacity ease 0.3s;

    &::after {
      content: "";

      position: absolute;
      top: 11px;
      right: -5px;
      transform: rotate(45deg);

      width: 8px;
      height: 8px;
      border-top: 1px solid colour-var("input-border");
      border-right: 1px solid colour-var("input-border");

      background: colour-var("background");
    }
  }

  &__copy-link-tooltip--top {
    top: -40px;
    right: auto;
    left: -20px;

    &::after {
      inset: auto auto -5px 18px;
      transform: rotate(135deg);
    }
  }

  &__copy-link-tooltip--show {
    color: colour-var("font-dark");
    text-decoration: none;
    opacity: 1;
  }
}
