.judgment-download-options {
  max-width: 90%;
  margin: 0 auto calc($spacer-unit * 3) auto;

  @media (min-width: $grid-breakpoint-medium) {
    max-width: 46rem;
  }

  &__header {
    padding-bottom: calc($spacer-unit * 0.5);
    margin-bottom: calc($spacer-unit * 2);
    display: inline-block;
  }

  &__options-list {
    display: flex;
    flex-direction: column;
    gap: $spacer-unit;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
    }
  }

  &__download-option {
    border: 2px solid $color-yellow;
    padding: $spacer-unit;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}
