.judgment-text-source {
  background-color: $color__light-grey;
  padding: calc($spacer__unit / 2);
  border-bottom: 0.125rem solid $color__grey;

  &__container {
    margin: auto;
    text-align: center;

    @media (min-width: $grid__breakpoint-medium) {
      max-width: 40rem;
    }

    @media (min-width: $grid__breakpoint-medium) {
      max-width: 46rem;
    }

    p {
      font-size: 1.3rem;
      line-height: 2.4rem;
      font-family: $font__roboto;
    }
    a {
      color: $color__black;
    }
  }
}
