.judgments-table {
  padding-top: $space-8;

  &__heading {
    display: none;
    min-width: 125px;
    font-weight: $typography-bold-font-weight;

    @media (max-width: $grid-breakpoint-large) {
      display: inline-block;
    }
  }

  h1 {
    margin: 0;
    font-size: $typography-xl-text-size;
    font-weight: $typography-normal-font-weight;

    @media (max-width: $grid-breakpoint-large) {
      font-size: $typography-lg-text-size;
    }
  }

  &__title {
    margin-bottom: $space-2;
    font-size: $typography-md-text-size;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: $typography-xs-text-size;

    thead {
      th {
        padding: $space-2 0;
        border-bottom: 1px solid colour-var("input-border");

        font-family: $typography-display-font-family;
        font-weight: $typography-bold-font-weight;
        text-align: left;
        white-space: nowrap;

        @media (max-width: $grid-breakpoint-medium) {
          display: none;
          border-bottom: 0;

          &:first-child {
            display: block;
          }
        }
      }
    }

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: 1px solid colour-var("input-border");
          }
        }
      }

      td {
        min-width: 200px;
        padding: $space-4 0;
        border-bottom: 1px solid colour-var("keyline-dark");

        text-align: left;
        vertical-align: top;

        &:last-child {
          min-width: 115px;
        }
      }

      @media (max-width: $grid-breakpoint-medium) {
        display: flex;
        flex-direction: column;
        gap: $space-4;

        tr {
          display: flex;
          flex-direction: column;
          gap: $space-2;

          padding-bottom: $space-4;
          border-bottom: 1px solid colour-var("accent-background-light");

          &:last-child {
            td {
              border: none;
            }
          }

          td {
            display: block;
            padding: 0;
            border: none;
          }
        }
      }
    }
  }

  @media (max-width: $grid-breakpoint-medium) {
    padding-top: $space-2;
  }
}
