.judgment-text-source {
  padding: $space-2;
  background-color: colour-var("accent-background-light");
  border-bottom: 0.125rem solid colour-var("accent-border");

  &__container {
    margin: auto;
    text-align: center;

    p {
      font-family: $font-roboto;
      font-size: $typography-lg-text-size;
      line-height: 2.4rem;
    }

    a {
      color: colour-var("font-base");
    }

    @media (min-width: $grid-breakpoint-medium) {
      max-width: 46rem;
    }
  }
}
