.judgment {
  max-width: 90%;
  margin: auto;
  margin-bottom: calc($spacer__unit * 4);
  font-size: 1.2rem;
  line-height: 1.3;
  font-family: $font__serif;

  @media (min-width: $grid__breakpoint-medium) {
    font-size: 1.1rem;
    max-width: 40rem;
  }

  @media (min-width: $grid__breakpoint-medium) {
    font-size: 1rem;
    max-width: 46rem;
  }
}

.judgment-header {

  &__logo {
    padding-top: $spacer__unit * 3;

    img {
      display: block;
      margin: auto;
    }
  }

  &__neutral-citation {
    padding-top: $spacer__unit;
    text-decoration: underline;

    span {
      font-weight: bolder;
      display: inline-block;
      text-decoration: underline;
    }
  }

  &__case-number {
    padding-top: $spacer__unit;
    text-decoration: underline;
    text-align: right;

    h1 {
      font-size: 1rem;
    }
  }

  &__court {
    padding-top: $spacer__unit;
    font-weight: bold;
    text-decoration: underline;
  }

  &__address {
    padding-top: $spacer__unit;
    font-style: normal;
    text-decoration: underline;
    text-align: right;
  }

  &__date {
    padding-top: $spacer__unit;
    font-style: normal;
    text-decoration: underline;
    text-align: right;
  }

  &__before {
    padding-top: $spacer__unit;
    text-align: center;
    font-weight: bold;

    h2 {
      font-size: 1rem;
    }
  }

  &__between {

    h2 {
      font-size: $spacer__unit;
      text-align: center;
    }
  }

  @media (min-width: $grid__breakpoint-medium) {

    &__party {
      @include three-columns($spacer__unit);
      font-weight: bold;
    }

    &__and-separator {
      text-align: center;
      font-weight: bold;

      &--between {
        text-align: center;
        font-weight: bold;
        margin-top: $spacer__unit;
        margin-bottom: $spacer__unit;
      }
    }
  }

  &__line-separator {
    text-align: center;
  }

  &__queens-counsel {

    @media (min-width: $grid__breakpoint-medium) {


      h2 {
        @include sr-only;
      }

      ul {
        padding: 0;
      }

      li {
        list-style: none;
        text-align: center;

        span {
          font-weight: bold;
        }
      }

    }
  }

  &__hearing-dates {
    text-align: center;

    h2 {
      @include sr-only;
    }
  }

  &__approved-judgment {
    text-align: center;
  }
}

.judgment-body {
  h2 {
    @include sr-only;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-weight: normal;
    font-style: italic;
  }

  &__number {
    &:target {
      animation-duration: 1.5s;
      animation-name: emphasis-border;

      + .judgment-body__text {
        animation-duration: 1.5s;
        animation-name: emphasis;
      }
    }
  }

  &__section {
    @media (min-width: $grid__breakpoint-medium) {
      display: grid;
      grid-template-columns: 1fr 15fr;
      grid-template-rows: 1fr;
      gap: 0 $spacer__unit * 0.5;
      grid-template-areas: ". .";
    }
  }


  &__nested-section {
    @media (min-width: $grid__breakpoint-medium) {
      display: grid;
      grid-template-columns: 1fr 24fr;
      grid-template-rows: 1fr;
      gap: 0 $spacer__unit * 0.5;
      grid-template-areas: ". .";
    }
  }

  &__indent {
    margin-left: $spacer__unit;
  }

  &__no-margin-top {
    margin-top: 0;
  }
}

.judgment-download {
  background-color: $color__almost-black;
  padding: calc($spacer__unit / 2);
  color: $color__white;
  text-align: center;

  &__container {
    margin: auto;
    @media (min-width: $grid__breakpoint-medium) {
      max-width: 40rem;
    }

    @media (min-width: $grid__breakpoint-medium) {
      max-width: 46rem;
    }
  }

  &__list {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      display: inline-block;
      margin-left: 1rem;
    }
  }

  &__description {
    @include sr-only
  }

  a {
    @include link-on-dark-bg;
    background-image: url($fa_download);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: calc($spacer__unit / 4) calc($spacer__unit / 4);
    padding: calc($spacer__unit * .3) ;
    padding-left: calc($spacer__unit * 2);
  }
}
