@mixin container {
  padding: 0 $gutter_unit;
  margin: auto;

  max-width: $grid__breakpoint-small - ($gutter_unit * 1);

  @media (min-width: $grid__breakpoint-medium) {
    max-width: $grid__breakpoint-medium - ($gutter_unit * 1.5);
  }

  @media (min-width: $grid__breakpoint-large) {
    max-width: $grid__breakpoint-large - ($gutter_unit * 2);
  }

  @media (min-width: $grid__breakpoint-extra-large) {
    max-width: $grid__breakpoint-extra-large - ($gutter_unit * 2);
  }
}

body {
  margin: 0;
  font-family: $font__open-sans;
}
