@mixin container {
  max-width: $grid-breakpoint-small - ($gutter_unit * 1);
  margin: auto;
  padding: 0 $gutter_unit;

  @media (min-width: $grid-breakpoint-medium) {
    max-width: $grid-breakpoint-medium - ($gutter_unit * 1.5);
  }

  @media (min-width: $grid-breakpoint-large) {
    max-width: $grid-breakpoint-large - ($gutter_unit * 2);
  }

  @media (min-width: $grid-breakpoint-extra-large) {
    max-width: $grid-breakpoint-extra-large - ($gutter_unit * 2);
  }
}

body {
  margin: 0;
  font-family: $font-open-sans;
}

html {
  scroll-behavior: smooth;
}

.container {
  @include container;
}

#main-content {
  overflow-x: hidden;

  @media (min-width: $grid-breakpoint-medium) {
    overflow-x: visible;
  }
}
