#skip-to-main-content {
  position: absolute;
  top: -3rem;

  &:focus {
    background-color: $color__white;
    padding: calc($spacer__unit / 3);
    color: $color__black;
    top: 0.313rem;
    left: 0.313rem;
    outline: 0.313rem solid $color__white;
    border: 0.19rem solid $color__black;
    z-index: 999;
  }
}

.anchor-links {
  &__list {
    padding: 0;
    list-style: none;
    margin-bottom: calc($spacer__unit / 2);
    padding-block: $spacer__unit;
  }

  &__list-option {
    font-family: $font__roboto;
    padding-block: 0 $spacer__unit;
  }
}
