#skip-to-main-content {
  position: absolute;
  top: -3rem;

  &:focus {
    z-index: 999;
    top: 0.313rem;
    left: 0.313rem;

    padding: $space-1;

    color: colour-var("accent-link");

    background-color: $color-white;
    border: 0.19rem solid colour-var("accent-link");
    outline: 0.313rem solid $color-white;
  }
}

.anchor-links {
  position: relative;
  top: 15px;

  margin-right: $space-4;
  margin-bottom: $space-16;
  padding: 0 $space-8;

  border: 2px solid $color-yellow;

  &__header {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: $space-4;
  }

  &__list {
    margin-bottom: $space-2;
    padding: 0;
    padding-block: $space-4;
    list-style: none;
  }

  &__list-option {
    padding-block: 0 $space-4;
    font-family: $font-roboto;
  }
}
