#skip-to-main-content {
  position: absolute;
  z-index: 999;
  top: 0.313rem;
  left: 0.313rem;

  padding: $space-1;
  border: 0.19rem solid colour-var("accent-link");

  color: colour-var("accent-link");

  opacity: 0;
  background-color: colour-var("accent-background");
  outline: 0.313rem solid colour-var("accent-background");

  &:focus {
    left: 5%;
    transform: translateX(-50%);
    opacity: 1;

    @media only screen and (max-width: $grid-breakpoint-small) {
      left: 30%;
      padding: 0;
    }
  }
}

.anchor-links {
  position: relative;
  top: 15px;

  margin-right: $space-4;
  margin-bottom: $space-16;
  padding: 0 $space-8;
  border: 2px solid $color-yellow;

  &__header {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: $space-4;
  }

  &__list {
    margin-bottom: $space-2;
    padding: 0;
    padding-block: $space-4;
    list-style: none;
  }

  &__list-option {
    padding-block: 0 $space-4;
    font-family: $font-roboto;
  }
}
