@mixin three-columns($unit) {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  gap: 6px 6px;

  div {
    padding: calc($unit / 4);

    &:first-child {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      text-align: center;
    }
  }

  h3 {
    font-size: 1rem;
    margin: 0;
    text-decoration: underline;
  }
}

@mixin sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 0.125rem;
  height: 0.125rem;
  overflow: hidden;
}

@mixin call-to-action-button {
  background-color: $color__cta-background;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  color: $color__white;
  padding: 1rem 1.3rem;
  display: inline-block;
  margin-top: 1em;
  font-size: 1rem;

  &:focus,
  &:hover {
    @include focus-default;
    color: $color__white !important;
    background-color: $color__cta-background-hover;
    outline-color: $color__cta-background-hover;
    border-color: $color__cta-background-hover;
    text-decoration: underline;
    outline-offset: 0.2rem;
  }
}

@mixin call-to-action-button-secondary {
  @include call-to-action-button;
  background-color: transparent;
  padding: 0.875rem 1.175rem;
  color: $color__cta-background !important;
  border: 2px solid $color__cta-background;
}

@mixin emphasised-block {
  padding: $spacer__unit;

  background-color: $color__light-grey;
  border-left: 0.5rem solid $color__highlight-blue;
}

@mixin focus-default {
  outline: 5px solid $color__focus-blue-outline;
  outline-offset: 0;
  z-index: 999;
}

@mixin link-on-dark-bg {
  color: $color__white;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: $color__white;
  }

  &:visited {
    color: $color__white;
  }

  &:active {
    color: $color__white;
  }

  &:focus {
    @include focus-default;
    outline-color: $color__white;
  }
}

@mixin text_field {
  border: 2px solid $color__dark-grey;
  padding: calc($spacer__unit / 2);
  margin-bottom: $spacer__unit;
  margin-top: calc($spacer__unit / 2);
  background-color: $color__white;
  width: 80%;
  font-family: $font__open-sans;
  font-size: 1rem;

  &:focus {
    @include focus-default;
  }
}

@mixin select {
  font-size: $spacer__unit;
  color: #444;
  line-height: 1.3;
  padding: 0.375rem;
  margin-top: calc($spacer__unit / 2);
  margin-bottom: $spacer__unit;
  width: 80%;
  box-sizing: border-box;
  border: 2px solid $color__dark-grey;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $color__white;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7rem top 50%, 0 0;
  background-size: 0.65rem auto, 100%;

  &::-ms-expand {
    display: none;
  }
  &:hover {
    border-color: #888;
  }
  &:focus {
    @include focus-default;
  }
  option {
    font-weight: normal;
  }
}

@mixin checkbox {
  &:focus {
    @include focus-default;
  }
}

@mixin heading_text {
  font-family: $font__roboto;
  font-weight: normal;
}
