.no-results-message {
  background-color: $color-light-grey;
  padding: $spacer-unit;
  margin-bottom: $spacer-unit;
  border-top: 4px solid $color-yellow;
  border-bottom: 4px solid $color-yellow;
  font-size: 0.9rem;
  h2 {
    position: initial;
    height: initial;
    width: initial;
    padding-top: 0;
  }

  @media (min-width: $grid-breakpoint-large) {
    padding-left: calc(5 * $spacer-unit);
    padding-right: calc(5 * $spacer-unit);
  }
}
