@mixin notification {
  padding: $space-2 $space-4;
  border: 2px solid;
}

@mixin page-notification {
  @include notification;

  margin: $space-4 15% $space-2 15%;

  @media (max-width: $grid-breakpoint-medium) {
    margin: auto 0;
  }
}

.page-notification {
  &--success {
    @include page-notification;

    color: colour-var("green");
    border-color: colour-var("green");
  }

  &--failure {
    @include page-notification;

    color: colour-var("form-error-text");
    border-color: colour-var("form-error-border");
  }
}

@mixin context-notification {
  @include notification;

  display: inline-block;
}

.context-notification {
  &--success {
    @include context-notification;

    color: colour-var("green");
    border-color: colour-var("green");
  }

  &--failure {
    @include context-notification;

    color: colour-var("form-error-text");
    border-color: colour-var("form-error-border");
  }
}
