.phase-banner {
  background-color: $color__yellow;
  color: $color__black;

  &__container {
    @include container;
    padding: calc($spacer__unit / 2) 0;
  }

  &__notice {
    padding: 0.3em 0;

    a {
      color: $color__black;
      font-weight: bold;

      &:focus {
        outline: 0.125rem solid $color__black;
        background-color: $color__white;
        color: $color__black;
      }
    }
  }

  &__phase {
    background-color: $color__white;
    color: $color__black;
    text-transform: uppercase;
    padding: 0 calc($spacer__unit / 4);
    margin-right: $spacer__unit;
    font-weight: 700;
  }

  &__message {
    margin: 0;
    display: inline;
  }
}
