.phase-banner {
  &__beta-phase {
    padding: $space-1 $space-2;

    font-size: $typography-sm-text-size;
    font-weight: 700;
    color: colour-var("font-base");
    text-transform: uppercase;

    background-color: $color-yellow;
  }
}
