.phase-banner {
  color: colour-var("font-base");
  background-color: $color-yellow;

  &__notice {
    padding: 0;

    a {
      font-weight: $typography-bold-font-weight;
      color: colour-var("accent-link");

      &:focus {
        color: colour-var("accent-link");
        background-color: $color-white;
        outline: 0.125rem solid colour-var("accent-link");
      }
    }
  }

  &__phase {
    margin-right: $space-4;
    padding: 0 $space-1;

    font-weight: $typography-bold-font-weight;
    color: colour-var("font-base");
    text-transform: uppercase;

    background-color: $color-white;
  }

  &__beta-phase {
    padding: $space-1 $space-2;

    font-size: $typography-sm-text-size;
    font-weight: 700;
    color: colour-var("font-base");
    text-transform: uppercase;

    background-color: $color-yellow;
  }

  &__message {
    display: inline;
    margin: 0;
  }
}
