.recent-judgments {

  &__container {
    @include container;
    padding: calc($spacer__unit * 4) 0;
  }

  &__header {
    font-family: $font__roboto;
    font-weight: normal;
    font-size: 1.8rem;
    margin: 0 0 calc($spacer__unit * 3);
  }

  &__more-info {
      margin: calc($spacer__unit * 2) 0;
  }
}
