.recent-judgments {
  &__container {
    @include container;
    padding-top: $space-8;
    padding-bottom: $space-8;
  }

  &__header {
    @include heading_text;
    font-size: 1.8rem;
    padding-bottom: $space-6;
    border-bottom: 5px solid $color-yellow;
  }

  &__more-info {
    border: 0;
    font-size: 1rem;
    position: relative;
    padding: 0 0 $space-2;
    font-family: $font-roboto;
    font-weight: normal;

    a {
      margin: $space-1 0;
      padding: $space-1 0;
      display: inline-block;
      border-bottom: 0.125rem solid $color-black;
      text-decoration: none;
      color: $color-black;
    }
  }
}
