.recent-judgments {
  &__container {
    @include container;

    padding-top: 0;
    padding-bottom: $space-8;
  }

  &__header {
    @include heading_text;
    @include header($typography-header-h2-size);

    padding-bottom: $space-6;
    border-bottom: 5px solid $color-yellow;
    font-size: $typography-xl-text-size;

    @media (max-width: $grid-breakpoint-medium) {
      margin-top: 0;
      margin-bottom: 0;
      border-bottom: 1px dotted $color-yellow;
    }
  }

  &__more-info {
    position: relative;

    padding: 0 0 $space-2;
    border: 0;

    font-family: $font-roboto;
    font-size: 1rem;
    font-weight: $typography-normal-font-weight;

    a {
      display: inline-block;

      margin: $space-1 0;
      padding: $space-1 0;
      border-bottom: 0.125rem solid colour-var("accent-link");

      color: colour-var("accent-link");
      text-decoration: none;
    }
  }

  &__more-info-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__cta-button {
    &:visited {
      color: brand-colour("navy");
    }
  }
}
