.results {
  min-height: 60rem;
  margin-bottom: $space-8;

  h1 {
    @include sr-only;
  }

  &__result-header {
    @media (min-width: $grid-breakpoint-large) {
      flex: 1;
    }
  }

  &__result-atom-feed-button-container {
    display: flex;
    flex-direction: column;

    span {
      font-family: $font-roboto;
      font-size: $typography-sm-text-size;
    }

    a {
      display: flex;
      gap: $space-1;
      align-items: center;
      height: 33px;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      gap: $space-3;
      padding-right: $space-6;
    }
  }

  &__result-atom-feed-button {
    position: relative;
    display: flex;
    gap: $space-2;
    align-items: center;

    &:has(.results__result-atom-feed-info:hover),
    &:has(.results__result-atom-feed-info:focus) {
      margin-bottom: 85px;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      margin-right: auto;

      &:has(.results__result-atom-feed-info:hover),
      &:has(.results__result-atom-feed-info:focus) {
        margin-bottom: 0;
      }
    }
  }

  &__result-atom-feed-info {
    &:hover,
    &:focus {
      .results__result-atom-feed-info-text {
        display: block;
      }

      .results__result-atom-feed-info-icon {
        background-image: url($fa_info_solid);
      }
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      position: relative;
    }
  }

  &__result-atom-feed-info-icon {
    width: 24px;
    height: 24px;
    background-image: url($fa_info);
    background-repeat: no-repeat;
  }

  &__result-atom-feed-info-text {
    position: absolute;
    top: 40px;
    left: 0;

    display: none;

    width: 100%;

    @media (min-width: $grid-breakpoint-extra-large) {
      top: 30px;
      left: -107px;
      width: 185px;
    }
  }

  &__result-list-container {
    background-color: colour-var("background");

    h2 {
      @include sr-only;
    }
  }

  &__result-header-container {
    display: flex;
    flex-direction: column;
    gap: $space-4;
    padding-bottom: $space-4;

    @media (min-width: $grid-breakpoint-extra-large) {
      flex-direction: row;
      gap: $space-6;
      align-items: flex-end;
    }
  }

  &__results-intro {
    margin: $space-2 0 0 0;
    font-family: $font-roboto;
    font-size: $typography-xl-text-size;
  }

  fieldset {
    padding: 0;
    border: none;
  }
}
