.result-controls {
  display: inline-block;
  text-align: left;

  form {
    display: flex;
    flex-direction: column;
    gap: $space-4;

    > div {
      display: flex;
      flex-direction: column;
      gap: $space-3;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      gap: 0;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      flex-direction: row;
      gap: $space-4;
    }
  }

  &__label {
    display: block;
    font-family: $font-roboto;
    font-size: $typography-md-text-size;
  }

  &__select {
    @include select;

    display: inline-block;

    width: auto;
    min-width: auto;
    max-height: 32px;
    margin: 0;
    padding: $space-1 $space-6 $space-1 $space-2;

    font-size: $typography-sm-text-size;
  }

  &__button {
    @include button-primary;

    max-height: 32px;
    margin: 0;
    padding: $space-2 $space-3;

    font-size: $typography-sm-text-size;
    font-weight: $typography-normal-font-weight;
    vertical-align: 1px;

    outline-color: $color-dark-blue;

    @media (min-width: $grid-breakpoint-extra-large) {
      margin-top: auto;
    }
  }

  @media (min-width: $grid-breakpoint-extra-large) {
    margin: 0;
    text-align: right;
  }
}
