.result-controls {
  text-align: left;
  display: inline-block;
  margin: $space-4 0 0;

  @media (min-width: $grid-breakpoint-extra-large) {
    text-align: right;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: row;
    gap: $space-4;

    > div {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__label {
    font-family: $font-roboto;
    font-size: $typography-md-text-size;
    margin-bottom: $space-2;
    display: block;
  }

  &__select {
    @include select;
    min-width: auto;
    width: auto;
    padding-right: $space-6;
    display: inline-block;
  }

  &__button {
    @include call-to-action-button;
    margin: $space-9 0 $space-4 0;
    font-size: $typography-sm-text-size;
    outline-color: $color-dark-blue;
    padding: $space-2 $space-3;
    font-weight: $typography-normal-font-weight;
    vertical-align: 1px;
  }
}
