.results {
  min-height: 60rem;

  &__container {
    @include container;
  }

  &__list-layout-container {
    @media (min-width: $grid__breakpoint-medium) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 3fr 1fr;
      gap: 1rem;
    }
  }

  &__result-controls-container {
    @media (min-width: $grid__breakpoint-medium) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &__result-list-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: #fff;

    h2 {
      @include sr-only;
    }
  }

  &__results-intro {
    font-family: $font__roboto;
    font-size: 1.8rem;
    margin: 0 0 calc($spacer__unit * 1.25);
  }

  &__filter-heading {
    @include sr-only;
  }

  &__results-list {
    padding: 0;
    list-style-type: none;

    li {
      padding: calc($spacer__unit * 2) calc($spacer__unit * 2) calc($spacer__unit * 2) 0;
      border-bottom: 0.125rem solid $color__grey;
    }
  }

  &__result-title {
    font-size: 1.5rem;
    font-family: $font__roboto;
  }

  &__result-term-sr {
    @include sr-only;
  }

  &__result-neutral-citation {
    margin-top: calc($spacer__unit / 2);
  }

  &__result-terms {
    margin: 0;
  }

  dd {
    margin-left: 0;
  }

  mark {
    background-color: lighten($color__yellow, 18);
  }

  &__result-term-matching {
    margin: $spacer__unit 0 calc($spacer__unit / 2) 0;
    color: $color__dark-grey;
    font-size: small;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  legend {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__container-extend-search-option {
    background-color: $color__light-grey;
    padding: $spacer__unit calc($spacer__unit * 2);
    margin: $spacer__unit 0;
  }
}
