.results {
  min-height: 60rem;

  h1 {
    @include sr-only;
  }

  &__container {
    @include container;
  }

  &__result-header {
    @media (min-width: $grid__breakpoint-large) {
      margin-bottom: $spacer__unit;
    }
  }

  &__result-list-container {
    background-color: $color__white;

    h2 {
      @include sr-only;
    }
  }

  &__result-controls-container {
    border-bottom: 1px solid $color__yellow;

    @media (min-width: $grid__breakpoint-extra-large) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__results-intro {
    font-family: $font__roboto;
    font-size: 1.8rem;
    margin: calc($spacer__unit / 2) 0 0 0;
  }

  &__filter-heading {
    @include sr-only;
  }

  mark {
    border-bottom: 3px solid $color__yellow;
    background-color: transparent;
    font-weight: bold;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  legend {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0;
  }

  &__container-extend-search-option {
    background-color: $color__light-grey;
    padding: $spacer__unit calc($spacer__unit * 2);
    margin: $spacer__unit 0;
  }
}
