.result-controls {
  text-align: left;
  display: inline-block;
  margin: $spacer__unit 0 0;

  @media (min-width: $grid__breakpoint-extra-large) {
    text-align: right;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: row;
    gap: $spacer__unit;

    > div {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__label {
    font-family: $font__roboto;
    font-size: 1rem;
    margin-bottom: calc($spacer__unit / 2);
    display: block;
  }

  &__select {
    @include select;
    min-width: auto;
    width: auto;
    padding-right: calc(1.5 * $spacer__unit);
    display: inline-block;
  }

  &__button {
    @include call-to-action-button;
    margin: calc(2.2 * $spacer__unit) 0 1rem 0;
    font-size: 0.85rem;
    outline-color: $color__dark-blue;
    padding: 0.625rem;
    font-weight: normal;
    vertical-align: 1px;
  }
}
