.results-search-component {
  margin: 0 0 $space-12;
  padding: $space-6 0 $space-8;
  background-color: colour-var("accent-background-light");

  &__container {
    @include container;

    text-align: center;
  }

  &__sub-header {
    display: inline-block;
    flex-shrink: 0;

    margin: 0 $space-1 0 0;
    padding: 0.1rem 0 0;

    font-family: $font-roboto;
    font-size: $typography-md-text-size;
    font-weight: $typography-bold-font-weight;
    line-height: $typography-3xl-line-height;
    color: colour-var("accent-font-base");
  }

  &__full-text-panel {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: space-between;

    margin: $space-2 0 0 0;

    text-align: left;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
      gap: $space-4;
      padding: $space-1 0 0 0;
    }
  }

  .structured-search__submit-container {
    display: none;

    @media (min-width: $grid-breakpoint-medium) {
      display: block;
    }
  }

  &__filters-row {
    display: block;
    padding-top: $space-2;
    text-align: left;

    @media (min-width: $grid-breakpoint-medium) {
      display: flex;
      flex-direction: row;
      gap: $space-4;
      align-items: stretch;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__mobile-submit-button {
    display: block;
    width: 100%;
    padding-top: $space-4;

    @media (min-width: $grid-breakpoint-medium) {
      display: none;
    }
  }

  .search-term-component input[type="submit"] {
    @media (max-width: $grid-breakpoint-medium) {
      display: none !important;
    }
  }

  &__search-submit-button {
    @include button-primary;

    width: 100%;
    padding-right: $space-12;
    padding-left: $space-12;
  }

  &__fieldset {
    margin: $space-1;
    padding: $space-8;

    color: colour-var("accent-font-base");

    background: $color-yellow;
    border: 0;
  }

  &__help-text {
    margin: $space-1 0 $space-2 0;
    font-size: $typography-sm-text-size;
  }

  &__multi-fields-panel {
    margin-top: $space-4;
    margin-bottom: $space-4;
  }

  &__name-label {
    display: block;
  }

  &__name-input {
    @include text_field;

    width: 18rem;
  }

  &__limit-to-label {
    display: block;
    margin-bottom: 0;
    font-size: $typography-md-text-size;
    font-weight: $typography-bold-font-weight;
  }

  &__limit-to-input {
    @include text_field;
  }

  &__select {
    @include select;
  }

  &__date-input {
    @include text_field;

    margin-top: 0;
    padding: $space-1;
  }

  &__filter-submit-button {
    @include button-primary;

    margin: 0 auto;
  }

  &__name-container {
    margin-bottom: $space-4;
    padding: 0 $space-4;
    border-left-width: $space-1;
  }

  &__limit-to-container {
    margin-bottom: $space-4;
    padding: 0 $space-4;
    border-left-width: $space-1;
  }

  &__removable-options {
    display: inline;
    flex-grow: 1;

    margin: 0;
    padding: 0;

    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 $space-1 $space-2;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__removable-options-key {
    display: inline-block;
  }

  &__removable-options-value {
    display: inline-block;
    font-weight: $typography-bold-font-weight;

    &::after {
      content: " ";

      position: relative;
      top: 2px;

      display: inline-block;

      width: $space-4;
      height: $space-4;
      margin: 0 $space-2;

      background: url($fa_xmark_solid) left no-repeat;
      background-size: contain;
    }
  }

  &__removable-options-value-text {
  }

  &__removable-options-link {
    display: inline-block;

    padding: $space-2 $space-2 $space-2 $space-4;

    color: colour-var("accent-link");
    text-decoration: none;

    border: 0.188rem solid $color-yellow;

    &:hover {
      color: colour-var("accent-link");
      background: $color-yellow;
    }

    &:visited {
      color: colour-var("accent-link-visited");
    }

    &:focus {
      outline-offset: $space-1;
    }
  }
}

.results {
  &-search-component {
    &__control-container {
      display: inline-block;
      flex-shrink: 0;
      padding-top: $space-8;
      padding-top: 0;

      @media (min-width: $grid-breakpoint-medium) {
        text-align: left;
      }
    }

    &__toggle-control {
      position: relative;

      flex-basis: content;

      margin: 0 auto;
      padding: 0 0 $space-2 $space-6;

      font-size: $typography-md-text-size;
      font-weight: $typography-bold-font-weight;

      background-color: transparent;
      border: none;
      border-bottom: 0.188rem solid $color-yellow;

      &::after {
        content: "";

        position: absolute;
        bottom: 0.7rem;
        left: 0.3rem;
        transform: rotate(313deg);

        display: block;

        width: 0.438rem;
        height: 0.438rem;
        margin: auto 0;

        border: solid;
        border-color: colour-var("font-base");
        border-width: 0.125rem 0.125rem 0 0;
      }

      &:focus {
        @include focus-default;

        text-decoration: underline;
        outline-offset: 3px;
      }

      &:visited {
        color: colour-var("accent-link-visited");
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &.collapsed {
        &::after {
          bottom: 0.9rem;
          transform: rotate(135deg);
        }
      }
    }
  }
}
