.results {
  min-height: 60rem;

  h1 {
    @include sr-only;
  }

  &__container {
    @include container;
  }

  &__result-header {
    @media (min-width: $grid-breakpoint-large) {
      flex: 1;
    }
  }

  &__result-atom-feed-button {
    display: flex;
    flex-direction: column;
    padding-right: $space-6;

    label {
      font-family: $font-roboto;
      font-size: $typography-md-text-size;
    }

    a {
      display: flex;
      gap: $space-1;
      align-items: center;

      height: 33px;
      margin-right: auto;
    }

    @media (min-width: $grid-breakpoint-large) {
      gap: $space-3;
    }
  }

  &__result-list-container {
    background-color: $color-white;

    h2 {
      @include sr-only;
    }
  }

  &__result-header-container {
    display: flex;
    flex-direction: column;
    gap: $space-4;

    padding-bottom: $space-4;

    border-bottom: 1px solid $color-yellow;

    @media (min-width: $grid-breakpoint-extra-large) {
      flex-direction: row;
      gap: $space-6;
      align-items: flex-end;
    }
  }

  &__results-intro {
    margin: $space-2 0 0 0;
    font-family: $font-roboto;
    font-size: $typography-xl-text-size;
  }

  &__filter-heading {
    @include sr-only;
  }

  fieldset {
    padding: 0;
    border: none;
  }

  &__container-extend-search-option {
    margin: $space-4 0;
    padding: $space-4 $space-8;
    background-color: $color-light-grey;
  }

  &__list-layout-container {
    .govuk-warning-text {
      margin-bottom: $space-8;
    }
  }
}
