.results-search-component {
  background-color: $color__light-grey;
  padding: calc($spacer__unit * 1.5) 0 calc($spacer__unit * 2);
  margin: 0 0 calc($spacer__unit * 3);

  &__container {
    @include container;
    text-align: center;
  }

  &__header {
    font-size: 1.75rem;
    line-height: 3.4rem;
    display: inline-block;
    font-family: $font__roboto;
    font-weight: normal;
    color: $color__almost-black;
    margin: 0 0 0 0;
  }

  &__sub-header {
    font-size: 1rem;
    line-height: 2.65rem;
    font-family: $font__roboto;
    font-weight: bold;
    color: $color__almost-black;
    margin: 0 0.25rem 0 0;
    padding: 0.1rem 0 0 0;
    display: inline-block;


    &--sr-only {
      @include sr-only;
    }
  }

  &__full-text-panel {
    margin: calc($spacer__unit / 2) 0 0 0;
    text-align: left;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @media (min-width: $grid__breakpoint-medium) {
      padding: calc($spacer__unit / 4) 0;
      gap: $spacer__unit;
      flex-direction: row
    }
  }

  &__full-text-label {
    @include sr-only;
  }

  input[type=text] {
    width: 95%;
  }

  input[type=submit] {
    @include call-to-action-button($color__dark-blue, $color__white);
    padding-right: calc($spacer__unit * 3);
    padding-left: calc($spacer__unit * 3 + 1.5rem);
    margin-top: calc($spacer__unit * 0.5);
    margin-bottom: $spacer__unit;
    width: 100%;
    @media (min-width: $grid__breakpoint-medium) {
      width: auto;
    }
    background-image: url($fa_magnifying_glass_solid_white);
    background-repeat: no-repeat;
    background-position: calc(50% - 2rem) 0.42rem;
    background-size: 1.5rem 2.5rem;

    @media (min-width: $grid__breakpoint-medium) {
      background-position: 2.5rem 0.42rem;
    }
  }

  .structured-search__submit-container {
    display: none;
    @media (min-width: $grid__breakpoint-medium) {
      display: block;
    }
  }

  &__filters-row {
    display: block;
    text-align: left;

    @media (min-width: $grid__breakpoint-medium) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: stretch;
      gap: $spacer__unit;
      align-items: flex-start;
    }
  }



  &__full-text-input {
    @include text_field;
    width: 90%;
    min-height: calc($spacer__unit * 3);

    @media (min-width: $grid__breakpoint-medium) {
      width: 27rem;
    }

    @media (min-width: $grid__breakpoint-extra-large) {
      width: 35rem;
    }
  }

  &__mobile-submit-button {
    display: block;
    width: 100%;
    padding-top: 1rem;
    @media (min-width: $grid__breakpoint-medium) {
      display: none;
    }
  }

  &__desktop-submit-button {
    display: none !important;
    @media (min-width: $grid__breakpoint-medium) {
      display: flex !important;
    }
  }

  &__search-submit-button {
    @include call-to-action-button($color__dark-blue, $color__white);
    padding-left: calc($spacer__unit * 3);
    padding-right: calc($spacer__unit * 3);
  }

  &__facet-outer-container {
    margin: calc($spacer__unit * 2) 0;
    padding: calc($spacer__unit * 1) calc($spacer__unit * 3);
    text-align: center;
  }

  &__facet-inner-container {
    margin: 0 0 calc($spacer__unit * 2);
    text-align: left;

    @media (min-width: $grid__breakpoint-medium) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    @media (min-width: $grid__breakpoint-extra-large) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    // Fix display in IE11
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr 1fr;

      fieldset:nth-of-type(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
      }

      fieldset:nth-of-type(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
      }

      fieldset:nth-of-type(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
      }

      legend {
        padding-left: 0;
      }
    }
  }

  &__fieldset {
    border: 0;
    padding: calc($spacer__unit * 2);
    margin: 0.25rem;
    background: $color__yellow;
    color: $color__black;
  }

  &__legend {
    font-size: 1.25rem;
    padding: $spacer__unit;
    text-align: center;
    font-family: $font__roboto;
    float: left;
    margin: 0 0 calc($spacer__unit / 2);
    width: 100%;
  }

  &__multi-fields-panel {
    margin-top: $spacer__unit;
    margin-bottom: $spacer__unit;
  }

  &__name-label {
    display: block;
  }

  &__name-input {
    @include text_field;
    width: 18rem;
  }

  &__limit-to-label {
    display: block;
  }

  &__limit-to-input {
    @include text_field;
  }

  &__select {
    @include select;
  }

  &__date-input {
    @include text_field;
    margin-top: 0;
    padding: 0.375rem;
  }

  &__filter-submit-button {
    @include call-to-action-button($color__dark-blue, $color__white);
    margin: 0 auto;
  }

  &__name-container {
    border-left-width: 0.375rem;
    padding: 0 $spacer__unit;
    margin-bottom: $spacer__unit;
  }

  &__limit-to-container {
    border-left-width: 0.375rem;
    padding: 0 $spacer__unit;
    margin-bottom: $spacer__unit;
  }

  &__removable-options {
    display: inline;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
    margin: 0;

    li {
      margin: 0 0.25rem 0.5rem 0.25rem;
      display: inline-block;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__removable-options-key {
    display: inline-block;
  }

  &__removable-options-value {
    font-weight: bold;
    display: inline-block;

    &::after {
      content: " ";
      background: url($fa_xmark_solid) left no-repeat;
      background-size: contain;
      height: $spacer__unit;
      width: $spacer__unit;
      display: inline-block;
      margin: 0 0.5rem 0 0.5rem;
      top: 2px;
      position: relative;
    }
  }

  &__removable-options-value-text {
  }

  &__removable-options-link {
    display: inline-block;
    border: 0.188rem solid $color__yellow;
    color: $color__black;
    text-decoration: none;
    padding: calc($spacer__unit / 2) calc($spacer__unit / 2) calc($spacer__unit / 2) $spacer__unit;

    &:visited {
      color: $color__black;
    }

    &:hover {
      background: $color__yellow;
    }

    &:focus {
      outline-offset: calc($spacer__unit / 4);
    }
  }
}

.results {

  &-search-component {

    &__control-container {
      display: inline-block;
      padding-top: calc(2 *$spacer__unit);
      padding-top: 0;

      @media (min-width: $grid__breakpoint-medium) {
        text-align: left;
      }
    }

    &__toggle-control {
      border: none;
      background-color: transparent;
      font-size: 1rem;
      position: relative;
      padding: 0.8rem 0 calc($spacer__unit / 2) 1.2rem;
      border-bottom: 0.188rem solid $color__yellow;
      margin: 0 auto;
      font-weight: bold;
      flex-basis: content;

      &:focus {
        @include focus-default;
        outline-offset: 3px;
        text-decoration: underline;
      }

      &:visited {
        color: $color__black;
      }

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0.7rem;
          width: 0.438rem;
          height: 0.438rem;
          left: 0.3rem;
          margin: auto 0;
          -webkit-transform: rotate(313deg);
          -ms-transform: rotate(313deg);
          transform: rotate(313deg);
          border: solid;
          border-width: 0.125rem 0.125rem 0 0;
          border-color: $color__dark-grey;
      }

      &.collapsed {
        &::after {
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg);
          bottom: 0.9rem;
        }
      }
    }
  }
}
