.search-component {
  background-color: $color-light-grey;

  &__container {
    @include container;
    text-align: center;
    padding: $space-8;
  }

  &__container-beta {
    @include container;
    text-align: center;
    padding: 0;
    @media (max-width: $grid-breakpoint-medium) {
      padding: $space-3;
    }
    @media (max-width: $grid-breakpoint-large) {
      padding: $space-3;
    }
    @media (max-width: $grid-breakpoint-extra-large) {
      padding: $space-3;
    }
  }

  &__header {
    font-size: $typography-md-text-size;
    line-height: 2.8rem;
    display: inline-block;
    font-family: $font-roboto;
    font-weight: normal;
    color: $color-almost-black;
    margin: 0 $space-6;

    &--sr-only {
      @include sr-only;
    }
  }

  &__more-options {
    margin-top: $space-2;

    a {
      color: $color-black;
      text-decoration: none;
      border: 0;
      font-size: $typography-md-text-size;
      position: relative;
      padding: 0 0 $space-2;
      border-bottom: 0.125rem solid $color-black;
      display: inline-block;
      background: transparent;
      font-family: $font-roboto;
      font-weight: bold;

      &:visited {
        color: $color-black;
      }

      &:hover {
        text-decoration: underline;
        color: $color-black;
      }
    }
  }

  &__more-options-beta {
    line-height: $typography-sm-line-height;

    a {
      color: $color-dark-blue;
      text-decoration: none;
      border: 0;
      font-size: $typography-md-text-size;
      position: relative;
      border-bottom: 1px solid $color-dark-blue;
      display: inline-block;
      background: transparent;
      font-family: $font-roboto;
      font-weight: bold;
      margin-bottom: $space-3;

      &:visited {
        color: $color-dark-blue;
      }

      &:hover {
        text-decoration: underline;
        color: $color-black;
      }
    }
    @media (max-width: $grid-breakpoint-medium) {
      margin-top: 0.125rem;
      text-align: center;
    }
  }

  input[type="checkbox"] {
    &:focus {
      @include focus-default;
    }
  }

  form {
    max-width: 47rem;
  }
}

.search-term-component {
  display: flex;
  gap: $space-4;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $grid-breakpoint-medium) {
    flex-direction: column;
    width: 100%;
  }

  input[type="submit"] {
    @include call-to-action-button;
    // The 1px is the border offset of the input this is next to
    padding: calc($space-3 + 1px) $space-12;
    margin-top: $space-2;
    margin-bottom: $space-8;
    border: 2px solid transparent;

    .structured-search__container & {
      margin-bottom: 0;
    }

    @media (max-width: $grid-breakpoint-medium) {
      margin-bottom: $space-2;
    }
  }

  &__search-term-container {
    width: 100%;
  }

  &__search-term-label {
    @include sr-only;
  }

  &__search-term-input {
    @include text_field;
    width: 100% !important;
    min-height: $space-12;
    font-size: $typography-md-text-size;
    margin-bottom: 0;
    box-sizing: border-box;
  }

  &__help-text {
    text-align: left;
    margin: $space-1 0 $space-2 0;
    font-size: $typography-sm-text-size;
  }

  &__header-beta {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 12.5rem;
    @media (max-width: $grid-breakpoint-medium) {
      display: block;
      text-align: center;
      margin: 0;
    }
    @media (max-width: $grid-breakpoint-large) {
      display: block;
      text-align: center;
      margin: 0;
    }
    @media (max-width: $grid-breakpoint-extra-large) {
      display: block;
      text-align: center;
      margin: 0;
    }
  }

  &__main-label {
    text-align: left;
    margin: $space-1 0 $space-2 0;
  }
}
