.service-introduction {
  background-color: $color__almost-black;
  padding: 0 0 2rem;

  &__container {
    @include container;
    text-align: center;
  }

  &__header {
    font-size: 2.5rem;
    line-height: 3.8rem;
    display: inline-block;
    width: 100%;
    font-family: $font__roboto;
    font-weight: normal;
    color: $color__white;
    margin: $spacer__unit 0 0 0;
  }

  &__helper-text {
    display: inline-block;
    font-size: 1.2rem;
    font-family: $font__roboto;
    color: $color__yellow;
  }

  &__further-information {
    display: inline-block;
    margin-top: $spacer__unit;
  }

  &__what-to-expect {
    @include link-on-dark-bg;
    display: inline-block;
    padding: 0 0 calc($spacer__unit / 2);
    color: $color__white;
    margin: calc($spacer__unit * 1.6) 0 0;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    border-bottom: 3px solid $color__yellow;

    &:hover {
      border-bottom-color: transparent;
    }

    &:active {
      border-bottom-color: transparent;
    }

    &:focus {
      border-bottom-color: transparent;
    }

  }
}
