.service-introduction {
  background-color: $color-almost-black;
  flex-grow: 1;

  &__header {
    font-size: $typography-2xl-text-size;
    line-height: 3.8rem;
    display: inline-block;
    width: 100%;
    font-family: $font-roboto;
    font-weight: normal;
    color: $color-white;
    margin: 0;
  }

  &__helper-text {
    display: inline-block;
    font-size: $typography-lg-text-size;
    font-family: $font-roboto;
    color: $color-yellow;
    line-height: 1.6rem;
    margin: 0 auto;
  }

  &__further-information {
    display: inline-block;
    margin-top: $space-4;
  }

  &__what-to-expect {
    @include link-on-dark-bg;
    background: transparent url($fa_chevron_right_white) 0 0.2rem no-repeat;
    background-size: 0.7rem;
    display: inline-block;
    padding: 0 0 0 $space-4;
    color: $color-white;
    margin: $space-6 0 0;
    font-weight: bold;
    font-size: $typography-lg-text-size;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:active {
      border-bottom-color: transparent;
    }

    &:focus {
      border-bottom-color: transparent;
    }
  }
}
