.service-introduction {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  margin-top: $space-10;

  &__header {
    display: flex;
    gap: $space-2;
    align-items: center;

    width: 100%;
    margin: 0 $space-1;

    font-family: $font-roboto;
    font-size: $typography-2xl-text-size;
    font-weight: normal;
    line-height: $typography-md-line-height;
    color: $color-white;
  }

  &__helper-text {
    display: inline-block;

    margin: 0 $space-1;

    font-family: $font-roboto;
    font-size: $typography-lg-text-size;
    line-height: 1.6rem;
    color: $color-yellow;
    text-wrap: balance;

    @media only screen and (max-width: $grid-breakpoint-medium) {
      font-size: $typography-sm-text-size;
      font-weight: bold;
    }
  }

  &__further-information {
    display: inline-block;
    margin-top: $space-4;
  }

  &__what-to-expect {
    @include link-on-dark-bg;

    display: inline-block;

    margin: $space-6 0 0;
    padding: 0 0 0 $space-4;

    font-size: $typography-lg-text-size;
    font-weight: $typography-bold-font-weight;
    color: $color-white;
    text-decoration: underline;

    background: transparent url($fa_chevron_right_white) 0 0.2rem no-repeat;
    background-size: 0.7rem;

    &:hover {
      text-decoration: none;
    }

    &:active {
      border-bottom-color: transparent;
    }

    &:focus {
      border-bottom-color: transparent;
    }
  }

  @media only screen and (max-width: $grid-breakpoint-medium) {
    margin-top: $space-1;
  }
}
