.service-introduction {
  background-color: $color-almost-black;
  flex-grow: 1;
  width: 100%;
  margin-top: $space-10;

  &__header {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    font-size: $typography-2xl-text-size;
    line-height: $typography-md-line-height;

    width: 100%;
    font-family: $font-roboto;
    font-weight: normal;
    color: $color-white;
    margin: 0 $space-1;
  }

  &__header-beta {
    font-size: 2.5rem;
    line-height: 3.8rem;
    display: inline-block;
    width: 100%;
    font-family: $font-roboto;
    font-weight: $typography-normal-font-weight;
    color: $color-white;
    margin: $space-8 0 0;
    text-wrap: balance;
    @media only screen and (max-width: $grid-breakpoint-medium) {
      margin-top: none;
    }
  }

  &__helper-text {
    display: inline-block;
    font-size: $typography-lg-text-size;
    font-family: $font-roboto;
    color: $color-yellow;
    line-height: 1.6rem;
    margin: 0 $space-1;
    @media only screen and (max-width: $grid-breakpoint-medium) {
      font-size: $typography-sm-text-size;
      font-weight: bold;
      margin: 0 $space-1;
    }
  }

  &__further-information {
    display: inline-block;
    margin-top: $space-4;
  }

  &__what-to-expect {
    @include link-on-dark-bg;
    background: transparent url($fa_chevron_right_white) 0 0.2rem no-repeat;
    background-size: 0.7rem;
    display: inline-block;
    padding: 0 0 0 $space-4;
    color: $color-white;
    margin: $space-6 0 0;
    font-weight: $typography-bold-font-weight;
    font-size: $typography-lg-text-size;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:active {
      border-bottom-color: transparent;
    }

    &:focus {
      border-bottom-color: transparent;
    }
  }
}
