@for $i from 1 through 3 {
  .my-#{$i} {
    margin-top: $space-4 * $i;
    margin-bottom: $space-4 * $i;
  }
  .mt-#{$i} {
    margin-top: $space-4 * $i;
  }
  .mb-#{$i} {
    margin-top: $space-4 * $i;
  }
  .py-#{$i} {
    padding-top: $space-4 * $i;
    padding-bottom: $space-4 * $i;
  }
  .pt-#{$i} {
    padding-top: $space-4 * $i;
  }
  .pb-#{$i} {
    padding-bottom: $space-4 * $i;
  }
}

.p-1 {
  padding: $space-1;
}

.p-2 {
  padding: $space-2;
}

.p-3 {
  padding: $space-3;
}

.p-4 {
  padding: $space-4;
}

.p-5 {
  padding: $space-5;
}

.p-6 {
  padding: $space-6;
}

.p-7 {
  padding: $space-7;
}

.p-8 {
  padding: $space-8;
}

.p-9 {
  padding: $space-9;
}

.p-10 {
  padding: $space-10;
}

.p-12 {
  padding: $space-12;
}

.p-16 {
  padding: $space-16;
}
