@for $i from 1 through 3 {
  .my-#{$i} {
    margin-top: $spacer-unit * $i;
    margin-bottom: $spacer-unit * $i;
  }
  .mt-#{$i} {
    margin-top: $spacer-unit * $i;
  }
  .mb-#{$i} {
    margin-top: $spacer-unit * $i;
  }
  .py-#{$i} {
    padding-top: $spacer-unit * $i;
    padding-bottom: $spacer-unit * $i;
  }
  .pt-#{$i} {
    padding-top: $spacer-unit * $i;
  }
  .pb-#{$i} {
    padding-bottom: $spacer-unit * $i;
  }
}
