.standard-text-template {
  @include container;

  font-size: 1.1rem;

  @media (min-width: $grid__breakpoint-medium) {
    max-width: 30rem;
  }

  margin-top: calc($spacer__unit * 5);
  margin-bottom: calc($spacer__unit * 8);
  min-height: 18rem;

  h1, h2, h3 {
    font-family: $font__roboto;
    font-weight: normal;
  }

  h1 {
    font-size: 2.2rem;
    margin: 0 0 calc($spacer__unit * 2);
  }

  h2 {
    font-size: 1.8rem;
    margin: 0 0 calc($spacer__unit * 1.25);
    padding: calc($spacer__unit * 2) 0 0;
  }

  h3 {
    font-size: 1.5rem;
    padding: calc($spacer__unit * 1.25) 0 0;
    margin: 0 0 calc($spacer__unit * 1.25);
  }

  h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    padding: calc($spacer__unit * 1.25) 0 0;
  }
}
