.standard-text-template {
  min-height: 18rem;
  font-size: $typography-md-text-size;
  line-height: 1.4em;

  small {
    font-size: $typography-sm-text-size;
  }

  li ul,
  li ol {
    margin-top: $space-2;
  }

  ol > li > ul {
    list-style-type: disc;
  }
}
