.structured-search {
  legend {
    /* https://stackoverflow.com/questions/3973456/default-css-values-for-a-fieldset-legend */
    float: left;
    width: 100%;
  }

  &__main-search {
    background-color: $color__light-grey;
    padding: calc($spacer__unit * 1) 0 calc($spacer__unit * 1.5);
    margin: 0 0 $spacer__unit;
    text-align: center;
  }

  &__main-search-header {
    font-size: 2.4rem;
    line-height: 2rem;
    display: inline-block;
    font-family: $font__roboto;
    font-weight: normal;
    color: $color__almost-black;
    margin: calc($spacer__unit * 1) 0 0 0;
    @media (max-width: $grid__breakpoint-medium) {
      margin: 1px $spacer__unit;
      line-height: 2.6rem;
    }
  }

  &__container {
    @include container;
    padding: 0;
    text-align: left;
    max-width: 100%;
  }

  &__full-text-label {
    @include sr-only;
  }

  &__full-text-panel {
    margin-top: $spacer__unit;
    @media (max-width: $grid__breakpoint-medium) {
      padding-left: 1rem;
      padding-right: 1rem;
      box-sizing: border-box;
    }
  }


  &__limit-to-input {
    @include text_field;
    width: 95%;
    margin-top: calc(0.5 * $spacer__unit);
    margin-bottom: 0;
  }

  &__limit-to-label {
    display: block;
    margin-bottom: 0rem;
    margin-left: 0;
    font-size: 1rem;
    font-weight: bold;
  }

  &__single-field-panel {
    padding-top: $spacer__unit;

    @media (max-width: $grid__breakpoint-medium) {
      padding-top: 0;
    }

    @media (min-width: $grid__breakpoint-medium) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr;
    }

    // Fix display in IE11

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1rem 1fr;

      div:nth-of-type(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
      }

      div:nth-of-type(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
      }

      legend {
        padding-left: 0;
      }
    }
  }

  &__multi-fields-panel {
    padding-top: $spacer__unit;
    @media (max-width: $grid__breakpoint-medium) {
      padding-top: 0;
    }

    @media (min-width: $grid__breakpoint-medium) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
    }

    // Fix display in IE11

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1rem 1fr;

      div:nth-of-type(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
      }

      div:nth-of-type(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
      }

      legend {
        padding-left: 0;
      }
    }
  }

  &__specific-field-container {
    background-color: $color__light-grey;
    padding: $spacer__unit;
    display: flex;
    flex-direction: column;
    border-top: 4px solid $color__yellow;
    @media (max-width: $grid__breakpoint-medium) {
      margin-bottom: 1rem;
    }
  }

  &__limit-to-container {
    background-color: $color__light-grey;
    padding: $spacer__unit;
    display: flex;
    flex-direction: column;
    border-top: 4px solid $color__yellow;
    @media (max-width: $grid__breakpoint-medium) {
      margin-bottom: 1rem;
    }
  }

  &__submit-container {
    margin-top: calc($spacer__unit / 2);
    text-align: right;

    @media (max-width: $grid__breakpoint-medium) {
      margin: 1rem;
    }
  }

  &__help-text {
    margin-top: calc($spacer__unit / 4);
    font-size: 0.8rem;
  }

  &__from-date-error-message {
    margin: 0;
    color: #d4351c;
    font-weight: 700;
    font-size: 0.8rem;
  }

  &__to-date-error-message {
    margin: 0;
    color: #d4351c;
    font-weight: 700;
    font-size: 0.8rem;
  }

  input:invalid {
    border-color: #d4351c;
  }

  input:focus:invalid {
    outline: none;
  }

  &__select {
    @include select;
    width: 100%;
  }

  &__court-options {
    display: block;
    width: 100%;

    @media (min-width: $grid__breakpoint-medium) {
      column-count: 2;
      column-gap: calc(2 * $spacer__unit);
    }
  }

  &__court-option {
    margin-top: calc($spacer__unit * 0.5);

    label {
      display: grid;
      grid-template-columns: 1em auto;
      gap: 0.5em;

      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: $color__white;
        margin: 0;
        font: inherit;
        color: $color__dark-grey;
        width: 1.5em;
        height: 1.5em;
        border: 2px solid $color__dark-grey;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;

        &::before {
          content: "";
          width: calc($spacer__unit * 0.75);
          height: calc($spacer__unit * 0.75);
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset $spacer__unit $spacer__unit $color__black;
          transform-origin: bottom left;
          clip-path: polygon(
            14% 44%,
            0 65%,
            50% 100%,
            100% 16%,
            80% 0%,
            43% 62%
          );
          // For compatibility in Windows High Contrast Mode:
          background-color: CanvasText;
        }

        &:checked::before {
          transform: scale(1);
        }
      }
    }
  }

  &__court-option-label {
    margin-left: calc(0.5 * $spacer__unit);
  }
  &__court-date-range {
    color: $color__dark-grey;
    font-size: 0.9rem;
  }
  &__date-input {
    @include text_field;
    margin-bottom: 0;
    width: 100% !important;
    box-sizing: border-box;
  }

  &__date-input--error {
    @include text_field;
    margin-bottom: 0;
    width: 100% !important;
    box-sizing: border-box;
    border-color: #d4351c;
  }

  &__date-input-group {
    display: flex;
    gap: calc(0.5 * $spacer__unit);
    & :nth-of-type(1) {
      width: 10%;
      @media (max-width: $grid__breakpoint-small) {
        width: 20%;
      }
    }
    & :nth-of-type(2) {
      width: 10%;
      @media (max-width: $grid__breakpoint-small) {
        width: 20%;
      }
    }
    & :nth-of-type(3) {
      width: 20%;
      @media (max-width: $grid__breakpoint-small) {
        width: 40%;
      }
    }
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__multi-fields-panel {
    fieldset.with-errors {
      padding-left: calc($spacer__unit * 1.5);
      border-left: 4px solid #d4351c;
      .structured-search__help-text {
        margin-bottom: calc(0.5 * $spacer__unit);
      }
    }
  }

  &__update-filters-button {
    @include call-to-action-button;
    padding-right: calc($spacer__unit * 2.5);
    padding-left: calc($spacer__unit * 2.5);
    margin-top: calc($spacer__unit * 0.5);
    margin-bottom: $spacer__unit;
    width: 50%;
    position: relative;
    @media (min-width: $grid__breakpoint-medium) {
      width: auto;
    }
    @media (max-width: $grid__breakpoint-medium) {
      margin: 0;
      width: 100%;
    }
  }

  &__search-term-label.desktop {
    @media (max-width: $grid__breakpoint-medium) {
      display: none;
    }
    @include sr-only;
  }

  &__search-term-label.mobile {
    @media (min-width: $grid__breakpoint-medium) {
      display: none;
    }
    @media (max-width: $grid__breakpoint-medium) {
      margin: auto 1px;
    }
  }

  &__search-term-input {
    @include text_field;
    width: 80%;
    min-height: calc($spacer__unit * 2);
    font-size: 1.2rem;

    @media (min-width: $grid__breakpoint-small) {
      width: 20rem;
    }

    @media (min-width: $grid__breakpoint-medium) {
      width: 25rem;
    }

    @media (min-width: $grid__breakpoint-extra-large) {
      width: 35rem;
    }

    &.mobile {
      @media (min-width: $grid__breakpoint-medium) {
        display: none;
      }
      @media (max-width: $grid__breakpoint-medium) {
        margin: auto 1px;
      }
    }

    &.desktop {
      @media (max-width: $grid__breakpoint-medium) {
        display: none;
      }
    }
  }

  input[type="checkbox"] {
    @include checkbox;
  }

  .page-notification--failure {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 65rem;
  }
}
