.structured-search {
  legend {
    margin-bottom: $space-4;
    padding: 0;

    @media (min-width: $grid-breakpoint-medium) {
      margin-bottom: 0;
    }
  }

  &__main-search {
    margin: 0 0 $space-4;
    padding: $space-4 0 $space-6;
    text-align: center;
    background-color: colour-var("accent-background-light");
  }

  &__main-search-header {
    display: inline-block;

    margin: $space-4 0 0;

    font-family: $font-roboto;
    font-size: $typography-2xl-text-size;
    font-weight: $typography-normal-font-weight;
    line-height: $typography-xs-line-height;
    color: colour-var("font-dark");

    @media (max-width: $grid-breakpoint-medium) {
      margin: $space-2 $space-4;
    }
  }

  &__container {
    @include container;

    max-width: 100%;
    padding: 0;
    text-align: left;
  }

  &__full-text-label {
    @include sr-only;
  }

  &__full-text-panel {
    margin-top: $space-4;

    @media (max-width: $grid-breakpoint-medium) {
      box-sizing: border-box;
      padding-right: $space-4;
      padding-left: $space-4;
    }
  }

  &__limit-to-input {
    @include text_field;

    width: 95%;
    margin-top: $space-2;
    margin-bottom: 0;
  }

  &__limit-to-label {
    display: block;

    margin-bottom: 0;
    margin-left: 0;

    font-size: $typography-md-text-size;
    font-weight: $typography-bold-font-weight;
  }

  &__single-field-panel {
    padding-top: $space-4;

    @media (max-width: $grid-breakpoint-medium) {
      padding-top: 0;
    }

    @media (min-width: $grid-breakpoint-medium) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr;
    }

    // Fix display in IE11

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: grid;

      -ms-grid-columns: 1fr 1rem 1fr;

      div:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1;
      }

      div:nth-of-type(2) {
        grid-column: 3;
        grid-row: 1;
      }

      legend {
        padding-left: 0;
      }
    }
  }

  &__multi-fields-panel {
    padding-top: $space-4;

    @media (max-width: $grid-breakpoint-medium) {
      padding-top: 0;
    }

    @media (min-width: $grid-breakpoint-medium) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
    }

    // Fix display in IE11

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: grid;

      -ms-grid-columns: 1fr $space-4 1fr;

      div:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1;
      }

      div:nth-of-type(2) {
        grid-column: 3;
        grid-row: 1;
      }

      legend {
        padding-left: 0;
      }
    }
  }

  &__specific-field-container {
    display: flex;
    flex-direction: column;

    padding: $space-4;

    background-color: colour-var("accent-background-light");
    border-top: 4px solid $color-yellow;

    @media (max-width: $grid-breakpoint-medium) {
      margin-bottom: $space-4;
    }
  }

  &__limit-to-container {
    display: flex;
    flex-direction: column;

    padding: $space-4;

    background-color: colour-var("accent-background-light");
    border-top: 4px solid $color-yellow;

    @media (max-width: $grid-breakpoint-medium) {
      margin-bottom: $space-4;
    }
  }

  &__submit-container {
    margin-top: $space-2;
    text-align: right;

    @media (max-width: $grid-breakpoint-medium) {
      margin: $space-4;
    }
  }

  &__help-text {
    margin-top: 0;
    font-size: $typography-sm-text-size;

    @media (min-width: $grid-breakpoint-medium) {
      margin-top: $space-1;
    }
  }

  &__from-date-error-message {
    margin: 0;
    font-size: $typography-sm-text-size;
    font-weight: $typography-bold-font-weight;
    color: colour-var("red");
  }

  &__to-date-error-message {
    margin: 0;
    font-size: $typography-sm-text-size;
    font-weight: $typography-bold-font-weight;
    color: colour-var("red");
  }

  input:invalid {
    border-color: colour-var("red");
  }

  input:focus:invalid {
    outline: none;
  }

  &__select {
    @include select;

    width: 100%;
  }

  &__court-options {
    display: flex;
    flex-direction: column;
    gap: $space-4;
    width: 100%;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
      gap: $space-8;
    }
  }

  &__court-options-column {
    break-inside: avoid;
    width: 100%;

    @media (min-width: $grid-breakpoint-medium) {
      width: 50%;
    }
  }

  &__court-option {
    margin-top: $space-2;

    label {
      display: grid;
      grid-template-columns: $space-4 auto;
      gap: $space-2;

      input[type="checkbox"] {
        transform: translateY(-0.075em);

        display: grid;
        place-content: center;

        width: $space-6;
        height: $space-6;
        margin: 0;

        font: inherit;
        color: colour-var("input-foreground");

        appearance: none;
        background-color: colour-var("input-background");
        border: 2px solid colour-var("input-border");

        &::before {
          content: "";

          transform-origin: bottom left;
          transform: scale(0);

          width: $space-3;
          height: $space-3;

          // For compatibility in Windows High Contrast Mode:
          background-color: CanvasText;
          clip-path: polygon(
            14% 44%,
            0 65%,
            50% 100%,
            100% 16%,
            80% 0%,
            43% 62%
          );
          box-shadow: inset $space-4 $space-4 colour-var("black");

          transition: 120ms transform ease-in-out;
        }

        &:checked::before {
          transform: scale(1);
        }
      }
    }
  }

  &__court-group-label {
    margin: $space-4 0;
    line-height: $typography-xs-line-height;
    vertical-align: baseline;

    @media (min-width: $grid-breakpoint-medium) {
      margin: $space-2 0;
    }
  }

  &__court-group {
    break-inside: avoid;
    margin-left: $space-8;
  }

  &__court-option-label {
    margin-left: $space-2;
    line-height: $typography-md-line-height;
    vertical-align: baseline;
  }

  &__court-date-range {
    font-size: $typography-sm-text-size;
    color: colour-var("font-base");
  }

  &__date-input {
    @include text_field;

    box-sizing: border-box;
    width: 100% !important;
    margin-bottom: 0;
  }

  &__date-input--error {
    @include text_field;

    box-sizing: border-box;
    width: 100% !important;
    margin-bottom: 0;
    border-color: colour-var("red");
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__multi-fields-panel {
    fieldset.with-errors {
      padding-left: $space-6;
      border-left: 4px solid colour-var("red");

      .structured-search__help-text {
        margin-bottom: $space-2;
      }
    }
  }

  &__update-filters-button {
    @include call-to-action-button;

    position: relative;

    width: 50%;
    margin-top: $space-2;
    margin-bottom: $space-4;
    padding-right: $space-10;
    padding-left: $space-10;

    @media (min-width: $grid-breakpoint-medium) {
      width: auto;
    }

    @media (max-width: $grid-breakpoint-medium) {
      width: 100%;
      margin: 0;
    }
  }

  &__search-term-label.desktop {
    @media (max-width: $grid-breakpoint-medium) {
      display: none;
    }

    @include sr-only;
  }

  &__search-term-label.mobile {
    @media (min-width: $grid-breakpoint-medium) {
      display: none;
    }

    @media (max-width: $grid-breakpoint-medium) {
      margin: auto 1px;
    }
  }

  &__search-term-input {
    width: 80%;
    min-height: $space-8;
    font-size: $typography-lg-text-size;

    &.mobile {
      @media (min-width: $grid-breakpoint-medium) {
        display: none;
      }

      @media (max-width: $grid-breakpoint-medium) {
        margin: auto 1px;
      }
    }

    &.desktop {
      @media (max-width: $grid-breakpoint-medium) {
        display: none;
      }
    }

    @media (min-width: $grid-breakpoint-small) {
      width: 20rem;
    }

    @media (min-width: $grid-breakpoint-medium) {
      width: 25rem;
    }

    @media (min-width: $grid-breakpoint-extra-large) {
      width: 35rem;
    }

    @include text_field;
  }

  input[type="checkbox"] {
    @include checkbox;
  }

  .page-notification--failure {
    box-sizing: border-box;
    margin: 0 auto;

    @media (max-width: $grid-breakpoint-medium) {
      margin-bottom: $space-4;
    }
  }
}
