.style-guide {
  &__code-block {
    display: block;

    margin-bottom: $space-4;
    padding: $space-4;

    font-size: $typography-sm-text-size;
    line-height: $typography-sm-line-height;
    white-space: pre;

    background: colour-var("accent-background-light");
  }

  &__component-wrapper {
    padding: $space-4;
    border: solid colour-var("accent-border");
  }

  &__component-wrapper--dark {
    background: colour-var("contrast-background");
  }

  &__component-wrapper--large {
    overflow: scroll;

    > div {
      width: 1200px;
    }
  }

  &__spacing-container {
    margin-bottom: $space-4;
    background: brand-colour("pastel-pink");
  }

  &__spacing-item {
    text-align: center;
    background: colour-var("background");
  }
}
