.style-guide {
  &__code-block {
    display: block;

    margin-bottom: $space-4;
    padding: $space-4;

    font-size: $typography-sm-text-size;
    line-height: $typography-sm-line-height;
    white-space: pre;

    background: $color-grey;
  }

  &__component-wrapper {
    padding: $space-4;
    border: solid $color-grey;
  }

  &__component-wrapper--dark {
    background: $color-almost-black;
  }

  &__component-wrapper--large {
    overflow: scroll;

    > div {
      width: 1200px;
    }
  }

  &__spacing-container {
    margin-bottom: $space-4;
    background: $color-light-pink;
  }

  &__spacing-item {
    text-align: center;
    background: $color-white;
  }
}
