@use "@nationalarchives/frontend/nationalarchives/variables/colour" with (
  $colour-palette-default: (
    "background": #fff,
    "background-tint": #ededed,
    "font-base": #343338,
    "font-dark": #010101,
    "font-light": rgba(1, 1, 1, 0.58),
    "icon-light": rgba(52, 51, 56, 0.45),
    "link": #005fa3,
    "link-visited": #634abb,
    "focus-outline": #00b0ff,
    "keyline": rgba(38, 38, 42, 0.25),
    "keyline-dark": #26262a,
    "input-foreground": #010101,
    "input-background": #fff,
    "input-border": #010101,
    "form-error-border": #c20000,
    "form-error-text": #c20000,
    "button-text": #fff,
    "button-background": #010101,
    "button-hover-text": #010101,
    "button-hover-background": #fff,
    "contrast-background": #1e1e1e,
    "contrast-font-base": #fff,
    "contrast-font-dark": #fff,
    "contrast-font-light": rgba(255, 255, 255, 0.7),
    "contrast-icon-light": rgba(255, 255, 255, 0.45),
    "contrast-link": #fff,
    "contrast-link-visited": #fff,
    "contrast-keyline": rgba(255, 255, 255, 0.3),
    "contrast-keyline-dark": rgba(255, 255, 255, 0.6),
    "contrast-button-text": #010101,
    "contrast-button-background": #fff,
    "contrast-button-hover-text": #fff,
    "contrast-button-hover-background": #010101,
    "accent-background": #afb6b5,
    "accent-background-light": #ededed,
    "accent-border": #8c9694,
    "accent-list-marker": rgba(1, 1, 1, 0.58),
    "accent-font-base": #010101,
    "accent-font-dark": #010101,
    "accent-font-light": rgba(1, 1, 1, 0.7),
    "accent-icon-light": rgba(1, 1, 1, 0.45),
    "accent-link": #010101,
    "accent-link-visited": #010101,
    "accent-keyline": rgba(1, 1, 1, 0.3),
    "accent-keyline-dark": rgba(1, 1, 1, 0.8),
    "accent-button-text": #fff,
    "accent-button-background": #010101,
    "accent-button-hover-text": #010101,
    "accent-button-hover-background": #fff,
    "button-accented-text": #010101,
    "button-accented-background": #8c9694,
  )
);
