.transactional-licence-form-content {
  &__example-responses {
    margin-top: $space-4;
    padding: $space-4;
    font-style: italic;
    border: solid 1px colour-var("black");
  }

  h3.transactional-licence-form-content__heading {
    font-size: $typography-lg-text-size;
    font-weight: $typography-bold-font-weight;
  }

  h4 {
    margin-bottom: $space-4;
  }
}
