.transactional-licence-form {
  &__step-title {
    margin-bottom: 0;
  }

  &__steps {
    margin-top: $space-2;
    margin-bottom: $space-12;
  }

  .govuk-label,
  .govuk-fieldset__legend {
    font-size: $typography-lg-text-size;
    font-weight: $typography-bold-font-weight;
  }

  &__preamble {
    margin-bottom: $space-12;
  }

  &__pre-form-content {
    margin-bottom: $space-12;

    &:empty {
      margin-bottom: 0;
    }
  }

  .govuk-checkboxes__item .govuk-label, .govuk-radios__item .govuk-label,
  // Include special-cased fields which should have a paragraph styled label here. This is a bit of a hack,
  // but django-forms/crispy-gds doesn't offer an obvious way to add a class to these.
  #div_id_contact-alternative_contact legend {
    font-size: $typography-md-text-size;
    font-weight: $typography-normal-font-weight;
  }

  .govuk-form-group {
    margin-bottom: $space-12;
  }
}
