a {
  @include link;
}

.standard-text-template ol li {
  padding-bottom: $space-2;
  padding-left: $space-2;
}

code {
  word-wrap: break-word;
}

mark {
  scroll-margin-top: 50vh;
  font-weight: $typography-bold-font-weight;
  background: color-mix(in srgb, colour-var("accent-brand") 50%, transparent);

  &.current {
    background: colour-var("accent-brand");
  }
}

.xs-text-size {
  font-size: $typography-xs-text-size;
}

.sm-text-size {
  font-size: $typography-sm-text-size;
}

.md-text-size {
  font-size: $typography-md-text-size;
}

.lg-text-size {
  font-size: $typography-lg-text-size;
}

.xl-text-size {
  font-size: $typography-xl-text-size;
}

.xl2-text-size {
  font-size: $typography-2xl-text-size;
}

.xs-line-height {
  line-height: $typography-xs-line-height;
}

.sm-line-height {
  line-height: $typography-sm-line-height;
}

.md-line-height {
  line-height: $typography-md-line-height;
}

.lg-line-height {
  line-height: $typography-lg-line-height;
}

.xl-line-height {
  line-height: $typography-xl-line-height;
}

.xl2-line-height {
  line-height: $typography-2xl-line-height;
}

.xl3-line-height {
  line-height: $typography-3xl-line-height;
}

.xl4-line-height {
  line-height: $typography-4xl-line-height;
}
