a {
  @include link;
}

h1,
h2,
h3 {
  font-family: $font-roboto;
  font-weight: normal;
}

@mixin header($base-size) {
  font-size: $base-size;
  line-height: $base-size * $typography-header-line-size-multiplier;
  margin-top: $base-size * $typography-header-margin-top-multiplier;
  margin-bottom: $base-size * $typography-header-margin-bottom-multiplier;

  @media only screen and (max-width: $grid-breakpoint-medium) {
    font-size: $base-size * $typography-header-medium-breakpoint-multiplier;
    line-height: $base-size * $typography-header-line-size-multiplier *
      $typography-header-medium-breakpoint-multiplier;
  }
}

h1 {
  @include header($typography-header-h1-size);
}

h2 {
  @include header($typography-header-h2-size);
}

h3 {
  @include header($typography-header-h3-size);
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  padding: calc($spacer-unit * 1.25) 0 0;
}

.standard-text-template ol li {
  padding-bottom: calc($spacer-unit / 1.5);
  padding-left: calc($spacer-unit / 2);
}

code {
  word-wrap: break-word;
}

mark {
  border-bottom: 3px solid $color-yellow;
  background-color: transparent;
  font-weight: bold;
  scroll-margin-top: 50vh;

  &.current {
    border-top: 3px solid $color-yellow;
    background-color: $color-yellow;
  }
}
