@import "../../../node_modules/@nationalarchives/ds-caselaw-frontend/src/includes/variables/colours";

$spacer-unit: 1rem;

$gutter_unit: 25px;

$grid-breakpoint-small: 576px;
$grid-breakpoint-medium: 768px;
$grid-breakpoint-large: 992px;
$grid-breakpoint-extra-large: 1200px;

$font-roboto: "Roboto", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-serif: serif;

$typography-base-text-size: 1rem;

$typography-header-line-size-multiplier: 1.3;
$typography-header-medium-breakpoint-multiplier: 0.8;

$typography-header-margin-top-multiplier: 1.3;
$typography-header-margin-bottom-multiplier: 0.8;

$typography-header-h1-size: 2.5 * $typography-base-text-size;
$typography-header-h2-size: $typography-header-h1-size * 0.8;
$typography-header-h3-size: $typography-header-h1-size * 0.6;

// Paths
$fa_path: "/static/fontawesome-svgs/";

// Images
$fa_chevron_right: "#{$fa_path}chevron-right.svg";
$fa_chevron_right_white: "#{$fa_path}chevron-right-white.svg";
$fa_chevron_right_aqua_blue: "#{$fa_path}chevron-right-aqua-blue.svg";
$fa_chevron_right_disabled: "#{$fa_path}chevron-right-disabled.svg";
$fa_chevron_right_link_blue: "#{$fa_path}chevron-right-link-blue.svg";
$fa_chevron_right_link_hover_blue: "#{$fa_path}chevron-right-link-hover-blue.svg";
$fa_chevron_left: "#{$fa_path}chevron-left.svg";
$fa_chevron_left_white: "#{$fa_path}chevron-left-white.svg";
$fa_chevron_left_aqua_blue: "#{$fa_path}chevron-left-aqua-blue.svg";
$fa_chevron_left_disabled: "#{$fa_path}chevron-left-disabled.svg";
$fa_chevron_left_link_blue: "#{$fa_path}chevron-left-link-blue.svg";
$fa_chevron_left_link_hover_blue: "#{$fa_path}chevron-left-link-hover-blue.svg";
$fa_chevron_up_aqua_blue: "#{$fa_path}chevron-up-aqua-blue.svg";
$fa_chevron_up_link_blue: "#{$fa_path}chevron-up-link-blue.svg";
$fa_chevron_up_link_hover_blue: "#{$fa_path}chevron-up-link-hover-blue.svg";
$fa_chevron_down_link_blue: "#{$fa_path}chevron-down-link-blue.svg";
$fa_chevron_down_link_hover_blue: "#{$fa_path}chevron-down-link-hover-blue.svg";
$fa_circle_xmark_solid: "#{$fa_path}circle-xmark-solid.svg";
$fa_circle_xmark_solid_white: "#{$fa_path}circle-xmark-solid-white.svg";
$fa_circle_xmark_solid_link_blue: "#{$fa_path}circle-xmark-solid-link-blue.svg";
$fa_circle_xmark_solid_link_hover_blue: "#{$fa_path}circle-xmark-solid-link-hover-blue.svg";
$fa_circle_xmark_light: "#{$fa_path}circle-xmark-light.svg";
$fa_xmark_solid: "#{$fa_path}xmark-solid.svg";
$fa_magnifying_glass_solid_white: "#{$fa_path}magnifying-glass-solid-white.svg";

$fa_download: "#{$fa_path}download.svg";
