@import "@nationalarchives/ds-caselaw-frontend/src/includes/variables/variables";

$gutter_unit: 25px;
$grid-breakpoint-small: 576px;
$grid-breakpoint-medium: 768px;
$grid-breakpoint-large: 992px;
$grid-breakpoint-extra-large: 1200px;

// TODO: Rename these
$font-roboto: "Roboto", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-serif: serif;
$typography-display-font-family: $font-roboto;
$typography-body-font-family: $font-open-sans;
$typography-xs-text-size: 0.7rem;
$typography-sm-text-size: 0.9rem;
$typography-md-text-size: 1.1rem;
$typography-lg-text-size: 1.3rem;
$typography-xl-text-size: 2rem;
$typography-2xl-text-size: 2.4rem;
$typography-base-line-height: 1.2;
$typography-xs-line-height: 0.8;
$typography-sm-line-height: 1;
$typography-md-line-height: 1.2;
$typography-lg-line-height: 1.5;
$typography-xl-line-height: 1.8;
$typography-2xl-line-height: 2;
$typography-3xl-line-height: 2.6;
$typography-normal-font-weight: 400;
$typography-bold-font-weight: 700;

// TODO: Replace these with static values
$typography-header-line-size-multiplier: 1.3;
$typography-header-medium-breakpoint-multiplier: 0.8;

// TODO: Replace these with spaces
$typography-header-margin-top-multiplier: 1.3;
$typography-header-margin-bottom-multiplier: 0.8;

// TODO: Replace these with text sizes
$typography-header-h1-size: 2.5rem;
$typography-header-h2-size: $typography-header-h1-size * 0.8;
$typography-header-h3-size: $typography-header-h1-size * 0.6;

// Paths
$fa_path: "/static/fontawesome-svgs/";

// Images
$fa_chevron_right: "#{$fa_path}chevron-right.svg";
$fa_chevron_right_white: "#{$fa_path}chevron-right-white.svg";
$fa_chevron_right_aqua_blue: "#{$fa_path}chevron-right-aqua-blue.svg";
$fa_chevron_right_disabled: "#{$fa_path}chevron-right-disabled.svg";
$fa_chevron_right_link_blue: "#{$fa_path}chevron-right-link-blue.svg";
$fa_chevron_right_link_hover_blue: "#{$fa_path}chevron-right-link-hover-blue.svg";
$fa_chevron_left: "#{$fa_path}chevron-left.svg";
$fa_chevron_left_white: "#{$fa_path}chevron-left-white.svg";
$fa_chevron_left_aqua_blue: "#{$fa_path}chevron-left-aqua-blue.svg";
$fa_chevron_left_disabled: "#{$fa_path}chevron-left-disabled.svg";
$fa_chevron_left_link_blue: "#{$fa_path}chevron-left-link-blue.svg";
$fa_chevron_left_link_hover_blue: "#{$fa_path}chevron-left-link-hover-blue.svg";
$fa_chevron_up_aqua_blue: "#{$fa_path}chevron-up-aqua-blue.svg";
$fa_chevron_up_link_blue: "#{$fa_path}chevron-up-link-blue.svg";
$fa_chevron_up_link_hover_blue: "#{$fa_path}chevron-up-link-hover-blue.svg";
$fa_chevron_down_link_blue: "#{$fa_path}chevron-down-link-blue.svg";
$fa_chevron_down_link_hover_blue: "#{$fa_path}chevron-down-link-hover-blue.svg";
$fa_circle_xmark_solid: "#{$fa_path}circle-xmark-solid.svg";
$fa_circle_xmark_solid_white: "#{$fa_path}circle-xmark-solid-white.svg";
$fa_circle_xmark_solid_link_blue: "#{$fa_path}circle-xmark-solid-link-blue.svg";
$fa_circle_xmark_solid_link_hover_blue: "#{$fa_path}circle-xmark-solid-link-hover-blue.svg";
$fa_circle_xmark_light: "#{$fa_path}circle-xmark-light.svg";
$fa_xmark_solid: "#{$fa_path}xmark-solid.svg";
$fa_magnifying_glass_solid_white: "#{$fa_path}magnifying-glass-solid-white.svg";
$fa_download: "#{$fa_path}download.svg";
$arrow-left: "/static/images/arrow-left.svg";
$arrow-right: "/static/images/arrow-right.svg";
$beta-arrow-right: "/static/images/beta-arrow-right.svg";
