$spacer__unit: 1rem;

$color__almost-black: #121212;
$color__light-pink: #fbe2bc;
$color__white: #fff;
$color__light-grey: #efefef;
$color__dark-blue: #134571;
$color__grey: #ddd;
$color__dark-grey: #555;
$color__black: #000;
$color__highlight-blue: #0066cc;
$color__yellow: #ffb952;
$color__aqua-blue: #037091;

$color__link-blue: $color__aqua-blue;
$color__link-blue-hover: $color__dark-blue;
$color__link-blue-focus: $color__dark-blue;
$color__link-blue-visited: #4c2c92;
$color__link-blue-active: #1e1e2a;

$color__focus-blue-outline: $color__dark-blue;
$color__cta-background: $color__aqua-blue;
$color__cta-background-hover: $color__dark-blue;

$grid__breakpoint-small: 576px;
$grid__breakpoint-medium: 768px;
$grid__breakpoint-large: 992px;
$grid__breakpoint-extra-large: 1200px;

$font__roboto: "Roboto", sans-serif;
$font__open-sans: "Open Sans", sans-serif;
$font__serif: serif;

// Paths
$fa_path: "/static/fontawesome-svgs/";

// Images
$fa_chevron_right: "#{$fa_path}chevron-right.svg";
$fa_chevron_right_white: "#{$fa_path}chevron-right-white.svg";
$fa_chevron_right_aqua_blue: "#{$fa_path}chevron-left-aqua-blue.svg";
$fa_chevron_right_disabled: "#{$fa_path}chevron-right-disabled.svg";
$fa_chevron_left: "#{$fa_path}chevron-left.svg";
$fa_chevron_left_white: "#{$fa_path}chevron-left-white.svg";
$fa_chevron_left_aqua_blue: "#{$fa_path}chevron-left-aqua-blue.svg";
$fa_chevron_left_disabled: "#{$fa_path}chevron-left-disabled.svg";
$fa_chevron_up_aqua_blue: "#{$fa_path}chevron-up-aqua-blue.svg";
$fa_chevron_up_link_blue: "#{$fa_path}chevron-up-link-blue.svg";
$fa_chevron_up_link_hover_blue: "#{$fa_path}chevron-up-link-hover-blue.svg";
$fa_chevron_down_link_blue: "#{$fa_path}chevron-down-link-blue.svg";
$fa_chevron_down_link_hover_blue: "#{$fa_path}chevron-down-link-hover-blue.svg";
$fa_circle_xmark_solid: "#{$fa_path}circle-xmark-solid.svg";
$fa_circle_xmark_solid_white: "#{$fa_path}circle-xmark-solid-white.svg";
$fa_circle_xmark_light: "#{$fa_path}circle-xmark-light.svg";
$fa_xmark_solid: "#{$fa_path}xmark-solid.svg";
$fa_magnifying_glass_solid_white: "#{$fa_path}magnifying-glass-solid-white.svg";

$fa_download: "#{$fa_path}download.svg";
