{% extends "layouts/base.html" %}
{% load document_utils waffle_tags static %}
{% block javascript %}
  <script type="module" defer src="{% static 'js/dist/document_navigation_links.js' %}"></script>
  <script type="module" defer src="{% static 'js/dist/document_paragraph_tooltip_anchors.js' %}"></script>
{% endblock javascript %}
{% block title %}
  {% if page_title %}{{ page_title }} -{% endif %}
  Find Case Law
{% endblock title %}
{% block extra_head_tags %}
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet" />
{% endblock extra_head_tags %}
{% block precontent %}
  {% include "includes/survey_banner.html" %}
  {% include "includes/judgment_text_toolbar.html" %}
{% endblock precontent %}
{% block body_class %}document-detail{% endblock body_class %}
{% block content %}
  {% include "includes/judgment_navigation.html" %}
  {% if document_html %}
    <div id="start-of-document"></div>
    <div data-document-body>
      {% autoescape off %}
        {{ document_html }}
      {% endautoescape %}
    </div>
    {% include "includes/judgment_end_document_marker.html" %}
  {% else %}
    <div class="container judgment-pdf-only">
      <div class="home-office-alert">
        <h2 class="home-office-alert__heading">Document status</h2>
        <p>This document is only available to download and view as a PDF.</p>
      </div>
    </div>
  {% endif %}

{% endblock content %}

{% block postcontent %}
  {% include "includes/judgment_text_download_options.html" %}
  {% if document_html %}
    {% include "includes/judgment_catalogue_card.html" %}
  {% else %}
    {% flag "document_catalogue_card" %}{% include "includes/judgment_catalogue_card.html" %}{% endflag %}
  {% endif %}
{% endblock postcontent %}
