{% extends "layouts/base.html" %}
{% load document_utils waffle_tags %}
{% block robots %}
  <meta name="robots" content="noindex,nofollow" />
{% endblock robots %}
{% block extra_head_tags %}
  <link rel="canonical" href="{{ document_canonical_url }}" />
{% endblock extra_head_tags %}
{% block title %}
  {% if page_title %}{{ page_title }} -{% endif %}
  Find case law
{% endblock title %}
{% block precontent %}
  {% include "includes/judgment_text_toolbar.html" %}
{% endblock precontent %}
{% block content %}
  <div id="start-of-document"></div>
  {% if document %}
    {% autoescape off %}
      {{ document }}
    {% endautoescape %}
  {% else %}
    {{ content }}
  {% endif %}
  {% include "includes/judgment_end_document_marker.html" %}
  {% include "includes/judgment_navigation.html" %}
{% endblock content %}
{% block postcontent %}
  {% include "includes/judgment_text_download_options.html" %}
{% endblock postcontent %}
