{% extends "layouts/base.html" %}
{% load document_utils waffle_tags %}
{% block precontent %}
  <div class="judgment-toolbar">
    <div class="judgment-toolbar__container">
      <h1 class="judgment-toolbar__title">{{ judgment_name }}</h1>
      <p class="judgment-toolbar__reference">Press Summaries</p>
    </div>
  </div>
{% endblock precontent %}
{% block content %}
  <div class="results">
    {% if page_title %}
      <h1>{{ page_title }}</h1>
    {% endif %}
    <ul>
      {% for press_summary in press_summaries %}
        <li><a href="{% url 'detail' press_summary.uri %}">{{ press_summary.body.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
