{% extends "layouts/base.html" %}
{% load document_utils waffle_tags %}
{% block title %}
  {% if page_title %}{{ page_title }} -{% endif %}
  Find Case Law
{% endblock title %}
{% block precontent %}
  <div class="judgment-toolbar">
    <div class="judgment-toolbar__container">
      <h1 class="judgment-toolbar__title">{{ judgement_name }}</h1>
      <p class="judgment-toolbar__reference">Press Summaries</p>
    </div>
  </div>
{% endblock precontent %}
{% block content %}
  <div class="results">
    {% if page_title %}
      <h1>{{ page_title }}</h1>
    {% endif %}
    <div class="results__container">
      <div class="results__list-layout-container">
        {% include "includes/judgment_listing.html" with judgments=press_summaries %}
      </div>
    </div>
  </div>
{% endblock content %}
