{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro historic_documents_content() %}
  <p>
    You can read more about how to find older Court of Appeal (civil) justice records in the research guide {{ link(content="Civil court cases: an overview", href="https://www.nationalarchives.gov.uk/help-with-your-research/research-guides/civil-courts-appeal-cases-after-1875/", attrs={"target": "_blank"}) }}.
  </p>
{% endmacro %}
{% macro court_noun_content() %}
  court
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-court", content="Search this court") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#understanding-judgments", content="Understanding " ~ court.name ~ " judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#about", content="About " ~ court.name) }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-court", content="Questions about judgments from this court") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_start_year = param|get_court_start_year %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  <p>
    <strong>Transfer method</strong> — This court began regularly transferring judgments to The National Archives in 2022. The oldest judgment from this court included in Find Case Law is from {{ court_start_year }}. Judgments from {{ court_start_year }}–2022 were sourced from other collections.
  </p>
  {{ historic_documents_content() }}
{% endmacro %}
{% macro understanding_content() %}
  {{ heading(content="Understanding " ~ court.name ~ " judgments", tag="h2", id="understanding-judgments") }}
  {{ heading(content="Citation format", tag="h3") }}
  <p>
    Civil Division neutral citation numbers are formatted as [Year] EWCA Civ [Number]. For example, [2026] EWCA Civ 50 is case number 50 decided by the Court of Appeal (Civil Division) for England and Wales in 2026.
  </p>
  {{ heading(content="Who sits", tag="h3") }}
  <p>
    Cases are usually heard by three judges, consisting of any combination of the Heads of Division and Lord/Lady Justices of Appeal.
  </p>
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>The Court of Appeal Civil Division is the second most senior court for non-criminal cases in England and Wales.</p>
  <p>
    This court began to regularly transfer judgments to The National Archives in 2022.
    {% if start_year %}The oldest judgment from this court included in Find Case Law is from {{ start_year }}.{% endif %}
  </p>
  <p>
    You can read more about it on the {{ link(content="Court of Appeal Civil Division page", href="https://www.gov.uk/courts-tribunals/court-of-appeal-civil-division", attrs={"target":"_blank"}) }} on the {{ link(content="HM Courts and Tribunals Service website", href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about", attrs={"target": "_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
  {{ heading(content="About " ~ court.name, tag="h2", id="about") }}
  <p>
    The Civil Division hears a range of civil appeals from the High Court, County Court, Family Court and Tribunals. Its President is the Master of the Rolls.
  </p>
{% endmacro %}
