#ds-cookie-consent-banner {
  .container {
    @include container;

    padding: $spacer-unit calc($spacer-unit * 2);

    .cookie_head {
      font-family: $font-roboto;
      font-size: 1.8rem;
    }
  }
}
