{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro court_noun_content() %}
  tribunal
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-tribunal", content="Search this tribunal") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-tribunal", content="Questions about judgments from this tribunal") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  {% if court.historic_documents_support_text_as_html %}
    {% autoescape off %}
      {{ court.historic_documents_support_text_as_html }}
    {% endautoescape %}
  {% endif %}
{% endmacro %}
{% macro understanding_content() %}
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>
    The Administrative Appeals Chamber is responsible for dealing with appeals against decisions made by certain lower tribunals and organisations including social security and child support; war pensions and armed forces compensation; mental health; special education needs or disabilities; disputes heard by the General Regulatory Chamber; decisions made by the Disclosure and Barring Service; decisions made by the Traffic Commissioner (or the Transport Regulation Unit in Northern Ireland); Special Education Needs Tribunal for Wales; Mental Health Review Tribunal for Wales and Pensions Appeal Tribunal in Northern Ireland (only for assessment appeals under the War Pensions Scheme).
  </p>
  <p>
    They also handle applications for judicial review of decisions made by First-Tier Tribunal (Criminal Injuries Compensation) and other first-tier tribunals where there is no right of appeal.
  </p>
  <p>
    This tribunal began to regularly transfer decisions to The National Archives in 2022.
    {% if start_year %}
      The oldest decision from this tribunal included in Find Case Law is from {{ start_year }}.
    {% endif %}
  </p>
  <p>
    You can read more about it on the Administrative Appeals Chamber on the {{ link(content="HM Courts and Tribunals Service website", href="https://www.gov.uk/courts-tribunals/upper-tribunal-administrative-appeals-chamber", attrs={"target": "_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
{% endmacro %}
