<div id="ds-cookie-consent-banner" class="cookieConsent" role="region" aria-label="Cookie banner">
  <div class="container" role="region" aria-label="Cookies on The National Archives">
    <div class="row">
      <p class="cookie_head">This website uses cookies</p>
      <p class="cookie-p">
        We place some essential cookies on your device to make this website work. <br><br>
        We'd like to use additional cookies to remember your settings and understand how you use our services. <br><br>
        This information will help us make improvements to the website.
      </p>

      <a href="https://www.nationalarchives.gov.uk/legal/cookies/" id="btn_preferences" class="button">Set cookie
        preferences</a>
    </div>
  </div>
</div>
