{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% from "components/alert.jinja" import alert %}
{% macro historic_documents_content() %}
  <p>
    You can read more about how to find older Admiralty Court records in the research guide {{ link(content="High court of Admiralty", href="https://www.nationalarchives.gov.uk/help-with-your-research/research-guides/high-court-admiralty-records/", attrs={"target":"_blank"}) }}.
  </p>
{% endmacro %}
{% macro court_noun_content() %}
  court
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-court", content="Search this court") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-court", content="Questions about judgments from this court") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  {{ historic_documents_content() }}
{% endmacro %}
{% macro understanding_content() %}
{% endmacro %}
{% macro description_content(start_year=None) %}
  {% call alert() %}
    <p><strong>Changes to courts within King’s Bench Division</strong></p>
    <p>On 1 October 2026, a number of specialist courts that were part of the King’s Bench Division were moved to the {{ link(href=url("court_or_tribunal", "ewhc/bp"), content="Business and Property Division") }} including Admiralty, Commercial and Technology and Construction.</p>
    <p>{{ link(href="https://www.judiciary.uk/the-lady-chief-justice-and-lord-chancellor-modernise-the-high-court-through-establishment-of-the-business-and-property-division/", content="Read more about the change on the Judiciary website") }}</p>
  {% endcall %}
  <p>The Admiralty Court is a specialist court within the {{ link(href=url("court_or_tribunal", "ewhc/bp"), content="Business and Property Division") }} of the High Court. Prior to 1 October 2026, it was part of the King’s Bench Division of the High Court. You can read more about the {{ link(content="decision to move this court to a new division on the Judiciary’s website", href="https://www.judiciary.uk/the-lady-chief-justice-and-lord-chancellor-modernise-the-high-court-through-establishment-of-the-business-and-property-division/") }}.</p>
  <p>
    This court began to regularly transfer judgments to The National Archives in 2022.
    {% if start_year %}The oldest judgment from this court included in Find Case Law is from {{ start_year }}.{% endif %}
  </p>
  <p>
    You can read more about {{ link(content="the Admiralty court on the judiciary website", href="https://www.judiciary.uk/courts-and-tribunals/business-and-property-courts/admiralty-court/", attrs={"target": "_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
{% endmacro %}
