{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro court_noun_content() %}
  court
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-court", content="Search this court") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#understanding-judgments", content="Understanding " ~ court.name ~ " judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#about", content="About " ~ court.name) }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-court", content="Questions about judgments from this court") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  {% if court.historic_documents_support_text_as_html %}
    {% autoescape off %}
      {{ court.historic_documents_support_text_as_html }}
    {% endautoescape %}
  {% endif %}
{% endmacro %}
{% macro understanding_content() %}
  {{ heading(content="Understanding " ~ court.name ~ " judgments", tag="h2", id="understanding-judgments") }}
  <p>
    Chancery Division Judges are highly specialised in the wide range of work carried out by the Division and include High Court Judges, Chancery Masters and Insolvency and Companies Court Judges.
  </p>
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>
    The Chancery Division is one of three divisions of the High Court. It handles a wide range of civil cases including business disputes, intellectual property and probate issues. It has various lists that deal with specialist issues such as the Business List, Insolvency and Companies List, Intellectual Property List, or Property, Trusts and Probate List. It contains the Intellectual Property Enterprise and Patents Courts.
  </p>
  <p>
    This court began to regularly transfer judgments to The National Archives in 2022.
    {% if start_year %}The oldest judgment from this court included in Find Case Law is from {{ start_year }}.{% endif %}
  </p>
  <p>
    You can read more about it on {{ link(content="the chancery division on the Judiciary website", href="https://www.judiciary.uk/courts-and-tribunals/business-and-property-courts/chancery-division/", attrs={"target": "_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
  {{ heading(content="About " ~ court.name, tag="h2", id="about") }}
  <p>
    The Chancery Division deals with commercial, business, intellectual property and competition disputes and cases concerning companies, partnerships, mortgages, insolvency, land and trusts. The President of the Chancery Division is the Chancellor of the High Court.
  </p>
{% endmacro %}
