{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro historic_documents_content() %}
  <p>
    You can read more about how to find older divorce case files in the {{ link(content="divorce research guide", href="https://www.nationalarchives.gov.uk/help-with-your-research/research-guides/divorce/", attrs={"target":"_blank"}) }}.
  </p>
{% endmacro %}
{% macro court_noun_content() %}
  court
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-court", content="Search this court") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-court", content="Questions about judgments from this court") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  {{ historic_documents_content() }}
{% endmacro %}
{% macro understanding_content() %}
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>
    The Family Division is one of three divisions of the High Court. It handles complex cases involving child protection including decisions about: making a child a ‘ward of the court’, international child abduction cases, forced marriage, genital mutilation and financial relief in divorces that have been finalised in a foreign country. The Family Division hears cases in private and often anonymises the people involved to protect them.
  </p>
  <p>
    The Family Court is different to the Family Division of the High Court. The Family Court is not part of the High Court and hears less complex cases. You can read more about the Family Division of {{ link(content="the High Court and the Family Court on the Judiciary website", href="https://www.judiciary.uk/courts-and-tribunals/family-law-courts/", attrs={"target": "_blank"}) }}.
  </p>
  <p>
    This court began to regularly transfer judgments to The National Archives in 2022.
    {% if start_year %}The oldest judgment from this court included in Find Case Law is from {{ start_year }}.{% endif %}
  </p>
  <p>
    You can read more about the Family Division of {{ link(content="the High Court on HM Courts and Tribunals website", href="https://www.gov.uk/courts-tribunals/family-division-of-the-high-court", attrs={"target": "_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
{% endmacro %}
