{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro historic_documents_content() %}
  <p>
    You can read more about how to find older patent records in {{ link(content="Intellectual property: patents for invention research guide", href="https://www.nationalarchives.gov.uk/help-with-your-research/research-guides/patents-of-invention/", attrs={"target": "_blank"}) }}; {{ link(content="Intellectual property: registered designs 1839-1991 research guide", href="https://www.nationalarchives.gov.uk/help-with-your-research/research-guides/registered-designs-1839-1991/", attrs={"target":"_blank"}) }} or {{ link(content="Intellectual property: trademarks 1876 -1938 research guide", href="https://www.nationalarchives.gov.uk/help-with-your-research/research-guides/trade-marks/", attrs={"target": "_blank"}) }}.
  </p>
{% endmacro %}
{% macro court_noun_content() %}
  court
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-court", content="Search this court") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-court", content="Questions about judgments from this court") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  {{ historic_documents_content() }}
{% endmacro %}
{% macro understanding_content() %}
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>
    This court is a specialist court within the Chancery Division of the High Court. It is also one of the Business and Property Courts. It specialises in cases involving patents, registered designs and plant varieties. Typically it handles cases where damages sought are over £500,000. Cases less than £500,000 are typically handled by the Intellectual Property Enterprise Court.
  </p>
  <p>
    This court began to regularly transfer judgments to The National Archives in 2022.
    {% if start_year %}The oldest judgment from this court included in Find Case Law is from {{ start_year }}.{% endif %}
  </p>
  <p>
    You can read more about {{ link(content="the Patents Court on the Judiciary website", href="https://www.judiciary.uk/courts-and-tribunals/business-and-property-courts/business-list-general-chancery/intellectual-property-list/patents-court/", attrs={"target": "_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
{% endmacro %}
