{% extends "layouts/base.html" %}
{% block content %}
  <div class="standard-text-template container py-3">
    <div class="govuk-notification-banner_red"
         role="region"
         aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title"
            id="govuk-notification-banner-title">Important</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You can not save your application part way through. You will need to complete your application in one session.  Please make sure you have prepared
          your answers before you apply.
        </p>
      </div>
    </div>
    <h1 class="transactional-licence-form__step-title">Step 1 - Are you ready to apply?</h1>
    <h3 class="transactional-licence-form__steps">
      Step <b>1</b> of 11
    </h3>
    <p>
      You only need to apply for a licence if you intend to use computational analysis in your re-use of Find Case Law records in ways
      that are not already permitted under the Open Justice Licence.
    </p>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="who-applying">
        <legend class="govuk-fieldset__legend">
          <strong>The application can not be saved part way through. Please make sure you are ready to apply in one session: Have you...</strong>
        </legend>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                   id="details"
                   name="details"
                   type="checkbox"
                   value="applying">
            <label class="govuk-label govuk-checkboxes__label" for="details">Read the terms of the Open Justice Licence</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                   id="licence_holder"
                   name="licence_holder"
                   type="checkbox"
                   value="prepared">
            <label class="govuk-label govuk-checkboxes__label" for="licence_holder">
              Got the details of the licence holder (This will need to be someone senior in your organisation)
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                   id="statement"
                   name="statement"
                   type="checkbox"
                   value="prepared">
            <label class="govuk-label govuk-checkboxes__label" for="statement">Prepared your public statement</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                   id="nine_principles"
                   name="nine_principles"
                   type="checkbox"
                   value="prepared">
            <label class="govuk-label govuk-checkboxes__label" for="nine_principles">
              Read and identified risks against the nine principles
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="confirmation-btn-group">
      <a role="button"
         tabindex="0"
         draggable="false"
         class="button-primary"
         value="Apply for a licence"
         href="{% url 'transactional-licence-form-steps' %}">Apply now</a>
    </div>
  </div>
{% endblock content %}
