{% extends "layouts/form_step.html" %}
{% block pre_form %}
  <p>
    There are the 9 principles that have been established by the Ministry of Justice to inform our decision making about the licences we grant. You will need to read these principles carefully before accepting them as terms. In the next part of the form you will need to explain in detail how you will meet these terms.
  </p>
  <p>The 9 principles are:</p>
  <div class="anchor-links">
    <ul class="anchor-links__list">
      <li class="anchor-links__list-option">
        <a href="#dignity">Dignity of the court</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#independence">Independence of the court</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#scrutiny">Appropriate scrutiny</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#anti-discrimination">Anti-discriminatory harm</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#anti-bias">Anti-bias</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#privacy">Personal privacy</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#discoverability">Discoverability</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#transparency">Algorithmic transparency</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#representation">Accurate data representation</a>
      </li>
    </ul>
  </div>
  <h3 id="dignity">1.Dignity of the court</h3>
  <p>
    It is important that any analysis maintains the dignity of the courts and tribunals and does not undermine their functioning as working bodies. This is consistent with access to justice.
  </p>
  <ul>
    <li>Licence holders must not undermine the courts and tribunals’ ability to function as working bodies.</li>
  </ul>
  <p>
    You should consider anything that may undermine the ability for the justice system to operate impartially and with integrity and treat all members of the public equally and fairly, no matter who they are
  </p>
  <h3 id="independence">2. Independence of the court</h3>
  <p>It is important that any analysis respects the independence of the judiciary and their impartial judgment.</p>
  <ul>
    <li>Licence holders must respect the independence of the judiciary</li>
  </ul>
  <p>
    You should consider anything that may undermine the ability for the justice system to be fair and transparent, free of any influence outside the rule of law.
  </p>
  <h3 id="scrutiny">3. Appropriate scrutiny</h3>
  <p>
    We seek to encourage the analysis of machine-readable judgments to allow the public to scrutinise justice outcomes and the law more effectively. We also acknowledge that the incomplete nature of the dataset and the current lack of safeguard against opaque or biased methodologies increases the risk of inaccurate or biased conclusions which may cause harm to individuals named therein.
  </p>
  <ul>
    <li>Licence holders must acknowledge the incomplete nature of the dataset and apply appropriate scrutiny</li>
  </ul>
  <p>
    You should consider how you will prevent anonymised people from being identified. This is referred to as jigsaw identification - putting together information in a way that identifies individuals even if they have been anonymised.
  </p>
  <h3 id="anti-discrimination">4. Anti-discriminatory harm</h3>
  <p>
    Outcomes of analysis should not cause direct discriminatory harm and reasonable steps should be taken by the licence holder to avoid introducing or compounding bias.
  </p>
  <ul>
    <li>Licence holders must take actions to prevent discriminatory harm</li>
  </ul>
  <p>
    You should consider how you will monitor for and address harmful outcomes including misleading analysis or conclusions and discrimination against individuals or communities.
  </p>
  <h3 id="anti-bias">5. Anti Bias</h3>
  <p>
    Licence holders have a responsibility to operate effective governance to ensure that bias does not enter the process over time.
  </p>
  <ul>
    <li>Licence holders must ensure bias does not enter their process over time</li>
  </ul>
  <p>You should consider any ethical governance structures you have in place.</p>
  <h3 id="privacy">6. Personal Privacy</h3>
  <p>
    Re-users should satisfy themselves that their practices comply with the standards set out in the DPA and UK GDPR regarding data security and data subjects’ rights, regardless of their location
  </p>
  <p>Please note that this licence:</p>
  <ul>
    <li>is not a data sharing agreement for personal data</li>
    <li>is not a processing agreement for personal data</li>
  </ul>
  <h3 id="discoverability">7. Discoverability</h3>
  <p>
    We acknowledge a distinction between publicly available and readily available information. For example, care should be given to data subjects’ discoverability in line with Ministry of Justice/The National Archives’ decision not to index the content of judgments on search engines.
  </p>
  <ul>
    <li>Licence holders must not index the contents of judgments and decisions on search engines.</li>
  </ul>
  <p>
    You should consider what you will do to prevent third party services from crawling or scraping either the text of the records or the data you have extracted from the records.
  </p>
  <h3 id="transparency">8.Algorithmic transparency</h3>
  <p>Where possible, algorithms should be explainable and transparent.</p>
  <p>
    You should consider how you will be transparent in your use of algorithms to people using your project or product.
  </p>
  <h3 id="representation">9. Accurate data representation</h3>
  <p>
    The ‘Find Case Law’ service comprises an incomplete set of court judgments and tribunal decisions. Outcomes from analysis should therefore reflect the limitations of the data and avoid misrepresenting the significance of findings.
  </p>
  <ul>
    <li>Licence holders must avoid misrepresenting the significance of findings</li>
    <li>
      Occasionally records that have been published will be revised and taken down by the court. Licence holders must regularly check to make sure they are re-using the authoritative version of the record
    </li>
  </ul>
  <p>
    You should consider how you will make sure the records you use are the most up to date published version of the records.
  </p>
{% endblock pre_form %}
