{% extends "layouts/form_step.html" %}
{% block pre_form %}
  {% include "includes/foi_alert.html" %}
  <div class="transactional-licence-form__preamble">
    <p>Please provide a public statement that briefly describes:</p>
    <ul>
      <li>purpose and anticipated outcomes of your product or service</li>
      <li>individuals or communities you intend to serve</li>
      <li>methodologies or activities you will use to analyse the records.</li>
    </ul>
    <p>To help you write your statement, we have included a fictional, example public statement.</p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Example public statement</span>
      </summary>
      <div class="govuk-details__text">
        <div class="transactional-licence-form-content">
          <p>
            We empower Human Resource officials by providing them with access to summaries of the latest cases in employment Law. Using our innovative AI-driven Case law summarising service we will streamline the process of staying up to date with employment law, saving time and resources for HR professionals.
          </p>
          <p>
            Our mission is to facilitate informed decision-making in employment matters. We envision serving not only HR officials but also legal professionals and small businesses navigating the intricate landscape of employment law.
          </p>
          <p>
            We will leverage Natural Language Processing algorithms to efficiently analyse English and Welsh legal cases. We prioritise accuracy, impartiality and transparency. Our team of legal experts will review summaries to guarantee they provide reliable insights while upholding the integrity of the legal process.
          </p>
          <p>
            We strive to democratise access to legal knowledge. We are committed to driving positive change in the workplace by facilitating informed decision-making and supporting compliance with legal requirements.
          </p>
        </div>
      </div>
    </details>
  </div>
{% endblock pre_form %}
