{% extends "layouts/form_step.html" %}
{% block pre_title %}
  {% include "includes/foi_alert.html" %}
{% endblock pre_title %}
{% block pre_form %}
  <div class="transactional-licence-form__preamble">
    <p>Your public statement should briefly describe:</p>
    <ul>
      <li>The purpose and anticipated outcome of your product or service,</li>
      <li>the individuals or communities you intend to serve, and</li>
      <li>the methodologies or activities you will use to analyse the records.</li>
    </ul>
    <p>To help you, we have included an example public statement.</p>
    <p>Your statement may be published publicly in future.</p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">An example public statement</span>
      </summary>
      <div class="govuk-details__text">
        <div class="transactional-licence-form-content">
          <p>
            Our mission at LegalSum is to empower HR officials with timely and accurate summaries of the latest cases in employment Law. Using our innovative AI-driven Case law summarising service, we will streamline the process of staying up to date with employment law, saving time and resources for HR professionals.
          </p>
          <p>
            Our mission is to facilitate informed decision-making in employment matters. We envision serving not only HR officials but also legal professionals and small businesses navigating the intricate landscape of employment law.
          </p>
          <p>
            We will leverage advancements in natural language processing algorithms to efficiently analyse important information from a vast array of English and Welsh legal cases. We prioritise accuracy, impartiality and transparency. Our team of legal experts will review and validate summaries ensuring that our summaries provide actionable insights while upholding the integrity of the legal process.
          </p>
          <p>
            Through LegalSum we strive to democratise access to legal knowledge. We are committed to driving positive change in the workplace by facilitating informed decision-making and fostering compliance with legal requirements.
          </p>
        </div>
      </div>
    </details>
  </div>
{% endblock pre_form %}
