{% extends "layouts/standard_content.jinja" %}
{% from "components/heading.jinja" import heading %}
{% from "components/button.jinja" import button %}
{% from "components/contents.jinja" import contents %}
{% from "components/link.jinja" import link %}
{% from "components/details.jinja" import details %}
{% from "components/list.jinja" import list, list_item %}
{% block mobile_article_title %}
  <small>Last updated on
    <time datetime="2025-01-30">30 January 2025</time>
  </small>
  {% call heading() %}
    Licence application process
  {% endcall %}
{% endblock mobile_article_title %}
{% block desktop_article_title %}
  <small>Last updated on
    <time datetime="2025-01-30">30 January 2025</time>
  </small>
  {% call heading() %}
    Licence application process
  {% endcall %}
{% endblock desktop_article_title %}
{% block article_navigation %}
  {% call contents(title="On this page") %}
    {% call list() %}
      {% call list_item() %}
        {% call link(href="#section-records") %}
          Computational Analysis
        {% endcall %}
      {% endcall %}
      {% call list_item() %}
        {% call link(href="#section-principles") %}
          Assessing applications to perform computational analysis
        {% endcall %}
      {% endcall %}
      {% call list_item() %}
        {% call link(href="#section-licences") %}
          Two types of licence
        {% endcall %}
      {% endcall %}
      {% call list_item() %}
        {% call link(href="#section-decisions") %}
          Approval process
        {% endcall %}
      {% endcall %}
      {% call list_item() %}
        {% call link(href="#section-published") %}
          Publication of approved licences
        {% endcall %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endblock article_navigation %}
{% block article_content %}
  <section>
    {% call heading(tag="h2", id="section-records") %}
      Computational Analysis
    {% endcall %}
    <p>
      Records published on the Find Case Law service are available for re-use under the
      {% call link(href=url('open_justice_licence')) %}
        terms of the Open Justice licence.
      {% endcall %}
      You do not need to apply if your re-use complies with these terms. However if you want to perform computational analysis then you will need to apply for an additional licence.
    </p>
    <p>
      Computational analysis includes activities such as: any programmatic searching in bulk across the Find Case Law records to identify, extract or enrich contents within the records.
    </p>
    <p>There are no costs to apply for a licence to perform computational analysis.</p>
    {% call heading(tag="h2", id="section-principles") %}
      Assessing applications to perform computational analysis
    {% endcall %}
    <p>
      Licences for computational analysis are assessed based on the activities and re-use you state in your application. The licences we issue will be specific to your re-use.
    </p>
    <p>
      The licence team at The National Archives will assess your application against
      {% call link(href="https://en.wikipedia.org/wiki/Five_safes") %}
        the five safes framework
      {% endcall %}
      , as well as the nine principles established in 2023 by the Ministry of Justice:
    </p>
    {% call list(variant="decimal") %}
      {% call list_item() %}
        Dignity of the court
      {% endcall %}
      {% call list_item() %}
        Independence of the court
      {% endcall %}
      {% call list_item() %}
        Appropriate scrutiny
      {% endcall %}
      {% call list_item() %}
        Anti-discriminatory harm
      {% endcall %}
      {% call list_item() %}
        Anti-Bias
      {% endcall %}
      {% call list_item() %}
        Personal Privacy
      {% endcall %}
      {% call list_item() %}
        Discoverability
      {% endcall %}
      {% call list_item() %}
        Algorithmic transparency
      {% endcall %}
      {% call list_item() %}
        Accurate data representation
      {% endcall %}
    {% endcall %}
    <p>
      The Licence team will determine whether your re-use is high risk or not. They will use this to decide the type of licence you will receive.
    </p>
    <p>
      Activities currently considered high risk include:
      <br />
      {% call list(variant="bullets") %}
        {% call list_item() %}
          Whether you intend to produce fully automated legal advice.
        {% endcall %}
        {% call list_item() %}
          Whether you intend to perform automation to anticipate legal decisions directly for a client or consumer, such as tools which set expectations for case outcomes through modelling or predictive analytics.
        {% endcall %}
        {% call list_item() %}
          Whether you intend to directly inform or influence the decision of a third-party regarding whether to pursue justice or legal action.
        {% endcall %}
      {% endcall %}
    </p>
    <p>
      Context is important when understanding risk. If you have an idea that you think might be high risk, please apply giving as much detail as you can.
    </p>
    {% call heading(tag="h2", id="section-licences") %}
      Two types of licence
    {% endcall %}
    <p>Based on your application there are two main categories for licences we issue to perform computational analysis.</p>
    {% call heading(tag="h4") %}
      Research and Development
    {% endcall %}
    <p>
      These licences are typically granted for 1 year where the purpose of re-using the data is to gain insight or develop new technologies or practices.
    </p>
    {% call heading(tag="h4") %}
      Transactional
    {% endcall %}
    <p>
      These licences are typically granted for up to 5 years. These are for when computational analysis is necessary to deliver a commercial product or service and it is not high risk.
    </p>
    <p>It is important to note that any licence we issue will not be:</p>
    {% call list(variant="bullets") %}
      {% call list_item() %}
        data sharing agreement for personal data
      {% endcall %}
      {% call list_item() %}
        a processing agreement for personal data
      {% endcall %}
    {% endcall %}
    <p>You should make sure that you comply with all relevant regulations.</p>
    {% call heading(tag="h2", id="section-decisions") %}
      Approval process
    {% endcall %}
    <p>
      Once your licence has been assessed by the licence team, your licence application will be reviewed by
      {% call link(href="https://www.nationalarchives.gov.uk/about/our-role/boards-and-advisory-groups/discovery-board/") %}
        Discovery board.
      {% endcall %}
      This is a cross-departmental board at The National Archives. The board meets once a month.
    </p>
    <p>
      Rarely, applications will need to be reviewed by the
      {% call link(href="https://www.gov.uk/government/news/data-governance-panel-formed-to-improve-use-of-court-and-tribunals-data#:~:text=About%20the%20senior%20data%20governance%20panel&text=Its%20role%20is%20to%20advise,rule%20of%20law") %}
        Senior Data Governance Panel
      {% endcall %}
      that meets 4 times a year.
    </p>
    <p>
      You will be updated on the status of your application. It may be a few weeks until you get a decision on your application.
    </p>
    {% call heading(tag="h2", id="section-published") %}
      Publication of approved licences
    {% endcall %}
    <p>
      We keep a record of all applications. If your application is successful, part of your application may be made publicly available in the future. This will support transparency in activities using computational analysis that have been approved under licence.
    </p>
    {% call button(href=url('transactional-licence-form-page-3')) %}
      What you need to apply for a licence
    {% endcall %}
    {% call heading(tag="h2") %}
      Contact
    {% endcall %}
    <p>
      If you have any questions about licensing, please email the Licensing Department:
      {% call link(href="mailto:caselawlicence@nationalarchives.gov.uk") %}
        caselawlicence@nationalarchives.gov.uk
      {% endcall %}
      .
    </p>
  </section>
{% endblock article_content %}
