{% extends "layouts/base.html" %}
{% load i18n %}
{% block content %}
  <div class="standard-text-template container py-3">
    <h1>What you need to know before you apply for a licence to perform computational analysis</h1>
    <p>
      <small>
        Last updated on
        <time datetime="10-04-2024">10th April 2024</time>
      </small>
    </p>
    <div class="anchor-links">
      <h2 class="anchor-links__header">Information on this page</h2>
      <ul class="anchor-links__list">
        <li class="anchor-links__list-option">
          <a href="#section-licences">The licences we grant for computational analysis are bespoke, tailored and based on your application</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-protect">We support innovation and technology, we also have a duty to protect the public</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-reuse">Your reuse of data must comply with all relevant regulations</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-published">Part of your application may be published</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-decisions">Decisions on licences are taken once a month</a>
        </li>
      </ul>
    </div>
    <h2 id="section-licences">
      The licences we grant for computational analysis are bespoke, tailored and based on your application
    </h2>
    <p>Licences for computational analysis fall into two categories:</p>
    <ul style="list-style: none;">
      <li>
        <p>
          <strong>Research and development licences</strong>
          <br>
          These licences do not allow for commercial reuse; they are granted for a period of 1 year.
        </p>
      </li>
      <li>
        <p>
          <strong>Transactional licences</strong>
          <br>
          These licences are suitable for commercial reuse; they can be granted for up to 5 years.
        </p>
      </li>
    </ul>
    <h2 id="section-protect">We support innovation and technology, we also have a duty to protect the public</h2>
    <p>
      In the interests of transparency, we consider the following risk factors during licence applications for computational analysis:
    </p>
    <ul>
      <li>Whether you intend to produce fully automated legal advice.</li>
      <li>
        Whether you intend to perform automation to anticipate legal decisions directly for a client or consumer, such as tools which set
        expectations for case outcomes through modelling or predictive analytics.
      </li>
      <li>
        Whether you intend to directly inform or influence the decision of a third-party regarding whether to pursue justice or legal action.
      </li>
    </ul>
    <p>
      We want you to know that licence application is not just about completing a form, it is a conversation. If you have an idea for
      computational analysis that you think might be high risk, please talk to us to see what options there are.
    </p>
    <p>
      We use the five safes framework to assess all applications for risk. You can read more about the <a href="https://en.wikipedia.org/wiki/Five_safes">Five safes on Wikipedia</a>
    </p>
    <h2 id="section-reuse">Your reuse of data must comply with all relevant regulations</h2>
    <p>
      Examples include the Legal Services Act (LSA), and UK General Data Protection Regulation (UKGDPR). Please note that this licence:
    </p>
    <ul>
      <li>is not a data sharing agreement for personal data</li>
      <li>is not a processing agreement for personal data</li>
    </ul>
    <h2 id="section-published">Part of your application may be published</h2>
    <p>
      We keep a record of all applications. If your application is successful your answers to the questions in the ‘About your organisation’, ‘Purpose and activity’ sections,
      along with your public statement, may be made publicly available.
    </p>
    <h2 id="section-decisions">Decisions on licences are taken once a month</h2>
    <p>
      Licence applications are reviewed by The Discovery board, a cross-departmental board at The National Archives that board meets once a month. It may be a few weeks until you get a decision.
    </p>
    <a role="button"
       tabindex="0"
       draggable="false"
       class="govuk-button"
       data-module="govuk-button"
       value="Apply for a licence"
       href="{% url 'transactional-licence-form-page-3' %}">Apply for a licence</a>
    <h3>Need to ask a question before you start applying?</h3>
    <p>
      If you are not sure what licence applies to you or have a question about applying for a licence, please <a href="mailto:{% translate "caselaw.email" %}">email the licence team</a>
    </p>
  </div>
{% endblock content %}
