{% extends "layouts/base.html" %}
{% load i18n %}
{% block content %}
  <div class="standard-text-template container py-3">
    <h1>Re-use Find Case Law records</h1>
    <p>
      <small>
        Last updated on
        <time datetime="24-05-2024">24th May 2024</time>
      </small>
    </p>
    <p>
      Free access to and re-use of judgments and decisions is fundamental to <a href="https://caselaw.nationalarchives.gov.uk/about-this-service#section-justice">the principles of Open Justice</a> and supports innovation in legal research and technology. Our repository of judgments and decisions can be freely accessed and re-used under the Open Justice Licence.
    </p>
    <h2>Open Justice licence</h2>
    <p>
      The National Archives, has worked in collaboration with The Ministry of Justice and the Judicial Executive Board to design a new licensing framework for the reuse
      of case law as data. The Open Justice licence is designed to protect the personal data within the records while supporting the principles of Open Justice. You can <a href="https://caselaw.nationalarchives.gov.uk/about-this-service#section-reuse">more about how we protect personal data here.</a>
    </p>
    <p>
      The Open Justice licence allows you to copy, publish, distribute and transmit case law data. It permits you to use the data commercially, for example, by combining it with other information, or by including it in your own product or application.
      There are certain conditions that apply under this licence.
    </p>
    <div class="info-box">
      <h3 class="info-box__heading">
        You do not need to apply to re-use Find Case Law records if your re-use complies with the terms and conditions of the Open Justice Licence.
      </h3>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Full terms of the Open Justice Licence</span>
        </summary>
        <div class="govuk-details__text">
          <div class="transactional-licence-form-content">
            <h4>Purpose of this licence</h4>
            <p>
              Open justice is a fundamental constitutional principle and necessary for the rule of law. The purpose of this licence is to support open justice.
            </p>
            <h4>Using Information under this licence</h4>
            <p>
              You are able to use and re-use the Information that is available under this licence freely. There are some conditions to protect the proper administration of justice.
            </p>
            <p>
              Use of copyright and database right material made available under this licence (the ‘Information’) indicates your
              acceptance of the terms and conditions below.
            </p>
            <p>
              The Licensor grants you a worldwide, royalty-free, non-exclusive licence to use the Information subject to the
              conditions below.
            </p>
            <p>
              This licence does not affect your freedom under fair dealing or fair use or any other copyright or database right
              exceptions and limitations.
            </p>
            <p>You are free to:</p>
            <ul>
              <li>copy, publish, distribute and transmit the Information;</li>
              <li>
                exploit the Information commercially, for example, by combining it with other Information, or by including it
                in your own product or application.
              </li>
            </ul>
            <p>You must (where you do any of the above):</p>
            <p>
              Use the current version of the Information (as published by the Keeper of Public Records on The National Archives
              website) and in particular, but not exhaustively:
            </p>
            <ul>
              <li>comply with any judicial decision that restricts the use of personal data within the Information;</li>
              <li>
                remove from publication any documents you are using under this licence, that are subsequently no longer
                published by the Keeper of Public Records on The National Archives website, or have been replaced by a revised
                version from the Courts or Tribunals
              </li>
              <li>
                acknowledge the source of the Information by including the following attribution statement and, where possible,
                provide a link to this licence;
                <blockquote>
                  <em>Contains information licensed under the Open Justice - Licence v1.0.</em>
                </blockquote>
              </li>
              <li>
                ensure that you do not use the Information in a way that suggests any official status or that the Licensor
                endorses you or your use of the Information;
              </li>
              <li>
                ensure that you (i) do not mislead others or misrepresent the Information or its source; (ii) do not present the
                Information in a way that does not have regard to the dignity of the Courts or Tribunals, or to their function
                as working bodies; and (iii) do not use the Information in any way that jeopardises the proper administration of
                justice;
              </li>
            </ul>
            <p>
              These are important conditions of this licence and if you fail to comply with them the rights granted to you
              under this licence, or any similar licence granted by the Licensor, will end automatically.
            </p>
            <h4>Exclusions</h4>
            <p>This licence does not cover:</p>
            <ul>
              <li>computational analysis of the Information (including indexing by search engines);</li>
              <li>
                information that has neither been published nor disclosed under information access legislation (including the
                Freedom of Information Acts for the UK and Scotland) by or with the consent of the Licensor;
              </li>
              <li>emblems and insignia of the courts and tribunals;</li>
              <li>third party rights the Licensor is not authorised to license; and</li>
              <li>information subject to other intellectual property rights, including patents, trademarks, and design rights.</li>
            </ul>
            <p>For the avoidance of doubt:</p>
            <ul>
              <li>this licence is not a data sharing agreement for personal data; and</li>
              <li>this licence is not a processing agreement for personal data.</li>
            </ul>
            <p>
              Data Controllers will need to satisfy themselves that they have a legal basis and valid purpose for processing
              personal data.
            </p>
            <h4>No warranty</h4>
            <p>
              The Information is licensed ‘as is’ and the Licensor excludes all representations, warranties, obligations and
              liabilities in relation to the Information to the maximum extent permitted by law.
            </p>
            <p>
              The Licensor is not liable for any errors or omissions in the Information and shall not be liable for any loss,
              injury or damage of any kind caused by its use.
            </p>
            <p>The Licensor does not guarantee the continued supply of the Information.</p>
            <h4>Governing Law</h4>
            <p>This licence is governed by the laws of England and Wales.</p>
            <h4>Definitions</h4>
            <p>In this licence, the terms below have the following meanings:</p>
            <ul>
              <li>
                ’Information’ means information protected by copyright or by database right offered for use under the terms
                of this licence, namely court judgments and tribunal decisions published by the Keeper of Public Records on The National Archives website.
              </li>
              <li>
                Licensor’ means (a) in relation to copyright, the Keeper of Public Records, and (b) in relation to database right, the Keeper of Public Records.
              </li>
              <li>
                Use’ as a verb, means doing any act which is restricted by copyright or database right, whether in the original medium or in any other medium,
                and includes without limitation distributing, copying, adapting, modifying as may be technically necessary to use it in a different mode or format.
              </li>
              <li>
                ‘You' means the natural or legal person, or body of persons corporate or incorporate, acquiring rights under this licence.
              </li>
            </ul>
            <h4>About the Open Justice Licence</h4>
            <p>
              This is version 1.0 of the Open Justice Licence. The Licensor may, from time to time, issue new versions of the Open Justice Licence.
            </p>
            <p>
              The Information licensed under the Open Justice Licence includes court judgments and tribunal decisions in which Crown copyright subsists.
            </p>
            <p>
              Further context, best practice and guidance relating to the re-use of public sector information can be found in the <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/">
                section on The National Archives website.
              </a>
            </p>
          </div>
        </div>
      </details>
      <div class="info-box__content">
        <h3 class="info-box__heading">The Open Justice licence does not permit computational analysis.</h3>
        <p>
          If you intend to do any programmatic searching in bulk across the Find Case Law records to identify, extract or enrich contents within the records
          you will need to apply to perform computational analysis. There are no application charges.
        </p>
        <p><a role="button"
              tabindex="0"
              draggable="false"
              class="govuk-button"
              data-module="govuk-button"
              value="I want to perform computational analysis"
              href="{% url 'transactional-licence-form-page-2' %}">I want to perform computational analysis</a></p>
      </div>
    </div>
    <h2 class="transactional-licence-form-content__heading">How to access records as data</h2>
    <p>
      You can access Find Case Law records as data using the <a href="https://nationalarchives.github.io/ds-find-caselaw-docs/public">Find Case Law API.</a>
    </p>
    <p>
      We have converted judgments and decisions we hold into XML and automatically mark the records up according to <a href="https://groups.oasis-open.org/communities/tc-community-home2?CommunityKey=3425f20f-b704-4076-9fab-018dc7d3efbe">the international data standard: LegalDocML</a>.
      This markup is then validated by our legal editorial team. You can read more about <a href="https://caselaw.nationalarchives.gov.uk/about-this-service#section-case-law-data"> how to access the records as data on our support page. </a>
    </p>
    <h2 class="transactional-licence-form-content__heading">Contact</h2>
    <p>
      If you have any questions about licensing, please email the Licensing Department: <a href="mailto:{% translate "caselaw.email" %}">caselawlicence@nationalarchives.gov.uk</a>.
    </p>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">i</span>
      <span class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Information</span>
        We want to understand how we can improve the experience for people applying for a licence.<br>We are conducting a round of research during August 2024.<br>
        If you would like to take part in the research please register your interest by <a href='https://corexmsnp4n42lf2kht3.qualtrics.com/jfe/form/SV_5uym4sfZf32NsPA'>completing this short survey</a>.
      </span>
    </div>
  </div>
{% endblock content %}
