{% extends "layouts/base.html" %}
{% load static i18n %}
{% block content %}
  <div class="standard-text-template container py-3">
    <h1>What you need to apply for a licence</h1>
    <p>
      <small>
        Last updated on
        <time datetime="24-05-2024">24th May 2024</time>
      </small>
    </p>
    <div class="govuk-notification-banner_red"
         role="region"
         aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title"
            id="govuk-notification-banner-title">Important</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You cannot save your application part way through. You will need to complete your application in one session.
          Please make sure you have prepared your answers before you apply.
        </p>
      </div>
    </div>
    <div class="anchor-links">
      <h2 class="anchor-links__header">Information on this page</h2>
      <ul class="anchor-links__list">
        <li class="anchor-links__list-option">
          <a href="#section-contact">1. The details of the person responsible for the licence</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-who">2. The details of your organisation</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-why">3. The purpose of your re-use</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-statement">4. A public statement</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-practices">5. Details of your working practices and governance</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-principles">6. Details of risks you have identified against the 9 principles</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-comments">Additional Comments</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-list">Help to prepare</a>
        </li>
        <li class="anchor-links__list-option">
          <a href="#section-apply">Apply online</a>
        </li>
      </ul>
    </div>
    <p>You do not need to apply for a licence if your re-use is already covered under the Open Justice licence.</p>
    <p>
      There is one application form to apply to perform computational analysis across Find Case Law records. It is made up of 6 main sections. You will need to respond to all the questions we ask.
      There is no way to save the application part way through.
    </p>
    <h2 id="section-contact">1.   The details of the person responsible for the licence</h2>
    <p>
      They should be someone who is senior in your organisation and will be responsible for licence application and compliance. They will need to be someone we can talk to if we have questions about the application.
    </p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Contact</span>
      </summary>
      <div class="govuk-details__text">
        <div class="transactional-licence-form-content">
          <p>Please provide the details of the person we can discuss the application with:</p>
          <p>
            <ol>
              <li>Contact Full Name</li>
              <li>Contact Email address</li>
              <br />
              <li>
                We need the contact details of the person who will be responsible for the licence. This should be someone senior who has overall responsibility for compliance with the terms and conditions of the licence.
                <br />
                <ul>
                  <li>This is the same person as the main contact</li>
                  <li>This is a different person (please enter their details below)</li>
                </ul>
              </li>
            </ol>
          </p>
          <p style="text-indent: 1rem;">1a. Licence holder Full Name</p>
          <p style="text-indent: 1rem;">2a. Licence holder Email</p>
        </div>
      </div>
    </details>
    <h2 id="section-who">2. The details of your organisation</h2>
    <p>
      We will ask you information about your organisation
      <ul>
        <li>legal name of your organisation</li>
        <li>what type of organisation is it (e.g. private limited company or registered charity)</li>
      </ul>
    </p>
    <p>Responses to this section may be published in the future.</p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Organisation details</span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <span class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Information</span>
            Your answers to these questions may be published in the future.
          </span>
        </div>
        <div class="transactional-licence-form-content">
          <ol start="4">
            <li>What is the full legal name of your organisation?</li>
            <li>
              Please enter any other names your organisation is known by
              If your organisation is not known by any other names, please type none
            </li>
            <li>Which country is your organisation registered in?</li>
            <li>
              What type of organisation is it?
              <br />
              Select all that apply
              <ul>
                <li>Private limited company</li>
                <li>Public limited company</li>
                <li>Partnership</li>
                <li>Sole trader</li>
                <li>Registered charity</li>
                <li>Community interesr company</li>
                <li>Independant research organisation</li>
                <li>Public body</li>
                <li>Independant body</li>
                <li>Other (please specify)</li>
              </ul>
            </li>
            <li>
              Please provide your organisation identifier (e.g. company number or charity registration number)
              <br />
              If your organisation does not have an identifier, please type none
            </li>
            <li>
              Please provide the name of any partners or organisations you are working with to do the computational analysis
              <br />
              If you are not working with any partners or organisations, please type none
            </li>
          </ol>
        </div>
      </div>
    </details>
    <h2 id="section-why">3. The purpose of your re-use</h2>
    <p>
      Your statement should summarise the purpose and anticipated outcomes of your product or service, the individuals or communities you intend
      to serve, and the methodologies or activities you will use to analyse the records, and it should be no longer than about 150 words. Your public statement may be published in the future, for example, if we receive a freedom of information request.
    </p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Purpose and Activities</span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <span class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Information</span>
            Your answers to these questions may be published in the future.
          </span>
        </div>
        <div class="transactional-licence-form-content">
          <ol start="10">
            <li>Please give any project or product name associated with this work</li>
            <li>
              Please share a link to the project or product site
              <br />
              If you cannot share a link, please type none
            </li>
            <li>
              What is the main purpose of your project or product?
              <br />
              Select all that apply
              <ul>
                <li>Publish legal information</li>
                <li>Produce summaries and interpretation of the records</li>
                <li>Research and develop new technologies</li>
                <li>Research activity and trends across records</li>
                <li>Deliver a consumer service</li>
                <li>Other (please specify)</li>
              </ul>
            </li>
            <li>
              Which one best describes who will be able to access the outcomes of your computational analysis?
              <br />
              Please select one.
              <ul>
                <li>Public access (e.g. anyone can freely access)</li>
                <li>Restricted access (e.g. only subscribers or research peers)</li>
                <li>Internal access (e.g. only colleagues from within your organisation)</li>
                <li>Private for personal use only</li>
              </ul>
            </li>
            <li>
              Which Individuals or communities will benefit from your computational analysis?
              <br />
              Select all that apply
              <ul>
                <li>General public</li>
                <li>Legal professionals and law firms</li>
                <li>Court users (e.g. litigants in person)</li>
                <li>The Judiciary</li>
                <li>Public bodies</li>
                <li>Researchers and academics</li>
                <li>A specific community (please specify)</li>
                <li>A specific (non-legal) profession (please specify)</li>
                <li>Other (please specify)</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </details>
    <h2 id="section-why">4. A public statement</h2>
    <p>
      We will ask you to write a brief public statement that summarises the reasons why you want to perform computational analysis. This statement should include
      <br />
      <ul>
        <li>purpose and anticipated outcomes</li>
        <li>individuals or communities served</li>
        <li>methodologies or activities this will involve</li>
      </ul>
    </p>
    <p>You should aim for no more than 150 words in your public statement.</p>
    <p>Responses to this section may be published in the future.</p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Public statement</span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <span class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Information</span>
            Your answers to these questions may be published in the future.
          </span>
        </div>
        <div class="transactional-licence-form-content">
          <br />
          <p>
            Please provide a public statement that briefly describes:
            <br />
            <ul>
              <li>purpose and anticipated outcomes of your product or service,</li>
              <li>individuals or communities you intend to serve</li>
              <li>methodologies or activities you will use to analyse the records.</li>
            </ul>
          </p>
          <p>To help you write your statement we have included a fictional,  example public statement.</p>
          <p>Example public statement</p>
          <div class="transactional-licence-form-content__example-responses">
            <p>
              We empower Human Resource officials by providing them with access to summaries of the latest cases in employment Law. Using our innovative AI-driven Case law summarising service we will streamline the process of staying up to date with employment law,
              saving time and resources for HR professionals.
            </p>
            <p>
              Our mission is to facilitate informed decision-making in employment matters. We envision serving not only HR officials but also legal professionals and small businesses navigating the intricate landscape of employment law.
            </p>
            <p>
              We will leverage Natural Language Processing algorithms to efficiently analyse English and Welsh legal cases. We prioritise accuracy, impartiality and transparency. Our team of legal experts will review summaries to guarantee they provide reliable insights while upholding the integrity of the legal process.
            </p>
            <p>
              We strive to democratise access to legal knowledge. We are committed to driving positive change in the workplace by facilitating informed decision-making and supporting compliance with legal requirements.
            </p>
          </div>
          <ol start="15">
            <li>
              Please provide a public statement
              <br />
              Please aim for no more than around 150 words
            </li>
          </ol>
        </div>
      </div>
    </details>
    <h2 id="section-practices">5. Details of your working practices and governance</h2>
    <p>
      We will ask you a series of questions to understand how you will work with these data from these records. These will include questions about your methodology and ethical governance.
    </p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Working practices</span>
      </summary>
      <div class="govuk-details__text">
        <div class="transactional-licence-form-content">
          <ol start="16">
            <li>
              Will the computational analysis focus on specific individuals or specific groups of people?
              <br />
              <ul>
                <li>Yes</li>
                <li>No</li>
              </ul>
            </li>
            <li>
              Will you anonymise Individuals before you analyse records?
              <br />
              <ul>
                <li>Yes</li>
                <li>No</li>
              </ul>
            </li>
            <li>
              Will you regularly review algorithms for bias?
              <br />
              <ul>
                <li>Yes</li>
                <li>No</li>
              </ul>
            </li>
            <li>
              Will you abide by a code of ethics?
              <br />
              <ul>
                <li>Yes</li>
                <li>No</li>
              </ul>
            </li>
            <li>
              Will an impartial party review your work against an ethical framework?
              <br />
              For example an Ethics Advisory Board (EAB) or Research Ethics Committee (REC)
              <ul>
                <li>Yes</li>
                <li>No</li>
              </ul>
            </li>
            <li>
              Will you make the entire record available online?
              <br />
              For example, you may choose to signpost a full judgment to users, where you have published or highlighted parts of a judgment
              <ul>
                <li>Yes</li>
                <li>No</li>
              </ul>
            </li>
            <li>
              Will data extracted from these records be published online?
              <br />
              For example, any statistical analysis, lists of citations or entities from within the records
              <br />
              <ul>
                <li>Yes</li>
                <li>No</li>
              </ul>
            </li>
            <li>
              For transparency, will you make your methodology available to others for scrutiny?
              <br />
              <ul>
                <li>Yes</li>
                <li>No</li>
              </ul>
            </li>
            <li>
              Will you analyse and publish findings online?
              <br />
              <ul>
                <li>Yes</li>
                <li>No</li>
              </ul>
            </li>
            <li>
              Do you intend to use computational analysis to do any of the following?
              <br />
              Select all that apply
              <ul>
                <li>Produce fully automated legal advice</li>
                <li>Perform automation to anticipate legal decisions directly for a client or consumer</li>
                <li>Directly inform or influence the decision of a third-party whether to pursue justice or legal action</li>
                <li>None of the above</li>
              </ul>
            </li>
            <li>
              Will you notify people when they are using generative AIservice or content?
              <br />
              <ul>
                <li>Yes</li>
                <li>No</li>
                <li>Not using generative AI</li>
              </ul>
            </li>
            <li>
              Will you explain to users how the limits of the Find Case Law collection impacts the outcomes of your computational analysis?
              <br />
              <ul>
                <li>Yes</li>
                <li>No</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </details>
    <h2 id="section-principles">6. Details of risks you have identified against the 9 principles</h2>
    <p>
      In 2023 the Ministry of Justice established 9 principles to guide our decision making process on applications to conduct computational analysis across the Find Case Law collection. We will ask you to accept these as licence terms and to prepare a
      statement about any risks you have identified for each of these principles.
    </p>
    <p>
      It’s important that you respond to each principle in turn. Responses that do not address each of the 9 principles may experience delays and requests for further information. Please read the information carefully. If you are unsure how to answer
      this question you can contact the licensing department for further information.
    </p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">9 Principles</span>
      </summary>
      <div class="govuk-details__text">
        <div class="transactional-licence-form-content">
          <p>
            There are 9 principles that have been established by the Ministry of Justice. They form part of the terms of any licence we grant. You will need to read these principles carefully and explain in detail how you will meet these terms.
            The 9 principles are:
          </p>
          <ol>
            <li>Dignity of the Court</li>
            <li>Independence of the Court</li>
            <li>Appropriate Scrutiny</li>
            <li>Anti-Discriminatory Harm</li>
            <li>Anti-Bias</li>
            <li>Personal Privacy</li>
            <li>Discoverability</li>
            <li>Algorithmic Transparency</li>
            <li>Accurate Data Representation</li>
          </ol>
          <strong>1. Dignity of the Courts</strong>
          <p>
            It is important that any analysis maintains the dignity of the courts and tribunals and does not undermine their functioning as working bodies. This is consistent with access to justice.
          </p>
          <p>Licence holders must not undermine the courts and tribunals’ ability to function as working bodies.</p>
          <p>
            You should consider anything that may undermine the ability for the justice system to operate impartially and with integrity and treat all members of the public equally and fairly,
            no matter who they are
          </p>
          <strong>2. Independence of the Court</strong>
          <p>It is important that any analysis respects the independence of the judiciary and their impartial judgment.</p>
          <p>Licence holders must respect the independence of the judiciary.</p>
          <p>
            You should consider anything that may undermine the ability for the justice system to be fair and transparent, free of any influence outside the rule of law.
          </p>
          <strong>3. Appropriate Scrutiny</strong>
          <p>
            We seek to encourage the analysis of machine-readable judgments to allow the public to scrutinise justice outcomes and the law more effectively. We also acknowledge that the incomplete nature of the
            dataset and the current lack of safeguard against opaque or biased
            methodologies increases the risk of inaccurate or biased conclusions which may cause harm to individuals named therein.
          </p>
          <p>Licence holders must acknowledge the incomplete nature of the dataset and apply appropriate scrutiny</p>
          <p>
            You should consider how you will prevent anonymised people from being identified. This is referred to as jigsaw identification - putting together information in a way that identifies individuals even if they have been anonymised.
          </p>
          <strong>4. Anti-discriminatory harm</strong>
          <p>
            Outcomes of analysis should not cause direct discriminatory harm and reasonable steps should be taken by the licence holder to avoid introducing or compounding bias. Licence holders must take actions to prevent discriminatory harm
          </p>
          <p>
            You should consider how you will monitor for and address harmful outcomes including misleading analysis or conclusions and discrimination against individuals or communities.
          </p>
          <strong>5. Anti-bias</strong>
          <p>
            Licence holders have a responsibility to operate effective governance to ensure that bias does not enter the process over time.
          </p>
          <p>Licence holders must ensure bias does not enter their process over time</p>
          <p>You should consider any ethical governance structures you have in place.</p>
          <strong>6. Personal privacy</strong>
          <p>
            Re-users should satisfy themselves that their practices comply with the standards set out in the DPA and UK GDPR regarding data security and data subjects’ rights, regardless of their location.
          </p>
          <p>
            Please note that this licence:
            <br />
            <ul>
              <li>is not a data sharing agreement for personal data</li>
              <li>is not a processing agreement for personal data</li>
            </ul>
          </p>
          <strong>7. Discoverability</strong>
          <p>
            We acknowledge a distinction between publicly available and readily available information. For example, care should be given to data subjects’ discoverability in line with
            Ministry of Justice/The National Archives’ decision not to index the content of judgments on search engines.
          </p>
          <p>Licence holders must not index the contents of judgments and decisions on search engines.</p>
          <p>
            You should consider what you will do to prevent third party services from crawling or scraping either the text of the records or the data you have extracted from the records.
          </p>
          <strong>8.Algorithmic transparency</strong>
          <p>Where possible, algorithms should be explainable and transparent.</p>
          <p>
            You should consider how you will be transparent in your use of algorithms to people using your project or product.
          </p>
          <strong>9. Accurate data representation</strong>
          <p>
            The Find Case Law service comprises an incomplete set of court judgments and tribunal decisions.  Outcomes from analysis should therefore reflect the limitations of the
            data and avoid misrepresenting the significance of findings.
          </p>
          <p>
            Licence holders must avoid misrepresenting the significance of findings
            Occasionally records that have been published will be revised and taken down by the court. Licence holders must regularly check to make sure they are re-using the authoritative version of the record
          </p>
          <p>
            You should consider how you will make sure the records you use are the most up to date published version of the records.
            <ol start="28">
              <li>
                Licence holders must acknowledge and abide by all 9 principles. Do you accept all 9 principles as licence terms?
                <br />
                <ul>
                  <li>Yes</li>
                  <li>No</li>
                </ul>
              </li>
            </ol>
          </p>
          <h2>9 Principles Statement</h2>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <span class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Information</span>
              You should address each of the 9 principles in your answer. Applications that do not reference each of the 9 principles may experience delays.
            </span>
          </div>
          <br />
          <p>
            Please describe how you will meet the 9 Principles as terms of your licence. You should state:
            <br />
            <ul>
              <li>any risks you have identified</li>
              <li>how you plan to address these risks.</li>
            </ul>
          </p>
          <p>
            In your answer you should be clear about which principle you are referring to. You should consider all the principles. Applications that don’t consider each of these principles may experience delays.
          </p>
          <p>To help you write your answer we have included a fictional, example answer.</p>
          <p>Example answer</p>
          <div class="transactional-licence-form-content__example-responses">
            <p>
              Our case law summariser is designed to produce reliable and impartial summaries of the latest cases for HR officials. We are fully committed to meeting the highest accuracy, ethical standards and legal compliance.
            </p>
            <strong>Dignity of the courts</strong>
            <p>
              We respect the courts as working bodies and will not denigrate or undermine the work of the court. We respect the courts as working bodies and will not denigrate or undermine the work of the court.
            </p>
            <p>
              We make sure our tool respects the importance of the courts and does not undermine their work by meticulously checking for accuracy and fairness. We will be transparent in our sources and follow legal ethical standards in order to support the court as functioning bodies.
            </p>
            <p>
              We have quality control measures in place that make sure our summaries are consistent and reflect the formal language used by the courts.
            </p>
            <p>
              Our legal editorial team will check all summaries to avoid misrepresentation and reflect the solemnity of court proceedings.
            </p>
            <strong>Independence of the court</strong>
            <p>
              We respect the independence of the judiciary and uphold their impartial judgment by checking and correcting our summaries for bias or partiality. The summaries are designed to succinctly lay out the decision the court made without subjective interpretation.
              We review and refine our summaries against legal ethical standards.
            </p>
            <p>
              We believe it is important for judges to make decisions free from fear or favour and will not seek to manipulate judicial decision making with our HR summary service. It is important that our users trust that our summaries of decisions made on employment matters are objective.
            </p>
            <strong>Appropriate scrutiny</strong>
            <p>
              We acknowledge there is potential for biased conclusions to be drawn from an incomplete dataset. We use robust validation techniques that involve our legal experts in our review process to make sure our summaries are reliable. We conduct regular audits and
              evaluations to make sure our outputs are appropriate and accurate.
            </p>
            <p>
              We will notify our users that our summaries are trained on available datasets that may not be representative of all decisions made.
            </p>
            <strong>Anti-discriminatory Harm</strong>
            <p>
              We are committed to preventing any form of discriminatory harm. Our algorithms will be monitored for bias against race, gender, ethnicity, religion, age, disability or other protected characteristics. We will conduct regular testing across our outputs to make
              sure the tool works equitably across all cases.
            </p>
            <p>
              We will support users to leave feedback on the service. Any reported discriminatory outputs would immediately trigger a thorough investigation. The reported summary would be temporarily taken down during the investigation while we identify and address the issue. We would then re-evaluate
              our algorithms and data sets by conducting a risk assessment that identifies actions to reduce the likelihood of future occurrences.
            </p>
            <strong>Anti-bias</strong>
            <p>
              To prevent bias we train our tool on a diverse and representative dataset. Our legal editorial team reviews the outputs and helps train our model to recognise and avoid biased summaries. We continually monitor our summaries for any emerging bias or misrepresentation.Any anomalies that
              are identified would trigger a thorough investigation to understand the cause and address it.
            </p>
            <strong>Personal privacy</strong>
            <p>
              We adhere to data protection regulations in the UK and EU. We are satisfied that we meet the requirements of these regulations. All names of individuals mentioned in cases will be anonymised before processing. We do not share access to raw data with third parties for processing.
            </p>
            <strong>Discoverability</strong>
            <p>
              Our tool will be designed to support the discoverability of cases for HR officials.  We will index the case name and categorisation of the summary but not the body of the judgment in order to protect the identities of others cited in the case. While our content will be
              easily discoverable online, users will be asked to sign after reading the first paragraph of the summary. On their account users curate the type of case they want to see by area of employment law.
            </p>
            <strong>Algorithmic transparency</strong>
            <p>
              We provide clear explanations of our methodologies on our website so that users can understand how we create our summaries. In addition we publish transparency reports annually in order to maintain our accountability.
            </p>
            <strong>Accurate Data Representation</strong>
            <p>
              Accurate data representation is important to the accuracy of our summaries. We regularly check our training datasets are up to date with the latest cases and remove decisions that  have been taken down from the Find Case Law service under the instruction of the courts.
              Our tool uses Natural Language Processing to summarise court decisions without interpretation or distortion.  We clearly label our summaries as automatically produced summaries and signpost users to the full judgment. We warn users that our service does not offer legal advice. Documentation about the datasets we use and how we have developed the tool is available to our users on our website.
            </p>
            <p>
              We adhere to all 9 principles as part of delivering a reliable and trustworthy service to our users. We can provide more detail upon request.
            </p>
          </div>
          <br />
          <p>
            <ol start="29">
              <li>Please describe how you will meet the 9 principles as terms?</li>
            </ol>
          </p>
        </div>
      </details>
      <h2 id="section-comments">Additional comments</h2>
      <p>
        There will be space at the end of the application for any additional comments you wish to make. There will be space at the end of the application for any additional comments you wish to make.
      </p>
      <div class="info-box">
        <h3 id="section-list" class="info-box__heading">Help to prepare</h3>
        <div class="info-box__content">
          <p>
            To help you prepare you can download a full list of the 29 questions we will ask you as a microsoft word document.
          </p>
        </div>
        <a role="button"
           tabindex="0"
           draggable="false"
           class="govuk-button"
           data-module="govuk-button"
           value="I want to perform computational analysis"
           href="{% static '/documents/Dowloadable version of online application form reviewed 29_05.docx' %}">Download full list of 29 questions (Microsoft Word 29.2 kB)</a>
      </div>
      <h2 id="section-apply">Apply online</h2>
      <p>
        It may take a few weeks until you receive a decision on your application. You can read more about the approval process on the licence application process page.
      </p>
      <a role="button"
         tabindex="0"
         draggable="false"
         class="govuk-button"
         data-module="govuk-button"
         value="Apply for a licence"
         href="{% url 'transactional-licence-form-confirmation' %}">Apply for a licence</a>
      <h3 class="transactional-licence-form-content__heading">Contact</h3>
      <p>
        If you have any questions about licensing, please email the Licensing Department :  <a href="mailto:{% translate "caselaw.email" %}">caselawlicence@nationalarchives.gov.uk</a>
      </p>
    </div>
  </div>
{% endblock content %}
