{% extends "layouts/standard_content.jinja" %}
{% from "components/heading.jinja" import heading %}
{% from "components/button.jinja" import button %}
{% from "components/contents.jinja" import contents %}
{% from "components/link.jinja" import link %}
{% from "components/details.jinja" import details %}
{% from "components/list.jinja" import list, list_item %}
{% block mobile_article_title %}
  {% call heading() %}
    Re-use Find Case Law records
  {% endcall %}
{% endblock mobile_article_title %}
{% block desktop_article_title %}
  {% call heading() %}
    Re-use Find Case Law records
  {% endcall %}
{% endblock desktop_article_title %}
{% block article_navigation %}
  {% call contents(title="On this page") %}
    {% call list() %}
      {% call list_item() %}
        {% call link(href="#section-licence") %}
          Open Justice licence
        {% endcall %}
      {% endcall %}
      {% call list_item() %}
        {% call link(href="#section-how") %}
          How to access records as data
        {% endcall %}
      {% endcall %}
      {% call list_item() %}
        {% call link(href="#section-how") %}
          How to access records as data
        {% endcall %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endblock article_navigation %}
{% block article_content %}
  <section>
    <p>
      Free access to and re-use of judgments and decisions is fundamental to the principles of Open Justice and supports innovation in legal research and technology. Our repository of judgments and decisions can be freely accessed and re-used under the Open Justice Licence.
    </p>
    {% call heading(tag="h2", id="section-licence") %}
      Open Justice licence
    {% endcall %}
    <p>
      The National Archives, has worked in collaboration with The Ministry of Justice and the Judicial Executive Board to design a new licensing framework for the reuse
      of case law as data. The Open Justice licence is designed to protect the personal data within the records while supporting the principles of Open Justice. Find out more about
      {% call link(href="https://caselaw.nationalarchives.gov.uk/privacy-notice") %}
        how we protect personal data
      {% endcall %}
      .
    </p>
    <p>
      The Open Justice licence allows you to copy, publish, distribute and transmit case law data. It permits you to use the data commercially, for example, by combining it with other information, or by including it in your own product or application.
      There are certain conditions that apply under this licence.
    </p>
    {% call heading(tag="h3") %}
      You do not need to apply to re-use Find Case Law records if your re-use complies with the terms and conditions of the Open Justice Licence.
    {% endcall %}
    {% call details(title="Full terms of the Open Justice Licence") %}
      {% call heading(tag="h4") %}
        Purpose of this licence
      {% endcall %}
      <p>
        Open justice is a fundamental constitutional principle and necessary for the rule of law. The purpose of this licence is to support open justice.
      </p>
      {% call heading(tag="h4") %}
        Using Information under this licence
      {% endcall %}
      <p>
        You are able to use and re-use the Information that is available under this licence freely. There are some conditions to protect the proper administration of justice.
      </p>
      <p>
        Use of copyright and database right material made available under this licence (the ‘Information’) indicates your
        acceptance of the terms and conditions below.
      </p>
      <p>
        The Licensor grants you a worldwide, royalty-free, non-exclusive licence to use the Information subject to the
        conditions below.
      </p>
      <p>
        This licence does not affect your freedom under fair dealing or fair use or any other copyright or database right
        exceptions and limitations.
      </p>
      <p>You are free to:</p>
      {% call list(variant="bullets") %}
        {% call list_item() %}
          copy, publish, distribute and transmit the Information;
        {% endcall %}
        {% call list_item() %}
          exploit the Information commercially, for example, by combining it with other Information, or by including it
          in your own product or application.
        {% endcall %}
      {% endcall %}
      <p>You must (where you do any of the above):</p>
      <p>
        Use the current version of the Information (as published by the Keeper of Public Records on The National Archives
        website) and in particular, but not exhaustively:
      </p>
      {% call list(variant="bullets") %}
        {% call list_item() %}
          comply with any judicial decision that restricts the use of personal data within the Information;
        {% endcall %}
        {% call list_item() %}
          remove from publication any documents you are using under this licence, that are subsequently no longer
          published by the Keeper of Public Records on The National Archives website, or have been replaced by a revised
          version from the Courts or Tribunals
        {% endcall %}
        {% call list_item() %}
          acknowledge the source of the Information by including the following attribution statement and, where possible,
          provide a link to this licence;
          <blockquote>
            <em>Contains information licensed under the Open Justice - Licence v1.0.</em>
          </blockquote>
        {% endcall %}
        {% call list_item() %}
          ensure that you do not use the Information in a way that suggests any official status or that the Licensor
          endorses you or your use of the Information;
        {% endcall %}
        {% call list_item() %}
          ensure that you (i) do not mislead others or misrepresent the Information or its source; (ii) do not present the
          Information in a way that does not have regard to the dignity of the Courts or Tribunals, or to their function
          as working bodies; and (iii) do not use the Information in any way that jeopardises the proper administration of
          justice;
        {% endcall %}
      {% endcall %}
      <p>
        These are important conditions of this licence and if you fail to comply with them the rights granted to you
        under this licence, or any similar licence granted by the Licensor, will end automatically.
      </p>
      {% call heading(tag="h4") %}
        Exclusions
      {% endcall %}
      <p>This licence does not cover:</p>
      {% call list(variant="bullets") %}
        {% call list_item() %}
          computational analysis of the Information (including indexing by search engines);
        {% endcall %}
        {% call list_item() %}
          information that has neither been published nor disclosed under information access legislation (including the
          Freedom of Information Acts for the UK and Scotland) by or with the consent of the Licensor;
        {% endcall %}
        {% call list_item() %}
          emblems and insignia of the courts and tribunals;
        {% endcall %}
        {% call list_item() %}
          third party rights the Licensor is not authorised to license; and
        {% endcall %}
        {% call list_item() %}
          information subject to other intellectual property rights, including patents, trademarks, and design rights.
        {% endcall %}
      {% endcall %}
      <p>For the avoidance of doubt:</p>
      {% call list(variant="bullets") %}
        {% call list_item() %}
          this licence is not a data sharing agreement for personal data; and
        {% endcall %}
        {% call list_item() %}
          this licence is not a processing agreement for personal data.
        {% endcall %}
      {% endcall %}
      <p>
        Data Controllers will need to satisfy themselves that they have a legal basis and valid purpose for processing
        personal data.
      </p>
      {% call heading(tag="h4") %}
        No warranty
      {% endcall %}
      <p>
        The Information is licensed ‘as is’ and the Licensor excludes all representations, warranties, obligations and
        liabilities in relation to the Information to the maximum extent permitted by law.
      </p>
      <p>
        The Licensor is not liable for any errors or omissions in the Information and shall not be liable for any loss,
        injury or damage of any kind caused by its use.
      </p>
      <p>The Licensor does not guarantee the continued supply of the Information.</p>
      {% call heading(tag="h4") %}
        Governing Law
      {% endcall %}
      <p>This licence is governed by the laws of England and Wales.</p>
      {% call heading(tag="h4") %}
        Definitions
      {% endcall %}
      <p>In this licence, the terms below have the following meanings:</p>
      {% call list(variant="bullets") %}
        {% call list_item() %}
          ’Information’ means information protected by copyright or by database right offered for use under the terms
          of this licence, namely court judgments and tribunal decisions published by the Keeper of Public Records on The National Archives website.
        {% endcall %}
        {% call list_item() %}
          Licensor’ means (a) in relation to copyright, the Keeper of Public Records, and (b) in relation to database right, the Keeper of Public Records.
        {% endcall %}
        {% call list_item() %}
          Use’ as a verb, means doing any act which is restricted by copyright or database right, whether in the original medium or in any other medium,
          and includes without limitation distributing, copying, adapting, modifying as may be technically necessary to use it in a different mode or format.
        {% endcall %}
        {% call list_item() %}
          ‘You' means the natural or legal person, or body of persons corporate or incorporate, acquiring rights under this licence.
        {% endcall %}
      {% endcall %}
      {% call heading(tag="h4") %}
        About the Open Justice Licence
      {% endcall %}
      <p>
        This is version 1.0 of the Open Justice Licence. The Licensor may, from time to time, issue new versions of the Open Justice Licence.
      </p>
      <p>
        The Information licensed under the Open Justice Licence includes court judgments and tribunal decisions in which Crown copyright subsists.
      </p>
      <p>
        Further context, best practice and guidance relating to the re-use of public sector information can be found in the <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/">
        section on The National Archives website.
      </a>
    </p>
  {% endcall %}
  {% call heading(tag="h3") %}
    The Open Justice licence does not permit computational analysis.
  {% endcall %}
  <p>
    If you intend to do any programmatic searching in bulk across the Find Case Law records to identify, extract or enrich contents within the records
    you will need to apply to perform computational analysis. There are no application charges.
  </p>
  {% call button(href=url('transactional-licence-form-page-2')) %}
    I want to perform computational analysis
  {% endcall %}
  {% call heading(tag="h2", id="section-how") %}
    How to access records as data
  {% endcall %}
  <p>
    You can access Find Case Law records as data using the <a href="https://nationalarchives.github.io/ds-find-caselaw-docs/public">Find Case Law API.</a>
  </p>
  <p>
    We have converted judgments and decisions we hold into XML and automatically mark the records up according to <a href="https://groups.oasis-open.org/communities/tc-community-home2?CommunityKey=3425f20f-b704-4076-9fab-018dc7d3efbe">the international data standard: LegalDocML</a>.
    This markup is then validated by our legal editorial team. You can read more about how to access the records as data in our <a href="https://nationalarchives.github.io/ds-find-caselaw-docs/public">API documentation</a>.
  </p>
  {% call heading(tag="h2", id="section-contact") %}
    Contact
  {% endcall %}
  <p>
    If you have any questions about licensing, please email the Licensing Department:
    {% call link(href="mailto:caselawlicence@nationalarchives.gov.uk") %}
      caselawlicence@nationalarchives.gov.uk
    {% endcall %}
    .
  </p>
</section>
{% endblock article_content %}
