{% extends "layouts/base.html" %}
{% load static %}

{% block page_css %}
  <link href="{% static 'css/transactional_licence_form.css' %}" rel="stylesheet" />
{% endblock page_css %}

{% block content %}
  <div class="standard-text-template container py-3">
    <h1>Thank you for submitting your licence application.</h1>
    <p>Here’s what happens next:</p>
    <ul>
      <li>We will send you a copy of your application to your main contact’s email address shortly.</li>
      <li>
        Your confirmation email will also contain your application number, please use this if you need to contact us about your application.
      </li>
      <li>
        The licensing team will review your application and if they need any further information, we will contact you by email.
      </li>
      <li>
        The Discovery board is a cross-departmental board at The National Archives that grants licences. The board meets every month so it may be a few weeks until you get a decision.
      </li>
      <li>We will email you with the board’s decision as soon as it has been made.</li>
    </ul>
    <p>
      If you have any questions, you can email the licensing department at: <a href="mailto:caselawlicence@nationalarchives.gov.uk">caselawlicence@nationalarchives.gov.uk</a>.
    </p>
    <p>
      In the future we may contact you to invite you to take part in research. All participation is voluntary and will not impact your application or licence terms in any way.
    </p>
    <p>
      <a tabindex="0"
         draggable="false"
         class="govuk-button"
         data-module="govuk-button"
         href="{% url 'home' %}">Return to the Find Case Law home page</a>
    </p>
  </div>
{% endblock content %}
