.aside-container {
  display: flex;
  flex-direction: column;
  gap: $space-4;

  > *:first-child {
    flex: 1;
  }

  aside {
    margin-bottom: auto;

    @media only screen and (min-width: $grid-breakpoint-extra-large) {
      min-width: 372px;
      max-width: 372px;
    }
  }

  @media only screen and (min-width: $grid-breakpoint-extra-large) {
    flex-direction: row;
  }
}
