.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: brand-colour("pastel-blue");

  h2 {
    margin: 0;
    padding-top: 0;

    font-size: $typography-xl-text-size;
    font-weight: $typography-normal-font-weight;
    text-align: center;

    @media (max-width: $grid-breakpoint-medium) {
      font-size: $typography-lg-text-size;
    }
  }

  &__container {
    @include container;

    display: flex;
    flex-direction: column;
    gap: $space-6;
    align-items: center;

    margin-top: 0;
    padding: $space-10 0;
  }
}
