.breadcrumbs {
  padding: $space-4 0 $space-2;
  background-color: colour-var("background");

  &--accent {
    background-color: colour-var("accent-background-light");
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: $space-4;
    padding: 0;

    @media only screen and (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__postfix {
    font-size: $typography-sm-text-size;
  }

  ol {
    display: inline-block;

    margin: 0;
    padding: 0;

    font-size: $typography-sm-text-size;
    list-style-type: none;

    li {
      position: relative;

      display: inline-block;
      break-inside: avoid;

      margin-right: $space-2;
      padding: 0;

      line-height: 1.3rem;
      color: colour-var("font-base");
      letter-spacing: 0.3px;

      &:not(:nth-child(1)) {
        padding-left: $space-4;

        &::before {
          content: "";

          position: absolute;
          top: 0;
          bottom: 0;
          left: -3.31px;
          transform: rotate(45deg);

          display: inline-block;

          width: 7px;
          height: 7px;
          margin: auto 0;
          border: solid;
          border-color: colour-var("font-base");
          border-width: 0.125rem 0.125rem 0 0;

          @media only screen and (max-width: $grid-breakpoint-medium) {
            top: 6px;
            bottom: auto;
          }
        }
      }
    }

    a {
      @include link;

      color: colour-var("font-base");

      &:visited,
      &:hover {
        color: colour-var("font-base");
      }
    }
  }

  &__prefix {
    color: colour-var("font-base");
  }

  @media only screen and (min-width: $grid-breakpoint-medium) {
    padding: $space-8 0 $space-4;
  }

  @media only screen and (max-width: $grid-breakpoint-medium) {
    ol,
    li {
      display: block;
    }

    li {
      &:not(:nth-child(1)) {
        &::before {
          display: none;
        }
      }
    }
  }
}
