.card {
  text-decoration: none;

  &__body {
    display: flex;
    flex-direction: column;
    gap: $space-4;

    padding: $space-8 $space-4;

    line-height: $typography-lg-line-height;
  }

  &--light &__body {
    align-items: center;
    padding: $space-8;
  }

  &--left &__body {
    align-items: flex-start;
  }

  &--ghost &__body {
    padding: 0 $space-4 0 0;
  }

  &--image {
    display: flex;
    border-top: 4px solid colour-var("accent-brand");
    background-color: colour-var("accent-background-light");

    &:is(a) {
      color: colour-var("link");

      &:hover {
        background-color: colour-var("accent-background");
      }

      &:visited {
        color: colour-var("link");
      }
    }
  }

  &--image &__body {
    padding: $space-4;

    p {
      font-size: $typography-xs-text-size;
      line-height: $typography-lg-line-height;
    }
  }

  &--light {
    border: 2px solid colour-var("accent-brand");
  }

  &--ghost {
    &:is(a) {
      color: colour-var("link");

      &:hover {
        background-color: transparent;
      }

      &:visited {
        color: colour-var("link");
      }
    }
  }

  &--default {
    border-top: 4px solid colour-var("accent-brand");
    background-color: colour-var("accent-background-light");

    &:is(a) {
      color: colour-var("link");

      &:hover {
        background-color: colour-var("accent-background");
      }

      &:visited {
        color: colour-var("link");
      }
    }
  }

  &--unbordered {
    background-color: colour-var("accent-background-light");

    &:is(a) {
      color: colour-var("link");

      &:hover {
        background-color: colour-var("accent-background");
      }

      &:visited {
        color: colour-var("link");
      }
    }
  }

  &:is(a) {
    h1,
    h2,
    h3 {
      text-decoration: underline;
      text-decoration-thickness: $link-underline-thickness;

      &:hover {
        text-decoration-thickness: $link-hover-underline-thickness;
      }
    }
  }

  h1,
  h2,
  h3,
  p,
  button {
    margin: 0;
  }

  p {
    color: colour-var("accent-font-base");
  }
}
