.fcl-logo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-top: $space-4;

  background-color: colour-var("contrast-background");

  &__header {
    display: flex;
    gap: $space-2;
    align-items: center;

    width: 100%;
    margin: 0;

    font-family: $font-roboto;
    font-size: $typography-xl-text-size;
    font-weight: $typography-normal-font-weight;
    line-height: $typography-md-line-height;
    color: colour-var("contrast-font-base");
    text-wrap: nowrap;

    @media only screen and (min-width: $grid-breakpoint-large) {
      font-size: $typography-2xl-text-size;
    }
  }

  &__helper-text {
    display: inline-block;

    margin: 0;

    font-family: $font-open-sans;
    font-size: $typography-sm-text-size;
    font-weight: $typography-bold-font-weight;
    line-height: $typography-lg-line-height;
    color: colour-var("accent-brand");
    text-wrap: balance;

    @media only screen and (min-width: $grid-breakpoint-large) {
      font-size: $typography-lg-text-size;
    }
  }

  @media only screen and (min-width: $grid-breakpoint-large) {
    margin-top: 0;
  }
}
