.govuk-pagination {
  justify-content: center;
  margin-top: $space-4;

  &__item--current {
    background: brand-var("navy");

    .govuk-pagination__link:focus {
      color: colour-var("contrast-link");
      outline: none;
    }
  }
}
