.search-input {
  display: flex;
  flex-direction: column;
  gap: $space-4;
  width: 100%;

  .govuk-label, .govuk-hint {
    font-size: $typography-md-text-size;
  }

  .govuk-radios__input {
    width: 22px;
    height: 22px;
  }

  .govuk-radios__label {
    padding: 7px 10px;
    font-weight: $typography-bold-font-weight;
  }

  .govuk-radios__input:focus + .govuk-radios__label::before {
    border-width: 2px;

  }

  .govuk-radios__hint {
    padding-left: 32px;
  }

  .govuk-radios__label::before {
    width: 20px;
    height: 20px;
    top: 9px;

  }

  .govuk-radios__label::after {
    top: 13px;
    left: 6px;
    border: 6px solid currentColor;
  }

  &--with-margins {
    margin-bottom: $space-8;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $space-2;
    align-items: flex-start;

    margin: 0;
  }

  p {
    margin: 0;
  }

  a:visited {
    color: colour-var("link");
  }

  &__label {
    @include sr-only;
  }

  input[type="text"] {
    @include text_field;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    font-size: $typography-xs-text-size;

    @media (min-width: $grid-breakpoint-medium) {
      width: 80%;
      font-size: $typography-md-text-size;
    }
  }

  input[type="submit"] {
    flex: 1;
    margin: 0;
  }

  &__input {
    @include text_field;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: $space-4;
    width: 100%;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
    }
  }

  &__footer {
    background-color: colour-var("accent-background-light");
    box-sizing: border-box;
    padding: $space-4;
    display: flex;
    width: 100%;

    input[type="submit"] {
      flex: 0;
    }
  }

  &__footer-info {
    display: flex;
    flex-direction: column;
    gap: $space-2;
    flex: 1;
  }

  &--fixed-width {
    @media (min-width: $grid-breakpoint-extra-large) {
      width: 47rem;
    }
  }
}
