.search-input {
  width: 100%;

  h1,
  h2,
  h3 {
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $space-2;
    align-items: flex-start;

    margin: 0;
  }

  p {
    margin: 0;
  }

  a:visited {
    color: colour-var("link");
  }

  &__label {
    @include sr-only;
  }

  input[type="text"] {
    @include text_field;

    box-sizing: border-box;
    width: 100%;
    margin: 0;

    @media (min-width: $grid-breakpoint-medium) {
      width: 80%;
    }
  }

  input[type="submit"] {
    margin: 0;
  }

  &__input {
    @include text_field;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: $space-4;
    width: 100%;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media (min-width: $grid-breakpoint-medium) {
      flex-direction: row;
    }
  }

  &__footer {
    width: 100%;

    @media (min-width: $grid-breakpoint-medium) {
      text-align: center;
    }
  }

  @media (min-width: $grid-breakpoint-medium) {
    width: 47rem;
  }
}
