@import "includes/variables";
@import "includes/mixins";
@import "@nationalarchives/ds-caselaw-frontend/src/main";

html {
  font-size: 12px;
}

.judgment {
  max-width: 100%;

  font-family: Times, "Times New Roman", "Noto Serif", serif;
  font-size: 1rem;
  line-height: 1.7;
  text-underline-offset: 0.5em;
}
