@import "includes/variables";
@import "includes/animations";
@import "includes/mixins";
@import "includes/global";
@import "includes/service_introduction";
@import "includes/search";
@import "includes/recent_judments";
@import "includes/browse_by_court";
@import "includes/links";
@import "includes/structured_search";
@import "includes/results";
@import "includes/results_search_component";
@import "includes/result_controls";
@import "includes/judgments_listing";
@import "includes/pagination";
@import "includes/phase_banner";
@import "includes/footer";
@import "includes/header";
@import "includes/judgment_text";
@import "includes/judgment_text_toolbar";
@import "includes/judgment_text_source";
@import "includes/judgment_text_service_introduction";
@import "includes/judgment_text_end_document_marker";
@import "includes/judgment_text_download_options";
@import "includes/judgment_text_combined_name_ncn";
@import "includes/standard_text_template";
@import "includes/how_can_this_service_be_improved";
@import "includes/document_navigation_links";
@import "includes/cookie_consent/ds-cookie-consent";
@import "includes/cookie_consent/cookie-consent";
@import "includes/homepage_browse";
@import "includes/what_to_expect";
@import "includes/js_enabled";