@use "includes/tna_colour_overrides";
@use "@nationalarchives/frontend/nationalarchives/tools/colour" as *;

// Vendor imports
@import "@nationalarchives/ds-caselaw-frontend/src/main";

// Setup
@import "includes/variables";
@import "includes/mixins";
@import "includes/utilities";

// Core
@import "includes/animations";
@import "includes/buttons";
@import "includes/footer";
@import "includes/forms";
@import "includes/header";
@import "includes/js_enabled";
@import "includes/layout";
@import "includes/links";
@import "includes/spacing";
@import "includes/typography";

$govuk-font-family: $font-open-sans;
$govuk-focus-colour: colour-var("focus-outline");

@import "govuk-frontend/dist/govuk/settings";
@import "govuk-frontend/dist/govuk/helpers";
@import "govuk-frontend/dist/govuk/tools";
@import "govuk-frontend/dist/govuk/utilities/visually-hidden";
@import "govuk-frontend/dist/govuk/components/date-input";
@import "govuk-frontend/dist/govuk/components/summary-list";
@import "govuk-frontend/dist/govuk/components/warning-text";
@import "govuk-frontend/dist/govuk/components/details";
@import "govuk-frontend/dist/govuk/components/button";
@import "govuk-frontend/dist/govuk/objects/grid";
@import "govuk-frontend/dist/govuk/components/input";
@import "govuk-frontend/dist/govuk/components/notification-banner";
@import "govuk-frontend/dist/govuk/objects/form-group";
@import "govuk-frontend/dist/govuk/objects/main-wrapper";
@import "govuk-frontend/dist/govuk/components/fieldset";
@import "govuk-frontend/dist/govuk/components/checkboxes";
@import "govuk-frontend/dist/govuk/components/label";
@import "govuk-frontend/dist/govuk/components/hint";
@import "govuk-frontend/dist/govuk/components/header";
@import "govuk-frontend/dist/govuk/components/character-count";
@import "govuk-frontend/dist/govuk/components/textarea";
@import "govuk-frontend/dist/govuk/components/radios";
@import "govuk-frontend/dist/govuk/core/lists";
@import "govuk-frontend/dist/govuk/core/section-break";
@import "govuk-frontend/dist/govuk/core/govuk-frontend-properties";

// Vendor overrides
@import "includes/govuk_overrides/checkboxes";
@import "includes/govuk_overrides/details";
@import "includes/govuk_overrides/fieldset";
@import "includes/govuk_overrides/form_group";
@import "includes/govuk_overrides/grid";
@import "includes/govuk_overrides/header";
@import "includes/govuk_overrides/hint";
@import "includes/govuk_overrides/input";
@import "includes/govuk_overrides/label";
@import "includes/govuk_overrides/main_wrapper";
@import "includes/govuk_overrides/notification";
@import "includes/govuk_overrides/summary_card";
@import "includes/govuk_overrides/summary_list";
@import "includes/govuk_overrides/warning_text";

// Base
@import "includes/confirmation";
@import "includes/help_end_document_marker";
@import "includes/phase_banner";
@import "includes/notification_message";
@import "includes/service_introduction";
@import "includes/standard_text_template";
@import "includes/copy_to_clipboard_link";
@import "includes/info_card";

// Cookies
@import "includes/cookie_banner_overrides";
@import "includes/cookie_consent/cookie-consent";
@import "includes/cookie_consent/ds-cookie-consent";

// Navigation
@import "includes/breadcrumbs";
@import "includes/document_navigation_links";
@import "includes/pagination";
@import "includes/sticky_menu";

// Judgments
@import "includes/judgment_document_paragraph_anchors";
@import "includes/judgment_text_download_options";
@import "includes/judgment_catalogue_card";
@import "includes/judgment_text_end_document_marker";
@import "includes/judgment_text_service_introduction";
@import "includes/judgment_text_source";
@import "includes/judgment_text_toolbar";
@import "includes/judgments_listing";
@import "includes/recent_judgments";

// Homepage
@import "includes/browse_by_court";
@import "includes/homepage_cards";
@import "includes/homepage_browse";

// Pages
@import "includes/atom_feed";
@import "includes/court_or_tribunal";
@import "includes/courts_and_tribunals";
@import "includes/standard_content";

// About page
@import "includes/what_to_expect";

// Forms
@import "includes/transactional_licence_form";
@import "includes/transactional_licence_form_content";

// Search
@import "includes/basic_search_form";
@import "includes/result_controls";
@import "includes/results_search_component";
@import "includes/results";

@import "includes/structured_search";

// Dev
@import "includes/environment_banner";
@import "includes/style_guide";
