@import "includes/variables";
@import "includes/animations";
@import "includes/mixins";
@import "includes/global";
@import "includes/service_introduction";
@import "includes/search";
@import "includes/recent_judments";
@import "includes/browse_by_court";
@import "includes/links";
@import "includes/structured_search";
@import "includes/results";
@import "includes/results_search_component";
@import "includes/result_controls";
@import "includes/pagination";
@import "includes/phase_banner";
@import "includes/footer";
@import "includes/header";
@import "includes/judgment_text";
@import "includes/judgment_text_toolbar";
@import "includes/judgment_text_source";
@import "includes/judgment_text_service_introduction";
@import "includes/standard_text_template";
@import "includes/sources_introduction";
@import "includes/sources";
