// Setup
@import "includes/variables";
@import "includes/mixins";

// Core
@import "includes/layout";
@import "includes/spacing";
@import "includes/typography";
@import "includes/header";
@import "includes/footer";

// Shared
@import "../../node_modules/@nationalarchives/ds-caselaw-frontend/src/main";
$govuk-font-family: $font-open-sans;
$govuk-focus-colour: $color-focus-blue-outline;
@import "../../node_modules/govuk-frontend/dist/govuk/all";

// Components
@import "includes/animations";
@import "includes/browse_by_court";
@import "includes/buttons";
@import "includes/cookie_consent/cookie-consent";
@import "includes/cookie_consent/ds-cookie-consent";
@import "includes/cookie_banner_overrides";
@import "includes/document_navigation_links";
@import "includes/forms";
@import "includes/help_end_document_marker";
@import "includes/homepage_browse";
@import "includes/js_enabled";
@import "includes/judgment_text_download_options";
@import "includes/judgment_text_end_document_marker";
@import "includes/judgment_text_service_introduction";
@import "includes/judgment_text_source";
@import "includes/judgment_text_toolbar";
@import "includes/judgments_listing";
@import "includes/links";
@import "includes/pagination";
@import "includes/phase_banner";
@import "includes/environment_banner";
@import "includes/recent_judgments";
@import "includes/result_controls";
@import "includes/results_search_component";
@import "includes/results";
@import "includes/search";
@import "includes/service_introduction";
@import "includes/standard_text_template";
@import "includes/structured_search";
@import "includes/what_to_expect";
@import "includes/help_end_document_marker";
@import "includes/js_enabled";
@import "includes/buttons";
@import "includes/notification_message";
@import "includes/courts_and_tribunals";
@import "includes/court_or_tribunal";
@import "includes/cards_homepage";
@import "includes/govuk_overrides";
@import "includes/transactional_licence_form_content";
@import "includes/confirmation";
@import "includes/transactional_licence_form";
