// Setup
@use "includes/variables" as *;

// Override variables in tna-frontend
@use "../../node_modules/@nationalarchives/frontend/nationalarchives/variables/colour"
  with (
  $link-colour: $color-link-blue,
  $link-colour-visited: $color-link-blue-visited
);
// Include all of tna-frontend
@use "../../node_modules/@nationalarchives/frontend/nationalarchives/all";

.judgment * {
  /* The tna-frontend css overrides default margins on everything and sets them to 0, which breaks the formatting of judgments. This rule restores the original spacings within the judgment (at least to a degree of similarity perceptible by me (Tim)). We don't want to include this in the ds-caselaw-frontend shared code yet, as the tna-frontend issue is (for now) specific to PUI. */
  margin-bottom: calc(0.5 * $spacer-unit);
}

// Core
@import "includes/variables";
@import "includes/mixins";
@import "includes/layout";
@import "includes/spacing";
@import "includes/typography";
@import "includes/header";
@import "includes/footer";

// Shared
@import "../../node_modules/@nationalarchives/ds-caselaw-frontend/src/main";
@import "../../node_modules/@nationalarchives/frontend/nationalarchives/all";

// Components
@import "includes/animations";
@import "includes/browse_by_court";
@import "includes/buttons";
@import "includes/cookie_consent/cookie-consent";
@import "includes/cookie_consent/ds-cookie-consent";
@import "includes/cookie_banner_overrides";
@import "includes/document_navigation_links";
@import "includes/forms";
@import "includes/help_end_document_marker";
@import "includes/homepage_browse";
@import "includes/js_enabled";
@import "includes/judgment_text_download_options";
@import "includes/judgment_text_end_document_marker";
@import "includes/judgment_text_service_introduction";
@import "includes/judgment_text_source";
@import "includes/judgment_text_toolbar";
@import "includes/judgments_listing";
@import "includes/links";
@import "includes/pagination";
@import "includes/phase_banner";
@import "includes/environment_banner";
@import "includes/recent_judgments";
@import "includes/result_controls";
@import "includes/results_search_component";
@import "includes/results";
@import "includes/search";
@import "includes/service_introduction";
@import "includes/standard_text_template";
@import "includes/structured_search";
@import "includes/what_to_expect";
@import "includes/no_results_message";
@import "includes/help_end_document_marker";
@import "includes/js_enabled";
@import "includes/buttons";
@import "includes/notification_message";
@import "includes/courts_and_tribunals";
@import "includes/court_or_tribunal";
