// Setup
@import "includes/variables";
@import "includes/mixins";

// Core
@import "includes/layout";
@import "includes/spacing";
@import "includes/typography";
@import "includes/header";
@import "includes/footer";

// Components
@import "includes/animations";
@import "includes/browse_by_court";
@import "includes/buttons";
@import "includes/cookie_consent/cookie-consent";
@import "includes/cookie_consent/ds-cookie-consent";
@import "includes/document_navigation_links";
@import "includes/forms";
@import "includes/help_end_document_marker";
@import "includes/homepage_browse";
@import "includes/js_enabled";
@import "includes/judgment_text_download_options";
@import "includes/judgment_text_end_document_marker";
@import "includes/judgment_text_service_introduction";
@import "includes/judgment_text_source";
@import "includes/judgment_text_toolbar";
@import "includes/judgment_text";
@import "includes/judgments_listing";
@import "includes/links";
@import "includes/pagination";
@import "includes/phase_banner";
@import "includes/recent_judgments";
@import "includes/result_controls";
@import "includes/results_search_component";
@import "includes/results";
@import "includes/search";
@import "includes/service_introduction";
@import "includes/standard_text_template";
@import "includes/structured_search";
@import "includes/what_to_expect";
