<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://caselaw.nationalarchives.gov.uk/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "https://caselaw.nationalarchives.gov.uk/judgments/search?query={search_term}"
      },
      "query-input": "required name=search_term"
    }
  }
</script>
<div class="search-component">
  <div class="search-component__container-beta">
    {% include "includes/search/search_header_text.html" %}
    <h2 class="search-component__header--sr-only">Search by keyword or neutral citation</h2>
    <form action="{% url 'search' %}"
          class="search-term-component"
          role="search"
          aria-label="Search by keyword or neutral citation"
          id="analytics-basic-search">
      {% include "includes/search_term_component.html" %}
    </form>
    <div class="search-component__more-options-beta">
      <a class="advanced-search-link" href="{% url 'advanced_search' %}">Advanced search </a>
    </div>
  </div>
</div>
