{% block content %}
  <div class="tna-container tna-grid--judgment-decisions">
    <div class="tna-column--width-2-3">
      <h1 class="judgment-decisions">Judgments and decisions by court or tribunal</h1>
      <p>
        The UK courts and tribunal system is like a legal hierachy.  The Supreme Court is at the top, dealing with the final appeals.
        Below that, there are different courts for various legal issues, such as the Court of Appeal and the Crown Court.  Specialised
        tribunals handle specific problems like employment or immigration.  Overall, these courts and tribunals are essential for making
        fair legal decisions and resolving different types of issues.
      </p>
    </div>
    <div class="tna-column tna-column--full">
      <h2 class="judgment-decisions__header">Supreme Court and Privy Council</h2>
    </div>
    <div class="tna-column--width-2-3">
      <p>courts data here</p>
    </div>
    <div class="tna-column tna-column--full">
      <h2 class="judgment-decisions__header">Court of Appeal</h2>
    </div>
    <div class="tna-column--width-2-3">
      <p>courts data here</p>
    </div>
    <div class="tna-column tna-column--full">
      <h2 class="judgment-decisions__header">High Court (England and Wales)</h2>
    </div>
    <div class="tna-column--width-2-3">
      <p>courts data here</p>
    </div>
    <div class="tna-column tna-column--full">
      <h2 class="judgment-decisions__header">Lower Courts</h2>
    </div>
    <div class="tna-column--width-2-3">
      <p>courts data here</p>
    </div>
    <div class="tna-column tna-column--full">
      <h2 class="judgment-decisions__header">Upper Tribunal</h2>
    </div>
    <div class="tna-column--width-2-3">
      <p>courts data here</p>
    </div>
    <div class="tna-column tna-column--full">
      <h2 class="judgment-decisions__header">First-Tier Tribunal</h2>
    </div>
    <div class="tna-column--width-2-3">
      <p>courts data here</p>
    </div>
  </div>
{% endblock content %}
