{% load query_filters court_utils %}
{% block content %}
  <div class="judgment-browse">
    <div class="judgment-browse__container">
      <h2 class="judgment-browse__header">Find judgments</h2>
      <div class="judgment-browse__by-type">
        <h3 id="browse-by-court" class="judgment-browse__sub-header">By court</h3>
        <ul class="judgment-browse__list">
          {% for court in courts %}
            <li class="judgment-browse__list-item">
              <a class="judgment-browse__link"
                 href="{% url "search" %}?court={{ court.code }}">{{ court.name }}</a>
              <span class="judgment-browse__year-range">&mdash; {{ court.canonical_param|get_court_date_range }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="judgment-browse__by-type">
        <h3 id="browse-by-tribunal" class="judgment-browse__sub-header">By tribunal</h3>
        <p class="judgment-browse__information-box">
          We have a limited number of tribunal decisions available as part of our alpha service.
        </p>
        <ul class="judgment-browse__list">
          {% for tribunal in tribunals %}
            <li class="judgment-browse__list-item">
              <a class="judgment-browse__link"
                 href="{% url "search" %}?tribunal={{ tribunal.code }}">{{ tribunal.name }}</a>
              <span class="judgment-browse__year-range">&mdash; {{ tribunal.canonical_param|get_court_date_range }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
