{% load static %}
<ul class="cards-homepage">
  <li>
    {% include "includes/card_homepage.html" with title="Recently published" body="Browse legal decisions most recently added to the Find Case Law site." link_route="search" image_src="/images/recently_added.jpg" %}
  </li>
  <li>
    {% include "includes/card_homepage.html" with title="Browse by court or tribunal" body="Browse judgments and tribunals from the United Kingdoms's 18 courts and 7 tribunals." link_route="courts_and_tribunals" image_src="/images/browse-courts-tribunals.jpg" %}
  </li>
  <li>
    {% include "includes/card_homepage.html" with title="Help and Support" body="Find out how to search for judgments and decisions." link_route="how_to_use_this_service" image_src="/images/help-and-guidance.png" %}
  </li>
</ul>
