<div class="cards-homepage__container">
  <h2>Learn more about Find Case Law</h2>
  <ul class="cards-homepage">
    <li>
      {% include "includes/card_homepage.html" with title="Browse by court or tribunal" body="View judgments and decisions from specific courts and tribunals." link_route="courts_and_tribunals" image_src="/images/HM-courts-and-tribunal-service-building-sign.jpg" %}
    </li>
    <li>
      {% include "includes/card_homepage.html" with title="How to search" body="Learn how to search the full text of every judgment and decision available on Find Case Law." link_route="how_to_search_find_case_law" image_src="/images/modern-magnifying-glass.jpg" %}
    </li>
    <li>
      {% include "includes/card_homepage.html" with title="Re-use Find Case Law records" body="Find out how to gain free access to and re-use of judgments and decisions." link_route="computational_licence_form" image_src="/images/person-working-on-a-laptop.jpg" %}
    </li>
  </ul>
</div>
