{% from "components/link.jinja" import link %}
{% from "components/heading.jinja" import heading %}
{% from "components/details.jinja" import details %}
{% macro courts_and_tribunals_court(court=None, type=None, group=None) %}
  <div class="courts-and-tribunals__sub-item">
    {% if group.display_heading %}
      {% call heading(tag="h3", id=court.name|slugify) %}
        {{ court.grouped_name }}
      {% endcall %}
    {% else %}
      {% call heading(tag="h2", id=court.name|slugify) %}
        {{ court.grouped_name }}
      {% endcall %}
    {% endif %}
    {% if court.description_text_as_html %}
      {% call details(title="About the " ~ court.grouped_name, variant="light") %}
        {% autoescape off %}
          {{ court.description_text_as_html }}
        {% endautoescape %}
      {% endcall %}
    {% endif %}
    <p>
      {% if court|get_court_judgments_count == 0 %}
        We don't currently hold any documents
      {% else %}
        We currently hold
        {% call link(href=url("search") ~ "?" ~ "type=" ~ court.canonical_param) %}
          {{ court|get_court_judgments_count|intcomma }} documents from
          {{ court.start_year }}&nbsp;to&nbsp;{{ court.end_year }}
        {% endcall %}
      {% endif %}
    </p>
    {% if court.historic_documents_support_text_as_html %}
      {% call details(title="Looking for older documents", variant="light") %}
        {% autoescape off %}
          {{ court.historic_documents_support_text_as_html }}
        {% endautoescape %}
      {% endcall %}
    {% endif %}
  </div>
{% endmacro %}
