{% load query_filters court_utils %}
{% for court in context.courts %}
  <div class="structured-search__court-option">
    <label for="court_{{ court.canonical_param }}">
      <input type="checkbox"
             name="court"
             value="{{ court.canonical_param }}"
             id="court_{{ court.canonical_param }}"
             {% for alias in context.court %}{% if alias in court.param_aliases %}checked="checked"{% endif %}
             {% endfor %} />
      <span class="structured-search__court-option-label">{{ court.name }}
        <span style="color:#555; font-size: 0.9rem">&mdash; {{ court|get_court_date_range }}</span>
      </span>
    </label>
  </div>
{% endfor %}
