{% from "components/link.jinja" import link %}
{% from "components/heading.jinja" import heading %}
{% from "components/details.jinja" import details %}
{% macro courts_and_tribunals_court(court=None, type=None, group=None) %}
  <div class="courts-and-tribunals__sub-item">
    {% set heading_tag = "h2" if group.display_heading else "h2" %}
    {% call heading(tag=heading_tag, id=court.name|slugify) %}
      {{ court.grouped_name }}
    {% endcall %}
    <p>
      {% if court|get_court_judgments_count == 0 %}
        We don't currently hold any documents
      {% else %}
        {% call link(href=url("search") ~ "?" ~ "court=" ~ court.canonical_param) %}
          {{ court|get_court_judgments_count|intcomma }} documents —
          {{ court.start_year }}&nbsp;to&nbsp;{{ court.end_year }}
        {% endcall %}
      {% endif %}
    </p>
    <p>{{ link(content="About " ~ court.grouped_name, href=url("court_or_tribunal", court.canonical_param) ) }}</p>
  </div>
{% endmacro %}
