{% load i18n document_utils %}
<div class="document-toolbar">
  <div class="document-toolbar__container">
    {% if context.document_type == "press_summary" %}
      <p class="document-toolbar__press-summary-title">Press Summary</p>
    {% endif %}
    <h1 class="document-toolbar__title">{{ context.page_title|get_title_to_display_in_html:context.document_type }}</h1>
    <p class="document-toolbar__reference">{{ context.judgment_ncn }}</p>
    <div class="document-toolbar__buttons document-toolbar-buttons">
      {% if context.linked_document_uri %}
        <a class="document-toolbar-buttons__option--related-document btn-related-document"
           role="button"
           draggable="false"
           href="{% url 'detail' document_uri=context.linked_document_uri %}">
          {% if context.document_type == "judgment" %}
            {% translate "document.view_press_summary" %}
          {% else %}
            {% translate "document.view_judgment" %}
          {% endif %}
          <span style="font-weight:normal;font-size:0.9rem"></span>
        </a>
      {% endif %}
      <a class="document-toolbar-buttons__option--pdf btn"
         role="button"
         draggable="false"
         href="{{ context.pdf_uri }}">{% translate "document.downloadaspdf" %}<span style="font-weight:normal;font-size:0.9rem">{{ context.pdf_size }}</span></a>
      <p class="document-toolbar-buttons__option--download-options"
         role="note">
        <a href="#download-options">{% translate "document.downloadoptions.shortcutlink" %}</a>
      </p>
    </div>
  </div>
</div>
