{% load i18n %}
<div id="download-options" class="document-download-options">
  <h2 class="document-download-options__header">{% translate "document.downloadoptions.title" %}</h2>
  <div class="document-download-options__options-list">
    <div class="document-download-options__download-option">
      <h3>
        <a href="{{ context.pdf_uri }}">
          {% translate "document.downloadoptions.pdf.cta" %}
          {{ context.pdf_size }}
        </a>
      </h3>
      <p>{% translate "document.downloadoptions.pdf.description" %}</p>
    </div>
    <div class="document-download-options__download-option">
      <h3>
        <a href="{% url 'detail_xml' context.document_uri %}">{% translate "document.downloadoptions.xml.cta" %}</a>
      </h3>
      <p>{% translate "document.downloadoptions.xml.description" %}</p>
    </div>
  </div>
</div>
