{% load i18n %}
<footer class="judgments-footer">
  <div class="container pt-2 pb-1">
    <h2 class="judgments-footer__heading">Footer</h2>
    <div class="judgments-footer__links-container">
      <div>
        <h3>{% translate "footer.websites" %}</h3>
        <ul>
          <li>
            <a class="{{ link_class_prefix }}-legislation-link" href="{% translate "footer.legislation.link" %}">{% translate "footer.legislation" %}</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-gazette-link" href="{% translate "footer.gazette.link" %}">{% translate "footer.gazette" %}</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-judicaiary-link" href="{% translate "footer.judiciary.link" %}">{% translate "footer.judiciary" %}</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>{% translate "footer.about" %}</h3>
        <ul>
          <li>
            <a class="{{ link_class_prefix }}-about-this-service-link" href="{% url "about_this_service" %}">{% translate "aboutthisservice.titleshort" %}</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-how-to-use-this-service-link" href="{% url "how_to_use_this_service" %}">{% translate "howtousethisservice.titleshort" %}</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-help-and-guidance-link" href="{% url "help_and_guidance" %}">Help and guidance</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-contact-link" href="mailto:{% translate "caselaw.email" %}">{% translate "footer.contact" %}</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>{% translate "footer.legal" %}</h3>
        <ul>
          <li>
            <a class="{{ link_class_prefix }}-terms-and-policies-link" href="{% url "terms_and_policies" %}">Terms and policies</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-cookies-link" href="{% translate "footer.cookies.link" %}">{% translate "footer.cookies" %}</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-privacy-notice-link" href="{% url "privacy_notice" %}">Privacy notice</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="judgments-footer__base-paragraph">
      All content is available under the <a class="judgments-footer__link"
                                            href="{% url "open_justice_licence" %}">Open Justice Licence</a>.
      For re-use that is not covered by the Open Justice Licence, please <a href="{% url "computational_licence_form" %}">apply for licence to do computational analysis.</a>.
    </p>
  </div>
</footer>
