{% load i18n %}
<footer class="judgments-footer">
  <div class="container pt-2 pb-1">
    <h2 class="judgments-footer__heading">Footer</h2>
    <div class="judgments-footer__links-container">
      <div>
        <h3>{% translate "footer.websites" %}</h3>
        <ul>
          <li>
            <a href="{% translate "footer.legislation.link" %}">{% translate "footer.legislation" %}</a>
          </li>
          <li>
            <a href="{% translate "footer.gazette.link" %}">{% translate "footer.gazette" %}</a>
          </li>
          <li>
            <a href="{% translate "footer.judiciary.link" %}">{% translate "footer.judiciary" %}</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>{% translate "footer.about" %}</h3>
        <ul>
          <li>
            <a href="{% url "about_this_service" %}">{% translate "aboutthisservice.titleshort" %}</a>
          </li>
          <li>
            <a href="{% url "how_to_use_this_service" %}">{% translate "howtousethisservice.titleshort" %}</a>
          </li>
          <li>
            <a href="mailto:{% translate "caselaw.email" %}">{% translate "footer.contact" %}</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>{% translate "footer.legal" %}</h3>
        <ul>
          <li>
            <a href="{% url "terms_of_use" %}">{% translate "terms.title" %}</a>
          </li>
          <li>
            <a href="{% translate "footer.cookies.link" %}">{% translate "footer.cookies" %}</a>
          </li>
          <li>
            <a href="{% url "accessibility_statement" %}">{% translate "accessibilitystatement.title" %}</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="judgments-footer__base-paragraph">
      All content is available under the
      <a class="judgments-footer__link"
         href="{% url "open_justice_licence" %}">Open Justice Licence</a>. For re-use that is not covered by the Open Justice Licence, please
      <a href="{% url "transactional_licence_form" %}">apply for a transactional licence</a>.
    </p>
  </div>
</footer>
