{% load static %}
<footer class="judgments-footer">
  <div class="container pt-2 pb-1">
    <h2 class="judgments-footer__heading">Footer</h2>
    <div class="judgments-footer__links-container">
      <div>
        <h3>Websites</h3>
        <ul>
          <li>
            <a class="{{ link_class_prefix }}-legislation-link" href="https://www.legislation.gov.uk/">Legislation</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-gazette-link" href="https://www.thegazette.co.uk/">The Gazette</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-judicaiary-link" href="https://www.judiciary.uk">Judiciary</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>About</h3>
        <ul>
          <li>
            <a class="{{ link_class_prefix }}-about-this-service-link" href="{% url "about_this_service" %}">About this service</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-how-to-use-this-service-link" href="{% url "how_to_use_this_service" %}">How to use this service</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-help-and-guidance-link" href="{% url "help_and_guidance" %}">Help and guidance</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-contact-link" href="mailto:caselaw@nationalarchives.gov.uk">Contact us by email</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>Legal</h3>
        <ul>
          <li>
            <a class="{{ link_class_prefix }}-terms-and-policies-link" href="{% url "terms_and_policies" %}">Terms and policies</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-cookies-link" href="https://www.nationalarchives.gov.uk/legal/cookies/">Cookies</a>
          </li>
          <li>
            <a class="{{ link_class_prefix }}-privacy-notice-link" href="{% url "privacy_notice" %}">Privacy notice</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="judgments-footer__base-paragraph-container">
      <img class="judgments-footer__ojl-logo"
           src="{% static 'images/Open-Justice-Licence-logo.svg' %}"
           alt="Open Justice Licence logo"
           height="50"
           width="32" />
      <p class="judgments-footer__base-paragraph">
        All content is available under the <a class="judgments-footer__link"
                                              href="{% url "open_justice_licence" %}">Open Justice Licence</a>.
        <br/>
        For re-use that is not covered by the Open Justice Licence, please <a href="{% url "transactional-licence-form" %}">apply for licence to do computational analysis.</a>.
      </p>
    </div>
  </div>
</footer>
