<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 id="section-interested-in">You may also be interested in</h2>
    </div>
</div>

<div class="info-cards">
    <a class="info-card" href="{% url 'courts_and_tribunals_in_fcl' %}" aria-label="Courts and tribunals in Find Case Law">
        <h3>Courts and tribunals in Find Case Law</h3>
        <p>Learn which judgments and decisions this service provides.</p>
    </a>
    <a class="info-card" href="{% url 'publishing_policy' %}" aria-label="Publishing policy">
        <h3>Publishing policy</h3>
        <p>Read how Find Case Law receives and publishes judgments and decisions.</p>
    </a>
    <a class="info-card"  href="{% url 'computational_licence_form' %}"  aria-label="Reuse Find Case Law records">
        <h3>Reuse Find Case Law records</h3>
        <p>Read what you’re allowed to do with records from this service.</p>
    </a>
</div>
