<h1 class="info-card-page-h2">Terms and policies</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="terms-policies-h2">Pages in this section</h2>
    </div>
</div>

<div class="info-cards">
    <a class="info-card"  href="{% url 'accessibility_statement' %}" aria-label="Accessibility statement">
        <h3>Accessibility statement</h3>
        <p>Find out how we work to make Find Case Law accessible and inclusive.</p>
    </a>
    <a class="info-card" href="{% url 'publishing_policy' %}" aria-label="Publishing policy">
        <h3>Publishing policy</h3>
        <p>Read how Find Case Law receives and publishes judgments and decisions.</p>
    </a>
    <a class="info-card" href="{% url 'terms_of_use' %}"  aria-label="Terms of use">
        <h3>Terms of use</h3>
        <p>Learn what you may do with material from this service.</p>
    </a>
</div>
