<h1 class="info-card-page-h2">Terms and policies</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="terms-policies-h2">Pages in this section</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds__info_cards">
    <a href="{% url 'accessibility_statement' %}" class="grid-background-link" aria-label="Accessibility statement">
      <div class="govuk-grid-column-one-third__info_cards">
        <h3 class="govuk-grid-column-one-third__grid_info_card_heading">Accessibility statement</h3>
        <p class="govuk-grid-column-one-third__grid_info_card_text">Find out how we work to make Find Case Law accessible and inclusive.</p>
      </div>
    </a>
    <a href="{% url 'publishing_policy' %}" class="grid-background-link" aria-label="Publishing policy">
      <div class="govuk-grid-column-one-third__info_cards">
        <h3 class="govuk-grid-column-one-third__grid_info_card_heading">Publishing policy</h3>
        <p class="govuk-grid-column-one-third__grid_info_card_text">Read how Find Case Law receives and publishes judgments and decisions.</p>
      </div>
    </a>
    <a href="{% url 'terms_of_use' %}" class="grid-background-link" aria-label="Terms of use">
      <div class="govuk-grid-column-one-third__info_cards">
        <h3 class="govuk-grid-column-one-third__grid_info_card_heading">Terms of use</h3>
        <p class="govuk-grid-column-one-third__grid_info_card_text">Learn what you may do with material from this service.</p>
      </div>
    </a>
  </div>
</div>
