
<h1 class="info-card-page-h2">Help and guidance</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="terms-policies-h2">Pages in this section</h2>
    </div>
</div>
<div class="info-cards">
    <a class="info-card" href="{% url 'how_to_search_find_case_law' %}" aria-label="How to search Find Case Law">
        <h3>How to search Find Case Law</h3>
        <p>Learn how this website’s search box works and how to filter results.</p>
    </a>
    <a class="info-card" href="{% url 'understanding_judgments_and_decisions' %}" aria-label="Understanding Judgments and decisions">
        <h3>Understanding Judgments and decisions</h3>
        <p>Read an explanation of what judgments are and what they contain.</p>
    </a>

    <a class="info-card" href="{% url 'contact_us' %}" aria-label="Contact us">
        <h3>Contact us</h3>
        <p>Find out how you can contact the Find Case Law team.</p>
    </a>
</div>
