
{% load static %}
<div class="homepage-cards__outer-container">
  <div class="homepage-cards__inner-container">
    <h2>Learn more about Find Case Law</h2>
    <a href="{% url 'courts_and_tribunals' %}" class="homepage-cards__info-cards-home">
      <img class="homepage-cards__image"
           src="{% static 'images/HM-courts-and-tribunal-service-building-sign.jpg' %}"
           alt=""
           width="110px"
           height="146px"/>
      <div class="homepage-cards__body">
        <h3 class="homepage-cards__heading">Browse by court or tribunal</h3>
        <p class="homepage-cards__body-text">View judgments and decisions from specific courts and tribunals.</p>
      </div>
    </a>
    <a href="{% url 'how_to_search_find_case_law' %}" class="homepage-cards__info-cards-home">
      <img class="homepage-cards__image"
           src="{% static 'images/modern-magnifying-glass.jpg' %}"
           alt=""
           width="110px"
           height="146px"/>
      <div class="homepage-cards__body">
        <h3 class="homepage-cards__heading">How to search</h3>
        <p class="homepage-cards__body-text">Learn how to search the full text of every judgment and decision available on Find Case Law.</p>
      </div>
    </a>
    <a href="{% url 'transactional-licence-form' %}" class="homepage-cards__info-cards-home">
      <img class="homepage-cards__image"
           src="{% static 'images/person-working-on-a-laptop.jpg' %}"
           alt=""
           width="110px"
           height="146px"/>
      <div class="homepage-cards__body">
        <h3 class="homepage-cards__heading">Re-use Find Case Law records</h3>
        <p class="homepage-cards__body-text">Find out how to gain free access to and re-use of judgments and decisions.</p>
      </div>
    </a>
  </div>
</div>
