<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 id="section-interested-in">You may also be interested in</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds__info_terms_use">
    <a href="{% url 'courts_and_tribunals_in_fcl' %}" class="grid-background-link" aria-label="Courts and tribunals in Find Case Law">
      <div class="govuk-grid-column-one-third__info_terms_use">
        <h3 class="govuk-grid-column-one-third__grid_info_heading">Courts and tribunals in Find Case Law</h3>
        <p class="govuk-grid-column-one-third__grid_info_card_text">Learn which judgments and decisions this service provides.</p>
      </div>
    </a>
    <a href="{% url 'publishing_policy' %}"  class="grid-background-link" aria-label="Publishing policy">
      <div class="govuk-grid-column-one-third__info_terms_use">
        <h3 class="govuk-grid-column-one-third__grid_info_heading">Publishing policy</h3>
        <p class="govuk-grid-column-one-third__grid_info_card_text">Read how Find Case Law receives and publishes judgments and decisions.</p>
      </div>
    </a>
    <a href="{% url 'computational_licence_form' %}"  class="grid-background-link" aria-label="Reuse Find Case Law records">
      <div class="govuk-grid-column-one-third__info_about_fcl">
        <h3 class="govuk-grid-column-one-third__grid_info_heading">Reuse Find Case Law records</h3>
        <p class="govuk-grid-column-one-third__grid_info_card_text">Read what you’re allowed to do with records from this service.</p>
      </div>
    </a>
  </div>
</div>
