{% load static i18n %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2>Pages in this section</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds__info_about_fcl">
    <a href="{% url 'courts_and_tribunals_in_fcl' %}" class="grid-background-link">
      <div class="govuk-grid-column-one-third__info_about_fcl">
        <h3 class="govuk-grid-column-one-third__grid_info_heading">Courts and tribunals in Find Case Law</h3>
        <p class="govuk-grid-column-one-third__grid_info_text">Learn which judgments and decisions this service provides.</p>
      </div>
    </a>
    <a href="{% url 'computational_licence_form' %}"  class="grid-background-link">
      <div class="govuk-grid-column-one-third__info_about_fcl">
        <h3 class="govuk-grid-column-one-third__grid_info_heading">Reuse Find Case Law records</h3>
        <p class="govuk-grid-column-one-third__grid_info_card_text">Read what you’re allowed to do with records from this service.</p>
      </div>
    </a>
    <a href="{% url 'terms_and_policies' %}"  class="grid-background-link">
      <div class="govuk-grid-column-one-third__info_about_fcl">
        <h3 class="govuk-grid-column-one-third__grid_info_heading">Terms and policies</h3>
        <p class="govuk-grid-column-one-third__grid_info_card_text">Find out the rules and policies that apply to this service.</p>
      </div>
    </a>
  </div>
</div>
