<h2 id="section-interested-in">You may also be interested in</h2>

<div class="info-cards">
    <a class="info-card" href="{% url 'contact_us' %}" aria-label="Contact us">
        <h3>Contact us</h3>
        <p>Find out how you can contact the Find Case Law team.</p>
    </a>
    <a href="{% url 'courts_and_tribunals_in_fcl' %}" class="info-card" aria-label="Courts and tribunals in Find Case Law">
        <h3>Courts and tribunals in Find Case Law</h3>
        <p>Learn which judgments and decisions this service provides.</p>
    </a>
    <a href="{% url 'publishing_policy' %}"  class="info-card" aria-label="Publishing policy">
        <h3>Publishing policy</h3>
        <p>Read how Find Case Law receives and publishes judgments and decisions.</p>
    </a>
</div>
