{% load court_utils %}
<div class="container catalogue-card">
    <h2>Document details</h2>

    <table class="catalogue-card__table">
        <tr><th>Title</th><td>{{ document.body.name }}</td></tr>
        <tr><th>Document type</th><td>{{ document.document_noun|capfirst }}</td></tr>
        <tr><th>Court</th><td>{{ document.body.court|get_court_name }}</td></tr>
        <tr><th>Handed down</th><td>{{ document.body.document_date_as_string }}</td></tr>
        {% if document.neutral_citation %}<tr><th>Neutral Citation Number</th><td>{{ document.neutral_citation }}</td></tr>{% endif %}
        <tr><th>Citable URL</th><td>{{ document.public_uri }}</td></tr>
    </table>

</div>
