{% load search_results_filters utilities %}
<div class="judgments-table">
  <table>
    <thead>
      <tr>
        <th><h1>Recently published judgments</h1></th>
        <th>Neutral citation</th>
        <th>Handed down</th>
      </tr>
    </thead>

    <tbody>
      {% for item in judgments %}
        <tr>
          <td>
            <div  class="judgments-table__detail">
              {% if item|is_exact_match:query %}
                <div class="judgments-table__highlight">
                  {% if item|is_exact_title_match:query %}
                    Title matches
                  {% elif item|is_exact_ncn_match:query %}
                    Neutral citation matches
                  {% endif %}
                </div>
              {% endif %}
              <div class="judgments-table__title">
                <a href="{% url 'detail' item.slug %}">{{ item.name }}</a>
              </div>
              <div class="judgments-table__subtitle">
                {{ item.court.name }}
              </div>

              {% if item|show_matches:query %}
                <div class="judgments-table__matches">
                  {% autoescape off %}
                    {{ item.matches }}
                  {% endautoescape %}
                </div>
              {% endif %}
            </div>
          </td>
          <td>
            <span class="judgments-table__heading">Neutral citation</span>
            {{ item.neutral_citation|default_if_none:"&ndash;" }}
          </td>
          <td>
            <span class="judgments-table__heading">Handed down</span>
            {{ item.date|date:"d M Y" }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
