{% load static search_results_filters utilities waffle_tags %}
<ul class="{{ wrapper_class|default:"judgment-listing__list" }} {% if not paginator.has_next_page %}{{ wrapper_class|default:"judgment-listing__list" }}--last-page{% endif %}">
  {% for item in judgments %}
    <li>
      {% if item|is_exact_match:query %}
        <span class="judgment-listing__exact-match-label">
          {% if item|is_exact_title_match:query %}
            Title matches
          {% elif item|is_exact_ncn_match:query %}
            Neutral citation matches
          {% endif %}
        </span>
      {% endif %}
      <span class="judgment-listing__judgment">
        <span>
          <span class="judgment-listing__title">
            {% flag "highlight_search_query" %}
              {% if query %}
                <a href="{% url 'detail' item.uri %}?query={{ query | urlencode }}">{{ item.name }}</a>
              {% else %}
                <a href="{% url 'detail' item.uri %}">{{ item.name }}</a>
              {% endif %}
            {% else %}
              <a href="{% url 'detail' item.uri %}">{{ item.name }}</a>
            {% endflag %}
          </span>
          <span class="judgment-listing__court">{{ item.court.name }}</span>
        </span>
        <span>
          <span class="judgment-listing__neutralcitation">{{ item.neutral_citation }}</span>
          <time class="judgment-listing__date" datetime="{{ item.date }}">{{ item.date|date:"d M Y" }}</time>
        </span>
      </span>
      {% if item|show_matches:query %}
        <span class="judgment-listing__matches">
          <span class="judgment-listing__result-term-matching">Matching text sample:</span>
          {% autoescape off %}
            {{ item.matches }}
          {% endautoescape %}
        </span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
