{% load i18n %}
<div class="judgment-toolbar">
  <div class="judgment-toolbar__container">
    <h1 class="judgment-toolbar__title">{{ context.judgment_title }}</h1>
    <p class="judgment-toolbar__reference">{{ context.judgment_ncn }}</p>
    <div class="judgment-toolbar__download judgment-toolbar-download">
      <a class="judgment-toolbar-download__option--pdf btn"
         role="button"
         draggable="false"
         href="{{ context.pdf_uri }}">{% translate "judgment.downloadaspdf" %}<span style="font-weight:normal;font-size:0.9rem">{{ context.pdf_size }}</span></a>
      <p class="judgment-toolbar-download__download-options" role="note">
        <a href="#download-options">{% translate "judgment.downloadoptions.shortcutlink" %}</a>
      </p>
    </div>
  </div>
</div>
