{% load utilities document_utils %}
<section id="download-options" class="judgment-download-options" aria-labelledby="judgment-download-options-header">
  <h2 id="judgment-download-options-header" class="judgment-download-options__header">Document download options</h2>
  <div class="judgment-download-options__options-list">
    <div class="judgment-download-options__download-option">
      <a href="{{ pdf_uri }}"
         class="btn"
         aria-label="Download {{ document|get_title_to_display_in_html }} as a PDF {{ pdf_size }}"
         download="">
        Download PDF
        <span class="btn__label">{{ pdf_size }}</span>
      </a>
      <p>
        The original format of the {{ document.document_noun }} as handed down by the court, for printing and downloading.
      </p>
    </div>
    <div class="judgment-download-options__download-option">
      <a href="{% formatted_document_uri document.identifiers.preferred.url_slug 'xml' %}"
         class="btn"
         aria-label="Download {{ document|get_title_to_display_in_html }} as XML">
        Download XML
      </a>
      <p>
        {% if document.document_noun == 'press summary' %}
          The press summary in machine-readable LegalDocML format for developers, data scientists and researchers.
        {% else %}
          The judgment in machine-readable LegalDocML format for developers, data scientists and researchers.
        {% endif %}
      </p>
    </div>
  </div>
</section>
