{% load utilities document_utils %}
<section id="download-options" class="judgment-download-options" aria-labelledby="judgment-download-options-header">
  <h2 id="judgment-download-options-header" class="judgment-download-options__header">Download options</h2>
  <div class="judgment-download-options__options-list">
    <div class="judgment-download-options__download-option">
      <h3>
        <a href="{{ pdf_uri }}"
           aria-label="Download {{ document|get_title_to_display_in_html }} as a PDF {{ pdf_size }}"
           download="">
          {% if document.document_noun == 'press summary' %}
            Download this press summary as a PDF
          {% else %}
            Download this judgment as a PDF
          {% endif %}
          {{ pdf_size }}
        </a>
      </h3>
      <p>
        {% if document.document_noun == 'press summary' %}
          The original format of the press summary as handed down by the court, for printing and downloading.
        {% else %}
          The original format of the judgment as handed down by the court, for printing and downloading.
        {% endif %}
      </p>
    </div>
    <div class="judgment-download-options__download-option">
      <h3>
        <a href="{% formatted_document_uri request.path 'xml' %}"
           aria-label="Download {{ document|get_title_to_display_in_html }} as XML">
          {% if document.document_noun == 'press summary' %}
            Download this press summary as XML
          {% else %}
            Download this judgment as XML
          {% endif %}
        </a>
      </h3>
      <p>
        {% if document.document_noun == 'press summary' %}
          The press summary in machine-readable LegalDocML format for developers, data scientists and researchers.
        {% else %}
          The judgment in machine-readable LegalDocML format for developers, data scientists and researchers.
        {% endif %}
      </p>
    </div>
  </div>
</section>
