{% load i18n document_utils %}
<div class="judgment-toolbar">
  <div class="judgment-toolbar__container">
    {% if context.document_type == "press_summary" %}
      <p class="judgment-toolbar__press-summary-title">Press Summary</p>
    {% endif %}
    <h1 class="judgment-toolbar__title">{{ context.page_title|get_title_to_display_in_html:context.document_type }}</h1>
    <p class="judgment-toolbar__reference">{{ context.judgment_ncn }}</p>
    <div class="judgment-toolbar__buttons judgment-toolbar-buttons">
      {% if context.linked_document_uri %}
        <a class="judgment-toolbar-buttons__option--related-document btn-related-document"
           role="button"
           draggable="false"
           href="{% url 'detail' judgment_uri=context.linked_document_uri %}">
          {% if context.document_type == "judgment" %}
            {% translate "judgment.view_press_summary" %}
          {% else %}
            {% translate "judgment.view_judgment" %}
          {% endif %}
          <span style="font-weight:normal;font-size:0.9rem"></span>
        </a>
      {% endif %}
      <a class="judgment-toolbar-buttons__option--pdf btn"
         role="button"
         draggable="false"
         href="{{ context.pdf_uri }}">{% translate "judgment.downloadaspdf" %}<span style="font-weight:normal;font-size:0.9rem">{{ context.pdf_size }}</span></a>
      <p class="judgment-toolbar-buttons__option--download-options"
         role="note">
        <a href="#download-options">{% translate "judgment.downloadoptions.shortcutlink" %}</a>
      </p>
    </div>
  </div>
</div>
