<nav class="pagination" aria-label="Results pagination">
  <h3>Results pagination</h3>
  <ul class="pagination__list">
    <li class="pagination__list-item">
      <span class="pagination__page-chevron-previous--disabled">
        <span>
          Previous page
        </span>
      </span>
    </li>
    <li class="pagination__list-pages">
      <ol>
        <li class="pagination__list-item">
          <a class="pagination__page-link-current" href="#" aria-label="Current page, Page 1"
            aria-current="true"><span>Current page </span>1
          </a>
        </li>
        <li class="pagination__list-item">
          <a class="pagination__page-link" href="#" aria-label="Go to page 2">
            <span>Page </span>2
          </a>
        </li>
        <li class="pagination__list-item">
          <a class="pagination__page-link" href="#" aria-label="Go to page 3">
            <span>Page </span>3
          </a>
        </li>
        <li class="pagination__list-item">
          <a class="pagination__page-link" href="#" aria-label="Go to page 4">
            <span>Page </span>4
          </a>
        </li>
        <li class="pagination__list-item">
          <a class="pagination__page-link" href="#" aria-label="Go to page 5">
            <span>Page </span>5
          </a>
        </li>
        <li class="pagination__list-item">
          <a class="pagination__page-link" href="#" aria-label="Go to page 6">
            <span>Page </span>6
          </a>
        </li>
        <li class="pagination__list-item">
          <a class="pagination__page-link" href="#" aria-label="Go to page 7">
            <span>Page </span>7
          </a>
        </li>
        <li class="pagination__list-item">
          <a class="pagination__page-link" href="#" aria-label="Go to page 8">
            <span>Page </span>8
          </a>
        </li>
        <li class="pagination__list-item">
          <a class="pagination__page-link" href="#" aria-label="Go to page 9">
            <span>Page </span>9
          </a>
        </li>
        <li class="pagination__list-item">
          <a class="pagination__page-link" href="#" aria-label="Go to page 10">
            <span>Page </span>10
          </a>
        </li>
        <li class="pagination__list-item">
          <a class="pagination__page-link" href="#" aria-label="Go to page 11">
            <span>Page </span>11
          </a>
        </li>
      </ol>
    </li>
    <li class="pagination__list-item">
      <a class="pagination__page-chevron-next" href="#"><span>Next page</span></a>
    </li>
  </ul>
</nav>
