<nav class="pagination" aria-label="Results pagination">
  <h3>Results pagination</h3>
  <ul class="pagination__list">
    <li class="pagination__list-item">
      {% if paginator.has_prev_page %}
        <a class="pagination__page-chevron-previous"
           href="{{ request.path }}?{% if query_string %}{{ query_string }}&{% endif %}page={{ paginator.prev_page }}">
          <span>Previous page</span>
        </a>
      {% else %}
        <span class="pagination__page-chevron-previous--disabled">
          <span>Previous page</span>
        </span>
      {% endif %}
    </li>
    <li class="pagination__list-pages">
      <ol>
        {% if paginator.show_first_page %}
          <li class="pagination__list-item">
            <a class="pagination__page-link"
               href="{{ request.path }}?{% if query_string %}{{ query_string }}&{% endif %}page=1"
               aria-label="Go to page 1"
            >
              <span>Page</span>1
            </a>
          </li>
        {% endif %}
        {% if paginator.show_first_page_divider %}
          <li class="pagination__list-divider">
            ⋯
          </li>
        {% endif %}
        {% for page in paginator.page_range %}
          <li class="pagination__list-item">
            {% if page == paginator.current_page %}
              <a class="pagination__page-link-current"
                 href="{{ request.path }}?{% if query_string %}{{ query_string }}&{% endif %}page={{ page }}"
                 aria-label="Current page, Page {{ page }}"
                 aria-current="true"
              >
                <span>Current page</span>{{ page }}
              </a>
            {% else %}
              <a class="pagination__page-link"
                 href="{{ request.path }}?{% if query_string %}{{ query_string }}&{% endif %}page={{ page }}"
                 aria-label="Go to page {{ page }}"
              >
                <span>Page</span>{{ page }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
        {% if paginator.show_last_page_divider %}
          <li class="pagination__list-divider">
            ⋯
          </li>
        {% endif %}
        {% if paginator.show_last_page %}
          <li class="pagination__list-item">
            <a class="pagination__page-link"
               href="{{ request.path }}?{% if query_string %}{{ query_string }}&{% endif %}page={{ paginator.number_of_pages }}"
               aria-label="Go to page {{ paginator.number_of_pages }}"
            >
              <span>Page</span>{{ paginator.number_of_pages }}
            </a>
          </li>
        {% endif %}
      </ol>
    </li>
    <li class="pagination__list-item">
      {% if paginator.has_next_page %}
        <a class="pagination__page-chevron-next"
           href="{{ request.path }}?{% if query_string %}{{ query_string }}{% endif %}&page={{ paginator.next_page }}">
          <span>Next page</span>
        </a>
      {% else %}
        <span class="pagination__page-chevron-next--disabled">
          <span>Next page</span>
        </span>
      {% endif %}
    </li>
  </ul>
</nav>
