<nav class="pagination" aria-label="Results pagination">
  <h3>Results pagination</h3>
  <ul class="pagination__list">
      <li class="pagination__list-item">
        <a class="pagination__page-link-text pagination__page-link-text--first"
           href="{{request.path}}?{% if context.query_string %}{{context.query_string}}&{% endif %}page={{context.paginator.first_page}}">
          First page
        </a>
      </li>
    <li class="pagination__list-item">
      {% if context.paginator.has_prev_page %}
        <a class="pagination__page-chevron-previous"
           href="{{request.path}}?{% if context.query_string %}{{context.query_string}}&{% endif %}page={{context.paginator.prev_page}}">
        <span>Previous page</span>
      </a>
      {% else %}
        <span class="pagination__page-chevron-previous--disabled">
          <span>Previous page</span>
      </span>
      {% endif %}
    </li>
    <li class="pagination__list-pages">
      <ol>
        <li class="pagination__list-item">
          <a class="pagination__page-link-current"
             href="{{request.path}}?{% if context.query_string %}{{context.query_string}}&{% endif %}page={{context.paginator.current_page}}"
             aria-label="Current page, Page {{ context.paginator.current_page }}"
             aria-current="true">
              <span>Current page </span>{{ context.paginator.current_page }}
          </a>
        </li>
        {% for page in context.paginator.next_pages %}
          <li class="pagination__list-item">
            <a class="pagination__page-link"
               href="{{request.path}}?{% if context.query_string %}{{context.query_string}}&{% endif %}page={{page}}"
               aria-label="Go to page {{page}}">
              <span>Page </span>{{page}}
            </a>
          </li>
        {% endfor %}
      </ol>
    </li>
    <li class="pagination__list-item">
      {% if context.paginator.has_next_page %}
        <a class="pagination__page-chevron-next"
           href="{{request.path}}?{% if context.query_string %}{{context.query_string}}&{% endif %}&page={{context.paginator.next_page}}">
          <span>Next page</span>
      </a>
      {% else %}
        <span class="pagination__page-chevron-next--disabled">
          <span>Next page</span>
      </span>
      {% endif %}
    </li>
    <li class="pagination__list-item">
      <a class="pagination__page-link-text pagination__page-link-text--last"
           href="{{request.path}}?{% if context.query_string %}{{context.query_string}}&{% endif %}&page={{context.paginator.last_page}}">
          Last page
      </a>
  </ul>
</nav>
