<div class="recent-judgments">
  <div class="recent-judgments__container">
    {% include "includes/judgments_table.html" with judgments=recent_judgments %}
    <section class="recent-judgments__more-info-footer">
      <div class="container py-2">
        <a role="button"
           draggable="false"
           rel="noreferrer noopener"
           class="recent-judgments__cta-button button-primary"
           href="{% url 'search' %}">View all judgments</a>
      </div>
    </section>
  </div>
</div>
