{% load static i18n %}
{% block css %}
  <link href="{% static 'css/includes/tna_message.css' %}" rel="stylesheet" />
{% endblock css %}
<div class="search-term-component__search-term-container">
  <label for="search_term" class="search-term-component__search-term-label">
    {% translate "basicsearchform.label" %}
  </label>
  <input class="search-term-component__search-term-input"
         id="search_term"
         name="query"
         type="text"
         value="{{ query }}"
         placeholder="{% translate "basicsearchform.placeholder" %}" />
  <p class="search-term-component__help-text">
    <a href='{% url "how_to_use_this_service" %}#section-search'>{% translate "basic.search.helptext" %}</a>
  </p>
</div>
<input type="submit" value="{% translate "basicsearchform.cta" %}" />
