<fieldset>
  <div class="structured-search__multi-fields-panel">
    <div class="structured-search__specific-field-container">
      <label for="neutral_citation" class="structured-search__limit-to-label">Neutral citation</label>
      <input class="structured-search__limit-to-input" id="neutral_citation" name="neutral_citation" type="text" value="{{context.neutral_citation}}" aria-describedby="neutral_citation-help-text">
      <p class="structured-search__help-text" id="neutral_citation-help-text">For example [2021] EWCA Crim 1785</p>
    </div>
    <div class="structured-search__limit-to-container">
      <label for="specific_keywords" class="structured-search__limit-to-label">Containing specific keywords</label>
      <input class="structured-search__limit-to-input" id="specific_keywords" name="specific_keyword" type="text" value="{{context.specific_keyword}}">
    </div>
  </div>
</fieldset>
