<fieldset>
  <div class="structured-search__multi-fields-panel">
    <div class="structured-search__specific-field-container">
      <label for="{{ form.neutral_citation.auto_id }}"
             class="structured-search__limit-to-label">{{ form.neutral_citation.label }}</label>
      <p class="structured-search__help-text" id="neutral_citation-help-text">For example [2021] EWCA Crim 1785</p>
      {{ form.neutral_citation }}
    </div>
    <div class="structured-search__limit-to-container">
      <label for="{{ form.specific_keyword.auto_id }}"
             class="structured-search__limit-to-label">{{ form.specific_keyword.label }}</label>
      <p class="structured-search__help-text" id="specific_keyword-help-text">For example, London Borough of...</p>
      {{ form.specific_keyword }}
    </div>
  </div>
</fieldset>
