<div class="structured-search__multi-fields-panel">
  <div class="structured-search__specific-field-container">
    <label for="neutral_citation"
           class="structured-search__limit-to-label"
           aria-label="Search using a neutral citation">Neutral citation</label>
    <p class="structured-search__help-text" id="neutral_citation-help-text">For example [2021] EWCA Crim 1785</p>
    <input class="structured-search__limit-to-input"
           id="neutral_citation"
           name="neutral_citation"
           type="text"
           value="{{ context.neutral_citation }}"
           aria-describedby="neutral_citation-help-text" />
  </div>
  <div class="structured-search__limit-to-container">
    <label for="specific_keywords"
           class="structured-search__limit-to-label"
           aria-label="Search using specific keywords">Containing specific keywords</label>
    <p class="structured-search__help-text" id="keywords-help-text">For example, London Borough of...</p>
    <input class="structured-search__limit-to-input"
           id="specific_keywords"
           name="specific_keyword"
           type="text"
           value="{{ context.specific_keyword }}" />
  </div>
</div>
