{% macro alert(title=None) %}
  <div class="home-office-alert">
    {% if title %}<h2 class="home-office-alert__heading">{{ title }}</h2>{% endif %}
    {{ caller() }}
  </div>
{% endmacro %}
{% macro alert_examples() %}
  {% call alert(title="Important") %}
    <p>
      You can not save your application part way through. You will need to complete your application in one session.  Please make sure you have prepared
      your answers before you apply.
    </p>
  {% endcall %}
{% endmacro %}
