{% macro aside() %}
  <aside>
    {{ caller() }}
  </aside>
{% endmacro %}
{% macro aside_container() %}
  <div class="aside-container">{{ caller() }}</div>
{% endmacro %}
{% macro aside_examples() %}
  {% call aside_container() %}
    <div>Content</div>
    {% call aside() %}
      Aside
    {% endcall %}
  {% endcall %}
{% endmacro %}
