{% macro breadcrumbs(home="home",breadcrumbs_list=[
  {
  "url": "",
  "text": ""
  }
  ],home_text="Find Case Law") %}
  <div class="breadcrumbs">
    <div class="container">
      <nav class="breadcrumbs__flex-container" aria-label="Breadcrumb">
        <ol>
          <li>
            <span class="breadcrumbs__prefix">You are in</span>
            <a href="{{ url(home) }}">{{ home_text }}</a>
          </li>
          {% for breadcrumb in breadcrumbs_list %}
            {% if breadcrumb.url %}
              <li>
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
              </li>
            {% else %}
              <li>{{ breadcrumb.text }}</li>
            {% endif %}
          {% endfor %}
        </ol>
      </nav>
    </div>
  </div>
{% endmacro %}
