{% macro breadcrumb(url=None) %}
  {% if url %}
    <li>
      <a href="{{ url }}">{{ caller() }}</a>
    </li>
  {% else %}
    <li>{{ caller() }}</li>
  {% endif %}
{% endmacro %}
{% macro breadcrumbs(prefix=None, postfix=None, home=None, home_text=None, data=[], variant="default") %}
  {% set variant_classes = {"default": "", "accent": "breadcrumbs--accent"} %}
  {% set variant_class = variant_classes.get(variant, variant_classes["default"]) %}
  {% set breadcrumbs_class = ("breadcrumbs " ~ variant_class).strip() %}
  <div class="{{ breadcrumbs_class }}">
    <div class="container">
      <div class="breadcrumbs__container" aria-label="Breadcrumb">
        <ol>
          <li>
            <span>{{ prefix }}</span>
            <a href="{{ url(home) }}" class="breadcrumbs__prefix">{{ home_text }}</a>
          </li>
          {% if caller %}{{ caller() }}{% endif %}
        </ol>
        {% if postfix %}<span class="breadcrumbs__postfix">{{ postfix }}</span>{% endif %}
      </div>
    </div>
  </div>
  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
{% for breadcrumb in data %}
  {
    "@type": "ListItem",
    "position": {{ loop.index }},
    "name": "{{ breadcrumb.text }}"{% if breadcrumb.url %},
    "item": "{{ breadcrumb.url }}"{% endif %}
  }{% if not loop.last %},{% endif %}
{% endfor %}
        ]
      }
  </script>
{% endmacro %}
{% macro breadcrumbs_examples() %}
  {% call breadcrumbs(prefix="You are in", home="home", home_text="Find Case Law") %}
    {% call breadcrumb(url="/components") %}
      Components
    {% endcall %}
    {% call breadcrumb() %}
      Example components
    {% endcall %}
  {% endcall %}
{% endmacro %}
