{% macro card(title=None, image_url=None, url=None, variant=None, attrs={}) %}
  {% set variant_classes = {
    "default": "card card--default",
    "ghost": "card card--ghost",
    "light": "card card--light",
    "image": "card card--image"
  } %}
  {% set variant_class = variant_classes.get(variant, variant_classes['default']) %}
  {% if url %}
    <a class="{{ variant_class }}"
       href="{{ url }}"
       {% for key, value in attrs.items() %}{{ key }}="{{ value }}"{% endfor %}>
    {% else %}
      <div class="{{ variant_class }}"
           {% for key, value in attrs.items() %}{{ key }}="{{ value }}"{% endfor %}>
      {% endif %}
      {% if image_url %}<img src="{{ image_url }}" alt="" />{% endif %}
      <div class="card__body">
        {% if title %}<h3>{{ title }}</h3>{% endif %}
        {{ caller() }}
      </div>
      {% if url %}
      </a>
    {% else %}
    </div>
  {% endif %}
{% endmacro %}
{% macro card_examples() %}
  {% call card(title="Default") %}
    <p>This is the default card style</p>
  {% endcall %}
  {% call card(title="Default - with link", url=url("components")) %}
    <p>This is a default card with a link</p>
  {% endcall %}
  {% call card(title="Light", variant="light") %}
    <p>This is the light card style</p>
  {% endcall %}
  {% call card(variant="light") %}
    <button class="button-primary">Button</button>
    <p>Just a light example with a button</p>
  {% endcall %}
  {% call card(title="Image", variant="image", image_url=static("images/modern-magnifying-glass.jpg")) %}
    <p>This is the image card style</p>
  {% endcall %}
  {% call card(title="Ghost", variant="ghost") %}
    <p>This is the ghost card style</p>
  {% endcall %}
  {% call card(title="Ghost - with link", variant="ghost", url=url("components")) %}
    <p>This is a ghost card with a link</p>
  {% endcall %}
{% endmacro %}
