{% from "components/heading.jinja" import heading %}
{% macro contents(title=None) %}
  <nav class="contents">
    <div class="contents__links">
      {% if title %}
        {% call heading(tag="div", size="h3") %}
          {{ title }}
        {% endcall %}
      {% endif %}
      {{ caller() }}
    </div>
  </nav>
{% endmacro %}
{% macro contents_examples() %}
  {% call contents(title="On this page") %}
    <ul>
      <li>
        <a href="#section-what">What Find Case Law does</a>
      </li>
      <li>
        <a href="#section-pages">Pages in this section</a>
      </li>
    </ul>
  {% endcall %}
{% endmacro %}
