{% macro details(title=None, closed_title=None, open=False, variant=None) %}
  {% set variant_classes = {"default": "details", "light": "details details--light", "centered": "details details--centered"} %}
  {% set variant_class = variant_classes.get(variant, variant_classes['default']) %}
  <details class="{{ variant_class }}" {% if open %}open{% endif %}>
    <summary class="details__summary">
      {% if title %}<span class="details__summary-text">{{ title }}</span>{% endif %}
      {% if closed_title %}<span class="details__closed-title">{{ closed_title }}</span>{% endif %}
    </summary>
    <div class="details__text">{{ caller() }}</div>
  </details>
{% endmacro %}
{% macro details_examples() %}
  <h3>Default (with border)</h3>
  {% call details(title="Details") %}
    <strong>Do you intend to apply for a licence?</strong>
    <p>
      If you intend to use computational analysis on Find Case Law records,
      you will need a computational analysis licence
    </p>
    <p>
      If you intend to use computational analysis on Find Case Law records,
      you will need a computational analysis licence
    </p>
    <ol>
      <li>Do you intend to use a computational analysis on Find Case Law records?</li>
    </ol>
  {% endcall %}
  <h3>Light (without border)</h3>
  {% call details(title="Details",variant="light") %}
    <strong>Do you intend to apply for a licence?</strong>
    <p>
      If you intend to use computational analysis on Find Case Law records,
      you will need a computational analysis licence
    </p>
    <p>
      If you intend to use computational analysis on Find Case Law records,
      you will need a computational analysis licence
    </p>
    <ol>
      <li>Do you intend to use a computational analysis on Find Case Law records?</li>
    </ol>
  {% endcall %}
  <h3>Centered</h3>
  {% call details(title="About this service", closed_title="We’ll hide this introduction next time you visit – you can choose to see it again at anytime.", variant="centered", open=true) %}
    <p>
      We provide free access to court judgments and tribunal decisions from England and Wales, plus UK – wide cases from the Supreme Court and Privy Council. Our collection includes the vast majority of judgments that courts have made publicly available in digital form, with coverage for most courts starting from the early 2000s when digital records became standard (the Supreme Court was established in 2009).
    </p>
    <p>
      We're continuously expanding our collection as courts send us new judgments. While we have most material that exists in publishable form, please note that not all court decisions are written down – many lower court hearings and some tribunal decisions are given verbally and never transcribed.
    </p>
  {% endcall %}
{% endmacro %}
