{% macro document_navigation(query=None, number_of_mentions=0, page_title=None) %}
  <div class="document-navigation" id="js-document-navigation">
    <div class="document-navigation__summary">{{ caller() }}</div>
    <div id="js-document-navigation-links-end"
         class="document-navigation-links {% if query %}with-query{% endif %}">
      <span class="document-navigation-links__up-wrapper">
        <a id="start-of-document-link"
           class="document-navigation-links__link-up document-navigation-link"
           href="#start-of-document">Back to top</a>
      </span>
      <span class="document-navigation-links__down-wrapper">
        <a id="end-of-document-link"
           class="document-navigation-links__link-down document-navigation-link"
           href="#end-of-document">Skip to end</a>
      </span>
    </div>
  </div>
{% endmacro %}
