{% macro fcl_logo() %}
  <div class="fcl-logo">
    <p class="fcl-logo__header">
      Find Case Law<span class="phase-banner__beta-phase">Beta</span>
    </p>
    <p class="fcl-logo__helper-text">
      Access official court judgments
      <br />
      and tribunal decisions
    </p>
  </div>
{% endmacro %}
