<div class="fcl-logo">
  <span class="fcl-logo__separator"></span>
  <p class="fcl-logo__header">Find Case Law<span class="phase-banner__beta-phase">Beta</span></p>
  <p class="fcl-logo__helper-text">Judgments and decisions since 2001</p>
</div>
