{%- macro hero(variant="default") -%}
  {%- set variant_classes = {"default": "hero", "light": "hero hero--light"} -%}

  {%- set variant_class = variant_classes.get(variant, variant_classes['default']) -%}
  <div class="{{component_class_names(variant_class)}}">
    <div class="container">{{ caller() | trim }}</div>
  </div>
{%- endmacro -%}
{% macro hero_examples() %}
  {% call hero() %}
    <h1>Hero heading</h1>
    <h2>Hero subheading</h2>
    <p>Extra hero content goes here</p>
  {% endcall %}
{% endmacro %}
