{% macro list(variant="default") %}
  {% set variant_classes = {"default": "list", "horizontal": "list list--horizontal"} %}
  {% set variant_class = variant_classes.get(variant, variant_classes['default']) %}
  <ul class="{{ variant_class }}">
    {{ caller() }}
  </ul>
{% endmacro %}
{% macro list_item() %}
  <li>{{ caller() }}</li>
{% endmacro %}
