{% from "components/header.jinja" import header %}
{% macro navigation(menu_text="Menu") %}
  <div class="govuk-header__content">
    <nav aria-label="Menu" class="govuk-header__navigation">
      <button type="button"
              class="govuk-header__menu-button govuk-js-header-toggle"
              aria-controls="navigation"
              hidden>{{ menu_text }}</button>
      {{ caller() }}
    </nav>
  </div>
{% endmacro %}
{% macro navigation_items() %}
  <ul id="navigation" class="govuk-header__navigation-list">
    {{ caller() }}
  </ul>
{% endmacro %}
{% macro navigation_item(view_name="") %}
  <li class="{{ navigation_item_class(request, view_name) }}">
    <a class="govuk-header__link"
       title="{{ caller() }}"
       href="{{ url (view_name) }}"
       {% if request.resolver_match.view_name == view_name %}aria-current="true"{% endif %}>{{ caller() }}</a>
  </li>
{% endmacro %}
{% macro navigation_examples() %}
  {% call header() %}
    {% call navigation() %}
      {% call navigation_items() %}
        {% call navigation_item(view_name="home") %}
          Home
        {% endcall %}
        {% call navigation_item(view_name="about_this_service") %}
          About
        {% endcall %}
        {% call navigation_item(view_name="help_and_support") %}
          Help and support
        {% endcall %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endmacro %}
