{% from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}
{% macro radios(params) %}
  {{ govukRadios(params) }}
{% endmacro %}
{% macro radios_examples() %}
  <h3>Default</h3>
  {{ radios({
    "idPrefix": "radios",
    "name": "radios",
    "hint": {
      "text": "This is the hint text"
    },
    "items": [
      {
        "value": "option1",
        "text": "Option 1"
      },
      {
        "value": "option2",
        "text": "Option 2"
      },
      {
        "value": "option3",
        "text": "Option 3"
      }
    ]
  }) }}
  <h3>With error</h3>
  {{ radios({
    "idPrefix": "radios-with-error",
    "name": "radios-with-error",
    "errorMessage": {
      "text": "This is error text"
    },
    "items": [
      {
        "value": "option1",
        "text": "Option 1"
      },
      {
        "value": "option2",
        "text": "Option 2"
      },
      {
        "value": "option3",
        "text": "Option 3"
      }
    ]
  }) }}
  <h3>Conditional radios</h3>
  {{ radios({
    "idPrefix": "radios-with-conditional",
    "name": "radios-with-conditional",
    "value": "option1",
    "items": [
      {
        "value": "option1",
        "text": "Option 1",
        "conditional": {
          "html": "This is something conditional"
        }
      },
      {
        "value": "option2",
        "text": "Option 2"
      },
      {
        "value": "option3",
        "text": "Option 3"
      }
    ]
  }) }}
{% endmacro %}
