{% from "components/hero.jinja" import hero %}
{% from "components/button.jinja" import button %}
{% macro search_input(id="search_input", placeholder="", value="", label=None, button_action="", button_label="Search") %}
  <div class="search-input__container">
    {% if label %}<label for="{{ id }}" class="search-input__label">{{ label }}</label>{% endif %}
    <input value="{{ value }}"
           type="text"
           placeholder="{{ placeholder }}"
           id="{{ id }}" />
    <input type="submit"
           value="{{ button_label }}"
           class="button-primary"
           formaction="{{ button_action }}" />
  </div>
{% endmacro %}
{% macro search_form(label="", id="") %}
  <div class="search-input">
    <form role="search" aria-label="{{ label }}" id="{{ id }}">
      {{ caller() }}
    </form>
  </div>
{% endmacro %}
{% macro search_input_actions() %}
  <div class="search-input__actions">{{ caller() }}</div>
{% endmacro %}
{% macro search_input_examples() %}
  <div class="container">
    <h3>Current homepage usage</h3>
  </div>
  {% call hero() %}
    {% call search_form(label="Search by keyword or neutral citation", id="analytics-search-form") %}
      <p>Use any search term including neutral citation, names and keywords</p>
      {{ search_input(label="Search by keyword or neutral citation", button_action=url("advanced_search") , button_label="Search") }}
      <a href="{{ url('how_to_search_find_case_law') }}">How to search</a>
      {% call search_input_actions() %}
        {{ button(variant="link", element_type="input", attrs={"type": "submit", "formaction": url("advanced_search") , "value": "Advanced search"}) }}
      {% endcall %}
    {% endcall %}
  {% endcall %}
  <div class="container">
    <h3>With no params</h3>
  </div>
  {% call hero() %}
    {% call search_form() %}
      <p>With no params</p>
      {{ search_input() }}
    {% endcall %}
  {% endcall %}
  <div class="container">
    <h3>With a bigger heading</h3>
  </div>
  {% call hero() %}
    {% call search_form() %}
      <h3>With a bigger heading</h3>
      {{ search_input() }}
    {% endcall %}
  {% endcall %}
{% endmacro %}
