{% from "govuk_frontend_jinja/components/tabs/macro.html" import govukTabs %}
{% macro tabs(params) %}
  {{ govukTabs(params) }}
{% endmacro %}
{% macro tabs_examples() %}
  {{ tabs({
    "idPrefix": "example-tabs",
    "items": [
    {
    "label": "Tab 1",
    "id": "tab1",
    "panel": {
    "text": "Text panel content"
    }
    },
    {
    "label": "Tab 2",
    "id": "tab2",
    "panel": {
    "html": "
    <h3>HTML panel content</h3>
    <p>Content for panel</p>
    "
    }
    },
    {
    "label": "Tab 3",
    "id": "tab3",
    "panel": {
    "text": "Another tab"
    }
    },
    ]
    }) }}
{% endmacro %}
