{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro court_noun_content() %}
  tribunal
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-tribunal", content="Search this tribunal") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-tribunal", content="Questions about judgments from this tribunal") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  {% if court.historic_documents_support_text_as_html %}
    {% autoescape off %}
      {{ court.historic_documents_support_text_as_html }}
    {% endautoescape %}
  {% endif %}
{% endmacro %}
{% macro understanding_content() %}
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>
    The role of the First–tier Tribunal (Estate Agents) was to hear and decide appeals under the Estate Agents Act 1979. The Tribunal heard appeals against decisions made by the Office of Fair Trading relating to an order prohibiting a person from acting as an estate agent where for example:
  </p>
  <ul>
    <li>a person has been convicted of an offence involving fraud or other dishonesty</li>
    <li>an order warning a person where for example that person has not met their duties under the 1979 Act</li>
    <li>a decision refusing to revoke or vary a prohibition order or warning order made under the 1979 Act</li>
  </ul>
  <p>
    In 2009, the function of the Secretary of State to decide appeals from decisions made by the Office of Fair Trading under the Estate Agents Act 1979 was transferred to the First-tier Tribunal (Estate Agents), part of the General Regulatory Chamber which hears appeals against decisions made by government regulatory bodies. The Office of Fair Trading was abolished in 2014.
  </p>
{% endmacro %}
{% macro about_content() %}
{% endmacro %}
