{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro historic_documents_content() %}
  <p>
    You may be able to find older General Regulatory Chamber decisions {{ link(content="on the Courts and Tribunals Judiciary website", href="https://www.judiciary.uk/courts-and-tribunals/tribunals/first-tier-tribunal/general-regulatory-chamber/general-regulatory-chamber-decisions/", attrs={"target":"_blank"}) }}.
  </p>
{% endmacro %}
{% macro court_noun_content() %}
  tribunal
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-tribunal", content="Search this tribunal") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#understanding-judgments", content="Understanding " ~ court.name ~ " judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#about", content="About " ~ court.name) }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-tribunal", content="Questions about judgments from this tribunal") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_start_year = param|get_court_start_year %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  <p><strong>Transfer method</strong> — This tribunal began regularly transferring decisions to The National Archives in 2022. The oldest judgment from this tribunal included in Find Case Law is from {{ court_start_year }}. Decisions from {{ court_start_year }}–2022 were sourced from other collections.</p>
  {{ historic_documents_content() }}
{% endmacro %}
{% macro understanding_content() %}
  {{ heading(content="Understanding " ~ court.name ~ " judgments", tag="h2", id="understanding-judgments") }}
  <p>
    Each chamber of the First-tier Tribunal is headed by a Chamber President who is appointed to the role by the Senior President of Tribunals.
  </p>
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>
    The General Regulatory Chamber handles appeals against decisions made by various government regulatory bodies. These appeals cover a range of sectors including charities, community rights, environment, electronic communications, postal services, estate agents, exam boards, food safety, gambling, immigration services, information rights, pensions regulation and more.
  </p>
  <p>
    This tribunal began to regularly transfer decisions to The National Archives in 2022. The oldest decision from this tribunal included in Find Case Law is from {{ start_year }}.
  </p>
  <p>
    You can read more about the General Regulatory Chamber on the {{ link(content="HM Courts and Tribunals website", href="https://www.gov.uk/courts-tribunals/first-tier-tribunal-general-regulatory-chamber", attrs={"target":"_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
  {{ heading(content="About " ~ court.name, tag="h2", id="about") }}
  <p>
    The General Regulatory Chamber is one of seven chambers of the First-tier Tribunal and it deals with appeals against government regulators.
  </p>
{% endmacro %}
