{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro historic_documents_content() %}
  <p>
    All decisions from this tribunal were transferred to the National Archives in 2025. To view an archived version of the decisions of this tribunal from 1985-2025 visit the {{ link(content="UK Government Web Archive", href="https://webarchive.nationalarchives.gov.uk/ukgwa/20250916/https://carestandards.decisions.tribunals.gov.uk/Public/search.aspx", attrs={"target":"_blank"}) }}.
  </p>
{% endmacro %}
{% macro website_link(label=None) %}
  {{ link(content=label or (court.name ~ " website") , href="https://www.gov.uk/courts-tribunals/first-tier-tribunal-care-standards", attrs={"target": "_blank"}) }}
{% endmacro %}
{% macro court_noun_content() %}
  tribunal
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-tribunal", content="Search this tribunal") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-tribunal", content="Questions about judgments from this tribunal") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  {{ historic_documents_content() }}
{% endmacro %}
{% macro understanding_content() %}
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>
    The Care Standards tribunal is responsible for handling appeals against decisions by the Secretary of State for Education, the Secretary of State for Health, Care Quality Commission, Ofsted or the Care Council of Wales which exclude, remove or suspend you from a register to work with or care for children or vulnerable adults. They are part of the Health, Education and Social Care Chamber, one of 7 chambers of the First-tier Tribunal which settles legal disputes and is structured around particular areas of law.
  </p>
  <p>
    You can read more about it on the {{ link(content="First-tier Tribunal (Care Standards) website", href="https://www.gov.uk/courts-tribunals/first-tier-tribunal-care-standards", attrs={"target":"_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
{% endmacro %}
