<div class="structured-search__court-options" id="court">
  {% for title, description, groups, section_id in [("Higher courts", "Includes decisions and judgments which establish legal precedent.", higher_court_groups, "id_higher_courts"), ("Other courts", "Includes decisions and judgments which provide transparency into everyday legal proceedings.", other_court_groups, "id_other_courts")] %}
    <div class="structured-search__court-options-column">
      <fieldset>
        <legend class="structured-search__limit-to-label">{{ title }}</legend>
        <p>{{ description }}</p>
        {% with widget = dict(widget, optgroups=groups, attrs=dict(widget.attrs, id=section_id)) %}
          {% include "forms/widgets/court_multiple_input.jinja" %}
        {% endwith %}
      </fieldset>
    </div>
  {% endfor %}
</div>
