<p>These are the variables available to style your components:</p>

<div class="style-guide__component-wrapper">
  <ul class="govuk-list style-guide__colors">
    <li class="style-guide__color-almost-black">$color-almost-black</li>
    <li class="style-guide__color-light-pink">$color-light-pink</li>
    <li class="style-guide__color-white">$color-white</li>
    <li class="style-guide__color-light-grey">$color-light-grey</li>
    <li class="style-guide__color-dark-blue">$color-dark-blue</li>
    <li class="style-guide__color-grey">$color-grey</li>
    <li class="style-guide__color-dark-grey">$color-dark-grey</li>
    <li class="style-guide__color-black">$color-black</li>
    <li class="style-guide__color-highlight-blue">$color-highlight-blue</li>
    <li class="style-guide__color-yellow">$color-yellow</li>
    <li class="style-guide__color-aqua-blue">$color-aqua-blue</li>
    <li class="style-guide__color-success">$color-success</li>
    <li class="style-guide__color-information">$color-information</li>
    <li class="style-guide__color-failure">$color-failure</li>
    <li class="style-guide__color-green">$color-green</li>
    <li class="style-guide__color-red">$color-red</li>
    <li class="style-guide__color-link-blue">$color-link-blue</li>
    <li class="style-guide__color-link-blue-hover">$color-link-blue-hover</li>
    <li class="style-guide__color-link-blue-focus">$color-link-blue-focus</li>
    <li class="style-guide__color-link-blue-visited">$color-link-blue-visited</li>
    <li class="style-guide__color-link-blue-active">$color-link-blue-active</li>
    <li class="style-guide__color-link-disabled">$color-link-disabled</li>
    <li class="style-guide__color-focus-blue-outline">$color-focus-blue-outline</li>
    <li class="style-guide__color-cta-background">$color-cta-background</li>
    <li class="style-guide__color-cta-background-hover">$color-cta-background-hover</li>
  </ul>
</div>
