<p>These are the variables available to style your components:</p>

<div class="style-guide__component-wrapper">
  <ul class="govuk-list style-guide__colors">
    <li>
      <strong>Grey</strong>
      <ul>
        <li class="style-guide__color-white">$color-white</li>
        <li class="style-guide__color-light-grey">$color-light-grey</li>
        <li class="style-guide__color-info-card-hover-background">$color-info-card-hover-background</li>
        <li class="style-guide__color-info-terms-use-hover-background">$color-info-terms-use-hover-background</li>
        <li class="style-guide__color-grey">$color-grey</li>
        <li class="style-guide__color-select-hover-border">$color-select-text</li>
        <li class="style-guide__color-judgment-listing-matches-pipe">$color-judgment-listing-matches-pipe</li>
        <li class="style-guide__color-dark-grey">$color-dark-grey</li>
        <li class="style-guide__color-select-text">$color-select-text</li>
        <li class="style-guide__color-black">$color-black</li>
        <li class="style-guide__color-almost-black">$color-almost-black</li>
      </ul>
    </li>
    <li>
      <strong>Red</strong>
      <ul>
        <li class="style-guide__color-warning-text-confirmation-background">$color-warning-text-confirmation-background</li>
        <li class="style-guide__color-light-pink">$color-light-pink</li>
        <li class="style-guide__color-red">$color-red</li>
        <li class="style-guide__color-failure">$color-failure</li>
        <li class="style-guide__color-structured-search-date-error-message-text">$color-structured-search-date-error-message-text</li>
      </ul>
    </li>

    <li>
      <strong>Purple</strong>
      <ul>
        <li class="style-guide__color-link-blue-visited">$color-link-blue-visited</li>

        <li class="style-guide__color-banner-link-visited">$color-banner-link-visited</li>
        <li class="style-guide__color-cookie-consent-form-submit-focus-text">$color-cookie-consent-form-submit-focus-text</li>
      </ul>
    </li>

    <li>
      <strong>Blue</strong>
      <ul>
        <li class="style-guide__color-information">$color-information</li>
        <li class="style-guide__color-emphasis-background">$color-emphasis-background</li>
        <li class="style-guide__color-focus-blue-outline">$color-focus-blue-outline</li>
        <li class="style-guide__color-highlight-blue">$color-highlight-blue</li>
        <li class="style-guide__color-banner-link">$color-banner-link</li>
        <li class="style-guide__color-cta-background">$color-cta-background</li>
        <li class="style-guide__color-aqua-blue">$color-aqua-blue</li>
        <li class="style-guide__color-link-blue">$color-link-blue</li>
        <li class="style-guide__color-link-blue-focus">$color-link-blue-focus</li>
        <li class="style-guide__color-link-blue-hover">$color-link-blue-hover</li>
        <li class="style-guide__color-dark-blue">$color-dark-blue</li>
        <li class="style-guide__color-cta-background-hover">$color-cta-background-hover</li>
        <li class="style-guide__color-link-blue-active">$color-link-blue-active</li>
      </ul>
    </li>

    <li>
      <strong>Yellow</strong>
      <ul>
        <li class="style-guide__color-warning-text-background">$color-warning-text-background</li>
        <li class="style-guide__color-yellow">$color-yellow</li>
      </ul>
    </li>

    <li>
      <strong>Green</strong>
      <ul>
        <li class="style-guide__color-link-disabled">$color-link-disabled</li>
        <li class="style-guide__color-green">$color-green</li>
        <li class="style-guide__color-success">$color-success</li>
      </ul>
    </li>

  </ul>
</div>
