<h3 id="details-box">Details box</h3>
<p>
  Make a page easier to scan by letting users reveal more detailed information only if they need it.  Customised use of the GDS 'Details' component.
</p>
<div class="style-guide__component-wrapper">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Information we ask about your organisation and contacts</span>
    </summary>
    <div class="govuk-details__text">
      <strong>Do you intend to apply for a licence?</strong>
      <p>
        If you intend to use computational analysis on Find Case Law records, you will need a computational analysis licence
      </p>
      <ol>
        <li>Do you intend to use a computational analysis on Find Case Law records?</li>
      </ol>
      <strong>Contact details</strong>
      <p>Full name of person we can discuss your application with</p>
      <p>Email address of person we can discuss your application with</p>
      <p style="text-indent: 1rem;">2a. Full name of person responsible for licence compliance</p>
      <p style="text-indent: 1rem;">3a. Email address of person responsible for licence compliance</p>
      <strong>About your organisation</strong>
      <ol start="4">
        <li>What is the full legal name of your organisation?</li>
        <li>Is your organisation known by any other names?</li>
        <li>Where is your organisation registered?</li>
        <li>
          What type of organisation is it?
          <br />
          Select all that apply
          <ul>
            <li>Private limited company</li>
            <li>Public limited company</li>
            <li>Partnership</li>
            <li>Sole trader</li>
            <li>Registered charity</li>
            <li>Community interesr company</li>
            <li>Independant research organisation</li>
            <li>Public body</li>
            <li>Independant body</li>
            <li>Other (please specify)</li>
          </ul>
        </li>
        <li>Please give your organisation identifier (e.g. company number or charity registration number)</li>
        <li>Please give the name of any partners or organisations you are working with</li>
      </ol>
    </div>
  </details>
</div>
