<h3 id="details-box">Details box</h3>
<p>
  Make a page easier to scan by letting users reveal more detailed information only if they need it.  Customised use of the GDS 'Details' component.
</p>
<div class="style-guide__component-wrapper">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Information we ask about your organisation and contacts</span>
    </summary>
    <div class="govuk-details__text">
      <strong>Do you intend to apply for a licence?</strong>
      <p>
        If you intend to use computational analysis on Find Case Law records, you will need a computational analysis licence
      </p>
      <ol>
        <li>Do you intend to use a computational analysis on Find Case Law records?</li>
      </ol>
      <strong>Contact details</strong>
      <p>Full name of person we can discuss your application with</p>
      <p>Email address of person we can discuss your application with</p>
      <p style="text-indent: 1rem;">2a. Full name of person responsible for licence compliance</p>
      <p style="text-indent: 1rem;">3a. Email address of person responsible for licence compliance</p>
      <strong>About your organisation</strong>
      <ol start="4">
        <li>What is the full legal name of your organisation?</li>
        <li>Is your organisation known by any other names?</li>
        <li>Where is your organisation registered?</li>
        <li>
          What type of organisation is it?
          <br />
          Select all that apply
          <ul>
            <li>Private limited company</li>
            <li>Public limited company</li>
            <li>Partnership</li>
            <li>Sole trader</li>
            <li>Registered charity</li>
            <li>Community interesr company</li>
            <li>Independant research organisation</li>
            <li>Public body</li>
            <li>Independant body</li>
            <li>Other (please specify)</li>
          </ul>
        </li>
        <li>Please give your organisation identifier (e.g. company number or charity registration number)</li>
        <li>Please give the name of any partners or organisations you are working with</li>
      </ol>
    </div>
  </details>
</div>

<p><strong>Usage:</strong></p>

{# fmt:off #}
<code class="style-guide__code-block">&lt;details class=&quot;govuk-details&quot;&gt;
  &lt;summary class=&quot;govuk-details__summary&quot;&gt;
    &lt;span class=&quot;govuk-details__summary-text&quot;&gt;
      Information we ask about your organisation and contacts&lt;/span&gt;
  &lt;/summary&gt;
  &lt;div class=&quot;govuk-details__text&quot;&gt;
    &lt;strong&gt;Do you intend to apply for a licence?&lt;/strong&gt;
    &lt;p&gt;
      If you intend to use computational analysis on Find Case Law records,
      you will need a computational analysis licence
    &lt;/p&gt;
    &lt;ol&gt;
      &lt;li&gt;
        Do you intend to use a computational analysis on Find Case Law records?
      &lt;/li&gt;
    &lt;/ol&gt;
    &lt;strong&gt;Contact details&lt;/strong&gt;
    &lt;p&gt;Full name of person we can discuss your application with&lt;/p&gt;
    &lt;p&gt;Email address of person we can discuss your application with&lt;/p&gt;
    &lt;p&gt;2a. Full name of person responsible for licence compliance&lt;/p&gt;
    &lt;p&gt;3a. Email address of person responsible for licence compliance&lt;/p&gt;
    &lt;strong&gt;About your organisation&lt;/strong&gt;
    &lt;ol start=&quot;4&quot;&gt;
      &lt;li&gt;What is the full legal name of your organisation?&lt;/li&gt;
      &lt;li&gt;Is your organisation known by any other names?&lt;/li&gt;
      &lt;li&gt;Where is your organisation registered?&lt;/li&gt;
      &lt;li&gt;
        What type of organisation is it?
        &lt;br /&gt;
        Select all that apply
        &lt;ul&gt;
          &lt;li&gt;Private limited company&lt;/li&gt;
          &lt;li&gt;Public limited company&lt;/li&gt;
          &lt;li&gt;Partnership&lt;/li&gt;
          &lt;li&gt;Sole trader&lt;/li&gt;
          &lt;li&gt;Registered charity&lt;/li&gt;
          &lt;li&gt;Community interesr company&lt;/li&gt;
          &lt;li&gt;Independant research organisation&lt;/li&gt;
          &lt;li&gt;Public body&lt;/li&gt;
          &lt;li&gt;Independant body&lt;/li&gt;
          &lt;li&gt;Other (please specify)&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li&gt;
        Please give your organisation identifier (e.g. company number
        or charity registration number)
      &lt;/li&gt;
      &lt;li&gt;
        Please give the name of any partners or organisations you are working with
      &lt;/li&gt;
    &lt;/ol&gt;
  &lt;/div&gt;
&lt;/details&gt;
</code>
{# fmt:on #}
