<h3 id="important-information-box">Important information box</h3>
<p>
  Make a page easier to scan by letting users reveal more detailed information only if they need it.  Includes customised use of the GDS 'Details' component.
</p>
<div class="style-guide__component-wrapper">
  <div class="info-box">
    <h3 class="info-box__heading">
      If you are not doing computational analysis, you maybe able to operate under the Open Justice Licence
    </h3>
    <div class="info-box__content">
      <p>
        Under this licence you can copy, publish, distribute and transmit the case law data and use the data commercially, for example, by combining it with
        other Information, or by including it in your own product or application
      </p>
    </div>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">What is possible under the Open Justice Licence</span>
      </summary>
      <div class="govuk-details__text">
        <strong>Purpose of this licence</strong>
        <p>
          Open justice is a fundamental constitutional principle and necessary for the rule of law. The purpose of this licence is to support open justice.
        </p>
        <strong>Using Information under this licence</strong>
        <p>
          You are able to use and re-use the Information that is available under this licence freely. There are some conditions to protect the proper administration of justice.
        </p>
        <p>
          Use of copyright and database right material made available under this licence (the ‘Information’) indicates your
          acceptance of the terms and conditions below.
        </p>
        <p>
          The Licensor grants you a worldwide, royalty-free, non-exclusive licence to use the Information subject to the
          conditions below.
        </p>
        <p>
          This licence does not affect your freedom under fair dealing or fair use or any other copyright or database right
          exceptions and limitations.
        </p>
        <p>You are free to:</p>
        <ul>
          <li>copy, publish, distribute and transmit the Information;</li>
          <li>
            exploit the Information commercially, for example, by combining it with other Information, or by including it
            in your own product or application.
          </li>
        </ul>
        <p>You must (where you do any of the above):</p>
        <p>
          Use the current version of the Information (as published by the Keeper of Public Records on The National Archives
          website) and in particular, but not exhaustively:
        </p>
        <ul>
          <li>comply with any judicial decision that restricts the use of personal data within the Information;</li>
          <li>
            remove from publication any documents you are using under this licence, that are subsequently no longer
            published by the Keeper of Public Records on The National Archives website, or have been replaced by a revised
            version from the Courts or Tribunals
          </li>
          <li>
            acknowledge the source of the Information by including the following attribution statement and, where possible,
            provide a link to this licence;
            <ul>
              <li>Contains information licensed under the Open Justice - Licence v1.0.</li>
            </ul>
          </li>
          <li>
            ensure that you do not use the Information in a way that suggests any official status or that the Licensor
            endorses you or your use of the Information;
          </li>
          <li>
            ensure that you (i) do not mislead others or misrepresent the Information or its source; (ii) do not present the
            Information in a way that does not have regard to the dignity of the Courts or Tribunals, or to their function
            as working bodies; and (iii) do not use the Information in any way that jeopardises the proper administration of
            justice;
          </li>
        </ul>
        <p>
          These are important conditions of this licence and if you fail to comply with them the rights granted to you
          under this licence, or any similar licence granted by the Licensor, will end automatically.
        </p>
        <strong>Exclusions</strong>
        <p>This licence does not cover:</p>
        <ul>
          <li>computational analysis of the Information (including indexing by search engines);</li>
          <li>
            information that has neither been published nor disclosed under information access legislation (including the
            Freedom of Information Acts for the UK and Scotland) by or with the consent of the Licensor;
          </li>
          <li>emblems and insignia of the courts and tribunals;</li>
          <li>third party rights the Licensor is not authorised to license; and</li>
          <li>information subject to other intellectual property rights, including patents, trademarks, and design rights.</li>
        </ul>
        <p>For the avoidance of doubt:</p>
        <ul>
          <li>this licence is not a data sharing agreement for personal data; and</li>
          <li>this licence is not a processing agreement for personal data.</li>
        </ul>
        <p>
          Data Controllers will need to satisfy themselves that they have a legal basis and valid purpose for processing
          personal data.
        </p>
      </div>
    </details>
    <div class="info-box__content">
      <h3 class="info-box__heading">I want to perform computational analysis</h3>
      <p>
        Under this licence you can copy, publish, distribute and transmit the case law data and use the data commercially, for example, by combining it with
        other Information, or by including it in your own product or application
      </p>
      <button type="submit" class="govuk-button" data-module="govuk-button">I want to perform computational analysis</button>
    </div>
  </div>
</div>
