<h3 id="information-text">Information text</h3>
<p>Use the information text component when you need to inform users about something important.</p>
<div class="style-guide__component-wrapper">
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">i</span>
    <span class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Information</span>
      In the interests of transparency, we may publish your responses to the purpose and activities questions and you public statement,
      alongside details of your organisation in the future - we will tell you which responses, as you fill in the application process.
    </span>
  </div>
</div>

<p><strong>Usage:</strong></p>

{# fmt:off #}
<code class="style-guide__code-block">&lt;div class=&quot;govuk-warning-text&quot;&gt;
  &lt;span class=&quot;govuk-warning-text__icon&quot; aria-hidden=&quot;true&quot;&gt;i&lt;/span&gt;
  &lt;span class=&quot;govuk-warning-text__text&quot;&gt;
    &lt;span class=&quot;govuk-visually-hidden&quot;&gt;Information&lt;/span&gt;
    In the interests of transparency, we may publish your responses to the
    purpose and activities questions and you public statement,
    alongside details of your organisation in the future - we will tell
    you which responses, as you fill in the application process.
  &lt;/span&gt;
&lt;/div&gt;
</code>
{# fmt:on #}
