<h3 id="judgment-header">Judgment header</h3>
<p>This is the static header that appears at the top of judgments. It has variants depending on the document_noun:</p>

<p><strong>document_noun:</strong> "judgment"</p>
<div class="style-guide__component-wrapper">
  {% include "includes/judgment_text_toolbar.html" with document_noun="judgment" %}
</div>

<p><strong>Usage:</strong></p>

<code class="style-guide__code-block">{{ '{% include "includes/judgment_text_toolbar.html" with document_noun="judgment" %}' }}
</code>

<p><strong>document_noun:</strong> "press summary"</p>
<div class="style-guide__component-wrapper">
  {% include "includes/judgment_text_toolbar.html" with document_noun="press summary" %}
</div>

<p><strong>Usage:</strong></p>

<code class="style-guide__code-block">{{ '{% include "includes/judgment_text_toolbar.html" with document_noun="press summary" %}' }}
</code>
