<h3 id="notification-banners">Notification banners</h3>
<p>To tell the user about something they need to know about, but that’s not directly related to the page content</p>
<div class="style-guide__component-wrapper">
  <div class="govuk-notification-banner_red"
       role="region"
       aria-labelledby="govuk-notification-banner-title"
       data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title"
          id="govuk-notification-banner-title">Important</h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        You cannot save your application half way through; you will need to complete your application in one session.  Please make sure you have prepared
        all your answers to the questions before starting the application process.
      </p>
    </div>
  </div>
</div>

<p><strong>Usage:</strong></p>


{# fmt:off #}
<code class="style-guide__code-block">&lt;div class=&quot;govuk-notification-banner_red&quot;
  role=&quot;region&quot;
  aria-labelledby=&quot;govuk-notification-banner-title&quot;
  data-module=&quot;govuk-notification-banner&quot;&gt;
  &lt;div class=&quot;govuk-notification-banner__header&quot;&gt;
    &lt;h2 class=&quot;govuk-notification-banner__title&quot;
      id=&quot;govuk-notification-banner-title&quot;&gt;Important&lt;/h2&gt;
  &lt;/div&gt;
  &lt;div class=&quot;govuk-notification-banner__content&quot;&gt;
    &lt;p class=&quot;govuk-notification-banner__heading&quot;&gt;
      You cannot save your application half way through; you will need to
      complete your application in one session.  Please make sure you have
      prepared all your answers to the questions before starting the
      application process.
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
{# fmt:on #}
