<p>These are the variables available to style your components:</p>

<div class="style-guide__component-wrapper" >
  <div class="style-guide__spacing-container p-16"><div class="style-guide__spacing-item">$space-16</div></div>
  <div class="style-guide__spacing-container p-12"><div class="style-guide__spacing-item">$space-12</div></div>
  <div class="style-guide__spacing-container p-10"><div class="style-guide__spacing-item">$space-10</div></div>
  <div class="style-guide__spacing-container p-9"><div class="style-guide__spacing-item">$space-9</div></div>
  <div class="style-guide__spacing-container p-8"><div class="style-guide__spacing-item">$space-8</div></div>
  <div class="style-guide__spacing-container p-7"><div class="style-guide__spacing-item">$space-7</div></div>
  <div class="style-guide__spacing-container p-6"><div class="style-guide__spacing-item">$space-6</div></div>
  <div class="style-guide__spacing-container p-5"><div class="style-guide__spacing-item">$space-5</div></div>
  <div class="style-guide__spacing-container p-4"><div class="style-guide__spacing-item">$space-4</div></div>
  <div class="style-guide__spacing-container p-3"><div class="style-guide__spacing-item">$space-3</div></div>
  <div class="style-guide__spacing-container p-2"><div class="style-guide__spacing-item">$space-2</div></div>
  <div class="style-guide__spacing-container p-1"><div class="style-guide__spacing-item">$space-1</div></div>
</div>
