interactions:
- request:
    body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+%5B%22ewcc%22%5D%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+5%2C+%22q%22%3A+%22%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22-date%22%2C+%22from%22%3A+%22%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
        {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
        snippet-format=\"empty-snippet\" total=\"0\" start=\"1\" page-length=\"5\"
        selected=\"include\" xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:facet
        name=\"court\" type=\"xs:string\"/>\n  <search:facet name=\"year\" type=\"xs:gYear\"/>\n  <search:metrics>\n    <search:query-resolution-time>PT0.005846S</search:query-resolution-time>\n    <search:facet-resolution-time>PT0.000119S</search:facet-resolution-time>\n    <search:extract-resolution-time/>\n    <search:total-time>PT0.006253S</search:total-time>\n  </search:metrics>\n</search:response>",
        "encoding": "utf-8"}]'
    headers:
      Content-Type:
      - multipart/mixed; boundary=vcr_cassette_boundary
    status:
      code: 200
      message: OK
[...]
