interactions:
- request:
    body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+%5B%22eat%22%5D%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+5%2C+%22q%22%3A+%22%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22-date%22%2C+%22from%22%3A+%22%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
        {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
        snippet-format=\"empty-snippet\" total=\"194\" start=\"1\" page-length=\"5\"
        selected=\"include\" xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:result
        index=\"1\" uri=\"/eat/2023/124.xml\" path=\"fn:doc(&quot;/eat/2023/124.xml&quot;)\"
        score=\"2327\" confidence=\"0.07032331\" fitness=\"0.5566574\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2023-10-06\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
        value=\"DR GLAUCIA PEREIRA v GFT FINANCIAL LIMITED\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2023-10-06T12:32:19\" name=\"transform\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2023-10-13T16:45:31\" name=\"tna-enriched\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:court
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">EAT</uk:court>\n      <uk:cite
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">[2023] EAT 124</uk:cite>\n      <uk:hash
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">cf0314d19b83d12d0d80914e4995d3d2cacd8f8195ef7d2a2bfe8885a28f96d7</uk:hash>\n      <neutralCitation
        style=\"text-decoration-line:underline;text-decoration-style:solid;font-family:''Times
        New Roman'';font-size:12pt;color:#000000\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\">[2023]
        EAT 124</neutralCitation>\n    </search:extracted>\n    <search:extracted
        kind=\"identifiers\" xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers
        xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>ukncn</namespace>\n\t  <uuid>id-9eeb941c-6021-4f95-b264-6b84a993f5ca</uuid>\n\t  <value>[2023]
        EAT 124</value>\n\t  <url_slug>eat/2023/124</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:result
        index=\"2\" uri=\"/eat/2023/126.xml\" path=\"fn:doc(&quot;/eat/2023/126.xml&quot;)\"
        score=\"2142\" confidence=\"0.06747002\" fitness=\"0.5340717\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2023-09-28\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
    [...]
[...]
