interactions:
- request:
    body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+%5B%22ukist%22%5D%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+5%2C+%22q%22%3A+%22%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22-date%22%2C+%22from%22%3A+%22%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
        {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
        snippet-format=\"empty-snippet\" total=\"1\" start=\"1\" page-length=\"5\"
        selected=\"include\" xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:result
        index=\"1\" uri=\"/d-3372416d-8277-4585-8b92-582a4387f995.xml\" path=\"fn:doc(&quot;/d-3372416d-8277-4585-8b92-582a4387f995.xml&quot;)\"
        score=\"2771\" confidence=\"0.07673957\" fitness=\"0.6746935\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2009-03-23\" name=\"decision\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
        value=\"Mohammad Afsar Khan t/a Khan Immigration Services v OISC\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2025-04-22T15:17:46\" name=\"transform\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:court
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">UKIST</uk:court>\n    </search:extracted>\n    <search:extracted
        kind=\"identifiers\" xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers
        xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>fclid</namespace>\n\t  <uuid>id-b1e69ce1-f32f-4e2e-ab43-47700b860bc7</uuid>\n\t  <value>v7p8nptb</value>\n\t  <url_slug>tna.v7p8nptb</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:facet
        name=\"court\" type=\"xs:string\">\n    <search:facet-value name=\"UKIST\"
        count=\"1\">UKIST</search:facet-value>\n  </search:facet>\n  <search:facet
        name=\"year\" type=\"xs:gYear\">\n    <search:facet-value name=\"2009\" count=\"1\">2009</search:facet-value>\n  </search:facet>\n  <search:metrics>\n    <search:query-resolution-time>PT0.007916S</search:query-resolution-time>\n    <search:facet-resolution-time>PT0.002656S</search:facet-resolution-time>\n    <search:snippet-resolution-time>PT0.000036S</search:snippet-resolution-time>\n    <search:extract-resolution-time>PT0.000731S</search:extract-resolution-time>\n    <search:total-time>PT0.01218S</search:total-time>\n  </search:metrics>\n</search:response>",
        "encoding": "utf-8"}]'
    headers:
      Content-Type:
      - multipart/mixed; boundary=vcr_cassette_boundary
    status:
      code: 200
      message: OK
[...]
