interactions:
- request:
    body: xquery=xquery+version+%221.0-ml%22%3B%0A%0Adeclare+namespace+xdmp%3D%22http%3A%2F%2Fmarklogic.com%2Fxdmp%22%3B+%0Adeclare+variable+%24identifier_slug+as+xs%3Astring+external%3B%0Adeclare+variable+%24published_only+as+xs%3Aint%3F+external+%3A%3D+1%3B%0A%0Alet+%24published_query+%3A%3D+if+%28%24published_only%29+then+%22+AND+document_published+%3D+%27true%27%22+else+%22%22%0Alet+%24query+%3A%3D+%22SELECT+%2A+from+compiled_url_slugs+WHERE+%28identifier_slug+%3D+%40uri%29%22+%7C%7C++%24published_query%0A%0Areturn+xdmp%3Asql%28%0A++%24query%2C%0A++%22map%22%2C%0A++map%3Anew%28%28%0A++++map%3Aentry%28%22uri%22%2C+%24identifier_slug%29%0A++%29%29%0A%29%0A&vars=%7B%22identifier_slug%22%3A+%22eat%2F2023%2F1%22%2C+%22published_only%22%3A+1%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/eval
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/json", "extra_headers":
        {"X-Primitive": "map"}, "body": "{\"documents.compiled_url_slugs.identifier_uuid\":
        \"id-fd6eebe9-f9a2-4adc-a8d8-fe426652f7b7\", \"documents.compiled_url_slugs.document_uri\":
        \"/eat/2023/1.xml\", \"documents.compiled_url_slugs.identifier_slug\": \"eat/2023/1\",
        \"documents.compiled_url_slugs.document_published\": true, \"documents.compiled_url_slugs.identifier_value\":
        \"[2023] EAT 1\", \"documents.compiled_url_slugs.identifier_namespace\": \"ukncn\"}",
        "encoding": "utf-8"}]'
    headers:
      Content-Type:
      - multipart/mixed; boundary=vcr_cassette_boundary
    status:
      code: 200
      message: OK
[...]
- request:
    body: xquery=xquery+version+%221.0-ml%22%3B%0A%0Adeclare+variable+%24uri+as+xs%3Astring+external%3B%0A%0Adeclare+variable+%24name+as+xs%3Astring+external%3B%0A%0Alet+%24prop+%3A%3D+fn%3AQName%28%22%22%2C+%24name%29%0A%0Areturn+xdmp%3Adocument-get-properties%28%24uri%2C+%24prop%29%0A&vars=%7B%22uri%22%3A+%22%2Feat%2F2023%2F1.xml%22%2C+%22name%22%3A+%22identifiers%22%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/eval
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
        {"X-Primitive": "element()", "X-URI": "/eat/2023/1.xml", "X-Path": "/prop:properties/identifiers"},
        "body": "<identifiers xmlns:prop=\"http://marklogic.com/xdmp/property\"><identifier><namespace>ukncn</namespace><uuid>id-fd6eebe9-f9a2-4adc-a8d8-fe426652f7b7</uuid><value>[2023]
        EAT 1</value><url_slug>eat/2023/1</url_slug></identifier></identifiers>",
        "encoding": "utf-8"}]'
    headers:
      Content-Type:
      - multipart/mixed; boundary=vcr_cassette_boundary
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://assets.caselaw.nationalarchives.gov.uk/eat/2023/1/eat_2023_1.pdf
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/pdf
      ETag:
      - '"b848c7a9b6ef25e497e5d9d1a06ae4b9"'
      Last-Modified:
      - Mon, 17 Feb 2025 18:05:27 GMT
      x-amz-meta-pdfsource:
      - pdf-conversion-libreoffice
      x-amz-server-side-encryption:
      - aws:kms
      x-amz-server-side-encryption-aws-kms-key-id:
      - arn:aws:kms:eu-west-2:276505630421:key/a3228771-a72d-4d6c-a6e5-3b1f17f25440
      x-amz-version-id:
      - aaFoZn6DMO0pqZ6qhkL4Lmo9E3O9siSx
    status:
      code: 200
      message: OK
[...]
