interactions:
- request:
    body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+%5B%22ewca%2Fcrim%22%5D%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+10%2C+%22q%22%3A+%22%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22-date%22%2C+%22from%22%3A+%221085-01-01%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
        {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
        snippet-format=\"empty-snippet\" total=\"4781\" start=\"1\" page-length=\"10\"
        selected=\"include\" xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:result
        index=\"1\" uri=\"/ewca/crim/2023/1149.xml\" path=\"fn:doc(&quot;/ewca/crim/2023/1149.xml&quot;)\"
        score=\"1193\" confidence=\"0.05030613\" fitness=\"0.3615319\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2023-10-12\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
        value=\"REX v MOEEZ BANGASH and JONATHAN MAKENGO\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2023-10-12T12:14:24\" name=\"transform\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2023-10-13T16:26:55\" name=\"tna-enriched\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:court
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">EWCA-Criminal</uk:court>\n      <uk:cite
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">[2023] EWCA Crim
        1149</uk:cite>\n      <uk:hash xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">717333f780cd54209ce8e230d7685271b6fedf9cea11ffe356ddfefd54c4ff11</uk:hash>\n      <neutralCitation
        style=\"text-decoration-line:underline;text-decoration-style:solid;font-family:''Times
        New Roman'';font-size:12pt\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\">[2023]
        EWCA CRIM 1149</neutralCitation>\n    </search:extracted>\n    <search:extracted
        kind=\"identifiers\" xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers
        xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>ukncn</namespace>\n\t  <uuid>id-c6b624dc-a81a-4464-924b-b90a60cca964</uuid>\n\t  <value>[2023]
        EWCA Crim 1149</value>\n\t  <url_slug>ewca/crim/2023/1149</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:result
        index=\"2\" uri=\"/ewca/crim/2023/1131.xml\" path=\"fn:doc(&quot;/ewca/crim/2023/1131.xml&quot;)\"
        score=\"1092\" confidence=\"0.04812958\" fitness=\"0.3458898\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2023-10-06\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
        value=\"Rex v TERRY BUTT\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2023-10-06T09:32:25\" name=\"transform\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2024-01-28T15:15:49\" name=\"tna-enriched\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:court
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">EWCA-Criminal</uk:court>\n      <uk:cite
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">[2023] EWCA Crim
        1131</uk:cite>\n      <uk:hash xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">3f9336722c42429af920b57f9e3761c81d0d124fa4a1b6349ae4931cb598fed6</uk:hash>\n      <neutralCitation
        xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\">[2023] EWCA Crim
        1131</neutralCitation>\n    </search:extracted>\n    <search:extracted kind=\"identifiers\"
        xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>ukncn</namespace>\n\t  <uuid>id-9e3c9132-ba64-47de-8a34-b8f97bc2bd04</uuid>\n\t  <value>[2023]
        EWCA Crim 1131</value>\n\t  <url_slug>ewca/crim/2023/1131</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:result
        index=\"3\" uri=\"/ewca/crim/2023/1095.xml\" path=\"fn:doc(&quot;/ewca/crim/2023/1095.xml&quot;)\"
        score=\"1092\" confidence=\"[...]
