interactions:
- request:
    body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+null%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+10%2C+%22q%22%3A+%22Imperial%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22-date%22%2C+%22from%22%3A+%221085-01-01%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
        {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
        snippet-format=\"custom\" total=\"613\" start=\"1\" page-length=\"10\" selected=\"include\"
        xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:result
        index=\"1\" uri=\"/ewca/civ/2023/1107.xml\" path=\"fn:doc(&quot;/ewca/civ/2023/1107.xml&quot;)\"
        score=\"434\" confidence=\"0.03020216\" fitness=\"0.04780483\">\n    <search:snippet>\n      <search:match
        path=\"fn:doc(&quot;/ewca/civ/2023/1107.xml&quot;)/*:akomaNtoso/*:judgment/*:judgmentBody/*:decision[1]/*:paragraph[19]/*:content/*:p/*:span[2]\">Sadler
        v <search:highlight>Imperial</search:highlight> Life Assurance Co of Canada...</search:match>\n    </search:snippet>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2023-10-04\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
        value=\"DIAG HUMAN SE v VOLTERRA FIETTA (a Firm) (Testing3)\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <ns0:FRBRdate
        date=\"2023-10-04T09:57:16\" name=\"transform\" xmlns:ns0=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:court
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">EWCA-Civil</uk:court>\n      <uk:cite
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">[2023] EWCA Civ 1107</uk:cite>\n      <ns1:hash
        xmlns:ns1=\"https://caselaw.nationalarchives.gov.uk/akn\">e91f6407cfe78bccfc7ca3f7380d4473dbcd005762001c1abf4b0dd59e912490</ns1:hash>\n      <ns0:neutralCitation
        xmlns:ns0=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\">[2023] EWCA
        Civ 1107</ns0:neutralCitation>\n      <ns0:neutralCitation xmlns:ns0=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\">[2022]
        EWHC 2054 (QB)</ns0:neutralCitation>\n    </search:extracted>\n    <search:extracted
        kind=\"identifiers\" xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers
        xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>ukncn</namespace>\n\t  <uuid>id-0d8b96bd-87bb-49f0-9553-bc1034556c05</uuid>\n\t  <value>[2023]
        EWCA Civ 1107</value>\n\t  <url_slug>ewca/civ/2023/1107</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:result
        index=\"2\" uri=\"/ewhc/pat/2023/2361.xml\" path=\"fn:doc(&quot;/ewhc/pat/2023/2361.xml&quot;)\"
        score=\"434\" confidence=\"0.03020216\" fitness=\"0.04780483\">\n    <search:snippet>\n      <search:match
        path=\"fn:doc(&quot;/ewhc/pat/2023/2361.xml&quot;)/*:akomaNtoso/*:judgment/*:judgmentBody/*:decision/*:paragraph[17]/*:content/*:p\">...and
        Electronic Engineering department at <search:highlight>Imperial</search:highlight>
        College, London. His principal...</search:match>\n    </search:snippet>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2023-09-25\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
        value=\"SYCURIO LIMITED v PCI-PAL PLC\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2023-09-25T15:54:54\" name=\"transform\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2023-10-05T13:55:28\" name=\"tna-enriched\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:cite
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">[2023] EWHC 2361
        (Pat)</uk:cite>\n      <uk:hash xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">18b0d07f5a1afe7a790628ac761d2c6cf4ca239b484eaf2482c5b0be54c8952c</uk:hash>\n      <uk:court
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">EWHC-Chancery-Patents</uk:court>\n      <neutralCitation
        xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\">[2023] EWHC 2361
        (Pat)</neutralCitation>\n    </search:extracted>\n    <search:extracted kind=\"identifiers\"
        xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>ukncn</namespace>\n\t  <uuid>id-2fa3b509-0200-4857-884c-a0fb86f697fb</uuid>\n\t  <value>[2023]
        EWHC 2361 (Pat)</value>\n\t  <url_slug>ewhc/pat/2023/2361</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:result
        index=\"3\" uri=\"/ewhc/admin/2023/2354.xml\" path=\"fn:doc(&quot;/ewhc/admin/2023/2354.xml&quot;)\"
        score=\"434\" confidence=\[...]
