interactions:
- request:
    body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+null%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+10%2C+%22q%22%3A+%22%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22-date%22%2C+%22from%22%3A+%221085-01-01%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
        {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
        snippet-format=\"empty-snippet\" total=\"48999\" start=\"1\" page-length=\"10\"
        selected=\"include\" xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:result
        index=\"1\" uri=\"/d-6a1bd1de-c0bd-4b73-ba9f-16a743448138.xml\" path=\"fn:doc(&quot;/d-6a1bd1de-c0bd-4b73-ba9f-16a743448138.xml&quot;)\"
        score=\"441\" confidence=\"0.03068057\" fitness=\"0.6390917\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2024-05-26\" name=\"decision\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
        value=\"Donlald Welfair v Registrar of Approved Driving Instructors\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2026-03-17T12:08:24\" name=\"transform\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:court
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">UKFTT-GRC</uk:court>\n      <uk:jurisdiction
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">Transport</uk:jurisdiction>\n    </search:extracted>\n    <search:extracted
        kind=\"identifiers\" xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers
        xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>fclid</namespace>\n\t  <uuid>id-9b001333-bcd5-4005-b05b-390da0a29e09</uuid>\n\t  <value>hqsgyr2c</value>\n\t  <deprecated>false</deprecated>\n\t  <url_slug>tna.hqsgyr2c</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:result
        index=\"2\" uri=\"/ewhc/ch/2024/505.xml\" path=\"fn:doc(&quot;/ewhc/ch/2024/505.xml&quot;)\"
        score=\"504\" confidence=\"0.03279891\" fitness=\"0.6832178\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2024-03-05\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRna[...]
[...]
