interactions:
- request:
    body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+%5B%22ewhc%2Fqb%22%2C+%22ewhc%2Fkb%22%5D%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+10%2C+%22q%22%3A+%22%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22-date%22%2C+%22from%22%3A+%221085-01-01%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
        {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
        snippet-format=\"empty-snippet\" total=\"4214\" start=\"1\" page-length=\"10\"
        selected=\"include\" xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:result
        index=\"1\" uri=\"/d-ea5f3fcd-119c-4fbc-b332-6a10db35e9ae.xml\" path=\"fn:doc(&quot;/d-ea5f3fcd-119c-4fbc-b332-6a10db35e9ae.xml&quot;)\"
        score=\"1478\" confidence=\"0.05599354\" fitness=\"0.5070604\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2024-01-05\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
        value=\"Houda Chehaib v King\u2019s College Hospital NHS Foundation Trust
        &amp; Ors\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2024-11-20T12:05:18\" name=\"transform\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:court
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">EWHC-KBD</uk:court>\n      <uk:cite
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">[2024] EWHC 2 (KB)</uk:cite>\n      <uk:hash
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">0ed6b90100c5d1ce336a18432f455fdeb7e853a6304cb3f5674a59670e8565f8</uk:hash>\n      <neutralCitation
        xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\">[2024] EWHC 2 (KB)</neutralCitation>\n    </search:extracted>\n    <search:extracted
        kind=\"identifiers\" xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers
        xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>ukncn</namespace>\n\t  <uuid>id-2e02348f-69d4-4ae6-9e13-68762fd414c8</uuid>\n\t  <value>[2024]
        EWHC 2 (KB)</value>\n\t  <url_slug>d-ea5f3fcd-119c-4fbc-b332-6a10db35e9ae</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:result
        index=\"2\" uri=\"/ewhc/kb/2024/2.xml\" path=\"fn:doc(&quot;/ewhc/kb/2024/2.xml&quot;)\"
        score=\"1478\" confidence=\"0.05599354\" fitness=\"0.5070604\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2024-01-05\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn[...]
