interactions:
- request:
    body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+%5B%22ewhc%2Fmercantile%22%5D%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+10%2C+%22q%22%3A+%22%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22-date%22%2C+%22from%22%3A+%221085-01-01%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
        {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
        snippet-format=\"empty-snippet\" total=\"4\" start=\"1\" page-length=\"10\"
        selected=\"include\" xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:result
        index=\"1\" uri=\"/ewhc/mercantile/2014/1195.xml\" path=\"fn:doc(&quot;/ewhc/mercantile/2014/1195.xml&quot;)\"
        score=\"2669\" confidence=\"0.07524455\" fitness=\"0.6352274\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2014-04-03\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
        value=\"Knatchbull -Hugessen &amp; Ors v SISU Capital Ltd (No 2)\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2022-03-18T04:50:37\" name=\"transform\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2024-01-22T18:48:00\" name=\"tna-enriched\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:court
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">EWHC-QBD-Commercial-Circuit</uk:court>\n      <uk:cite
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">[2014] EWHC 1195
        (Mercantile)</uk:cite>\n      <uk:hash xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">442301a50325e490a0692c728ce5d210a82eb0c55c3be141a460ffbade697a84</uk:hash>\n    </search:extracted>\n    <search:extracted
        kind=\"identifiers\" xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers
        xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>ukncn</namespace>\n\t  <uuid>id-7fba61a1-7cfb-4022-9e0f-1a0b4d1f9413</uuid>\n\t  <value>[2014]
        EWHC 1195 (Mercantile)</value>\n\t  <url_slug>ewhc/mercantile/2014/1195</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:result
        index=\"2\" uri=\"/ewhc/mercantile/2014/1194.xml\" path=\"fn:doc(&quot;/ewhc/mercantile/2014/1194.xml&quot;)\"
        score=\"2669\" confidence=\"0.07524455\" fitness=\"0.6352274\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2014-04-02\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldoc[...]
