interactions:
- request:
    body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+null%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+10%2C+%22q%22%3A+%22Imperial%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22relevance%22%2C+%22from%22%3A+%221085-01-01%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
        {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
        snippet-format=\"custom\" total=\"578\" start=\"1\" page-length=\"10\" selected=\"include\"
        xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:result
        index=\"1\" uri=\"/ewhc/qb/2013/1646.xml\" path=\"fn:doc(&quot;/ewhc/qb/2013/1646.xml&quot;)\"
        score=\"51843\" confidence=\"0.3326513\" fitness=\"0.532398\">\n    <search:snippet>\n      <search:match
        path=\"fn:doc(&quot;/ewhc/qb/2013/1646.xml&quot;)/*:akomaNtoso/*:judgment/*:coverPage/*:table/*:tr/*:td[2]/*:p/*:span\">Interim
        Judgment  in Saha v <search:highlight>Imperial</search:highlight> College</search:match>\n      <search:match
        path=\"fn:doc(&quot;/ewhc/qb/2013/1646.xml&quot;)/*:akomaNtoso/*:judgment/*:header/*:table/*:tr[3]/*:td[2]/*:p/*:party\"><search:highlight>IMPERIAL</search:highlight>
        COLLEGE OF SCIENCE, TECHNOLOGY...</search:match>\n    </search:snippet>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2013-05-09\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
        value=\"Saha v Imperial College of Science, Technology and Medicine\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2022-03-18T03:02:00\" name=\"transform\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:court
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">EWHC-QBD</uk:court>\n      <uk:cite
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">[2013] EWHC 1646
        (QB)</uk:cite>\n      <uk:hash xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">57fae2ff61c4d978b3c63188d7302f8667fb0dbd58e887a456d2d37cb1c2afca</uk:hash>\n      <neutralCitation
        xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\">[2013] EWHC 1646
        (QB)</neutralCitation>\n    </search:extracted>\n    <search:extracted kind=\"identifiers\"
        xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>ukncn</namespace>\n\t  <uuid>id-6de15015-0fd5-42b4-9ffd-52cd1fda02fb</uuid>\n\t  <value>[2013]
        EWHC 1646 (QB)</value>\n\t  <url_slug>ewhc/qb/2013/1646</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:result
        index=\"2\" uri=\"/ewhc/tcc/2017/2299.xml\" path=\"fn:doc(&quot;/ewhc/tcc/2017/2299.xml&quot;)\"
        score=\"41346\" confidence=\"0.2970714\" fitness=\"0.4754535\">\n    <search:snippet>\n      <search:match
        path=\"fn:doc(&quot;/ewhc/tcc/2017/2299.xml&quot;)/*:akomaNtoso/*:judgment/*:header/*:table/*:tr[1]/*:td[2]/*:p/*:party\"><search:highlight>I[...]
[...]
