interactions:
- request:
    body: module=%2Fjudgments%2Fsearch%2Fsearch-v2.xqy&vars=%7B%22court%22%3A+%5B%22ewhc%2Fscco%22%2C+%22ewhc%2Fcosts%22%5D%2C+%22judge%22%3A+%22%22%2C+%22page%22%3A+1%2C+%22page-size%22%3A+10%2C+%22q%22%3A+%22%22%2C+%22party%22%3A+%22%22%2C+%22neutral_citation%22%3A+%22%22%2C+%22document_name%22%3A+%22%22%2C+%22consignment_number%22%3A+%22%22%2C+%22specific_keyword%22%3A+%22%22%2C+%22order%22%3A+%22-date%22%2C+%22from%22%3A+%221085-01-01%22%2C+%22to%22%3A+%22%22%2C+%22show_unpublished%22%3A+%22false%22%2C+%22only_unpublished%22%3A+%22false%22%2C+%22only_with_html_representation%22%3A+%22false%22%2C+%22collections%22%3A+%22judgment%22%2C+%22quoted_phrases%22%3A+%5B%5D%7D
    headers:
      Content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://ml.external.staging.caselaw.nationalarchives.gov.uk:8011/LATEST/invoke
  response:
    body:
      string: 'vcr-multipart-parts:[{"content_type": "application/xml", "extra_headers":
        {"X-Primitive": "document-node()"}, "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<search:response
        snippet-format=\"empty-snippet\" total=\"245\" start=\"1\" page-length=\"10\"
        selected=\"include\" xmlns:search=\"http://marklogic.com/appservices/search\">\n  <search:result
        index=\"1\" uri=\"/ewhc/scco/2023/2512.xml\" path=\"fn:doc(&quot;/ewhc/scco/2023/2512.xml&quot;)\"
        score=\"2135\" confidence=\"0.06729762\" fitness=\"0.3799545\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2023-10-09\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRname
        value=\"R v Alli\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2023-10-10T13:21:36\" name=\"transform\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <FRBRdate
        date=\"2023-10-13T16:40:24\" name=\"tna-enriched\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\n      <uk:court
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">EWHC-SeniorCourtsCosts</uk:court>\n      <uk:cite
        xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">[2023] EWHC 2512
        (SCCO)</uk:cite>\n      <uk:hash xmlns:uk=\"https://caselaw.nationalarchives.gov.uk/akn\">467fe46f3bfb0dec4f6b9cbbf132025ee87b490188e45ae93391fc6e58050783</uk:hash>\n      <neutralCitation
        xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\">[2023] EWHC 2512
        (SCCO)</neutralCitation>\n    </search:extracted>\n    <search:extracted kind=\"identifiers\"
        xmlns:map=\"http://marklogic.com/xdmp/map\">\n      <identifiers xmlns:prop=\"http://marklogic.com/xdmp/property\">\n\t<identifier>\n\t  <namespace>ukncn</namespace>\n\t  <uuid>id-d0e18000-e891-4f17-9560-a3ab95100c1d</uuid>\n\t  <value>[2023]
        EWHC 2512 (SCCO)</value>\n\t  <url_slug>ewhc/scco/2023/2512</url_slug>\n\t</identifier>\n      </identifiers>\n    </search:extracted>\n  </search:result>\n  <search:result
        index=\"2\" uri=\"/ewhc/scco/2023/2511.xml\" path=\"fn:doc(&quot;/ewhc/scco/2023/2511.xml&quot;)\"
        score=\"1925\" confidence=\"0.06390224\" fitness=\"0.3607846\">\n    <search:snippet/>\n    <search:extracted
        kind=\"element\">\n      <FRBRdate date=\"2023-10-06\" name=\"judgment\" xmlns=\"http://docs.oasis-open.org/legaldocml/ns/akn/3.0\"/>\[...]
