.govuk-button {
  @include call-to-action-button;

  margin-bottom: 0;
  box-shadow: none;

  &:focus {
    color: colour-var("button-text") !important;

    background-color: $color-dark-blue !important;
    outline-color: $color-dark-blue !important;
    outline-offset: 0.2rem !important;
    box-shadow: none !important;

    @include focus-default;
  }
}
