.govuk-date-input__label {
  font-size: $typography-sm-text-size;
  margin-top: $space-1;
}

.govuk-date-input__input {
  border: 2px solid #555;
}

.govuk-date-input__item {
  margin-right: $space-2;
}
