.govuk-details,
.govuk-details--compact {
  margin-top: $space-8;
  margin-bottom: $space-8;
  padding: $space-2;

  background-color: $color-white;
  border: 3px solid $color-aqua-blue;
}

.govuk-details--compact {
  margin: $space-2 0;
  border: 0;
}

.govuk-details:not([open]) > div {
  display: none;
}

.govuk-details__summary {
  padding-left: $space-6;
  color: $color-aqua-blue;

  &::before {
    top: 2px;
  }

  &:focus {
    background-color: transparent;
    box-shadow: none;

    @include focus-default;
  }
}

.govuk-details__summary-text {
  text-decoration: none;
}

.govuk-details__text {
  padding: $space-4;
  font-size: $typography-md-text-size;
  border-left: none;
}
