.homepage-cards--container {
  padding-top: $space-8;
  padding-bottom: 0;

  h2 {
    display: none;

    @media (max-width: $grid-breakpoint-medium) {
      @include heading_text;
      @include header($typography-header-h2-size);

      display: contents;
      margin-left: 0;
      text-wrap: wrap;
    }
  }

  @media (max-width: $grid-breakpoint-medium) {
    margin: $space-5;
    margin-bottom: $space-4;
    padding: $space-3;
    padding-bottom: $space-6;

    border: 3px solid $color-yellow;
  }

  @include container;
}

.govuk-grid-column-one-third {
  padding: 0;

  @media (max-width: $grid-breakpoint-medium) {
    width: 100%;
  }
}

.govuk-grid-column-two-thirds {
  @media (max-width: $grid-breakpoint-medium) {
    width: 100%;
  }
}

.govuk-grid-column-two-thirds__info_cards {
  display: flex;
  flex-direction: row;
  gap: $space-1;
  margin-left: $space-2;
}

.govuk-grid-column-two-thirds__info_cards_home {
  display: flex;
  flex-direction: row;
  gap: $space-1;

  margin-left: 0;
  padding-top: $space-8;

  @media (max-width: $grid-breakpoint-medium) {
    float: left;
    flex-direction: column;

    min-width: 65%;
    margin-right: $space-4;
    margin-left: $space-4;
  }
}

.govuk-grid-column-one-third__info_cards {
  max-width: 20rem;
  margin: $space-2;
  padding: $space-1 $space-7;

  text-decoration: underline;
  text-decoration-color: colour-var("link");

  background-color: colour-var("accent-background-light");
  border-top: 4px solid $color-yellow;

  &:hover {
    text-decoration: none;
    background-color: colour-var("accent-background");
  }

  @media (max-width: $grid-breakpoint-medium) {
    min-width: 150%;
    height: 6rem;
  }
}

.govuk-grid-column-one-third__grid_info_card_heading:hover {
  color: $color-dark-blue;
  text-decoration: none;
}

.govuk-grid-column-one-third__grid_info_card_heading {
  color: colour-var("link");
  text-decoration-color: colour-var("link");
  text-decoration-line: underline;
  text-wrap: wrap;
}

.govuk-grid-column-one-third__grid_info_card_heading:visited {
  color: colour-var("link-visited");
  text-decoration-color: colour-var("link-visited");
  text-decoration-line: underline;
}

.govuk-grid-column-one-third__grid_info_card_heading:hover {
  color: colour-var("link");
  text-decoration: none;
}

.govuk-grid-column-one-third__grid_info_card_text {
  color: colour-var("accent-font-base");
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  @media (max-width: $grid-breakpoint-medium) {
    margin: -1rem;
    visibility: hidden;
  }
}

.grid-background-link {
  text-decoration: none;
  text-decoration-line: none;
}

.govuk-grid-column-full {
  margin-bottom: -15px;

  @media (width >= 40.0625em) {
    float: none;
  }
}

.govuk-grid-column-two-thirds__info {
  display: flex;
  flex-direction: row;
  gap: 7.5rem;

  margin-top: -22px;

  text-decoration: none;

  @media (max-width: $grid-breakpoint-medium) {
    float: left;
    flex-direction: column;
    gap: 0;
  }
}

.govuk-grid-column-one-third__info {
  max-width: 16rem;
  margin-top: -22px;
  margin-left: -3px;
  padding: $space-1 $space-5;

  text-decoration: underline;
  text-decoration-color: colour-var("link");

  &:hover {
    text-decoration: none;
  }

  @media (max-width: $grid-breakpoint-medium) {
    max-width: none;
    padding: 1rem;
    line-height: $space-4;
  }
}

.govuk-grid-column-two-thirds__info_terms_use {
  display: flex;
  flex-direction: row;
  gap: 0;

  margin-top: -22px;
  margin-left: $space-2;

  text-decoration: none;

  @media (max-width: $grid-breakpoint-medium) {
    float: left;
    flex-direction: column;
    width: 75%;
  }
}

.govuk-grid-column-one-third__info_terms_use {
  max-width: 23rem;
  height: 16rem;
  margin: $space-2;
  padding: $space-1 $space-5;

  text-decoration: underline;
  text-decoration-color: colour-var("link");

  background-color: colour-var("accent-background-light");
  border-top: 4px solid $color-yellow;

  &:hover {
    text-decoration: none;
    background-color: colour-var("accent-background");
  }

  @media (max-width: $grid-breakpoint-medium) {
    width: 100%;
    height: 6rem;
  }

  @media (min-width: $grid-breakpoint-large) {
    max-width: 23rem;
    height: 12rem;
  }
}

.govuk-grid-column-two-thirds__info_about_fcl {
  display: flex;
  flex-direction: row;
  gap: 0;

  margin-top: -22px;
  margin-left: $space-2;

  text-decoration: none;

  @media (max-width: $grid-breakpoint-medium) {
    float: left;
    flex-direction: column;
    width: 75%;
  }
}

.govuk-grid-column-one-third__info_about_fcl {
  max-width: 23rem;
  height: 16rem;
  margin: $space-2;
  padding: $space-1 $space-5;

  text-decoration: underline;
  text-decoration-color: colour-var("link");

  background-color: colour-var("accent-background-light");
  border-top: 4px solid $color-yellow;

  &:hover {
    text-decoration: none;
    background-color: colour-var("accent-background");
  }

  @media (max-width: $grid-breakpoint-medium) {
    width: 100%;
    height: 6rem;
  }

  @media (min-width: $grid-breakpoint-large) {
    max-width: 23rem;
    height: 12rem;
  }
}

.govuk-grid-column-one-third__grid_info_heading {
  color: colour-var("link");
  text-decoration-color: colour-var("link");
  text-decoration-line: none;
  text-wrap: balance;
}

.govuk-grid-column-one-third__grid_info_heading:visited {
  color: colour-var("link-visited");
  text-decoration-color: colour-var("link-visited");
  text-decoration-line: underline;
}

.govuk-grid-column-one-third__grid_info_heading:hover {
  color: colour-var("link");
  text-decoration: none;
}

.govuk-grid-column-one-third__grid_info_text {
  color: colour-var("font-dark");
  text-decoration-color: colour-var("background");
  text-decoration-line: underline;
  text-wrap: pretty;

  @media (max-width: $grid-breakpoint-medium) {
    margin: -2rem;
    visibility: hidden;
  }
}

.govuk-grid-column-one-third__info-box {
  width: 20rem;
  text-decoration: underline;
  text-decoration-color: colour-var("link");

  &:hover {
    text-decoration: none;
  }
}

.hidden-h1-mobile {
  display: none;
  margin-top: 0;

  @media (max-width: $grid-breakpoint-medium) {
    display: block;
    margin-bottom: 0;
  }

  @media (max-width: $grid-breakpoint-small) {
    display: block;
    margin-bottom: 0;
  }
}

.hidden-h1-desktop {
  margin-top: 0;

  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }

  @media (max-width: $grid-breakpoint-small) {
    display: none;
  }
}

.date-time-info-page {
  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }

  @media (max-width: $grid-breakpoint-small) {
    display: none;
  }
}

.info-card-page-h2 {
  margin-top: 0;
}

.terms-policies-h2 {
  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }

  @media (max-width: $grid-breakpoint-small) {
    display: none;
  }
}

.govuk-grid-column-two-thirds__about_page {
  box-sizing: border-box;
  width: 100%;
  padding: 6px 15px;

  @media (width >= 40.0625em) {
    float: left;
    width: 66.6666666667%;
  }
}

.govuk-grid-column-one-third__info_cards_help {
  max-width: 20rem;
  margin: $space-2;
  padding: $space-1 $space-4;

  text-decoration: underline;
  text-decoration-color: colour-var("link");

  background-color: colour-var("accent-background-light");
  border-top: 4px solid $color-yellow;

  &:hover {
    text-decoration: none;
    background-color: colour-var("accent-background");
  }

  @media (max-width: $grid-breakpoint-medium) {
    min-width: 150%;
    height: 6rem;
  }

  @media (width >= 770px) {
    height: 12rem;
    padding-bottom: $space-10;
  }

  @media (min-width: $grid-breakpoint-large) {
    max-width: 23rem;
    height: 11rem;
    padding-bottom: none;
  }
}

.govuk-grid-column-one-third__info_cards_home {
  display: flex;
  flex-direction: row;
  gap: $space-4;

  max-width: 24rem;
  margin: $space-2;

  background-color: colour-var("accent-background-light");
  border-top: 4px solid $color-yellow;

  &:hover {
    text-decoration: none;
    background-color: colour-var("accent-background");
  }

  @media (max-width: $grid-breakpoint-medium) {
    min-width: 65%;
    height: $space-6;
    margin-left: 0;

    background-color: transparent;
    border-top: none;

    &:hover {
      background-color: transparent;
    }
  }
}

.govuk-grid-column-one-third__info_cards_home_image {
  width: 111px;
  height: 175px;

  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }

  @media (width <= 1199px) {
    display: none;
  }
}

.govuk-grid-column-one-third__info_cards_home_body {
  display: flex;
  flex-direction: column;

  width: 13rem;
  height: 11rem;
  margin-right: 1rem;
  margin-left: 1rem;

  @media (max-width: $grid-breakpoint-medium) {
    width: 15rem;
    margin-left: 0;
  }
}

.govuk-grid-column-one-third__grid_info_card_home_heading:hover {
  color: $color-dark-blue;
  text-decoration: none;
}

.govuk-grid-column-one-third__grid_info_card_home_heading {
  margin-top: $space-1;
  margin-bottom: 0;

  color: colour-var("link");
  text-decoration: underline;
  text-decoration-color: colour-var("link");
  text-decoration-line: underline;
  text-wrap: wrap;

  @media (max-width: $grid-breakpoint-medium) {
    text-wrap: nowrap;
  }
}

.govuk-grid-column-one-third__grid_info_card_home_heading:visited {
  color: colour-var("link-visited");
  text-decoration-color: colour-var("link-visited");
  text-decoration-line: underline;
}

.govuk-grid-column-one-third__grid_info_card_home_heading:hover {
  color: colour-var("link");
  text-decoration: none;
}

.govuk-grid-column-one-third__grid_info_card_home_body_text {
  color: colour-var("accent-font-base");
  text-decoration: underline;
  text-decoration-color: colour-var("accent-background-light");
  text-decoration-line: none;

  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }
}
