.govuk-grid-row__beta_v3_homepage {
  display: flex;

  @media (max-width: $grid-breakpoint-medium) {
    flex-direction: column-reverse;
  }
}

.govuk-grid-column-one-third {
  padding: 0;
  @media (max-width: $grid-breakpoint-medium) {
    width: 100%;
  }
}

.govuk-grid-column-two-thirds {
  @media (max-width: $grid-breakpoint-medium) {
    width: 100%;
  }
}

.govuk-grid-column-two-thirds__info_cards {
  display: flex;
  flex-direction: row;
  gap: $space-1;
  margin-left: $space-2;
  @media (max-width: $grid-breakpoint-medium) {
    flex-direction: column;
    width: 50%;
    float: left;
  }
}

.govuk-grid-column-one-third__info_cards {
  max-width: 20rem;
  background-color: $color-light-grey;
  padding: $space-1 $space-7;
  margin: $space-2;
  border-top: 4px solid $color-yellow;
  text-decoration: underline;
  text-decoration-color: $color-aqua-blue;
  &:hover {
    background-color: hsl(210, 6%, 88%);
    text-decoration: none;
  }
  @media (max-width: $grid-breakpoint-medium) {
    height: 6rem;
    min-width: 150%;
  }

  @media (min-width: 770px) {
    height: 12rem;
    padding-bottom: $space-10;
  }

  @media (min-width: $grid-breakpoint-large) {
    height: 12rem;
    max-width: 23rem;
    padding-bottom: 0;
  }
}

.govuk-grid-column-one-third__grid_info_card_heading:hover {
  color: $color-dark-blue;
  text-decoration: none;
}

.govuk-grid-column-one-third__grid_info_card_heading {
  color: $color-aqua-blue;
  text-decoration-line: none;
  text-decoration-color: $color-aqua-blue;
  text-wrap: wrap;
}
.govuk-grid-column-one-third__grid_info_card_heading:visited {
  color: $color-dark-blue;
  text-decoration-line: underline;
  text-decoration-color: $color-dark-blue;
}

.govuk-grid-column-one-third__grid_info_card_heading:hover {
  color: $color-dark-blue;
  text-decoration: none;
}

.govuk-grid-column-one-third__grid_info_card_text {
  color: $color-black;
  text-decoration-line: underline;
  text-decoration-color: $color-light-grey;
  &:hover {
    text-decoration: none;
  }
  @media (max-width: $grid-breakpoint-medium) {
    visibility: hidden;
    margin: -1rem;
  }
}

.grid-background-link {
  text-decoration: none;
}

.govuk-grid-column-full {
  margin-bottom: -15px;
  @media (min-width: 40.0625em) {
    float: none;
  }
}

.govuk-grid-column-two-thirds__info {
  display: flex;
  flex-direction: row;
  gap: 7.5rem;
  text-decoration: none;
  margin-top: -22px;
  @media (max-width: $grid-breakpoint-medium) {
    flex-direction: column;
    gap: 0;
    float: left;
  }
}

.govuk-grid-column-one-third__info {
  max-width: 16rem;
  padding: $space-1 $space-5;
  margin-top: -15px;
  margin-top: -22px;
  margin-left: -3px;
  text-decoration: underline;
  text-decoration-color: $color-aqua-blue;
  &:hover {
    text-decoration: none;
  }
  @media (max-width: $grid-breakpoint-medium) {
    line-height: $space-4;
    max-width: none;
    padding: 1rem 1rem;
  }
}

.govuk-grid-column-two-thirds__info_terms_use {
  display: flex;
  flex-direction: row;
  gap: $space-8;
  text-decoration: none;
  margin-top: -22px;
  margin-left: $space-6;
  @media (max-width: $grid-breakpoint-medium) {
    flex-direction: column;
    width: 75%;
    float: left;
  }
}

.govuk-grid-column-one-third__info_terms_use {
  max-width: 23rem;
  height: 16rem;
  padding: $space-1 $space-5;
  margin-top: -15px;
  margin-top: 20px;
  margin-left: -9px;
  border-top: 4px solid $color-yellow;
  background-color: $color-light-grey;
  text-decoration: underline;
  text-decoration-color: $color-aqua-blue;
  &:hover {
    background-color: #dee0e2;
    text-decoration: none;
  }
  @media (max-width: $grid-breakpoint-medium) {
    height: 6rem;
    width: 100%;
  }

  @media (min-width: $grid-breakpoint-large) {
    height: 12rem;
    max-width: 23rem;
  }
}

.govuk-grid-column-two-thirds__info_about_fcl {
  display: flex;
  flex-direction: row;
  gap: $space-8;
  text-decoration: none;
  margin-top: -22px;
  margin-left: $space-6;
  @media (max-width: $grid-breakpoint-medium) {
    flex-direction: column;
    width: 75%;
    float: left;
  }
}

.govuk-grid-column-one-third__info_about_fcl {
  max-width: 23rem;
  height: 16rem;
  padding: $space-1 $space-5;
  margin-top: -15px;
  margin-top: 20px;
  margin-left: -9px;
  border-top: 4px solid $color-yellow;
  background-color: $color-light-grey;
  text-decoration: underline;
  text-decoration-color: $color-aqua-blue;
  &:hover {
    background-color: #dee0e2;
    text-decoration: none;
  }
  @media (max-width: $grid-breakpoint-medium) {
    height: 6rem;
    width: 100%;
  }

  @media (min-width: $grid-breakpoint-large) {
    height: 12rem;
    max-width: 23rem;
  }
}

.govuk-grid-column-one-third__grid_info_heading {
  color: $color-aqua-blue;
  text-decoration-line: none;
  text-decoration-color: $color-aqua-blue;
  text-wrap: balance;
}
.govuk-grid-column-one-third__grid_info_heading:visited {
  color: $color-dark-blue;
  text-decoration-line: underline;
  text-decoration-color: $color-dark-blue;
}

.govuk-grid-column-one-third__grid_info_heading:hover {
  color: $color-dark-blue;
  text-decoration: none;
}

.govuk-grid-column-one-third__grid_info_text {
  color: $color-black;
  text-wrap: pretty;
  text-decoration-line: underline;
  text-decoration-color: $color-white;
  @media (max-width: $grid-breakpoint-medium) {
    visibility: hidden;
    margin: -2rem;
  }
}

.govuk-grid-column-one-third__info-box {
  width: 20rem;
  text-decoration: underline;
  text-decoration-color: $color-aqua-blue;
  &:hover {
    text-decoration: none;
  }
}

.hidden-h1-mobile {
  display: none;
  margin-top: 0;
  @media (max-width: $grid-breakpoint-medium) {
    display: block;
    margin-bottom: 0rem;
  }
  @media (max-width: $grid-breakpoint-small) {
    display: block;
    margin-bottom: 0rem;
  }
}

.hidden-h1-desktop {
  margin-top: 0;
  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }
  @media (max-width: $grid-breakpoint-small) {
    display: none;
  }
}

.date-time-info-page {
  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }
  @media (max-width: $grid-breakpoint-small) {
    display: none;
  }
}

.info-card-page-h2 {
  margin-top: 0;
}

.terms-policies-h2 {
  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }
  @media (max-width: $grid-breakpoint-small) {
    display: none;
  }
}
