.govuk-grid-column-one-third {
  padding: 0;

  @media (max-width: $grid-breakpoint-medium) {
    width: 100%;
  }
}

.govuk-grid-column-two-thirds {
  @media (max-width: $grid-breakpoint-medium) {
    width: 100%;
  }
}

.govuk-grid-column-full {
  margin-bottom: -15px;

  @media (width >= 40.0625em) {
    float: none;
  }
}

.govuk-grid-column-two-thirds__info {
  display: flex;
  flex-direction: row;
  gap: 7.5rem;

  margin-top: -22px;

  text-decoration: none;

  @media (max-width: $grid-breakpoint-medium) {
    float: left;
    flex-direction: column;
    gap: 0;
    margin-top: 0;
  }
}

.govuk-grid-column-one-third__info {
  max-width: 16rem;
  margin-top: -22px;
  margin-left: -3px;
  padding: $space-1 $space-5;

  text-decoration: underline;
  text-decoration-color: colour-var("link");

  &:hover {
    text-decoration: none;
  }

  @media (max-width: $grid-breakpoint-medium) {
    max-width: none;
    margin: -$space-4;
    padding: 0 $space-8;
  }
}

.govuk-grid-column-one-third__grid_info_heading {
  color: colour-var("link");
  text-decoration-color: colour-var("link");
  text-decoration-line: none;
  text-wrap: balance;
}

.govuk-grid-column-one-third__grid_info_heading:visited {
  color: colour-var("link-visited");
  text-decoration-color: colour-var("link-visited");
  text-decoration-line: underline;
}

.govuk-grid-column-one-third__grid_info_heading:hover {
  color: colour-var("link");
  text-decoration: none;
}

.govuk-grid-column-one-third__grid_info_text {
  color: colour-var("font-dark");
  text-decoration-color: colour-var("background");
  text-decoration-line: underline;
  text-wrap: pretty;

  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }
}

.govuk-grid-column-one-third__info-box {
  width: 20rem;
  text-decoration: underline;
  text-decoration-color: colour-var("link");

  &:hover {
    text-decoration: none;
  }
}

.hidden-h1-mobile {
  display: none;
  margin-top: 0;

  @media (max-width: $grid-breakpoint-medium) {
    display: block;
    margin-bottom: 0;
  }

  @media (max-width: $grid-breakpoint-small) {
    display: block;
    margin-bottom: 0;
  }
}

.hidden-h1-desktop {
  margin-top: 0;

  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }

  @media (max-width: $grid-breakpoint-small) {
    display: none;
  }
}

.date-time-info-page {
  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }

  @media (max-width: $grid-breakpoint-small) {
    display: none;
  }
}

.info-card-page-h2 {
  margin-top: 0;
}

.terms-policies-h2 {
  @media (max-width: $grid-breakpoint-medium) {
    display: none;
  }

  @media (max-width: $grid-breakpoint-small) {
    display: none;
  }
}

.govuk-grid-column-two-thirds__about_page {
  box-sizing: border-box;
  width: 100%;
  padding: 6px 15px;

  @media (width >= 40.0625em) {
    float: left;
    width: 66.6666666667%;
  }
}
