.govuk-header {
  border-bottom: none;
  background-color: colour-var("contrast-background");
}

.govuk-header__link--homepage:hover,
.govuk-header__link--homepage:active {
  border-bottom: 0.25rem solid colour-var("black");
}

.govuk-header__navigation-item--active .govuk-header__link,
.govuk-header__navigation-item--active .govuk-header__link:hover,
.govuk-header__navigation-item--active .govuk-header__link:visited,
.govuk-header__navigation-item--active a:link {
  border-bottom: 0.25rem solid $color-yellow;
  font-weight: bold !important;
  color: $color-yellow;
  text-decoration: none;

  &:focus {
    background-color: transparent;
    box-shadow: none;
  }

  @media only screen and (max-width: $grid-breakpoint-medium) {
    border-bottom: none;
  }
}

.govuk-header__link {
  &:hover {
    border-bottom: none;
    color: colour-var("contrast-link");
    text-decoration: none !important;
  }

  &:focus {
    @include focus-default;

    color: colour-var("contrast-link");
    background-color: transparent;
    outline-color: colour-var("contrast-link");
    box-shadow: none;
  }
}

.govuk-header__navigation-item .govuk-header__link {
  display: inline-block;

  font-size: $typography-sm-text-size;
  font-weight: normal;
  line-height: $typography-md-line-height;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  white-space: nowrap;

  &::after {
    content: attr(title);

    overflow: hidden;
    display: block;

    height: 0;

    font-weight: bold;

    visibility: hidden;
  }

  &:focus {
    background-color: transparent;
    box-shadow: none;
  }

  @media only screen and (max-width: $grid-breakpoint-medium) {
    text-decoration: none;
  }
}

.govuk-header__menu-button:focus {
  outline: $space-1 solid transparent;
}

.govuk-header__menu-button:hover {
  text-decoration: none;
}

.govuk-header__content {
  float: none;
  width: auto;
  padding: 0;

  @media only screen and (max-width: $grid-breakpoint-medium) {
    width: 100%;
    margin-top: 0;
  }
}

.govuk-header__navigation-list {
  display: flex;
  flex-direction: row;
  gap: $space-4;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;

  @media only screen and (max-width: $grid-breakpoint-medium) {
    display: block;
  }
}

a.govuk-header__logo {
  width: 100px;
  height: 100px;
}

.govuk-frontend-supported .govuk-header__menu-button {
  right: $space-12;
  padding-top: $space-1;
  font-size: $typography-md-text-size;

  &:focus {
    color: colour-var("contrast-link");
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }
}

.govuk-header__navigation {
  margin-bottom: 0;
}
