.govuk-notification-banner_aquablue {
  background-color: $color-aqua-blue;
  border: 5px solid $color-aqua-blue;
}

.govuk-notification-banner__content > * {
  max-width: fit-content;
  font-size: $typography-lg-text-size;
}

.govuk-notification-banner_red {
  background-color: #d4351c;
  border: 5px solid #d4351c;
}

.govuk-notification-banner__link {
  color: #037091;
}

.govuk-notification-banner__link:visited {
  color: #4c2c92;
}
