.govuk-warning-text--text-only {
  .govuk-warning-text__text {
    padding-left: 0;
  }
}

.govuk-warning-text__icon {
  transform: rotate(180deg);

  margin-left: $space-4;

  color: $color-black;

  background-color: $color-warning-text-background;
  border: $color-black solid 3px;
}

.govuk-warning-text__text {
  h2 {
    margin: 0;
    font-size: $typography-header-h3-size;
    font-weight: $typography-bold-font-weight;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.govuk-warning-text {
  margin-bottom: 0;
  padding: $space-8;

  font-weight: $typography-normal-font-weight;

  background-color: $color-warning-text-background;
  border: transparent;
  border-left: 0.5rem $color-yellow solid;
}

.govuk-warning-text.govuk-warning-text--information {
  background-color: $color-information-text-background;
  border-left: 0.5rem $color-information-text-border solid;
}

.govuk-warning-text__confirmation {
  background-color: $color-warning-text-confirmation-background;
  border-left: 0.5rem $color-structured-search-date-error-message-text solid;
}

.govuk-warning-text__icon-confirmation {
  background-color: $color-warning-text-confirmation-background;
}
