{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro historic_documents_content() %}
  <p>County Court records are more likely held in local archives rather than at the National Archives.</p>
{% endmacro %}
{% macro court_noun_content() %}
  court
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-court", content="Search this court") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-court", content="Questions about judgments from this court") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  {{ historic_documents_content() }}
{% endmacro %}
{% macro understanding_content() %}
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>The County Court deals with civil (non-criminal) matters.</p>
  <p>
    Unlike criminal cases, in which the state prosecutes an individual, civil court cases arise where an individual or a business believes their rights have been infringed.
  </p>
  <p>
    This court began to occasionally transfer select judgments to The National Archives in 2024.
    {% if start_year %}The oldest judgment from this court included in Find Case Law is from {{ start_year }}.{% endif %}
  </p>
  <p>
    You can read more about it on the {{ link(content="County Court page", href="https://www.gov.uk/courts-tribunals/court-of-protection", attrs={"target": "_blank"}) }} on the {{ link(content="HM Courts and Tribunals Service website", href="https://www.judiciary.uk/", attrs={"target": "_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
{% endmacro %}
