{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro website_link(label=None) %}
  {{ link(content=label or (court.name ~ " website") , href="https://www.judiciary.uk/courts-and-tribunals/crown-court/", attrs={"target": "_blank"}) }}
{% endmacro %}
{% macro court_noun_content() %}
  court
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-court", content="Search this court") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-court", content="Questions about judgments from this court") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  {% if court.historic_documents_support_text_as_html %}
    {% autoescape off %}
      {{ court.historic_documents_support_text_as_html }}
    {% endautoescape %}
  {% endif %}
{% endmacro %}
{% macro understanding_content() %}
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>
    The Crown Court deals with the most serious criminal offences. It is located in over 70 court centres across England and Wales, including the Central Criminal Court, more commonly known as the Old Bailey.
  </p>
  <p>
    This court began to occasionally transfer selected judgments to The National Archives in 2024.
    {% if start_year %}The oldest judgment from this court included in Find Case Law is from {{ start_year }}.{% endif %}
  </p>
  <p>
    You can read more about this court on the {{ link(content="Crown Court page", href="https://www.judiciary.uk/courts-and-tribunals/crown-court/", attrs={"target": "_blank"}) }} on the {{ link(content="HM Courts and Tribunals Service website", href="https://www.judiciary.uk/", attrs={"target":"_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
{% endmacro %}
