{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro historic_documents_content() %}
{% endmacro %}
{% macro court_noun_content() %}
  court
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-court", content="Search this court") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#understanding-judgments", content="Understanding " ~ court.name ~ " judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#about", content="About " ~ court.name) }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-court", content="Questions about judgments from this court") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_start_year = param|get_court_start_year %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  <p><strong>Transfer method</strong> — This court began regularly transferring judgments to The National Archives in 2022. The oldest judgment from this court included in Find Case Law is from {{ court_start_year }}. Judgments from {{ court_start_year }}–2022 were sourced from other collections.</p>
  {{ historic_documents_content() }}
{% endmacro %}
{% macro understanding_content() %}
  {{ heading(content="Understanding " ~ court.name ~ " judgments", tag="h2", id="understanding-judgments") }}
  <p>
    Family Court neutral citation numbers use the format [Year] EWFC [Number]. For example, [2024] EWFC 141. Citations with a (B) suffix indicate that the judge is a District or Circuit judge rather than a High Court judge from the Family Division.
  </p>
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>
    Most family cases are heard in the Family Court. A limited number of cases are heard in the Family Division of the High Court, for example cases involving international child abduction and cases involving the inherent jurisdiction of the High Court. You can learn more about when the {{ link(content="family court publish judgments in their practice guidance (opens as PDF)", href="https://www.judiciary.uk/wp-content/uploads/2014/01/transparency-in-the-family-courts-jan-2014-1.pdf", attrs={"target": "_blank"}) }}.
  </p>
  <p>
    This court began to regularly transfer judgments to The National Archives in 2022.
    {% if start_year %}The oldest judgment from this court included in Find Case Law is from {{ start_year }}.{% endif %}
  </p>
  <p>
    You can read more about it on the {{ link(content="Family Justice System", href="https://www.judiciary.uk/courts-and-tribunals/family-law-courts/", attrs={"target": "_blank"}) }} page on the {{ link(content="HM Courts and Tribunals Service website", href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about", attrs={"target": "_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
  {{ heading(content="About " ~ court.name, tag="h2", id="about") }}
  <p>
    The Family courts in England and Wales are the Family Court and the Family Division of the High Court. Disputes touch on many aspect of family life and cases can involve marriage, divorce, child arrangements, protecting children, adoption, surrogacy, forced marriage, female genital mutilation, international child abduction and the inherent jurisdiction of the High Court.
  </p>
{% endmacro %}
