{% macro description(start_year=None) %}
  <p>
    This commission hears appeals against directions made under the regime controlling access to dangerous substances established under the Anti-terrorism, Crime and Security Act 2001.
  </p>
  <p>
    You can read more about it on the {{ link(content="Pathogens Access Appeal Commission website", href="https://www.gov.uk/guidance/appeal-to-the-pathogens-access-appeals-commission", attrs={"target":"_blank"}) }}.
  </p>
{% endmacro %}
