{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro historic_documents_content() %}
  <p>
    The POAC have transferred decisions to the National Archives and they should be available on the site soon. You can also see older decisions {{ link(content="here on the UK Government Web Archive", href="https://webarchive.nationalarchives.gov.uk/ukgwa/2026/https://siac.decisions.tribunals.gov.uk/", attrs={"target":"_blank"}) }}.
  </p>
{% endmacro %}
{% macro website_link(label=None) %}
  {{ link(content=label or (court.name ~ " website") , href="https://www.gov.uk/guidance/appeal-against-a-ban-on-your-organisation", attrs={"target": "_blank"}) }}
{% endmacro %}
{% macro court_noun_content() %}
  tribunal
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-tribunal", content="Search this tribunal") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-tribunal", content="Questions about judgments from this tribunal") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  {{ historic_documents_content() }}
{% endmacro %}
{% macro understanding_content() %}
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>
    About the Proscribed Organisations Appeal Commission (POAC): This commission deals with appeals in cases where the Secretary of State has refused to de-proscribe an organisation believed to be involved in terrorism. POAC is an independent tribunal that was established under the Terrorism Act 2000.
  </p>
  <p>
    You can read more about it on the {{ link(content="Proscribed Organisations Appeal Commission website", href="https://www.gov.uk/guidance/appeal-against-a-ban-on-your-organisation", attrs={"target":"_blank"}) }}.
  </p>
{% endmacro %}
{% macro about_content() %}
{% endmacro %}
