{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list_item %}
{% from "components/heading.jinja" import heading %}
{% macro historic_documents_content() %}
  <p>
    This is a historic tribunal. The functions of this tribunal have been transferred to the General Regulatory Chamber of the First-tier Tribunal starting in 2009. The GRC began transferring records to Find Case Law in 2022. To view an archived version of the decisions of this tribunal from 2008-2009 visit the {{ link(content="UK Government Web Archive", href="https://webarchive.nationalarchives.gov.uk/ukgwa/20221201121350/https://immigrationservices.decisions.tribunals.gov.uk/Aspx/default.aspx", attrs={"target": "_blank"}) }}.
  </p>
{% endmacro %}
{% macro website_link(label=None) %}
  {{ label }}
{% endmacro %}
{% macro court_noun_content() %}
  tribunal
{% endmacro %}
{% macro contents_navigation() %}
  {% call list_item() %}
    {{ link(href="#coverage-on-find-case-law", content="Coverage on Find Case Law") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#recent-judgments", content="Recent judgments") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#search-this-tribunal", content="Search this tribunal") }}
  {% endcall %}
  {% call list_item() %}
    {{ link(href="#questions-about-judgments-from-this-tribunal", content="Questions about judgments from this tribunal") }}
  {% endcall %}
{% endmacro %}
{% macro coverage_content() %}
  {{ heading(content="Coverage on Find Case Law", tag="h2") }}
  {% set court_date_range = param|get_court_date_range %}
  {% set court_documents_count = court|get_court_judgments_count|intcomma %}
  <p>
    <strong>Date range</strong> — {{ court_date_range }}
  </p>
  <p>
    <strong>What’s included</strong> — We currently hold {{ court_documents_count }} documents from {{ court_date_range }}.
  </p>
  {{ historic_documents_content() }}
{% endmacro %}
{% macro understanding_content() %}
{% endmacro %}
{% macro description_content(start_year=None) %}
  <p>
    The Immigration Services Tribunal was established under the Immigration and Asylum Act 1999 to hear appeals from decisions of the Immigration Services Commissioner and disciplinary charges laid by the Immigration Services Commissioner against qualified persons. In 2009/10 its functions were transferred to the General Regulatory Chamber of the First-tier Tribunal, which hears appeals against decisions made by government regulatory bodies.
  </p>
{% endmacro %}
{% macro about_content() %}
{% endmacro %}
