#ds-cookie-consent-form input[type="radio"] {
  margin-right: 7px;
}

#ds-cookie-consent-form input[type="radio"] + label {
  cursor: pointer;
}

@media only screen and (width <= 818px) {
  #ds-cookie-consent-form input[type="radio"] + label {
    display: inline;
  }
}

#ds-cookie-consent-form #form_submit:focus {
  color: #26262a;
  background-color: #fff;
}

#ds-cookie-consent-form .form-group {
  margin-bottom: 10px;
}

#ds-cookie-consent-form .reduced-margin {
  margin-bottom: 1rem;
}

#ds-cookie-consent-banner {
  z-index: 999;
  bottom: 0;

  display: block;

  width: 100%;
  padding: 10px 10px 20px;

  font-size: 14px;
  color: #fff;
}

#ds-cookie-consent-banner .container {
  box-sizing: border-box;
  padding: 10px 25px 25px 40px;
  background: #134571;
  border-radius: 5px;
}

#ds-cookie-consent-banner .container .cookie_head {
  margin-top: 10px;
  margin-bottom: 0;

  font-family: "Roboto Mono";
  font-size: 20.8px;
  font-weight: 400;
  font-style: normal;
  line-height: inherit;
  color: #fff;
}

#ds-cookie-consent-banner .container .cookie-p {
  margin-top: 10px;
  margin-bottom: 15px;

  font-family: "Open Sans";
  font-size: 16px;
  line-height: inherit;
  color: #fff;
}

#ds-cookie-consent-banner .container .cookie-p br {
  content: "";
  display: block;

  height: 0.25em;

  font-size: 100%;
}

#ds-cookie-consent-banner .container .cookie-p a {
  color: #fff;
  text-decoration: underline;
}

#ds-cookie-consent-banner .container .cookie-p a:hover {
  z-index: 999;

  color: #000;

  background-color: #fff;
  outline: 5px solid #1d70b8;
  outline-offset: 0;
}

#ds-cookie-consent-banner .container .cookie-p a:focus {
  color: #000;
}

#ds-cookie-consent-banner .container #hide_this_message,
#ds-cookie-consent-banner .container #reject_optional_cookies,
#ds-cookie-consent-banner .container #accept_optional_cookies {
  display: inline-block;

  min-width: 24px;
  margin-right: 20px;
  padding: 0.5em 0.9em;

  font-family: "Roboto Mono", monospace;
  color: #000;
  text-align: center;
  text-decoration: none;

  background: #eee;
  border: #eee;
  border: 2px solid #fff;
}

#ds-cookie-consent-banner .container #hide_this_message:hover, #ds-cookie-consent-banner .container #hide_this_message:focus,
#ds-cookie-consent-banner .container #reject_optional_cookies:hover,
#ds-cookie-consent-banner .container #reject_optional_cookies:focus,
#ds-cookie-consent-banner .container #accept_optional_cookies:hover,
#ds-cookie-consent-banner .container #accept_optional_cookies:focus {
  color: #fff;
  background: #000;
  border: 2px solid #fff;
}

#ds-cookie-consent-banner .container #hide_this_message:focus,
#ds-cookie-consent-banner .container #reject_optional_cookies:focus,
#ds-cookie-consent-banner .container #accept_optional_cookies:focus {
  outline: 5px solid #fff;
}

@media (width <= 560px) {
  #ds-cookie-consent-banner .container #hide_this_message,
  #ds-cookie-consent-banner .container #reject_optional_cookies,
  #ds-cookie-consent-banner .container #accept_optional_cookies {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
}

#ds-cookie-consent-banner .container #btn_preferences {
  text-decoration: underline;
  background: none;
  border: none;
  border: 2px solid transparent;
}

#ds-cookie-consent-banner .container #btn_preferences:hover, #ds-cookie-consent-banner .container #btn_preferences:focus {
  color: #fff;
  text-decoration: none;
  background: #000;
  border: 2px solid #fff;
}

#ds-cookie-consent-banner .container #btn_preferences:focus {
  outline: 5px solid #fff;
}

@media (width <= 675px) {
  #ds-cookie-consent-banner .container #btn_preferences {
    margin-top: 5px;
  }
}

@media (width <= 560px) {
  #ds-cookie-consent-banner .container #btn_preferences {
    display: block;
  }
}

@media (width <= 560px) {
  #ds-cookie-consent-banner .container {
    padding: 10px 30px 25px;
  }
}

@media only screen and (width <= 768px) {
  .cookie-consent-table tr td:first-of-type {
    word-break: break-all;
  }
}

.tna-form-engagement .jsON {
  display: none;
}

.tna-form-engagement .jsOFF {
  display: block;
}
