#ds-cookie-consent-form input[type=radio] {
  margin-right: 7px;
}
#ds-cookie-consent-form input[type=radio] + label {
  cursor: pointer;
}
@media only screen and (max-width: 818px) {
  #ds-cookie-consent-form input[type=radio] + label {
    display: inline;
  }
}
#ds-cookie-consent-form #form_submit:focus {
  background-color: #fff;
  color: #26262a;
}
#ds-cookie-consent-form .form-group {
  margin-bottom: 10px;
}
#ds-cookie-consent-form .reduced-margin {
  margin-bottom: 1rem;
}

#ds-cookie-consent-banner {
  z-index: 999;
  padding: 10px 10px 20px 10px;
  display: block;
  bottom: 0px;
  font-size: 14px;
  width: 100%;
  color: #fff;
}
#ds-cookie-consent-banner .container {
  background: #134571;
  padding: 10px 25px 25px 40px;
  box-sizing: border-box;
  border-radius: 5px;
}
#ds-cookie-consent-banner .container .cookie_head {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20.8px;
  line-height: inherit;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0;
}
#ds-cookie-consent-banner .container .cookie-p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: inherit;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 10px;
}
#ds-cookie-consent-banner .container .cookie-p br {
  content: "";
  display: block;
  font-size: 100%;
  height: 0.25em;
  display: block;
}
#ds-cookie-consent-banner .container .cookie-p a {
  color: #fff;
  text-decoration: underline;
}
#ds-cookie-consent-banner .container .cookie-p a:hover {
  color: #000;
  outline-offset: 0;
  z-index: 999;
  background-color: #fff;
  outline: 5px solid #1d70b8;
}
#ds-cookie-consent-banner .container .cookie-p a:focus {
  color: #000;
}
#ds-cookie-consent-banner .container #hide_this_message,
#ds-cookie-consent-banner .container #reject_optional_cookies,
#ds-cookie-consent-banner .container #accept_optional_cookies {
  background: #eee;
  color: #000;
  border: #eee;
  text-decoration: none;
  margin-right: 20px;
  border: 2px solid #fff;
  font-family: "Roboto Mono", monospace;
  padding: 0.5em 0.9em;
  display: inline-block;
  min-width: 24px;
  text-align: center;
}
#ds-cookie-consent-banner .container #hide_this_message:hover, #ds-cookie-consent-banner .container #hide_this_message:focus,
#ds-cookie-consent-banner .container #reject_optional_cookies:hover,
#ds-cookie-consent-banner .container #reject_optional_cookies:focus,
#ds-cookie-consent-banner .container #accept_optional_cookies:hover,
#ds-cookie-consent-banner .container #accept_optional_cookies:focus {
  background: #000;
  color: #fff;
  border: 2px solid #fff;
}
#ds-cookie-consent-banner .container #hide_this_message:focus,
#ds-cookie-consent-banner .container #reject_optional_cookies:focus,
#ds-cookie-consent-banner .container #accept_optional_cookies:focus {
  outline: 5px solid #fff;
}
@media (max-width: 560px) {
  #ds-cookie-consent-banner .container #hide_this_message,
  #ds-cookie-consent-banner .container #reject_optional_cookies,
  #ds-cookie-consent-banner .container #accept_optional_cookies {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }
}
#ds-cookie-consent-banner .container #btn_preferences {
  background: none;
  border: none;
  border: 2px solid transparent;
  text-decoration: underline;
}
#ds-cookie-consent-banner .container #btn_preferences:hover, #ds-cookie-consent-banner .container #btn_preferences:focus {
  background: #000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
}
#ds-cookie-consent-banner .container #btn_preferences:focus {
  outline: 5px solid #fff;
}
@media (max-width: 675px) {
  #ds-cookie-consent-banner .container #btn_preferences {
    margin-top: 5px;
  }
}
@media (max-width: 560px) {
  #ds-cookie-consent-banner .container #btn_preferences {
    display: block;
  }
}
@media (max-width: 560px) {
  #ds-cookie-consent-banner .container {
    padding: 10px 30px 25px 30px;
  }
}

@media only screen and (max-width: 768px) {
  .cookie-consent-table tr td:first-of-type {
    word-break: break-all;
  }
}

.tna-form-engagement .jsON {
  display: none;
}
.tna-form-engagement .jsOFF {
  display: block;
}

/*# sourceMappingURL=ds-cookie-consent.css.map */
