{% extends "layouts/static_content.html" %}
{% load static i18n %}
{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <form action="{% url 'check_answers' %}" method="post" novalidate>
          {% csrf_token %}
          <fieldset class="tna-form__fieldset">
            <div class="tna-form__group-contents">
              <legend class="tna-form__legend">
                <h2 class="tna-form__heading tna-form__heading--l">Check your answers before sending your application</h2>
              </legend>
            </div>
          </fieldset>
          <div class="tna-button-group">
            <a href="{% url '' %}" class="tna-button ">Next</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
