.tna-message{
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    background-color: rgb(249, 247, 226);
    /* border-left: 0.5rem #26262a solid; */
    border-left: 0.5rem var(--keyline-dark) solid;
    border-left-color: rgb(255, 204, 0);

}
