{% extends "layouts/static_content.html" %}
{% load i18n court_utils static %}
{% block meta_description %}
  <meta name="description"
        content="The Find Case Law service provides public access to court judgments and tribunal decisions." />
{% endblock meta_description %}
{% block static_content %}
  <h1>About the Find case law service</h1>
  <p>
    <small>
      Last updated on
      <time datetime="23-08-2022">23rd May 2023</time>
    </small>
  </p>
  <div class="anchor-links">
    <h2 class="anchor-links__header">Information on this page</h2>
    <ul class="anchor-links__list">
      <li class="anchor-links__list-option">
        <a href="#section-about">About the Find Case Law service</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-no-advice">We do not provide legal advice</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-coverage">Current coverage of courts and tribunals available on Find Case Law</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-historic">Historical judgments and decisions</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-justice">Open justice</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-case-law-data">Case Law as data</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-access-data">How to access the data and technical documentation</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-reuse">Licencing for responsible re-use</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-legal-basis">Legal basis</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-licences">Licences</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-licences">Review and approval process</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-transferring">Transferring judgments and decisions from the courts to The National Archives</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-publishing">How we publish judgments and decisions</a>
      </li>
      <li class="anchor-links__list-option">
        <a href="#section-contact">How to contact us</a>
      </li>
    </ul>
  </div>
  <h2 id="section-about">About the Find Case Law service</h2>
  <p>The Find Case Law service provides public access to court judgments and tribunal decisions.</p>
  <h2 id="section-no-advice">We do not provide legal advice</h2>
  <p>
    This service is designed to help you find court judgments or tribunal decisions. The National Archives does not
    provide legal advice, interpretation or support. You can find guidance and support at the following
    organisations:
  </p>
  <ul>
    <li>
      <a href="https://www.citizensadvice.org.uk">Citizens Advice Bureau</a>
    </li>
    <li>
      <a href="https://www.lawcentres.org.uk">The Law Centres Network</a>
    </li>
    <li>
      <a href="https://www.supportthroughcourt.org">Support Through Court</a>
    </li>
    <li>
      <a href="https://www.weareadvocate.org.uk">Advocate</a>
    </li>
  </ul>
  <h2 id="section-coverage">Current coverage of courts and tribunals available on Find Case Law</h2>
  <p>
    As of April 2022; The National Archives receives selected Court Judgments and Tribunal Decisions for permanent
    preservation and publication on the Find Case Law service. Currently we receive judgments from the Privy Council,
    the UK Supreme Court, the Court of Appeal, The High Court, the Upper Tribunals and The Employment Appeal Tribunal.
    We also receive decisions from some first-tier tribunal chambers and some judgments from the family court.
    Judgments given prior to 19 April 2022 have been sourced by The National Archives from a variety of
    different sources, including BAILII (<a href="https://{% translate "bailii.link" %}">{% translate "bailii.link" %}</a>).
  </p>
  <p>
    We share an ambition with the Ministry of Justice and the Judiciary to grow the scope of Find Case Law to become
    a comprehensive and authoritative repository for case law in England and Wales.
  </p>
  <p>
    The service only contains judgments and decisions that have been handed down and made public. Ex tempore (verbal)
    judgments that are not routinely transcribed may not be sent to the archive, please contact the court or tribunal
    directly.
  </p>
  <h3>Date ranges for judgments and decisions available on Find Case Law</h3>
  <ul class="court-listing">
    {% for group in context.courts %}
      {% if group.display_heading %}
        <li>
          <span>{{ group.name }}</span>
          <ul>
            {% for court in group.courts %}
              <li>{{ court.grouped_name }} &mdash; {{ court.canonical_param|get_court_date_range }}</li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        {% for court in group.courts %}
          <li>{{ court.grouped_name }} &mdash; {{ court.canonical_param|get_court_date_range }}</li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
  <p>We do not have judgments or decisions from any other tribunals or:</p>
  <ul>
    <li>Crown courts</li>
    <li>County courts</li>
    <li>Magistrates' courts</li>
  </ul>
  <p>We do not have any judgments or decisions from Scottish, Northern Irish or Irish courts or tribunals.</p>
  <h2 id="section-historic">Historical judgments and decisions</h2>
  <p>
    Historic legal records transferred as paper records can be found on<a href="https://discovery.nationalarchives.gov.uk/"> The National Archive’s main catalogue &ndash;
      Discovery</a>.
    This allows you to search the descriptions of records.
    You can read more about how to search the main catalogue to find particular records in our research guides.
  </p>
  <h2 id="section-justice">Open justice</h2>
  <p>
    Open justice is a fundamental principle at the heart of the justice system. It is part of the administration
    of justice and vital to the rule of law. Justice must not only be done, but it must also be seen to be done.
    The importance and history of open justice as part of our law can be traced back to before Magna Carta.
  </p>
  <p>
    Therefore it is important that significant Court Judgments and Tribunal Decisions are available to the public.
    We publish judgments we receive from the courts and tribunals on the Find Case Law service.
    It is up to the court to decide whether there is a reason to withhold a judgment from publication.
  </p>
  <h2 id="section-case-law-data">Case Law as data</h2>
  <p>
    Access to judgments and decisions as data supports the principles of open justice by fostering
    transparency and promoting innovation in legal technology and legal research.
  </p>
  <p>
    We have converted the judgments and decisions into a format that is easy for computers to analyse
    – XML. We use the international standard: Legal Document Markup Language (LegalDocML) to
    provide consistently structured information across Judgments and decisions. This includes:
  </p>
  <ol>
    <li>Neutral Citation</li>
    <li>Court / Chamber</li>
    <li>Date</li>
    <li>Case Name</li>
    <li>Party Names</li>
    <li>Judges Names</li>
  </ol>
  <p>
    This is information is automatically marked up. Our legal editorial team checks the Neutral Citation,
    Court/ Chamber, Date and Case name has been correctly marked up and fixes anything they need to.
  </p>
  <h3>Enrichment</h3>
  <p>
    When we publish a judgment or decision we automatically identify and hyperlink citations to other
    judgments we have or to legislation. We refer to this process as enrichment.
  </p>
  <p>
    Links to legislation will take you to the legislation as it stands today and you will need to use their
    ‘point in time’ feature to find the legislation as it stood at a particular date.
  </p>
  <h2 id="section-access-data">How to access the data and technical documentation</h2>
  <p>
    Licence terms apply to all data re-use. You can read more about our <a href="#section-licences">licences</a>.
  </p>
  <p>
    To retrieve the LegalDocML data for judgments, you can use the API. The Data is accessible through
    Atom feeds allowing you to keep track of recently published or updated judgments. You can find
    more details and guidelines in the OpenAPI specification, which available on the.
    <a href="https://github.com/nationalarchives/ds-find-caselaw-docs/blob/main/doc/openapi/public_api.yml">Case Law service
      GitHub Project page.</a>.
  </p>
  <p>Example root feed URL:</p>
  <p>
    <a href="https://caselaw.nationalarchives.gov.uk/atom.xml">https://caselaw.nationalarchives.gov.uk/atom.xml</a>.
  </p>
  <p>URL Structure for Judgment Data:</p>
  <p>https://caselaw.nationalarchives.gov.uk/year/court/subdivision/id/data.xml</p>
  <p>In most cases the Neutral citation is how we uniquely identify the judgments and decisions.</p>
  <h3>Parameters</h3>
  <ul>
    <li>
      <code>order = updated</code>: Sort by the last XML database update
    </li>
    <li>
      <code>order = date</code>: Sort by date on the judgment
    </li>
    <li>
      <code>page = 3</code>: Paginated response. Starting at page 1
    </li>
  </ul>
  <h3>Example workflow</h3>
  <ol>
    <li>Poll the recently-published feed</li>
    <li>Detect a new item using the timestamps in the feed</li>
    <li>Retrieve the URI of the judgment from the id field of the item</li>
  </ol>
  <h3>Detecting changes</h3>
  <p>
    Whenever a judgment gets changed it appears in the recently published list. This includes minor
    updates such as when we enrich the document with hyperlinks to other legal citations as well as
    more significant changes such as revisions we have received from the courts.
  </p>
  <p>The Judgment includes a content hash so that you can check if the text of the document has changed.</p>
  <p>
    We are still actively developing the Find Case Law service based on user feedback. This includes
    improving the experience of how data re-users can access the data. You can provide feedback by
    using the feedback form which is linked to at the end of every page of the Find Case Law site.
  </p>
  <h2 id="section-reuse">Licencing for responsible re-use</h2>
  <p>
    Licencing data for re-use is an important step to protect the personal information and people
    mentioned in judgments and decisions. Judges decide what information is necessary to be included
    in a judgment on a case-by-case basis. The personal information in judgments includes the names of
    parties, judges and may also include potentially sensitive details depending on the case. Licencing
    ensures that the information within judgments is handled responsibly and legally. Those who use
    this information must be aware of their responsibilities and not interfere with the administration of
    justice.
  </p>
  <p>
    The National Archives, in collaboration with The Ministry of Justice and the Judicial Executive
    Board, have worked together to design a new licensing framework for the re-use of case law
    as data. Licences are free but you need to apply for a licence if you are using computational
    analysis.
  </p>
  <p>Any licence we issue will only apply to currently published versions of the judgments.</p>
  <p>No licence we issue will be a data sharing or processing agreement for personal data.</p>
  <h2 id="section-legal-basis">Legal basis</h2>
  <p>The Crown holds rights (copyright and database rights) in Court Judgments and Tribunal Decisions.</p>
  <p>
    The National Archives is licensing the information in accordance with its obligations under the Reuse of Public Sector Information Regulations 2015 (SI 2015/1415).
  </p>
  <p>
    We will licence the information ‘as is’ and exclude all representations, warranties, obligations and
    liabilities in relation to the information to the maximum extent permitted by law.
    We will not be liable for any errors or omissions in the information. We will not be liable for any loss,
    injury or damage of any kind caused by its use.
  </p>
  <p>
    In order to conduct computational analysis on these decisions you need to apply for a licence and
    adhere to its terms. If your application is successful you will be granted permission from The
    National Archives, Keeper of Public Records, to re-use the information.
  </p>
  <h3>Personal data</h3>
  <p>
    The court or tribunal that made the decision is the data controller. This means they are responsible
    for the publication of judgments on the Find Case Law service. The National Archives is a data
    processor.
  </p>
  <p>
    The National Archives publishes selected judgments under the direction of the courts and tribunals
    who are acting in their judicial capacity. Therefore this activity is exempt from data protection law
    that would normally apply to the publication of personal data.
  </p>
  <p>
    For the avoidance of doubt no licence we issue will be a data sharing or data processing agreement.
    This means that we do not grant you permission to process personal data within the judgments and
    decisions.
  </p>
  <h3>Revisions and take downs</h3>
  <p>
    The National Archives is not authorised to take down a published judgment unless explicitly
    instructed to do so by the court or tribunal. Any revisions to already published judgments must also
    come directly from the court. If you need to contact a specific court or tribunal you can use the
    GOV.UK find a court or tribunal service.
  </p>
  <h2 id="section-licences">Licences</h2>
  <p>
    All material is available under licence. Licences are free. You need to apply for a licence to do
    computational analysis.
  </p>
  <h3>The Open justice licence</h3>
  <p>
    The Open Justice Licence supports the fundamental principle of open justice, allowing free use and
    re-use of court judgments and tribunal decisions. This is the licence that is in effect if you do not
    apply for a licence to do computational analysis.
  </p>
  <p>Under this licence you can copy, publish and distribute the information with certain conditions such as:</p>
  <ul>
    <li>making sure your are using the most recent version of the judgment or decision</li>
    <li>following judicial restrictions on use of personal data</li>
    <li>acknowledging the source</li>
    <li>not implying official status or endorsement</li>
    <li>avoiding misrepresentations</li>
    <li>not jeopardizing the administration of justice</li>
  </ul>
  <p>
    The licence does not cover computational analysis, non-published information, emblems of the
    courts and tribunals, third party rights or personal data. It comes with no warranty.
  </p>
  <p>
    For more information you can read the full terms of the licence <a href="{% url "open_justice_licence" %}">on the Open Justice Licence page</a>
  </p>
  <h3>Licences to do computational analysis</h3>
  <p>
    If you intend to do any programmatic searching across the records to identify, extract or enrich
    contents within the records then you will need to apply for a licence.
  </p>
  <p>We issue two types of licences that permit computational analysis:</p>
  <h3>1. Research and Development licence</h3>
  <p>
    This licence facilitates the use of computational analysis of Find Case Law records for research
    purposes.
  </p>
  <h3>2. Transactional licence</h3>
  <p>
    This licence facilitated the use of computational analysis of Find Case Law records in the
    development and delivery of services and products.
  </p>
  <p>
    There is one application form for both licences. You can read more about how to apply for these
    licences <a href='{% url "computational_licence_form" %}'>here on the apply to do computational analysis page.</a>
  </p>
  <h2 id="section-review">Review and approval process</h2>
  <p>
    All applications are reviewed by The National Archives Licensing team, who may ask you for more
    details or to submit a revised application form.
  </p>
  <p>Applications are considered alongside 9 principles established by the Ministry of Justice.</p>
  <p>The 9 principles are:</p>
  <ol>
    <li>Dignity of the court</li>
    <li>Independence of the court</li>
    <li>Appropriate scrutiny</li>
    <li>Anti-discriminatory harm</li>
    <li>Anti Bias</li>
    <li>Personal Privacy</li>
    <li>Discoverability</li>
    <li>Algorithmic transparency</li>
    <li>Accurate data representation</li>
  </ol>
  <p>
    We will consider whether the purpose of your re-use is likely to jeopardise the proper administration
    of justice. Applications will be considered high risk if they use Computational analysis of judgments
    to:
  </p>
  <ul>
    <li>produce fully automated legal advice; or</li>
    <li>
      perform automation to anticipate legal decisions directly for a client or consumer, such as
      tools which set expectations for case outcomes through modelling or predictive analytics; or
    </li>
    <li>
      otherwise directly inform or influence the decision of a third-party whether to pursue justice
      or legal action.
    </li>
  </ul>
  <p>
    All applications got to discovery board before being approved. The Discovery board is a cross
    departmental board at The National Archives. The board meets every month.
    <a href="https://www.nationalarchives.gov.uk/about/our-role/boards-and-advisory-groups/discovery-board/">You can read more about the discover board on The National Archives website.</a>
  </p>
  <p>
    We may also consult the Ministry of Justice and the Senior Data Governance Panel for advice on
    whether to grant your application. They meet every 3 months. You can
    <a href="https://www.gov.uk/government/news/data-governance-panel-formed-to-improve-use-of-court-and-tribunals-data">You can read more about the Senior Data Governance Panel on the Ministry of Justice site</a>
  </p>
  <p>
    The Case Law licence team may ask you for more information. We will keep a record of all
    applications. Part of successful applications may be published in the future.
  </p>
  <h2 id="section-transferring">Transferring judgments and decisions from the courts to The National Archives</h2>
  <p>
    The National Archives receives a publication version of the judgment or decision. This means
    that any redactions
    or anonymisation needed for publication should already have been made by the court.
  </p>
  <p>
    The Judges and clerks send judgments and decisions to The National Archives as Word documents
    using a service
    called Transfer Digital Records (TDR). Only registered users can use this service.
  </p>
  <p>
    If you are a judge or clerk looking for information about how to transfer digital records,
    please email <a href="mailto:{% translate "caselaw.email" %}">{% translate "caselaw.email" %}</a>.
  </p>
  <h2 id="section-publishing">How we publish judgments and decisions</h2>
  <h3>Our due diligence</h3>
  <p>
    The Find Case Law service has a dedicated team who review every record sent to The National Archives by the Courts
    and Tribunals before it is published. Once a judgment or decision has been reviewed we immediately publish it on the
    Find Case Law service. We do this as quickly as possible.
  </p>
  <p>It may take us longer to review and publish judgments and decisions that:</p>
  <ul>
    <li>are unusually long</li>
    <li>contain reporting restrictions</li>
    <li>are received after 5pm, these will be reviewed the next working morning</li>
  </ul>
  <p>
    This team checks that the record sent by the Court or Tribunal is the version intended to be published. In the case
    that the judgment is subject to reporting restrictions they make an overall assessment on whether the version of the
    judgment supplied complies with any notice requiring anonymisation or redaction, checking whether the reporting
    restriction has been consistently applied throughout the body of the judgment e.g., consistent anonymisation of
    parties.
  </p>
  <p>
    The National Archives does not make any changes to any of the original records sent to us. Changes to judgments and
    decisions can only be made by the Courts and Tribunals.
  </p>
  <p>
    Occasionally we need to double check with the Court or Tribunal whether the version of the record that has been sent
    to us is the version they intended to publish. In these cases publication may take longer while we wait for
    confirmation from the Court or Tribunal, or for the correct version to be sent to us.
  </p>
  <p>
    This review step means it is less likely for judgments or decisions to be published in error.
    If you believe there is an error within a published judgment or decision,
    you can flag it for review by emailing caselaw@nationalarchives.gov.uk. If necessary, we will refer it back to the
    court to determine the appropriate course of action.
  </p>
  <p>
    We appreciate that speedy publication is important for many of our users. It is very unusual for judgments or
    decisions to take longer than two working days to be reviewed and published. If it has been more than two working
    days, it is more likely that we have not received the judgment or decision from the Court or Tribunal.
  </p>
  <p>
    If you believe a judgment is missing from the service and it has been more than two working days since it was handed
    down you can email <a href="mailto:{% translate "caselaw.email" %}">{% translate "caselaw.email" %}</a>.
  </p>
  <h3>Revisions</h3>
  <p>
    Over time we may receive several publication versions of the same judgment from the court. We will keep the digital
    record of all the versions, but only publish the latest version authorised by the court. Changes, refinements or
    corrections to the text of currently published judgments can only be made by the court by sending a replacement
    version of the judgment through the TDR service.
  </p>
  <h3>Take down requests</h3>
  <p>
    The National Archives take down and reclosure policy does not apply to judgments or decisions published on the Find
    Case Law Service.
  </p>
  <p>
    Once a judgment or decision has been published, we will only withdraw it from publication (or replace it with a
    revised version) if we are instructed to do so by the court or tribunal.
  </p>
  <p>
    If you believe that a judgment or decision should not be publicly available to you should contact the court or
    tribunal directly.
  </p>
  <p>
    Please refer to our full publishing policy for more details <a href='{% url "publishing_policy" %}'>{% translate "publishing_policy.title" %}</a>.
  </p>
  <h2 id="section-contact">How to contact us</h2>
  <p>
    You can get in touch by emailing
    <a href="mailto:{% translate "caselaw.email" %}">{% translate "caselaw.email" %}</a>.
  </p>
{% endblock static_content %}
