{% extends "layouts/standard_content.html" %}

{% block mobile_article_title %}
  <small>Last updated on
    <time datetime="2025-05-20">20 May 2025</time>
  </small>
  <h1>Accessibility statement for Find Case Law</h1>
{% endblock mobile_article_title %}

{% block desktop_article_title %}
  <small>Last updated on
    <time datetime="2025-05-20">20 May 2025</time>
  </small>
  <h1>Accessibility statement for Find Case Law</h1>
{% endblock desktop_article_title %}

{% block article_navigation %}
  <h3>On this page</h3>
  <ul>
    <li>
      <a href="#section-how">How accessible is this website?</a>
    </li>
    <li>
      <a href="#section-feedback">Feedback, contact information and
        reporting accessibility problems</a>
    </li>
    <li>
      <a href="#section-contact">Contacting us or visiting in person</a>
    </li>
    <li>
      <a href="#section-enforcement">Enforcement procedure</a>
    </li>
    <li>
      <a href="#section-technical-information">Technical information about this website's accessibility</a>
    </li>
    <li>
      <a href="#section-compliance">Compliance status</a>
    </li>
    <li>
      <a href="#section-burden">Disproportionate burden</a>
    </li>
    <li>
      <a href="#section-scope">Content that's not within the scope of the accessibility regulations</a>
    </li>
    <li>
      <a href="#section-preparation">Preparation of this accessibility statement</a>
    </li>
  </ul>
{% endblock article_navigation %}

{% block article_content %}

  <section>
    <p>This accessibility statement applies to the <a href="{% url 'home' %}">Find Case Law</a> service provided by The National Archives.</p>
    <p>
      Accessibility and inclusion are important to everyone at The National Archives and we want as many people
      as possible to be able to use the Case Law service. The text should be
      clear and easy to understand. You should be able to:
    </p>
    <ul>
      <li>Change colours, contrast levels and fonts.</li>
      <li>Zoom in up to 400% without the text spilling off the screen.</li>
      <li>Navigate most of the website using just a keyboard.</li>
      <li>Navigate most of the website using speech recognition software.</li>
      <li>
        Listen to most of the website using a screen reader (including the most recent versions of JAWS,
        NVDA and VoiceOver).
      </li>
    </ul>

    <p>We’ve also made the website text as simple as possible to understand.</p>
    <p> <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
    <p>
      We are continually working to improve the accessibility of our digital services, and to develop our skills in relevant standards and techniques.
      <a href="https://nationalarchives.github.io/engineering-handbook/technology/standards/accessibility/">See our current development standards</a>.
    </p>
    <p>
      As well as working with third-party accessibility specialists, most of our accessibility
      testing is conducted in-house using automated tools and the best professional judgment of our digital
      teams. We acknowledge that this approach is not perfect and recognise that we may get some things wrong.
    </p>
    <h2 id="section-how">How accessible is this website?</h2>
    <p>Some parts of this website may not be fully accessible:</p>
    <ul>
      <li>Judgments that contain images that do not have a text alternative that serves the equivalent purpose</li>
      <li>Downloadable file on the service including PDF and Microsoft Word files may not be fully accessible to screen reader software</li>
      <li>
        Information, structure, and relationships conveyed through a judgment presentation may not be programmatically determined or are available in text
      </li>
    </ul>

    <h2 id="section-feedback">Feedback, contact information and reporting accessibility problems</h2>
    <p>
      If you need information on this website in a different format, for example accessible PDF, large print,
      easy read, audio recording or Braille:
      <ul>
        <li>email <a href="mailto:webmaster@nationalarchives.gov.uk">webmaster@nationalarchives.gov.uk</a></li>
        <li>call 020 8876 3444.</li>
      </ul>
      <p>We’ll consider your request and get back to you in 10 working days.</p>
    </p>
    <p>You can also use these contact details to report accessibility problems with this website.</p>
    <p>
      If you have an accessibility need and would like to participate in user testing as we make improvements
      to our website, email <a href="mailto:uxresearch@nationalarchives.gov.uk">uxresearch@nationalarchives.gov.uk</a>.
    </p>
    <h2 id="section-contact">Contacting us or visiting in person</h2>
    <p>
      You can <a href="https://www.nationalarchives.gov.uk/contact-us/">contact us</a> by phone, email or Live
      chat. We provide information about
      <a href="https://www.nationalarchives.gov.uk/about/visit-us/">visiting in person</a>.
      People with health conditions or impairments that may impact their visit can
      <a href="https://www.nationalarchives.gov.uk/about/visit-us/information-for-disabled-visitors/">find out more about building access details</a>.
    </p>
    <h2 id="section-enforcement">Enforcement procedure</h2>
    <p>
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you are not happy with how we respond to your complaint,
      <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
    </p>
    <h2 id="section-technical-information">Technical information about this website's accessibility</h2>
    <p>
      The National Archives is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>
    <h2 id="section-compliance">Compliance status</h2>
    <p>The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>
    <p>
      This website is partially compliant with the
      <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a>
      AA standard, due to the non-compliances and exemptions listed below:
    </p>
    <h3>Non-accessible content</h3>
    <p>
      Based on sample testing of pages selected by our user experience and metrics teams, we know that the
      content listed below is non-compliant with the accessibility regulations for the following reasons:
    </p>
    <p>Non-compliance with the accessibility regulations</p>
    <ol>
      <li>Images within judgment text do not have a text alternative (Success Criterion 1.1.1 Non-text Content)</li>
      <li>
        Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text (Success Criterion 1.3.1 Info and Relationships)
      </li>
    </ol>
    <h2 id="section-burden">Disproportionate burden</h2>
    <p>Not applicable.</p>
    <h2 id="section-scope">Content that's not within the scope of the accessibility regulations</h2>
    <ul>
      <li>Judgment documents such as PDFs and Word files available on this service are faithful to their original state as submitted to us. As a result, this may mean that these documents are not fully accessible.</li>
    </ul>
    <p>
      While reproductions of items in heritage collections are
      <a href="https://www.legislation.gov.uk/uksi/2018/952/regulation/4/made">exempt from meeting the accessibility regulations</a>,
      we are investigating ways to use emerging technology to improve the data
      and accessibility of our heritage collections.
    </p>
    <h2 id="section-preparation">Preparation of this accessibility statement</h2>
    <p>This statement was prepared on 12 April 2022. It was last reviewed on 27 March 2025.</p>
    <p>This website was last tested on 11 March 2025 against the WCAG 2.2 AA standard.</p>
    <p>The test was carried out by Digital Accessibility Center (DAC). The most viewed pages were tested using automated testing tools by the DAC team. A further audit of the website was carried out to the WCAG 2.2 AA standard.</p>
  </section>
{% endblock article_content %}
