{% extends "layouts/base.jinja" %}

{% block content %}
  <div class="container">
    <h1>Components</h1>
    <p>As we create the components in jinja templates we can add them to this template to ensure they work as expected</p>
    </div>
{% endblock content %}
