{% extends "layouts/base.jinja" %}
{% from "components/card.jinja" import card_examples %}
{% from "components/button.jinja" import button_variant_examples, button_size_examples, button_href_examples, button_contrast_examples %}
{% from "components/tna_logo.jinja" import tna_logo %}
{% from "components/fcl_logo.jinja" import fcl_logo %}
{% from "components/contents.jinja" import contents_examples %}
{% from "components/navigation.jinja" import navigation_items, navigation_examples, navigation_item with context %}
{% from "components/header.jinja" import header_examples %}
{% from "components/alert.jinja" import alert_examples %}
{% from "components/breadcrumbs.jinja" import breadcrumbs_examples %}
{% from "components/document_navigation.jinja" import document_navigation %}
{% from "components/tag.jinja" import tag_examples %}
{% from "components/icon.jinja" import icon_variant_examples, icon_size_examples %}
{% from "components/hero.jinja" import hero_examples %}
{% from "components/details.jinja" import details_examples %}
{% from "components/search_input.jinja" import search_input_examples %}
{% from "components/checkboxes.jinja" import checkboxes_examples %}
{% from "components/radios.jinja" import radios_examples %}
{% from "components/select.jinja" import select_examples %}
{% from "components/documents_table.jinja" import documents_table_examples %}
{% from "components/link.jinja" import link_examples %}
{% from "components/heading.jinja" import heading_examples %}
{% from "components/pagination.jinja" import pagination_examples %}
{% from "components/banner.jinja" import banner_examples %}
{% block content %}
  {% call document_navigation(query="Query", number_of_mentions=42, page_title="Page title" ) %}
    <h2>Page title</h2>
    <p>
      <span class="visually-hidden">Best human identifer name</span>Best human identifier value
    </p>
  {% endcall %}
  <div class="components" data-document-body>
    <div data-document-navigation-start></div>
    <div class="container">
      <h1>Components</h1>
      <p>As we create the components in jinja templates we can add them to this template to ensure they work as expected</p>
      <h2>Alert</h2>
      {{ alert_examples() }}
      <h2>TNA logo Component</h2>
      {{ tna_logo() }}
      <h2>FCL logo Component</h2>
      {{ fcl_logo() }}
      <h2>Tags</h2>
      {{ tag_examples() }}
      <h2>Icons</h2>
      <h3>Sizes</h3>
      <div class="components__grid">{{ icon_size_examples() }}</div>
      <h3>Variants</h3>
      <div class="components__grid">{{ icon_variant_examples() }}</div>
      <h2>Cards</h2>
      <div class="components__grid">{{ card_examples() }}</div>
      <h2>Buttons</h2>
      <h3>Variants</h3>
      <div class="components__grid">{{ button_variant_examples() }}</div>
      <h3>Sizes</h3>
      <div class="components__grid">{{ button_size_examples() }}</div>
      <h3>With contrast</h3>
      <div class="components__grid components--contrast">{{ button_contrast_examples() }}</div>
      <h3>With href</h3>
      <div class="components__grid">{{ button_href_examples() }}</div>
      <h2>Contents</h2>
      {{ contents_examples() }}
      <h2>Details</h2>
      {{ details_examples() }}
      <h2>Checkboxes</h2>
      {{ checkboxes_examples() }}
      <h2>Radios</h2>
      {{ radios_examples() }}
      <h2>Select</h2>
      {{ select_examples() }}
      <h2>Link</h2>
      {{ link_examples() }}
      <h2>Headings</h2>
      {{ heading_examples() }}
      <h2>Pagination</h2>
      {{ pagination_examples() }}
    </div>
    <div class="container">
      <h2>Navigation</h2>
    </div>
    {{ navigation_examples() }}
    <div class="container">
      <h2>Header</h2>
    </div>
    {{ header_examples() }}
    <div class="container">
      <h2>Breadcrumbs</h2>
    </div>
    {{ breadcrumbs_examples() }}
    <div class="container">
      <h2>Hero</h2>
    </div>
    {{ hero_examples() }}
    <div class="container">
      <h2>Search input</h2>
    </div>
    {{ search_input_examples() }}
    <div class="container">
      <h2>Documents table</h2>
      {{ documents_table_examples() }}
    </div>
      <h2>Banner</h2>
    </div>
    {{ banner_examples() }}
    <div data-document-navigation-end></div>
  </div>
{% endblock content %}
{% block javascript %}
  <script type="module"
          defer
          src="{{ static('js/dist/document_navigation_links.js') }}"></script>
{% endblock javascript %}
