{% extends "layouts/standard_content.jinja" %}
{% from "components/card.jinja" import card %}
{% from "components/contents.jinja" import contents %}
{% from "components/heading.jinja" import heading %}
{% from "components/button.jinja" import button %}
{% from "components/link.jinja" import link %}
{% from "components/list.jinja" import list %}
{% from "components/search_input.jinja" import search_form, search_form_container, search_input, search_input_actions %}
{% from "components/documents_table.jinja" import document_table_row, document_table_cell, documents_table, document_table_body %}
{% from "content/courts/" ~ court.canonical_param ~ ".jinja" import description_content, understanding_content, coverage_content, court_noun_content, about_content, contents_navigation with context %}
{% macro website_link(court=None, label=None) %}
  {% if court.link %}
    {{ link(content=label or (court.name ~ " website") , href=court.link, attrs={"target": "_blank"}) }}
  {% else %}
    {{ label or "" }}
  {% endif %}
{% endmacro %}
{% block mobile_article_title %}
  {{ heading(content=court.name) }}
{% endblock mobile_article_title %}
{% block desktop_article_title %}
  {{ heading(content=court.name) }}
{% endblock desktop_article_title %}
{% block article_navigation %}
  {% call contents(title="On this page") %}
    {% call list() %}
      {{ contents_navigation() }}
    {% endcall %}
  {% endcall %}
{% endblock article_navigation %}
{% block article_content %}
  {{ description_content(start_year=court.canonical_param|get_court_start_year) }}
  {{ coverage_content() }}
  {% if documents %}
    {{ heading(content="Recent judgments", tag="h2") }}
    {% call documents_table(headings=["Case name", "Neutral citation", "Handed down"], hide_title=True, margin=True) %}
      {% for document in documents %}
        {% call document_table_body() %}
          {% call document_table_row() %}
            {% call document_table_cell(variant="text") %}
              {% call link(href=url("detail", document.slug)) %}
                {{ document.name or document.slug }}
              {% endcall %}
            {% endcall %}
            {% call document_table_cell(variant="text", label="Neutral citation") %}
              {{ document.neutral_citation | default("&mdash;", true) | safe }}
            {% endcall %}
            {% call document_table_cell(variant="text", label="Handed down") %}
              {{ formatdate(document.date) }}
            {% endcall %}
          {% endcall %}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  {% endif %}
  {{ heading(content="Search this " ~ court_noun_content() , tag="h2") }}
  <p>
    Use the search box to find specific cases from the {{ court.name }}, or visit {{ link(href=url("advanced_search") , content="Advanced search") }} to combine {{ court_noun_content() }} filters with other search criteria.
  </p>
  {% call search_form_container(margin=True) %}
    {% call search_form() %}
      <input type="hidden" name="court" value="{{ court.canonical_param }}" />
      {{ search_input(value="", placeholder="Input your search term for this " ~ court_noun_content() |trim ~ "...", button_action=url("search") , button_label="Search") }}
    {% endcall %}
  {% endcall %}
  {{ understanding_content() }}
  {{ about_content() }}
  {% call card(title="Questions about judgments from this " ~ court_noun_content(), title_tag="h2") %}
    <p>
      Please note that neither Find Case Law or The National Archives are responsible for the content of any {{ court_noun_content() }} judgments provided to us by the {{ court.name }}.
    </p>
    {% if not court|is_court_ended %}
      <p>
        If you have any queries concerning a judgment from this {{ court_noun_content() |trim }}, please {{ website_link(court=court, label="contact them directly") |trim }}.
      </p>
    {% endif %}
  {% endcall %}
{% endblock article_content %}
