{% extends "layouts/base.html" %}
{% load court_utils %}
{% block content %}
  <div class="container">
    <h1 class="listing">{{ court.name }}</h1>
    {% autoescape off %}
      {{ court.description_text_as_html }}
    {% endautoescape %}

    <h2>Documents on Find Case Law</h2>

    {% if court|get_court_judgments_count > 0 %}
      <p>
        We currently hold <a href="{% url "search" %}?{{ type }}={{ court.canonical_param }}">{{ court | get_court_judgments_count }} documents from
          the {{ court.name }}</a>, from {{ court.canonical_param | get_court_date_range }}.
      </p>
    {% else %}
      <p>We do not currently hold any documents from the {{ court.name }}.</p>
    {% endif %}

    {% if court.historic_documents_support_text_as_html %}
      <h2>Finding older documents</h2>
      {% autoescape off %}
        {{ court.historic_documents_support_text_as_html }}
      {% endautoescape %}
    {% endif %}
  </div>
{% endblock content %}
