{% extends "layouts/base.html" %}
{% load static %}

{% block page_css %}
  <link href="{% static 'css/courts_and_tribunals.css' %}" rel="stylesheet" />
{% endblock page_css %}

{% block content %}
  <div class="courts-and-tribunals container">
    <div>
      <div class="courts-and-tribunals__intro">
        <h1>Judgments and decisions by court or tribunal</h1>
        <p>
          The UK courts and tribunal system is like a legal hierarchy.  The Supreme Court is at the top, dealing with the final appeals.
          Below that, there are different courts for various legal issues, such as the Court of Appeal and the Crown Court.  Specialised
          tribunals handle specific problems like employment or immigration.  Overall, these courts and tribunals are essential for making
          fair legal decisions and resolving different types of issues.
        </p>
      </div>
      <div>
        <h2 class="courts-and-tribunals__header">Courts</h2>
      </div>
      {% for group in courts %}
        {% include "includes/courts_and_tribunals_group.html" with group=group type="court" %}
      {% endfor %}
      <div>
        <h2 class="courts-and-tribunals__header">Tribunals</h2>
      </div>
      {% for group in tribunals %}
        {% include "includes/courts_and_tribunals_group.html" with group=group type="tribunal" %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
