{% extends "layouts/standard_content.jinja" %}
{% from "components/heading.jinja" import heading %}
{% from "components/button.jinja" import button %}
{% from "components/contents.jinja" import contents %}
{% from "components/link.jinja" import link %}
{% from "components/tag.jinja" import tag, tag_grid %}
{% from "components/list.jinja" import list, list_item %}
{% block article_header %}
  {% call heading() %}
    Find Case Law Glossary
  {% endcall %}
  <p>
    Find Case Law aims to make court judgments accessible to everyone. However, legal language and court terminology can be unfamiliar, even to regular users. This glossary explains common terms you'll encounter when searching for and reading court judgments, helping you understand how our service works.
  </p>
  {% call tag_grid() %}
    {% for letter in letters %}
      {% call tag(
        size="sm",
        href=(none if letter.is_active else letter.href),
        variant=(
        "active" if letter.is_active
        else "default" if letter.has_terms
        else "disabled"
        )
        ) %}
        {{ letter.letter }}
      {% endcall %}
    {% endfor %}
  {% endcall %}
{% endblock article_header %}
{% block article_navigation %}
  {% call contents(title="On this page") %}
    {% call list() %}
      {% for term in terms %}
        {% set anchor = term.title | lower | replace(" ", "-") %}
        {% call list_item() %}
          {% call link(href="#" ~ anchor) %}
            {{ term.title }}
          {% endcall %}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  {% endcall %}
{% endblock article_navigation %}
{% block article_content %}
  {% call heading(tag="h2") %}
    Glossary of terms
  {% endcall %}
  {% for term in terms %}
    {% call heading(tag="h3") %}
      {{ term.title }}
    {% endcall %}
    <p>{{ term.meaning }}</p>
  {% endfor %}
{% endblock article_content %}
