{% extends "layouts/static_content.html" %}

{% block static_content %}
  <h1>Help and guidance</h1>
  <h2>Pages in this section</h2>

  {% include "includes/info_cards_help_guidance.html" %}

  <h2>Pages elsewhere on this site</h2>

  <div class="info-cards--light">
    <a class="info-card--light" href="{% url 'courts_and_tribunals_in_fcl' %}" aria-label="Courts and tribunals in Find Case Law">
      <h3>Courts and tribunals in Find Case Law</h3>
      <p>Learn which judgments and decisions this service provides.</p>
    </a>

    <a class="info-card--light" href="{% url 'transactional-licence-form' %}" aria-label="Re-use information from Find Case Law">
      <h3>Re-use information from Find Case Law</h3>
      <p>Read what you can and can’t do with material from this service.</p>
    </a>
  </div>

  <h2>Pages on other websites</h2>

  <div class="info-cards--light">
    <a class="info-card--light" href="https://www.nationalarchives.gov.uk/legal/cookies/" aria-label="Cookies">
      <h3>Cookies</h3>
      <p>Learn which cookies Find Case Law uses, on The National Archives website.</p>
    </a>
  </div>
{% endblock static_content %}
