{% extends "layouts/base.html" %}
{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block meta_description %}
  <meta name="description"
        content="Judgments and decisions from 2003 onwards." />
{% endblock meta_description %}

{% block robots %}
  <meta name="robots" content="nosnippet" />
{% endblock robots %}

{% block content %}
  {% include "includes/basic_search_form.html" %}
  {% include "includes/survey_banner.html" %}
  {% include "includes/info_cards_homepage.html" %}
  {% include "includes/recent_judgments.html" %}
{% endblock content %}
