{% extends "layouts/base.jinja" %}
{% from "components/button.jinja" import button %}
{% from "components/card.jinja" import card %}
{% from "components/content_container.jinja" import content_container %}
{% from "components/documents_table.jinja" import document_table_row, document_table_cell, documents_table %}
{% from "components/grid.jinja" import grid %}
{% from "components/hero.jinja" import hero %}
{% from "components/search_input.jinja" import search_form,search_form_container, search_input, search_input_footer %}
{% block content %}
  {% call hero() %}
    {% call search_form(label="Search by keyword or neutral citation", id="analytics-search-form") %}
      {% call search_form_container() %}
        <p>Use any search term including neutral citation, names and keywords</p>
        {{ search_input(label="Search by keyword or neutral citation", placeholder="Input your search term...", button_action=url("search") , button_label="Search") }}
        <a href="{{ url('how_to_search_find_case_law') }}">How to search</a>
        {% call search_input_footer() %}
          {{ button(variant="link", element_type="input", attrs={"type": "submit", "formaction": url("advanced_search") , "value": "Advanced search"}) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
  {% call content_container() %}
    {% call grid() %}
      {% call card(title="Browse by court or tribunal", url=url('courts_and_tribunals'), variant="image", image_url=static("images/HM-courts-and-tribunal-service-building-sign.jpg")) %}
        <p>View judgments and decisions from specific courts and tribunals.</p>
      {% endcall %}
      {% call card(title="How to search", variant="image", url=url('how_to_search_find_case_law'), image_url=static("images/modern-magnifying-glass.jpg")) %}
        <p>Learn how to search the full text of every judgment and decision available on Find Case Law.</p>
      {% endcall %}
      {% call card(title="Re-use Find Case Law records", url=url('transactional-licence-form'), variant="image", image_url=static("images/person-working-on-a-laptop.jpg")) %}
        <p>Find out how to gain free access to and re-use of judgments and decisions.</p>
      {% endcall %}
    {% endcall %}
    {% call documents_table(title="Recently published judgments", headings=["Neutral citation", "Handed down"], footer_button_url=url("search"), footer_button_text="View all judgments") %}
      {% for judgment in judgments %}
        {% call document_table_row() %}
          {% call document_table_cell(variant="details") %}
            {% call link(href=url("detail", judgment.slug)) %}
              {{ judgment.name }}
            {% endcall %}
            {{ judgment.court.name }}
          {% endcall %}
          {% call document_table_cell(variant="text", label="Neutral citation") %}
            {{ judgment.neutral_citation | default("&mdash;", true) | safe }}
          {% endcall %}
          {% call document_table_cell(variant="text", label="Handed down") %}
            {{ formatdate(judgment.date) }}
          {% endcall %}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  {% endcall %}
{% endblock content %}
