{% extends "layouts/base.html" %}
{% load i18n %}
{% block robots %}
{% endblock robots %}
{% block title %}
  {% translate "common.findcaselaw" %}
{% endblock title %}
{% block header %}
  <div class="page-header__flex-container container py-1">
    <div class="service-introduction">
      <span class="service-introduction__separator"></span>
      <h1 class="service-introduction__header">{% translate "common.findcaselaw" %}</h1>
      <p class="service-introduction__helper-text">{% translate "home.useservice" %}</p>
    </div>
    {% include "includes/logo.html" %}
  </div>
{% endblock header %}
{% block content %}
  {% include "includes/basic_search_form.html" %}
  {% include "includes/recent_judgments.html" %}
  {% include "includes/browse_by_court.html" %}
{% endblock content %}
