{% extends "layouts/base.html" %}
{% load i18n waffle_tags navigation_tags %}
{% block meta_description %}
  <meta name="description"
        content="Judgments and decisions from 2003 onwards." />
{% endblock meta_description %}
{% block robots %}
{% endblock robots %}
{% block title %}
  Find case law
{% endblock title %}
{% block header %}

  {% if variant_homepage %}

    {% if v1_homepage %}
      <header class="govuk-header" data-module="govuk-header">
        <div class="page-header__flex-container-beta container py-1">
          {% include "includes/beta_logo.html" with link_class="variant-1-logo-link" %}

          <div class="service-introduction">
            <span class="service-introduction__separator"></span>
            <h1 class="service-introduction__header-beta-v1">Find case law<span class="phase-banner__beta-phase">Beta</span></h1>
            <p class="service-introduction__helper-text">Judgments and decisions from 2001 onwards</p>
          </div>
          <div class="govuk-header__content">
            <nav aria-label="Menu" class="govuk-header__navigation">
              <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
                Menu
              </button>
              <ul id="navigation" class="govuk-header__navigation-list">
                <li class="{% navigation_item_class 'home' %}">
                  <a class="govuk-header__link variant-1-home-link" title="Home" href="{% url 'home' %}">
                    Home
                  </a>
                </li>
                <li class="{% navigation_item_class 'about_this_service' %}">
                  <a class="govuk-header__link variant-1-about-link"  title="About" href="{% url 'about_this_service' %}">
                    About
                  </a>
                </li>
                <li class="{% navigation_item_class 'how_to_use_this_service' %}">
                  <a class="govuk-header__link variant-1-help-link" title="Help and guidance" href="{% url 'how_to_use_this_service' %}">
                    Help and guidance
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
    {% endif %}

    {% if v2_homepage %}
      {% include "includes/beta_phase_banner.html" with link_class="variant-2-survey-link" %}
      <header class="page-header">
        <div class="page-header__flex-container container py-1">
          <div class="service-introduction">
            <span class="service-introduction__separator"></span>
            <h1 class="service-introduction__header-beta-v2">Find case law</h1>
          </div>
          {% include "includes/logo.html" with link_class="variant-2-logo-link" %}
        </div>
      </header>
    {% endif %}

    {% if v3_homepage %}
      {% include "includes/beta_phase_banner.html" with link_class="variant-3-survey-link" %}
      <header class="page-header">
        <div class="page-header__flex-container container py-1">
          <div class="service-introduction">
            <span class="service-introduction__separator"></span>
            <h1 class="service-introduction__header">Find case law</h1>
            <p class="service-introduction__helper-text">Judgments and decisions from 2001 onwards</p>
          </div>
          {% include "includes/logo.html" with link_class="variant-3-logo-link" %}
        </div>
      </header>
    {% endif %}

  {% else %}
    {% include "includes/phase_banner.html" with link_class="variant-0-survey-link" %}
    <header class="page-header">
      <div class="page-header__flex-container container py-1">
        <div class="service-introduction">
          <span class="service-introduction__separator"></span>
          <h1 class="service-introduction__header">Find case law</h1>
          <p class="service-introduction__helper-text">Judgments and decisions from 2003 onwards</p>
        </div>
        {% include "includes/logo.html" with link_class="variant-0-logo-link" %}
      </div>
    </header>
  {% endif %} {# any sort of variant #}
{% endblock header %}

{% block content %}
  {% include "includes/basic_search_form.html" %}
  {% if v3_homepage %}
    <div class="recent-judgments__container-beta-v3">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row__beta_v3_homepage">
          <div class="govuk-grid-column-two-thirds">
            {% include "includes/recent_judgments.html" %}
          </div>
          <div class="govuk-grid-column-one-third">
            {% include "includes/cards_homepage.html" %}
          </div>
        </div>
      </main>
    </div>

  {% else %}
    {% include "includes/recent_judgments.html" %}
    {% include "includes/browse_by_court.html" %}
  {% endif %}
{% endblock content %}
