{% extends "layouts/static_content.html" %}
{% block meta_description %}
  <meta name="description"
        content="You can search the full text of every judgment and decision. You can also search and browse judgments by neutral citation, court, party, judge and within a date range." />
{% endblock meta_description %}
{% block static_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-one-third">
        <h1 class="hidden-h1-mobile">How to use the Find Case Law service</h1>
        <div class="anchor-links">
          <h3 class="anchor-links__header">On this page:</h3>
          <ul class="anchor-links__list">
            <li class="anchor-links__list-option">
              <a href="#section-search">How to search</a>
            </li>
            <li class="anchor-links__list-option">
              <a href="#section-contact">How to contact us</a>
            </li>
            <li class="anchor-links__list-option">
              <a href="#section-pages">Pages in this section</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="date-time-info-page">
          <p>
            <small>Last updated on
              <time datetime="26-05-2023">26 May 2023</time>
            </small>
          </p>
        </p>
        <h1 class="hidden-h1-desktop">How to use the Find Case Law service</h1>
        <section>
          <h2 id="section-search">How to search</h2>
          <p>
            You can search the full text of every judgment and decision. You can also search and browse judgments by neutral
            citation, court, party, judge and within a date range. These options can be combined on the
            <a href="{% url "structured_search" %}">structured search</a> page.
          </p>
          <p>
            The latest published judgments and decisions are listed on the <a href="{% url "home" %}">home page</a>.
            Alternatively, you can browse
            by court and filter results.
          </p>
          <h3>Search the text of every judgment and decision</h3>
          <p>
            The search box on the <a href="{% url "home" %}">home page</a> lets you search using any search term including
            a neutral citation, name(s) and keyword(s). This will search the full text of every judgment or decision we
            have.
          </p>
          <p>
            To search for an entire phrase, enclose the phrase in double quotes, for instance <em>"tax avoidance"</em>. If you search just for the phrase <em>tax avoidance</em>, your search will return any documents with the word "tax" and the word "avoidance", even if they don't appear together.
          </p>
          <p>
            You can combine phrases with keywords in the same query, for instance: <em>"Knife crime" sentencing</em>, which would return documents which mention both the phrase "Knife crime" and the word "sentencing".
          </p>
          <p>
            You do not need to do a Boolean search &ndash; spaces in between words will act as an 'and'. Results where the
            words are closest together will appear as the most relevant at the top of the search results.
          </p>
          <h3>Search specific fields</h3>
          <p>
            Alternatively, you can search using one or more specific search terms on the <a href="{% url "structured_search" %}">structured search</a> page. You can use multiple search fields at the same time to narrow down your results. The
            search boxes search particular fields. With the exception of keyword, these boxes do not search the full text of
            judgments and decisions.
          </p>
          <h4>Neutral citation</h4>
          <p>
            The courts allocate a 'neutral citation' to judgments and decisions. This is a unique number and reference. The
            neutral citation appears at the top of the judgment or decision, and is the official way to cite a judgment or
            decision.
          </p>
          <p>Examples of neutral citations include:</p>
          <ul>
            <li>[2021] EWCA Civ 1847</li>
            <li>[2009] EWHC 2500 (Mercantile)</li>
            <li>[2021] EWCOP 18</li>
            <li>[2019] UKSC 38</li>
          </ul>
          <p>They typically include:</p>
          <ul>
            <li>The year the judgment or decision was handed down. For example: [2009]</li>
            <li>The standard court acronym. For example: EWCA is England and Wales Court of Appeal</li>
            <li>The standard acronym for the division of court. For example: Civ is Civil Division</li>
            <li>
              A unique number allocated by the individual court within a given year. For example: '1847' will be the
              unique number for the Court of Appeal Civil Division in 2021
            </li>
          </ul>
          <p>If you are struggling to find a judgment or decision using a neutral citation, first check:</p>
          <ul>
            <li>You have written the neutral citation in full</li>
            <li>There are no typos or mistakes</li>
            <li>The spaces are in the appropriate places</li>
            <li>
              This is the neutral citation allocated by the court rather than the case number or a reference number issued
              by a publisher
            </li>
          </ul>
          <p>
            You can also use neutral citations allocated by the British and Irish Legal Information Institute (BAILII) for
            judgments and decisions that do not have neutral citations allocated by the courts.
          </p>
          <p>
            If you are confident that the neutral citation is correct but are struggling to find it, it may be that we don't
            have that judgment within our collection.
          </p>
          <p>
            Find out more about our limited coverage of judgments and decisions on our
            <a href="{% url "about_this_service" %}#section-coverage">About this service</a> page.
          </p>
          <h4>Party name</h4>
          <p>
            This is the name of someone involved in the case, such as the claimant or defendant. There are often multiple
            party names listed at the top of the judgment or decision.
          </p>
          <p>
            You can use the 'party name' search field on the <a href="{% url "structured_search" %}">structured search</a> page to only search against judgments or
            decisions where the name is listed as a party. This will not search for the name within the text of all
            judgments and decisions.
          </p>
          <p>There may be multiple results if the name is listed as a party in multiple judgments or decisions.</p>
          <p>
            You can search using multiple party names at once. This means you can use this search to search by case name.
            The case name is made from some (or all) of the parties listed as the appellant and defendant.
          </p>
          <p>For example: Cape Intermediate Holdings Ltd v Dring.</p>
          <p>
            If you see a name that has been struck through on a judgment, this means that the person has withdrawn from the
            case before it was decided.
          </p>
          <h4>Keyword or phrase</h4>
          <p>You can search the full text of every judgment and decision using a specific word or short phrase.</p>
          <p>Spaces between words will act as an 'and'. Double quotation marks will search using that exact phrase only.</p>
          <h4>Judge's name</h4>
          <p>The judge(s) who decided a case will appear at the top of the judgment or decision.</p>
          <p>
            You can search by the name of the judge who has decided a case by using the 'Judge's name' box on the
            <a href="{% url "structured_search" %}">structured search</a> page. This means that it will only search for judges that have given
            a judgment or decision on a case instead of searching every reference to the name of the judge within the full text of every judgment or
            decision.
          </p>
          <p>You can use a part of the name, the whole name, or the whole name and judicial titles.</p>
          <h4>Court/Chamber</h4>
          <p>The court or chamber where the case was decided will appear at the top of the judgment or decision.</p>
          <p>
            You can browse by court or chamber division to see all the judgments and decisions we have received from that
            court.
          </p>
          <p>
            <a href="https://www.judiciary.uk/about-the-judiciary/the-justice-system/court-structure">Find out more about courts and tribunals</a>.
          </p>
          <h4>Date</h4>
          <p>The date the judgment or decision was handed down will appear at the top of the judgment or decision.</p>
          <p>You can search by date range to look for judgments and decisions within a particular time frame.</p>
          <h3>Search results</h3>
          <p>
            The search results are ordered by relevance by default - this means that the more closely the result matches the text of your query, the higher in the list it will be. You can also choose to order the results by judgment date, ascending or descending, using the drop-down menu above the results list.
          </p>
          <p>You can filter results by date range, courts/chamber, party name and judge’s name.</p>
          <h2 id="section-contact">How to contact us</h2>
          <p>
            You can get in touch by emailing
            <a href="mailto:caselaw@nationalarchives.gov.uk">caselaw@nationalarchives.gov.uk</a>.
          </p>
        </section>
      </div>
    </div>
  </div>
  <h2 id="section-pages"></h2>

  {% include "includes/info_cards_about_find_case_law.html" %}
{% endblock static_content %}
