{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "openjusticelicence.title" %} - {% translate "common.findcaselaw" %}
{% endblock %}

{% block content %}
  {% translate "openjusticelicence.title" as page_title %}
  <header class="page-header">
    {% include 'includes/breadcrumbs.html' with current=page_title title=page_title link=request.path %}
    {% include 'includes/logo.html' %}
  </header>

  <div class="standard-text-template">

    <h1>Open Justice Licence</h1>

    <div class="anchor-links">
      <h3 class="anchor-links__header">Information on this page:</h3>
      <ul class="anchor-links__list">
        <li class="anchor-links__list-option"><a href="#section-purpose">Purpose of this licence</a></li>
        <li class="anchor-links__list-option"><a href="#section-information">Using Information under this licence</a>
        </li>
        <li class="anchor-links__list-option"><a href="#section-exclusions">Exclusions</a></li>
        <li class="anchor-links__list-option"><a href="#section-no-warranty">No warranty</a></li>
        <li class="anchor-links__list-option"><a href="#section-governing">Governing Law</a></li>
        <li class="anchor-links__list-option"><a href="#section-definitions">Definitions</a></li>
        <li class="anchor-links__list-option"><a href="#section-about">About the Open Justice Licence</a></li>
      </ul>
    </div>

    <h2 id="section-purpose">Purpose of this licence</h2>
    <p>Open justice is a fundamental constitutional principle and necessary for the rule of law. The purpose of this
      licence is to support open justice.</p>
    <h2 id="section-information">Using Information under this licence</h2>
    <p>You are able to use and re-use the Information that is available under this licence freely. There are some
      conditions to protect the proper administration of justice.</p>
    <p>Use of copyright and database right material made available under this licence (the ‘Information’) indicates your
      acceptance of the terms and conditions below.</p>
    <p>The Licensor grants you a worldwide, royalty-free, non-exclusive licence to use the Information subject to the
      conditions below.</p>
    <p>This licence does not affect your freedom under fair dealing or fair use or any other copyright or database right
      exceptions and limitations.</p>
    <p>You are free to:</p>
    <ul>
      <li>copy, publish, distribute and transmit the Information;</li>
      <li>exploit the Information commercially, for example, by combining it with other Information, or by including it
        in your own product or application.
      </li>
    </ul>
    <p>You must (where you do any of the above):</p>
    <p>Use the current version of the Information (as published by the Keeper of Public Records on The National Archives
      website) and in particular, but not exhaustively:</p>
    <ul>
      <li>comply with any judicial decision that restricts the use of personal data within the Information;</li>
      <li>
        remove from publication any documents you are using under this licence, that are subsequently no longer
        published by the Keeper of Public Records on The National Archives website, or have been replaced by a revised
        version from the Courts or Tribunals
      </li>
      <li>
        acknowledge the source of the Information by including the following attribution statement and, where possible,
        provide a link to this licence;
        <ul>
          <li>Contains information licensed under the Open Justice - Licence v1.0.</li>
        </ul>
      </li>
      <li>
        ensure that you do not use the Information in a way that suggests any official status or that the Licensor
        endorses you or your use of the Information;
      </li>
      <li>
        ensure that you (i) do not mislead others or misrepresent the Information or its source; (ii) do not present the
        Information in a way that does not have regard to the dignity of the Courts or Tribunals, or to their function
        as working bodies; and (iii) do not use the Information in any way that jeopardises the proper administration of
        justice;
      </li>
    </ul>
    <p>These are important conditions of this licence and if you fail to comply with them the rights granted to you
      under this licence, or any similar licence granted by the Licensor, will end automatically.</p>
    <h2 id="section-exclusions">Exclusions</h2>
    <p>This licence does not cover:</p>
    <ul>
      <li>
        computational analysis of the Information (including indexing by search engines);
      </li>
      <li>
        information that has neither been published nor disclosed under information access legislation (including the
        Freedom of Information Acts for the UK and Scotland) by or with the consent of the Licensor;
      </li>
      <li>
        emblems and insignia of the courts and tribunals;
      </li>
      <li>
        third party rights the Licensor is not authorised to license; and
      </li>
      <li>
        information subject to other intellectual property rights, including patents, trademarks, and design rights.
      </li>
    </ul>
    <p>For the avoidance of doubt:</p>
    <ul>
      <li>this licence is not a data sharing agreement for personal data; and</li>
      <li>this licence is not a processing agreement for personal data.</li>
    </ul>
    <p>Data Controllers will need to satisfy themselves that they have a legal basis and valid purpose for processing
      personal data.</p>
    <h2 id="section-no-warranty">No warranty</h2>
    <p>The Information is licensed ‘as is’ and the Licensor excludes all representations, warranties, obligations and
      liabilities in relation to the Information to the maximum extent permitted by law.</p>
    <p>The Licensor is not liable for any errors or omissions in the Information and shall not be liable for any loss,
      injury or damage of any kind caused by its use.</p>
    <p>The Licensor does not guarantee the continued supply of the Information.</p>
    <h2 id="section-governing">Governing Law</h2>
    <p>This licence is governed by the laws of England and Wales.</p>


    <h2 id="section-definitions">Definitions</h2>
    <p>In this licence, the terms below have the following meanings:</p>
    <ul>
      <li>‘Information’ means information protected by copyright or by database right offered for use under the terms of
        this licence, namely court judgments and tribunal decisions published by the Keeper of Public Records on The
        National Archives website.
      </li>
      <li>‘Licensor’ means (a) in relation to copyright, the Keeper of Public Records, and (b) in relation to database
        right, the Keeper of Public Records.
      </li>
      <li>‘Use’ as a verb, means doing any act which is restricted by copyright or database right, whether in the
        original
        medium or in any other medium, and includes without limitation distributing, copying, adapting, modifying as may
        be technically necessary to use it in a different mode or format.
      </li>
      <li>‘You' means the natural or legal person, or body of persons corporate or incorporate, acquiring rights under
        this licence.
      </li>
    </ul>

    <h2 id="section-about">About the Open Justice Licence</h2>
    <p>This is version 1.0 of the Open Justice Licence. The Licensor may, from time to time, issue new versions of the
      Open Justice Licence.</p>
    <p>The Information licensed under the Open Justice Licence includes court judgments and tribunal decisions in which
      Crown copyright subsists.</p>
    <p>Further context, best practice and guidance relating to the re-use of public sector information can be found in
      the <a
              href="{% translate "licensingframework.link" %}">UK
        Government Licensing Framework section</a> on The National Archives website.
    </p>
  </div>
{% endblock %}
