{% extends "base.html" %}

{% block content %}

  <header class="page-header">
    <div class="page-header__breadcrumb">
      <nav class="page-header__breadcrumb-container" aria-label="Breadcrumb">
        <ol>
          <li><a href="https://www.nationalarchives.gov.uk">Home</a></li>
          <li><a href="/">Find case law</a></li>
          <li><a href="{{ request.url }}" aria-current="page">Open Justice Licence</a></li>
        </ol>
      </nav>
    </div>

    {% include 'includes/logo.html' %}

  </header>

  <div class="standard-text-template">
    <h1>Open Justice Licence</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam beatae eveniet facere illum impedit iste
      iure modi,
      neque nesciunt optio pariatur placeat quisquam quod quos recusandae, unde vel veritatis! Lorem ipsum dolor sit
      amet,
      consectetur adipisicing elit. Debitis deleniti dignissimos et harum magnam natus saepe sequi?
      Aperiam assumenda at commodi delectus dignissimos dolore doloremque eius nobis sapiente unde.
      Animi aut ipsa non officia pariatur possimus provident quas rem sapiente, suscipit.
      Aliquid atque dolores ex libero maxime mollitia possimus temporibus!
    </p>
    <p>You are free to:</p>
    <ul>
      <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis, culpa
        cumque dignissimos eaque esse facere inventore laborum molestias nihil nobis quae quas voluptates voluptatibus.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, qui!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ea nostrum quo, sunt ut?</li>
    </ul>
    <p>You must (where you do any of the above):</p>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, qui!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ea nostrum quo, sunt ut?</li>
    </ul>

    <h2>Exemptions</h2>
    <p>This licence does not cover the use of:</p>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, qui!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ea nostrum quo, sunt ut?</li>
    </ul>

    <h2>No warranty</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut dolorum harum qui ullam! Deserunt
      eum incidunt iure natus perferendis quaerat rem. Doloribus ducimus ex, minus molestiae rem suscipit
      voluptatibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur corporis dolor dolorum
      ducimus fugiat minus nobis quaerat voluptate voluptates. Atque autem, dignissimos esse facere,
      facilis magnam neque nobis nulla perferendis quaerat, ratione repellat sit! Animi distinctio nam nemo.
    </p>

    <h2>Governing Law</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>

    <h2>Definitions</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae, blanditiis corporis deserunt
      dignissimos iste libero maiores, nam neque non, optio quasi sapiente sit!
    </p>

    <h2>About the Open Justice Licence</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus explicabo iste laboriosam placeat
      quaerat recusandae,
      sed sunt voluptas voluptate. Atque illum magni nulla voluptate? Deleniti, vel, vitae. Eum fugiat laborum quibusdam
      saepe.
      Atque laborum numquam quaerat quos totam? Dicta, ea eius eos explicabo iusto labore libero magnam,
      minima nemo omnis provident repellendus veritatis, vitae. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda, atque aut consectetur dolorum eius eos
      esse
      impedit, itaque maiores maxime minima numquam omnis perferendis praesentium rerum sit tenetur, voluptatibus!
    </p>
  </div>
{% endblock %}
