{% extends "base.html" %}

{% block title %}
  Judgment sources - Find case law
{% endblock title %}

{% block content %}

  <header class="page-header">
    <div class="page-header__breadcrumb">
      <nav class="page-header__breadcrumb-container" aria-label="Breadcrumb">
        <ol>
          <li><a href="https://www.nationalarchives.gov.uk">Home</a></li>
          <li><a href="/">Find case law</a></li>
          <li><a href="{{ request.url }}" aria-current="page">Judgment sources</a></li>
        </ol>
      </nav>
    </div>

    {% include 'includes/logo.html' %}

  </header>

  <div class="sources">
    <div class="sources__container">
      <h1>Judgment sources</h1>
      <p>Sources for judgments provided via this system are listed below.</p>
      <ul class="sources__list" >
        {% for source in sources %}
          <li id="{{ source.id }}">
            <span class="sources__name">{{ source.name }}</span>
            <span class="sources__description">
              [Details of the source and information about the judgments they have provided for inclusion in the system]
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
