{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% translate "judgmentsources.title" %} - {% translate "common.findcaselaw" %}
{% endblock title %}

{% block content %}
  {% translate "judgmentsources.title" as page_title %}
  <header class="page-header">
    {% include 'includes/breadcrumbs.html' with current=page_title title=page_title link=request.path %}
    {% include 'includes/logo.html' %}
  </header>

  <div class="sources">
    <div class="sources__container">
      <h1>{{ page_title }}</h1>
      <p>Sources for judgments provided via this system are listed below.</p>
      <ul class="sources__list" >
        {% for source in sources %}
          <li id="{{ source.id }}">
            <span class="sources__name">{{ source.name }}</span>
            <span class="sources__description">
              [Details of the source and information about the judgments they have provided for inclusion in the system]
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
