{% extends "layouts/base.html" %}
{% load errors search_results_filters %}
{% block title %}
  Structured search - Find Case Law
{% endblock title %}
{% block content %}
  <form action="{% url "search" %}"
        role="search"
        id="analytics-structured-search"
        method="get">
    <div class="structured-search">

      {% include "includes/search/structured_search_form.html" %}

      {% if form.errors %}
        <div class="structured-search__container">
          <div class="page-notification--failure">{{ form.errors|error_messages }}</div>
        </div>
      {% endif %}

      {% include "includes/results_filters_inputs.html" %}
    </div>
  </form>
{% endblock content %}
