{% extends "layouts/base.html" %}
{% load i18n errors search_results_filters %}
{% block title %}
  {% translate "structured_search.title" %} - Find case law
{% endblock title %}
{% block content %}
  <form action="{% url "search" %}"
        role="search"
        id="analytics-structured-search"
        method="get">
    <div class="structured-search">
      <div class="structured-search__main-search">
        <div class="structured-search__container">
          <h1 class="structured-search__main-search-header">Structured search</h1>
          <div class="structured-search__full-text-panel search-term-component">
            {% csrf_token %}
            {{ form.query }}
            <input type="submit" action="{% url 'search' %}">
          </div>
        </div>
      </div>
      {% if context.errors|has_errors %}
        <div class="page-notification--failure">{{ context.errors|error_messages }}</div>
      {% endif %}
      <div class="structured-search">
        <div id="js-results-facets"
             class="structured-search__filter-options js-results-facets">
          <div class="structured-search__container">{% include "includes/results_filters_inputs.html" %}</div>
        </div>
      </div>
    </div>
  </form>
{% endblock content %}
