{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "search.title" %} - {% translate "commom.findcaselaw" %}
{% endblock title %}

{% block content %}
  {% translate "search.title" as page_title %}

  <header class="page-header">
    {% include 'includes/breadcrumbs.html' with current=page_title title=page_title link=request.path %}
    {% include 'includes/logo.html' %}
  </header>

  <form action="{% url 'advanced_search' %}" role="search" id="analytics-structured-search" method="get">
    <div class="structured-search">
      <div class="structured-search__main-search">
        <div class="structured-search__container">
          <h1 class="structured-search__main-search-header">Structured search</h1>
          <div class="structured-search__full-text-panel">
            <input class="structured-search__search-term-input desktop" id="search_term" name="query" type="text" value="" placeholder="{% translate "basicsearchform.placeholder" %}">
            <label for="search_term" class="structured-search__search-term-label mobile">{% translate "basicsearchform.placeholder" %}</label>
            <label for="search_term" class="structured-search__full-text-label">Search</label>
            <input class="structured-search__search-term-input mobile" id="search_term" name="query_mobile" type="text" value="" placeholder="Search">
            <input type="submit" value="{%  translate "basicsearchform.cta" %}">
          </div>
        </div>
      </div>
      <div class="structured-search">

        <div class="structured-search__filter-options js-results-facets">
          <div class="structured-search__container">
            {% include 'includes/structured_search_additional_inputs.html' %}
            {% include 'includes/results_filters_inputs.html' %}
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
