{% extends "layouts/base.html" %}
{% load static i18n %}
{% block title %}
  Style Guide
{% endblock title %}
{% block content %}
  <div class="standard-text-template container py-3">
    <h2>
      <b>Find case law UI style guide</b>
    </h2>
    <h3>
      This page is a repository of UI elements used on the site. Developers can copy the code to add these components to FCL projects.
    </h3>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third sticky-menu">
        <ul class="govuk-list">
          {% for menu_item in menu_items %}
            <li>
              <h2>
                <a class="govuk-link govuk-heading-s govuk-link--no-visited-state" href="{{ menu_item.href }}">{{ menu_item.label }}</a>
              </h2>
              {% if menu_item.children %}
                <ul class="govuk-list">
                  {% for sub_menu_item in menu_item.children %}
                    <li>
                      <a class="govuk-link govuk-body-s govuk-link--no-visited-state" href="{{ sub_menu_item.href }}">{{ sub_menu_item.label }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>

      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 id="colours">Colours</h2>
        {% include "includes/style_guide/colours.html" %}
        <h2 id="components">Components</h2>
        {% include "includes/style_guide/breadcrumbs.html" %}
        <hr/>
        {% include "includes/style_guide/character_count.html" %}
        <hr/>
        {% include "includes/style_guide/checkboxes.html" %}
        <hr/>
        {% include "includes/style_guide/detail_box.html" %}
        <hr/>
        {% include "includes/style_guide/important_information_box.html" %}
        <hr/>
        {% include "includes/style_guide/information_text.html" %}
        <hr/>
        {% include "includes/style_guide/judgment_header.html" %}
        <hr/>
        {% include "includes/style_guide/notification_banners.html" %}
        <hr/>
        {% include "includes/style_guide/radios.html" %}
        <hr/>
        {% include "includes/style_guide/results_filters_inputs.html" %}
        <hr/>
        {% include "includes/style_guide/search_form.html" %}
        <hr/>
        {% include "includes/style_guide/search_term.html" %}
        <hr/>
        {% include "includes/style_guide/structured_search.html" %}
        <hr/>
        {% include "includes/style_guide/summary_card.html" %}
        <hr/>
        {% include "includes/style_guide/text_input.html" %}
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
        <h2 id="spacing">Spacing</h2>
        {% include "includes/style_guide/spacing.html" %}
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
        <h2 id="typography">Typography</h2>
        {% include "includes/style_guide/font_family.html" %}
        {% include "includes/style_guide/font_sizes.html" %}
        {% include "includes/style_guide/font_weights.html" %}
        {% include "includes/style_guide/headings.html" %}
        {% include "includes/style_guide/line_heights.html" %}
      </div>
    </div>
  </div>
{% endblock content %}
