{% extends "layouts/standard_content.jinja" %}
{% from "components/heading.jinja" import heading %}
{% from "components/card.jinja" import card %}
{% from "components/content_container.jinja" import content_container %}
{% from "components/documents_table.jinja" import document_table_row, document_table_cell, documents_table %}
{% from "components/grid.jinja" import grid %}
{% block article_content %}
  {% call heading(size="h1") %}
    Terms and policies
  {% endcall %}
  {% call heading(size="h2") %}
    Pages in this section
  {% endcall %}
  {% call grid() %}
    {% call card(title="Accessibility statement", url=url('accessibility_statement')) %}
      <p>Find out how we work to make Find Case Law accessible and inclusive.</p>
    {% endcall %}
    {% call card(title="Publishing policy", url=url('publishing_policy')) %}
      <p>Read how Find Case Law receives and publishes judgments and decisions.</p>
    {% endcall %}
    {% call card(title="Terms of use", url=url('terms_of_use')) %}
      <p>Learn what you may do with material from this service.</p>
    {% endcall %}
  {% endcall %}
  <br />
  {% call heading(size="h2") %}
    Pages elsewhere on this site
  {% endcall %}
  {% call grid() %}
    {% call card(title="Contact us", url=url('contact_us'), variant="ghost") %}
      <p>Find out how you can contact the Find Case Law team.</p>
    {% endcall %}
    {% call card(title="Courts and tribunals in Find Case Law", url=url('courts_and_tribunals_in_fcl'), variant="ghost") %}
      <p>Learn which judgments and decisions this service provides.</p>
    {% endcall %}
    {% call card(title="Re-use Find Case Law records", url=url('transactional-licence-form'), variant="ghost") %}
      <p>Read what you can and can’t do with material from this service.</p>
    {% endcall %}
  {% endcall %}
  <br />
  {% call heading(size="h2") %}
    Pages on other websites
  {% endcall %}
  {% call grid() %}
    {% call card(title="Cookies", url='https://www.nationalarchives.gov.uk/legal/cookies/', variant="ghost") %}
      <p>Find out how you can contact the Find Case Law team.</p>
    {% endcall %}
  {% endcall %}
{% endblock article_content %}
