{% extends "base.html" %}

{% block content %}
  <div class="breadcrumb">
    <nav class="breadcrumb__container" aria-label="Breadcrumb">
      <ol>
        <li><a href="https://www.nationalarchives.gov.uk">Home</a></li>
        <li><a href="{% url 'home' %}" aria-current="page">{{ service.name }}</a></li>
        <li><a href="{% url 'terms_of_use' %}" aria-current="page">Terms of use</a></li>
      </ol>
    </nav>
  </div>
  <div class="terms-of-use">
    <h1>Terms of use</h1>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, beatae consequuntur, delectus deleniti
      dolorem eius hic id iure laudantium maiores, modi ratione recusandae similique. Autem itaque quidem veniam
      vitae voluptatibus.
    </div>
    <div>
      Asperiores blanditiis cumque debitis delectus dolor ea earum error eum impedit in libero molestiae neque
      nostrum nulla, officia possimus rem sed vero. Ab adipisci ipsa unde. Deleniti et porro voluptas.
    </div>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <div>
      Aspernatur, beatae commodi, cumque distinctio eos in incidunt libero modi nam nostrum nulla praesentium
      rem, vel! A accusamus, consectetur deserunt eos, libero, nesciunt possimus repudiandae rerum suscipit vel
      veritatis voluptatum?
    </div>
    <div>
      Ab at eligendi eos fuga impedit, non officiis provident. Accusamus autem blanditiis cumque et eum eveniet
      ex fuga iure modi obcaecati odio officiis quam quos repellat repellendus tenetur, vitae voluptas.
    </div>
    <div>
      Accusamus, aperiam aut autem error explicabo incidunt ipsam neque obcaecati omnis, quaerat qui sed sit
      totam ut voluptate! Amet distinctio dolor ducimus inventore minima nihil odio quaerat quam recusandae totam.
    </div>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <div>
      Accusamus at dolore dolorem enim eos error et explicabo fugit harum id ipsa labore natus nostrum, obcaecati
      quia quis veniam voluptas voluptate, voluptatem, voluptatum. Error excepturi fuga nisi quam vitae!
    </div>
    <div>
      Dolores ea eaque eius enim ipsum maiores nostrum optio quia rerum suscipit. Error ipsum iste magnam, quis
      quisquam repellat vitae? Aliquid corporis debitis dolor, earum esse pariatur perspiciatis recusandae sint.
    </div>
    <div>
      Adipisci consequatur enim quae quisquam! Accusamus ad adipisci amet consequatur dicta dignissimos dolorem
      eaque illum itaque iure magnam magni nam nemo, neque qui quibusdam quisquam, quod sed, tenetur vitae.
      Dolore!
    </div>
    <div>
      Adipisci, aut beatae dicta earum, eius est et incidunt iste labore libero maxime minima modi mollitia nam
      pariatur perspiciatis quam repellendus reprehenderit sed voluptate! Accusantium dolores eius optio quae sit!
    </div>
    <div>
      Aliquid asperiores consequatur dicta dignissimos esse expedita fuga in, iusto optio, possimus quidem, quos
      recusandae repellat. Asperiores consequatur delectus in iusto? Aspernatur, est explicabo fuga minima
      perspiciatis possimus rem saepe.
    </div>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <div>
      A, alias aliquam at, culpa dignissimos distinctio dolor ducimus ea fugit impedit in ipsa iusto labore
      laborum natus nemo nesciunt perferendis porro quae quaerat quam quasi rem saepe tempora vel.
    </div>
    <div>
      Dolorum nesciunt, praesentium! Aperiam, aspernatur enim eveniet incidunt minima possimus quos? Adipisci at
      deserunt dolorem doloremque eligendi fugiat illum, impedit inventore, ipsum nostrum, numquam odit quam
      tempore vel vero voluptas.
    </div>
    <div>
      Ab amet aperiam cum, dolorum ea eius eligendi error esse illo itaque iure laboriosam, maiores maxime
      necessitatibus non optio pariatur possimus quis quisquam quo totam ut voluptas voluptates voluptatibus
      voluptatum!
    </div>
    <div>
      Asperiores, autem commodi consequatur dicta ea error est fuga mollitia nisi, placeat ratione sequi soluta,
      suscipit. Assumenda consectetur dolores nemo nobis pariatur quae recusandae voluptatum? Laborum mollitia
      quaerat quam ullam?
    </div>
    <div>
      Consequuntur dignissimos ea excepturi necessitatibus non officia similique ut! Alias numquam officia
      provident tempore vero! A amet consequatur dolorum magni nam. Ab earum eum fuga numquam quod repellat
      voluptas! Rerum.
    </div>
  </div>
{% endblock %}
