{% extends "layouts/base.html" %}
{% load waffle_tags %}
{% block title %}
    Test Page, Please Ignore
{% endblock title %}
{% block content %}
    <div class="standard-text-template container py-3">
        <h2>
            <b>Test Page, Please Ignore</b>
        </h2>
        <h3>Options</h3>

        <a href="?dwft_variant_homepage=0&dwft_v1_homepage=0&dwft_v2_homepage=0&dwft_v3_homepage=0">0-000 (0)</a>
        <a href="?dwft_variant_homepage=0&dwft_v1_homepage=1&dwft_v2_homepage=1&dwft_v3_homepage=1">0-111 (0)</a>
        <br>
        <a href="?dwft_variant_homepage=1&dwft_v1_homepage=1&dwft_v2_homepage=0&dwft_v3_homepage=0">1-100 (1)</a>
        <a href="?dwft_variant_homepage=1&dwft_v1_homepage=0&dwft_v2_homepage=1&dwft_v3_homepage=0">1-010 (2)</a>
        <a href="?dwft_variant_homepage=1&dwft_v1_homepage=0&dwft_v2_homepage=0&dwft_v3_homepage=1">1-001 (3)</a>
        <br>
        <a href="?dwft_variant_homepage=1&dwft_v1_homepage=1&dwft_v2_homepage=0&dwft_v3_homepage=1">1-101 (1)</a>
        <a href="?dwft_variant_homepage=1&dwft_v1_homepage=1&dwft_v2_homepage=1&dwft_v3_homepage=0">1-110 (1)</a>
        <a href="?dwft_variant_homepage=1&dwft_v1_homepage=1&dwft_v2_homepage=1&dwft_v3_homepage=1">1-111 (1)</a>
        <a href="?dwft_variant_homepage=1&dwft_v1_homepage=0&dwft_v2_homepage=1&dwft_v3_homepage=1">1-011 (2)</a>

        <h3>Variant status</h3>
        <p class="test_variant" value="{{ variant_homepage }}">variant_homepage: {% if variant_homepage %}yes{% else %}no{% endif %}</p>
        <p class="test_v1" value="{{ v1_homepage }}">v1_homepage: {% if v1_homepage %}yes{% else %}no{% endif %}</p>
        <p class="test_v2" value="{{ v2_homepage }}">v2_homepage: {% if v2_homepage %}yes{% else %}no{% endif %}</p>
        <p class="test_v3" value="{{ v3_homepage }}">v3_homepage: {% if v3_homepage %}yes{% else %}no{% endif %}</p>

    </div>
{% endblock content %}
