{% extends "layouts/static_content.html" %}
{% load i18n %}
{% block static_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-one-third">
        <h1 class="hidden-h1-mobile">The Find Case Law API</h1>
        <div class="anchor-links">
          <h3 class="anchor-links__header">On this page</h3>
          <ul class="anchor-links__list">
            <li class="anchor-links__list-option">
              <a href="#section-what">What the Find Case Law API does</a>
            </li>
            <li class="anchor-links__list-option">
              <a href="#section-specifications">API specifications</a>
            </li>
            <li class="anchor-links__list-option">
              <a href="#section-feedback">Give us your feedback</a>
            </li>
            <li class="anchor-links__list-option">
              <a href="#section-interested-in">You may also be interested in</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="date-time-info-page">
          <small>Last updated on
            <time datetime="20-14-2024">16th September2024</time>
          </small>
        </p>
        <h1 class="hidden-h1-desktop">The Find Case Law API</h1>
        <section>
          <h2 id="section-what">What the Find Case Law API does</h2>
          <p>The Find Case Law API allows you to access court judgments and tribunal decisions held by Find Case Law as data.</p>
          <p>‘API’ stands for ‘Application Programming Interface’, meaning software that allows two computer applications to share information.</p>
          <p>
            Our API provides access to judgments and decisions held by Find Case Law that have been converted from Microsoft Word documents into XML, a machine-readable file format. These have been automatically marked up according to
            <a href="https://groups.oasis-open.org/communities/tc-community-home2?CommunityKey=3425f20f-b704-4076-9fab-018dc7d3efbe">the international data standard, LegalDocML</a>, and validated by our legal editorial team. This data includes:
            <ol>
              <li>Neutral citation</li>
              <li>Court / Chamber</li>
              <li>Date</li>
              <li>Case Name</li>
              <li>Party Names</li>
              <li>Judges Names</li>
            </ol>
          </p>
          <p>
            The Find Case Law API makes this LegalDocML data accessible through <a href="https://en.wikipedia.org/wiki/Atom_(web_standard)">Atom feeds</a>, which allow you to keep track of recently published or updated judgments.
            You can find more details and guidelines in our <a href="https://nationalarchives.github.io/ds-find-caselaw-docs/public">API documentation</a> .
          </p>

        </section>
      </div>
    </div>
  </div>
  <h2 id="section-interested-in"></h2>

  {% include "includes/info_cards_find_case_law_api.html" %}
{% endblock static_content %}
