{% extends "layouts/static_content.html" %}
{% load static i18n %}
{% block meta_description %}
  <meta name="description"
        content="You need to complete an application form if you intend to use Court Judgments and/or Tribunal Decisions information in a way that is outside the terms of the Open Justice Licence." />
{% endblock meta_description %}
{% block static_content %}
  <h1>Apply to do computational analysis</h1>
  <p>
    You need to apply for a licence if you would like to programmatically analyse Find Case Law records
    as data. Licences are free. Please complete the
    <a href="{% static '/documents/Find_Case_Law_Computational_Analysis_Licence_Application_Form.docx' %}">
      downloadable application form (Microsoft Word 85.7 KB)
    </a>
  </p>
  <p>There are two types of licences we issue that permit computational analysis:</p>
  <ol>
    <li>Research and development licence</li>
    <li>Transactional licence</li>
  </ol>
  <p>
    There is one application form for both licences. The application form is made up of 5 sections
    including :
  </p>
  <ul>
    <li>Contact</li>
    <li>About your organisation</li>
    <li>Purpose and activities</li>
    <li>Public statement</li>
    <li>Statements and Principles</li>
  </ul>
  <p>
    You can read more about case law as data and licences: <a href="https://caselaw.nationalarchives.gov.uk/about-this-service#section-data">https://caselaw.nationalarchives.gov.uk/about-this-service#section-data</a>.
  </p>
  <h2>Before you start</h2>
  <h3>1. Check you need to apply</h3>
  <p>
    You only need to apply for a licence if you intend to use computational analysis in your re-use of Find
    Case Law records in ways that are not already permitted under the Open Justice Licence.
    The Open Justice licence permits certain re-uses without the need to apply for an additional licence, for example, when you want to:
  </p>
  <ul>
    <li>copy, publish, distribute and transmit the Information;</li>
    <li>
      exploit the Information commercially, for example, by combining it with other Information,
      or by including it in your own product or application.
    </li>
  </ul>
  <p>
    More information can be found:  <a href="https://caselaw.nationalarchives.gov.uk/open-justice-licence">Open Justice Licence - Find case law (nationalarchives.gov.uk)</a>.
  </p>
  <h3>2. Check whether your application is likely to be considered high risk</h3>
  <p>Computational analysis of judgments is currently considered high-risk when it is used to:</p>
  <ul>
    <li>produce fully automated legal advice; or</li>
    <li>
      perform automation to anticipate legal decisions directly for a client or consumer, such as
      tools which set expectations for case outcomes through modelling or predictive analytics; or
    </li>
    <li>
      otherwise directly inform or influence the decision of a third-party whether to pursue justice
      or legal action.
    </li>
  </ul>
  <h3>3. Make sure your re-use complies with all existing regulations</h3>
  <p>
    Examples include the Legal Services Act (LSA), and UK General Data Protection Regulation (UKGDPR).
    Please note that this licence:
  </p>
  <ul>
    <li>is not a data sharing agreement for personal data</li>
    <li>is not a processing agreement for personal data</li>
  </ul>
  <h3>4. Part of your application may be published</h3>
  <p>
    We keep a record of all applications. If your application is successful your answers to the questions
    in the ‘About your organisation’, ‘Purpose and activity’ and ‘public statement’ sections may be made
    publicly available in the future.
  </p>
  <h2>Information you will need to apply</h2>
  <h3>1. The details of the person responsible for the licence</h3>
  <p>
    They should be someone who is senior in your organisation and will be responsible for licence
    application and compliance. They will need to be someone we can talk to if we have questions about
    the application.
  </p>
  <ul>
    <li>their name</li>
    <li>their email</li>
  </ul>
  <h3>2. The details of your organisation including:</h3>
  <ul>
    <li>legal name of your organisation</li>
    <li>what type of organisation is it (e.g. private limited company or registered charity)</li>
  </ul>
  <h3>3. A public statement</h3>
  <p>
    This statement should describe the purpose for your re-use of Find Case Law records and
    summarises including:
  </p>
  <ul>
    <li>anticipated outcomes</li>
    <li>individuals or communities served</li>
    <li>methodology or activities used to analyse the records</li>
  </ul>
  <p>
    Details of your organisation and the public statement you submit as part of your application may be
    published in the future.
  </p>
  <h3>4. Read the 9 principles</h3>
  <p>
    There are 9 principles that have been established by the Ministry of Justice that may be relevant to
    our decision about whether to grant a licence. Please be prepared to give details of any
    considerations you have made in relation to these principles.
  </p>
  <p>The 9 principles are:</p>
  <ol>
    <li>Dignity of the court</li>
    <li>Independence of the court</li>
    <li>Appropriate scrutiny</li>
    <li>Anti-discriminatory harm</li>
    <li>Anti Bias</li>
    <li>Personal Privacy</li>
    <li>Algorithmic transparency</li>
    <li>Accurate data representation</li>
  </ol>
  <p>
    <b>Important Note:</b> Please answer all questions in the application form. Please do not include any
    sensitive or financial information as part of your application. There will be the opportunity to leave
    further comments at the end of the application.
  </p>
  <p>
    Download the
    <a href="{% static '/documents/Find_Case_Law_Computational_Analysis_Licence_Application_Form.docx' %}">
      application form (Microsoft Word 85.7 KB)
    </a>
  </p>
  <p>Complete and send to the case law licencing team.</p>
  <p>
    You can read more about how the licences are reviewed here: <a href="https://caselaw.nationalarchives.gov.uk/about-this-service#section-data">https://caselaw.nationalarchives.gov.uk/about-this-service#section-data</a>.
  </p>
  <h2>Contact</h2>
  <p>
    If you're not sure what licence applies or what information we need please contact the licence team:  <a href="mailto:{% translate "caselawlicence.email" %}">{% translate "caselawlicence.email" %}</a>
  </p>
{% endblock static_content %}
