{% extends "layouts/standard_content.html" %}
{% load court_utils %}

{% block mobile_article_title %}
  <small>Last updated on
    <time datetime="2025-07-03">3 July 2025</time>
  </small>
  <h1>User research for Find Case Law</h1>
{% endblock mobile_article_title %}

{% block desktop_article_title %}
  <small>Last updated on
    <time datetime="2025-07-03">3 July 2025</time>
  </small>
  <h1>User research for Find Case Law</h1>
{% endblock desktop_article_title %}

{% block article_navigation %}
  <h3>On this page:</h3>
  <ul>
    <li>
      <a href="#what-does-taking-part-in-user-research-involve">
        What does taking part in user research involve?
      </a>
    </li>
    <li>
      <a href="#how-often-will-you-contact-me">
        How often will you contact me?
      </a>
    </li>
    <li>
      <a href="#how-long-does-participation-take">
        How long does participation take?
      </a>
    </li>
    <li>
      <a href="#how-will-my-data-be-handled">
        How will my data be handled?
      </a>
    </li>

    <li>
      <a href="#what-if-i-opt-out-of-user-research">
        What if I opt out of user research?
      </a>
    </li>
  </ul>
{% endblock article_navigation %}

{% block article_content %}
  <section>
    <p>We are looking for people to help improve the Find Case Law service and ensure it works well for those who need it. Your feedback will help us make it easier to find and use court judgments and tribunal decisions.</p>

    <p>To take part, you must be 18 or older.</p>

    <p>You do not need to be good with computers or have any specific knowledge—anyone can participate.</p>

    <h2 id="what-does-taking-part-in-user-research-involve">What does taking part in user research involve?</h2>

    <p>If you sign up, we may invite you to user research activities such as:</p>

    <ul>
      <li>Trying out new features</li>
      <li>Answering a few questions by email
      </li>
      <li>Sharing your experience through surveys</li>
    </ul>

    <p>Most sessions are remote, but some may take place in person. We will always let you know in advance. Sessions are flexible and accessible, and you can always say no to an invite or unsubscribe at any time.</p>

    <h2 id="how-often-will-you-contact-me">How often will you contact me?</h2>

    <p>We will only contact you when there is a relevant research opportunity. You are free to decline invitations or unsubscribe at any time.</p>

    <h2 id="how-long-does-participation-take">How long does participation take?</h2>

    <p>Research sessions vary in length: some take 10 minutes, others 45 minutes to an hour. We will always tell you in advance what’s involved and how long it will take.</p>

    <h2 id="how-will-my-data-be-handled">How will my data be handled?</h2>

    <p>User research sessions may be observed and recorded using written notes, video, or audio.</p>

    <p>Your data will only be used for research purposes to improve the Find Case Law service. It will be stored securely for one year and never shared with third parties.</p>

    <p>All responses are confidential and reported anonymously.</p>

    <p>For full details, see our <a href="{% url 'privacy_notice' %}">privacy policy</a>.</p>

    <h2 id="what-if-i-opt-out-of-user-research">What if I opt out of user research?</h2>

    <p>Participation is completely voluntary. You can choose not to take part or stop at any time.</p>

    <p>If you have signed up but wish to opt out, email us at <a href="mailto:caselawresearch@nationalarchives.gov.uk">caselawresearch@nationalarchives.gov.uk</a> and we will remove you from our list. Your data will also be deleted.</p>

    <p>If you have any questions before signing up, email us at <a href="mailto:caselawresearch@nationalarchives.gov.uk">caselawresearch@nationalarchives.gov.uk</a>.</p>

    <a class="button-primary" role="button" target="_blank" rel="noreferrer noopener" href="{{ feedback_survey_link }}">Participate in research</a>
  </section>
{% endblock article_content %}
