{% load static navigation_tags %}
<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    {% block meta_description %}
      {% if page_description %}
        <meta name="description"
              content="{{ page_description }}" />
      {% endif %}
    {% endblock meta_description %}
    {% block robots %}
      {% if not page_allow_index %}
        <meta name="robots" content="noindex,nofollow" />
      {% endif %}
    {% endblock robots %}
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% if page_canonical_url %}
      <link rel="canonical" href="{{ page_canonical_url }}" />
    {% endif %}
    <title>
      {% block title %}{% if page_title %}{{ page_title }} - {% endif %}Find Case Law{% endblock title %} - The National Archives
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}" />
    {% block css %}
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;family=Roboto:wght@400;600;700&amp;family=Roboto+Mono:wght@400;600;700&amp;display=swap"
            rel="stylesheet" />
      <link href="{% static 'css/includes/govuk-country-and-territory-autocomplete/location-autocomplete.min.css' %}"
            rel="stylesheet" />
      <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    {% endblock css %}
    {% block extra_head_tags %}{% endblock extra_head_tags %}
    {% include "includes/gtm/gtm_head.html" %}
  </head>
  <body>
    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>
    {% include "includes/gtm/gtm_body.html" %}
    {% include "includes/cookie_consent/cookie_banner.html" %}
    {% include "includes/environment_banner.html" %}

    {% block header %}
      <header class="govuk-header" data-module="govuk-header">
        <a id="skip-to-main-content" href="#main-content">Skip to Main Content</a>
        <div class="container">
          <div class="page-header__flex-container-beta py-1">
            {% include "includes/logo.html" %}

            <div class="service-introduction">
              <span class="service-introduction__separator"></span>
              <p class="service-introduction__header">Find Case Law<span class="phase-banner__beta-phase">Beta</span></p>
              <p class="service-introduction__helper-text">Judgments and decisions from 2001 onwards</p>
            </div>
            <div class="govuk-header__content">
              <nav aria-label="Menu" class="govuk-header__navigation">
                <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
                  Menu
                </button>
                <ul id="navigation" class="govuk-header__navigation-list">
                  <li class="{% navigation_item_class 'home' %}">
                    <a class="govuk-header__link" title="Home" href="{% url 'home' %}">
                      Home
                    </a>
                  </li>
                  <li class="{% navigation_item_class 'about_this_service' %}">
                    <a class="govuk-header__link"  title="About" href="{% url 'about_this_service' %}">
                      About
                    </a>
                  </li>
                  <li class="{% navigation_item_class 'help_and_guidance' %}">
                    <a class="govuk-header__link" title="Help and guidance" href="{% url 'help_and_guidance' %}">
                      Help and guidance
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          {% block breadcrumbs %}
            {% include "includes/breadcrumbs.html" %}
          {% endblock breadcrumbs %}
        </div>
      </header>
    {% endblock header %}

    {% include "includes/notifications.html" %}
    {% block precontent %}
    {% endblock precontent %}
    <main id="main-content">
      {% block content %}
      {% endblock content %}
    </main>
    {% block postcontent %}
    {% endblock postcontent %}

    {% block feedback_cta %}
      {% include "includes/help_improve_this_service.html" %}
    {% endblock feedback_cta %}
    {% include "includes/footer.html" %}
    {% block javascript %}
      <script type="module" defer src="{% static 'js/dist/app.js' %}"></script>
      <script defer src="{% static 'js/dist/cookie_consent.js' %}"></script>
      {% include "includes/waffle_flags_javascript.html" %}
    {% endblock javascript %}
  </body>
</html>
