{% from "components/header.jinja" import header %}
{% from "components/cookie_banner.jinja" import cookie_banner %}
{% from "components/heading.jinja" import heading %}
{% from "components/banner.jinja" import banner %}
{% from "components/button.jinja" import button %}
{% from "components/tna_logo.jinja" import tna_logo %}
{% from "components/fcl_logo.jinja" import fcl_logo %}
{% from "components/list.jinja" import list, list_item %}
{% from "components/link.jinja" import link %}
{% from "components/navigation.jinja" import navigation %}
{% from "components/breadcrumbs.jinja" import breadcrumbs as breadcrumbs_component, breadcrumb %}
{% from "components/open_justice_license_logo.jinja" import open_justice_license_logo %}
{% from "components/footer.jinja" import footer, footer_row, footer_item, footer_link with context %}
<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    {% block meta_description %}
      {% if page_description %}<meta name="description" content="{{ page_description }}" />{% endif %}
    {% endblock meta_description %}
    {% block robots %}
      {% if not page_allow_index %}<meta name="robots" content="noindex,nofollow,noai" />{% endif %}
    {% endblock robots %}
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% if page_canonical_url %}<link rel="canonical" href="{{ page_canonical_url }}" />{% endif %}
    <title>
      {% block title %}
        {% if page_title %}{{ page_title }} -{% endif %}
        Find Case Law
      {% endblock title %}
      - The National Archives
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ static('images/favicons/favicon.png') }}" />
    {% block css %}
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;family=Roboto:wght@400;600;700&amp;family=Roboto+Mono:wght@400;600;700&amp;display=swap"
            rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap"
            rel="stylesheet" />
      <link href="{{ static('css/includes/govuk-country-and-territory-autocomplete/location-autocomplete.min.css') }}"
            rel="stylesheet" />
      <link href="{{ static('css/main.css') }}" rel="stylesheet" />
    {% endblock css %}
    {% include "includes/gtm_head.jinja" %}
  </head>
  <body class="{% block body_class %}{% endblock body_class %}">
    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>
    {% include "includes/gtm_body.jinja" %}
    {{ cookie_banner() }}
    {% include "components/environment_banner.jinja" %}
    <main id="main-content">
      {% block header %}
        {% call header() %}
          {{ tna_logo() }}
          {{ fcl_logo() }}
        {% endcall %}
      {% endblock header %}
      {{ navigation(active_endpoint=active_navigation_endpoint) }}
      {% if breadcrumbs %}
        {% call breadcrumbs_component(prefix="You are in", home="home", home_text="Find Case Law", data=structured_breadcrumbs, variant=breadcrumbs_variant, postfix=breadcrumbs_postfix) %}
          {% for crumb in breadcrumbs %}
            {% call breadcrumb(url=crumb.url) %}
              {{ crumb.text }}
            {% endcall %}
          {% endfor %}
        {% endcall %}
      {% endif %}
      {% block precontent %}
      {% endblock precontent %}
      {% block content %}
      {% endblock content %}
    </main>
    {% block postcontent %}
    {% endblock postcontent %}
    {% block banner %}
      {% call banner() %}
        {% call heading(tag="h2") %}
          Help us improve this service
        {% endcall %}
        {% call button(variant="secondary", href=feedback_survey_link) %}
          Take a short survey
        {% endcall %}
      {% endcall %}
    {% endblock banner %}
    {% block footer %}
      {% call footer() %}
        {% call footer_row() %}
          {% call footer_item(title="Find case law", title_url=url("home")) %}
            <p>Delivered by</p>
            {{ tna_logo() }}
          {% endcall %}
          {% call footer_item(title="About", title_url=url("about_this_service")) %}
            {% call list() %}
              {% call list_item() %}
                {{ footer_link("Courts and tribunals in Find Case Law", url=url("courts_and_tribunals") ) }}
              {% endcall %}
              {% call list_item() %}
                {{ footer_link("Terms and policies", url=url("terms_and_policies") ) }}
              {% endcall %}
              {% call list_item() %}
                {{ footer_link("Publishing policy", url=url("publishing_policy") ) }}
              {% endcall %}
              {% call list_item() %}
                {{ footer_link("Help us improve this service", url=url("user_research") ) }}
              {% endcall %}
            {% endcall %}
          {% endcall %}
          {% call footer_item(title="Help and support", title_url=url("help_and_support")) %}
            {% call list() %}
              {% call list_item() %}
                {{ footer_link("How to search", url=url("how_to_search_find_case_law") ) }}
              {% endcall %}
              {% call list_item() %}
                {{ footer_link("Understanding judgments and decisions", url=url("understanding_judgments_and_decisions") ) }}
              {% endcall %}
              {% call list_item() %}
                {{ footer_link("Contact us", url=url("contact_us") ) }}
              {% endcall %}
            {% endcall %}
          {% endcall %}
          {% call footer_item(title="Re-use Find Case Law records") %}
            {{ open_justice_license_logo() }}
            <p>
              For computational analysis, which is not allowed under the OJL {{ footer_link("apply for a license", url=url("transactional-licence-form") ) }}.
            </p>
          {% endcall %}
        {% endcall %}
        {% call footer_row() %}
          {% call footer_item(title="Legal") %}
            {% call list(variant="horizontal") %}
              {% call list_item() %}
                {{ footer_link("Accessibility statement", url=url("accessibility_statement") ) }}
              {% endcall %}
              {% call list_item() %}
                {{ footer_link("Privacy notice", url=url("privacy_notice") ) }}
              {% endcall %}
              {% call list_item() %}
                {{ footer_link("Cookies", url="https://www.nationalarchives.gov.uk/legal/cookies/") }}
              {% endcall %}
            {% endcall %}
          {% endcall %}
          {% call footer_item(title="Other websites") %}
            {% call list(variant="horizontal") %}
              {% call list_item() %}
                {{ footer_link("Legislation.gov.uk", url="https://www.legislation.gov.uk/") }}
              {% endcall %}
              {% call list_item() %}
                {{ footer_link("The Judiciary", url="https://www.judiciary.uk/") }}
              {% endcall %}
              {% call list_item() %}
                {{ footer_link("UK Government Web Archive", url="https://www.nationalarchives.gov.uk/webarchive/") }}
              {% endcall %}
            {% endcall %}
          {% endcall %}
        {% endcall %}
      {% endcall %}
    {% endblock footer %}
    <script type="module" defer src="{{ static('js/dist/app.js') }}"></script>
    <script defer src="{{ static ('js/dist/cookie_consent.js') }}"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
