{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.png' %}" />
    <title>
      {% if context.page_title %}{{ context.page_title }} -{% endif %}
    {% translate "common.findcaselaw" %}</title>
    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}" />
    {% block css %}
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;family=Roboto:wght@400;600;700&amp;family=Roboto+Mono:wght@400;600;700&amp;display=swap"
            rel="stylesheet" />
      <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    {% endblock css %}
    {% block javascript %}
      <script defer src="{% static 'js/dist/app.js' %}"></script>
      <script defer src="{% static 'js/dist/cookie_consent.js' %}"></script>
    {% endblock javascript %}
    {% include "includes/gtm/gtm_head.html" %}
  </head>
  <body id="start-of-document">
    {% include "includes/cookie_consent/cookie_banner.html" %}
    <a id="skip-to-main-content" href="#main-content">{% translate "skiplink" %}</a>
    {% include "includes/gtm/gtm_body.html" %}
    {% include "includes/phase_banner.html" %}
    <header class="page-header">
      <div class="page-header__flex-container container py-1">
        {% include "includes/header_nav.html" with current=context.page_title title=context.page_title link=request.path %}
        {% include "includes/logo.html" %}
      </div>
    </header>
    {% include "includes/judgment_text_toolbar.html" %}
    <main id="main-content">
      <div id="js-document-navigation-links-start"
           class="document-navigation-links">
        <a class="down" href="#end-of-document">Skip to end</a>
      </div>
      {% block content %}
      {% endblock content %}
      {% include "includes/judgment_end_document_marker.html" %}
      <div id="js-document-navigation-links-end"
           class="document-navigation-links">
        <a class="up" href="#start-of-document">Back to top</a>
      </div>
    </main>
    {% include "includes/judgment_text_download_options.html" %}
    {% include "includes/footer.html" %}
  </body>
</html>
