{% extends "layouts/base.html" %}
{% load i18n %}
{% block robots %}
{% endblock robots %}
{% block title %}
  {{ context.page_title }} - Find case law - The National Archives
{% endblock title %}
{% block content %}
  <div class="standard-text-template container py-3">
    <div id="start-of-document" class="entry-content clearfix">
      {% block static_content %}
      {% endblock static_content %}
    </div>
  </div>
  {% include "includes/help_end_document_marker.html" %}
{% endblock content %}
