name: CI

on:
  pull_request:
    branches: ["master", "main"]
    paths-ignore: ["docs/**"]

  push:
    branches: ["master", "main"]
    paths-ignore: ["docs/**"]

  merge_group:

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: |
            requirements/base.txt
            requirements/local.txt
      - name: Run pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        env:
          SKIP: no-commit-to-branch,stylelint

  build-scss:
    needs: linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up node
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0

      - name: Install node dependencies
        run: npm ci

      - name: Build scss
        run: npm run build

  js-tests:
    needs: linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up node
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0

      - name: Install node dependencies
        run: npm ci

      - name: Run tests
        run: npm test

  build-django:
    needs: linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3

      - name: Copy .env.example file
        uses: canastro/copy-file-action@master
        with:
          source: ".env.example"
          target: ".env"

      - name: Build the Stack
        uses: docker/bake-action@4ba453fbc2db7735392b93edf935aaf9b1e8f747 # v6
        with:
          targets: django
          load: true
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
            *.tags=ds_judgments_public_ui_django:latest
            *.output=type=docker,dest=/tmp/django-image.tar

      - name: Upload Django image
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: django-image
          path: /tmp/django-image.tar

  pytest:
    needs: build-django
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Copy .env.example file
        uses: canastro/copy-file-action@master
        with:
          source: ".env.example"
          target: ".env"

      - name: Create docker network as used in dev
        run: docker network create caselaw

      - name: Download Django image
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4
        with:
          name: django-image
          path: /tmp

      - name: Load Django image
        run: docker load --input /tmp/django-image.tar

      - name: Run DB Migrations
        run: docker compose run --rm django python manage.py migrate --settings=config.settings.test

      - name: Run Django Tests with coverage
        run: docker compose run django coverage run -m pytest -vvvv -rsa -m "not local"

      - name: Generate coverage XML
        run: docker compose run django coverage xml

      - name: Run mypy
        run: docker compose run django mypy ds_judgements_public_ui judgments

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@ad3126e916f78f00edff4ed0317cf185271ccc2d # v5

      - name: Upload coverage to CodeClimate
        uses: paambaati/codeclimate-action@f429536ee076d758a24705203199548125a28ca7 # v9.0.0
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}

      - name: Tear down the Stack
        run: docker compose down

  e2e-tests:
    needs:
      - linter
      - build-scss
      - js-tests
      - build-django
      - pytest
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Copy .env.example file
        uses: canastro/copy-file-action@master
        with:
          source: ".env.example"
          target: ".env"

      - name: Create docker network as used in dev
        run: docker network create caselaw

      - name: Download Django image
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4
        with:
          name: django-image
          path: /tmp

      - name: Load Django image
        run: docker load --input /tmp/django-image.tar

      - name: Checkout Marklogic repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          repository: "nationalarchives/ds-caselaw-marklogic"
          path: "./marklogic"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@06832c7b30a0129d7fb559bcc6e43d26f6374244 # v4

      - name: Setup Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5

      - name: Install requests
        run: "pip install requests"

      - name: Run marklogic docker container
        run: docker compose up -d --wait
        working-directory: "./marklogic"

      - name: Deploy marklogic configuration
        run: gradle mlDeploy
        working-directory: "./marklogic"

      - name: Populate marklogic DB with test data
        run: python ./development_scripts/populate_from_caselaw.py
        working-directory: "./marklogic"

      - name: Run DB Migrations
        run: docker compose run --rm django python manage.py migrate --settings=config.settings.test

      - name: Setup django server for e2e tests
        run: docker compose up -d django

      - name: Install NPM deps
        run: npm install

      - name: Build the JS and SASS
        run: npm run build

      - name: Kick off the django server itself
        run: docker compose exec -d django python manage.py runserver 0.0.0.0:3000

      - name: Build playwright runner container
        run: docker compose build e2e_tests
      - run: docker compose up -d e2e_tests

      - name: Run playwright e2e tests
        run: docker compose exec e2e_tests pytest --base-url http://django:3000 --tracing retain-on-failure

      - name: Copy trace files from container
        if: ${{ always() }}
        run: docker compose cp e2e_tests:/app/test-results artifacts
        continue-on-error: true

      - name: Upload trace files as github artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: ${{ always() }}
        with:
          name: playwright-report
          path: artifacts
          retention-days: 7

      - name: Tear down marklogic
        run: docker compose down
        working-directory: "./marklogic"

      - name: Tear down the Stack
        run: docker compose down
