name: Source safety
on:
  pull_request:
  push:
jobs:
  secrets:
    name: Check for secrets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@main
